---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Aegyptiaca">
	<blockquote>
		Since the periods of years of Egyptian history from Mestraim down to Nectanebo happen to be useful among those who are busied with researches into
		chronology, and since the chronologies taken from Manetho by ecclesiastical historians are set out with discrepancies concerning both the names
		and the amount of regnal years, and as to in whose reign Joseph was leader of Egypt and later Moses, who saw God, led the journey of Israel out of
		Egypt, I thought it necessary to select two of the most famous editions and set them out side-by-side. I mean the one by Africanus and the one of
		Eusebius, called ‘Pamphilou’.<br />
		It is necessary and appropriate also to add Manetho’s report on Egypt, which seems to give a firmer historical foundation.

		<p class="text-right mb-0">Syncellus</p>
	</blockquote>

	<p>
		The dead, the demigods.<span
			class="footnote"
			data-note="Syncellus provides the epitomes of Manetho preserved by Africanus and Eusebius. His own editorial comments, mainly aimed at proving the inferiority of Eusebius are scattered throughout."
		></span>
	</p>
	<ul>
		<li>1. First among the Egyptians was Hephaistos (Ptah), for 9,000 years, who also discovered fire for them.</li>
		<li>2. From whom was Helios (Ra).</li>
		<li>3. After whom was Kronos.4</li>
		<li>4. After whom was Osiris.</li>
		<li>5. And then Typhon,5 brother of Osiris.</li>
		<li>6. After whom was Oros,6 son of Isis and Osiris.</li>
		<li>These first reigned over the Egyptians.</li>
		<li>7. After them, the monarchy continued until Bidis, for 13,900 years.</li>
		<li>8. After the gods reigned the race of offspring of gods, 1,255 years.</li>
		<li>9. And there also reigned other kings, 1,817 years.</li>
		<li>10. After whom another 30 kings, from Memphis, 1,790 years.</li>
		<li>11. After whom others, from This, 10 kings, 350 years.</li>
		<li>12. And then the reign of the spirits of the dead and of the offspring of gods was 5,813 years.</li>
		<li>Altogether there were 11,000 years.</li>
	</ul>

	<h2>Dynasty I</h2>
	<p>
		After the dead and the demigods comes the First Dynasty, with 8 kings of whom Menes was the first. He was an excellent leader. In what follows are
		recorded the rulers from all of the ruling houses in succession.
	</p>
	<ol class="list-decimal px-8">
		<li>
			<span class="primary">Menes of Thinis</span>, whom Herodotus calls Men, and his 7 descendants. He led the army across the frontier and won great
			glory. He was killed by a hippopotamus. He ruled 62/30/60 years.
		</li>
		<li>
			<span class="primary">Athothis</span>, his son, He ruled 57/27/27 years. He built the palace in Memphis. He was a skilled physician and wrote
			books on anatomy.
		</li>
		<li><span class="primary">Kenkenes</span>, his son. He ruled 31/39/39 years.</li>
		<li>
			<span class="primary">Ouenephes</span>, his son. He ruled 23/42/42 years. In his reign a great famine gripped Egypt, Also he built the pyramids
			around Kokhome.7
		</li>
		<li><span class="primary">Ousaphais</span>, his son. He ruled 20/20/20 years.</li>
		<li><span class="primary">Niebais</span>, his son. He ruled 26/26/26 years.</li>
		<li>
			<span class="primary">Semempses</span>, his son. He ruled 18/18/18 years. In his reign there were many extraordinary events, and there was an
			immense disaster.
		</li>
		<li><span class="primary">Oubienthis</span>, his son. He ruled 26 years.</li>
	</ol>
	<p>Altogether they ruled 253/270/252 years.</p>

	<h2>Dynasty II</h2>

	<p>Second Dynasty: 9 kings from Thinis</p>

	<ul>
		<li>1. <span class="primary">Boethos</span> ruled 38 years. In his reign a great chasm opened up at Boubastos, and many people died.</li>
		<li>
			2. <span class="primary">Kaiekhos</span> ruled 39 years. In his reign the bulls Apis in Memphis and Mnevis in Heliopolis and the Mendesian goat were
			recognized as gods.
		</li>
		<li>3. <span class="primary">Binothris</span> ruled 47 years. In his reign it was judged that women are entitled to kingship.</li>
		<li>4-6. Next came 3 more kings, in whose reigns nothing extraordinary happened.</li>
		<!-- Tlas ruled 17 years.
Sethenes ruled 41 years.
Khaires ruled 17 years.
 -->
		<li>
			7. <span class="primary">Nepherkheres</span> ruled 25 years. A seventh king. There is a myth that in his reign the Nile ran mixed with honey for
			eleven days.
		</li>
		<li>
			8. <span class="primary">Sesokhris</span> ruled 48 years. It is said that he was five cubits and three palms (about eight and one-half feet) tall.8
		</li>
		<li>9. <span class="primary">Kheneres</span> ruled 30 years. Under the ninth king nothing worth mention happened.</li>
	</ul>
</Layout>
