---
import Layout from "@layouts/Layout.astro";

const title = "Egyptology";
let meta1 = "A brief history of how Egyptology evolved";
let meta2 = "egyptology,champollion,lepsius,rosellini,decipher hierglyphs,ancient egypt,egyptology history";
const bild = "/images/pharaohse-kadesh.webp";
---

<Layout title={title} meta1={meta1} meta2={meta2} bild={bild}>
	<section class="page-content">
		<div class="container">
			<p class="lead">
				The incredible buildings, temples, and treasures that the ancient pharaohs left behind continue to awe and fascinate visitors more than 2000
				years after they ruled over the Nile valley – which they did for more than three millennia.
			</p>
			<figure class="block sm:float-left sm:pr-3">
				<img class="mx-auto" loading="eager" src="/images/KIU65535S.webp" alt="Hatshepsut obelisk detail" />
				<figcaption class="pt-1 text-center font-sans text-xs">Detail from Hatshepsut’s obelisk</figcaption>
			</figure>
			<p>
				After almost three thousand years of existence, the formerly mighty kingdom stagnated and suffered greatly under Persian dominance. As a
				result, when Alexander the Great conquered Egypt in 232 BC, the Egyptians celebrated him as a liberator. Many of the monuments and temples
				were already ancient at the time, and many of them had been neglected or were partially in ruins. The Ptolemies made several attempts to
				restore Egypt’s authority and prosperity. They were successful in preserving the countrys wealth and stability, and they worked to revitalise
				and promote ancient Egyptian culture and religion. In order to make Egypt a centre of scholarship and culture, they also erected several
				impressive structures and commissioned works of art, such as the famed Library of Alexandria. In general, the Ptolemies attempted to reconcile
				their Greek ancestry with the traditions of ancient Egypt.
			</p>

			<p>
				Greek and Roman visitors to Egypt included <a href="/authors/herodotus">Herodotus</a>, the Greek geographer Strabo, and Roman geographer
				Diodorus Siculus. They provided some of the first historical records of the ancient kingdom, although Egypt's vast time span was difficult to
				comprehend and even harder for foreigners to accept. <em>The History of Egypt</em> by <a href="/authors">Manetho</a> was not taken seriously, because
				Egypt could not possibly be that ancient, could it? After becoming a Roman province, Egypt slowly faded into obscurity, essentially becoming a
				massive granary for the Empire. The spread of Christianity hastened the indigenous culture’s demise, and as a result, the ancient Egyptian language,
				both written and spoken, had died out by 450. The Arab conquest in 642 effectively removed Egypt from Western affairs and consciousness throughout
				the Middle Ages, leaving little more than the fantastic legends of a mythical place long forgotten.
			</p>
			<p>
				Although riddled with symbolism and speculation, Horapollo’s <i>Hieroglyphica</i><button popovertarget="pop01">1</button> is recognised as the
				first book&mdash;at least partially&mdash;based on actual understanding of hieroglyphs, and was most probably written in the fifth century by one
				of the last members of the Egyptian priesthood. It consists of two books, claiming to be a translation from an Egyptian original into Greek by
				an otherwise unknown Philippus. Individual cases provide sufficient evidence that the correct value of hieroglyphic signs was indeed still known
				by the original author, however it also, icorrectly, stated that the hieroglyphs were symbolic representations of ancient Egyptian wisdom. Although
				the <i>Hieroglyphica</i> was highly influential during the Renaissance, it also mislead scholars trying to decipher the hieroglyphs. Rather than
				trying to read the hieroglyphs as texts, they concentrated on understanding the mystical meaning of the hieroglyphs.
			</p>
			<p>
				Knowledge about the hieroglyphs faded from memory during the Middle Ages, and when interest was revived during the Renaissance, they were
				assumed to be a magical and symbolic script representing ideas rather than sounds. Early European missionaries, explorers, and adventurers
				began to write about encountering monuments and ancient ruins in Egypt in the Sixteenth century. For more than a millennium, the maps of Egypt
				relied on descriptions <em>The Geography</em> by Claudius Ptolemy<button popovertarget="pop02">2</button> of antiquity, but as travellers explored
				further up the Nile, more accurate maps were required.
			</p>
			<p>
				Despite information by the historians of antiquity, and Ptolemy’s map of Egypt clearly showing Thebes in the south, it was misidentified with
				more accessible ruins near the delta. In the early 18th century, the French Jesuit priest Claude Sicard was part of a mission sent to Egypt,
				and he was first to correctly identify the ruins at Luxor and Karnak as being those of the ancient Egyptian capital Thebes.
			</p>
			<p>
				The fall of the Byzantine Empire in 1453 AD was a pivotal moment in history, marking the beginning of a significant shift in the study of
				classical literature. With the migration of Greek scholars to the West, a new era of translation and rediscovery emerged. These scholars
				brought with them a wealth of Greek books, which were translated into Latin, opening the door to a renewed interest in classical writings.
			</p>
			<p>
				<em>The Age of Enlightenment</em> (roughly c. 1650–1825) meant that society now required reliable and accurate maps without imaginary embellishments.
				Instead of replicating Ptolemy, as had long been the practice, French cartographer Jean-Baptiste Bourguignon d’Anville (1697–1782) sought reliable
				data and was content to leave spaces blank rather than fill them with imaginary features. After examining and comparing the available sources meticulously,
				both contemporary and ancient, he created the first modern map of Egypt, despite not visiting it himself.
			</p>

			<div
				class="text-red-800 float-right m-5 hidden w-1/2 text-balance p-3 text-center font-sans text-2xl font-bold uppercase tracking-wider md:block dark:text-amber-200"
			>
				Maps of Egypt were drawn according to ancient written instructions.
			</div>

			<p class="pt-3">
				The earliest printed travel accounts from the late 17th century on described the pyramids, but did not include any illustrations, only
				descriptions. The sea route for pilgrims from Europe to the holy locations associated with the Bible, naturally passed through Alexandria.
				Only on rare occasions did pilgrims venture beyond the Mediterranean coast, though the pyramids were well-known, and eventually both the
				pyramids and the Sphinx began to appear in print. Even though Herodotus gave the correct measurements of the pyramids in the fourth century
				BC, the early drawings were crude and failed to show their true scale.
			</p>

			<p>
				Travelogues continued to fuel interest in Egypt, and the magnificent monuments described and antiquities brought back only increased it. Paul
				Lucas, a French antiquarian for King Louis XIV, visited Egypt around 1700, travelling up the Nile encountering many ancient ruins in the
				south.<button popovertarget="pop03">3</button> His richly illustrated descriptions caused a sensation throughout Europe and were republished and
				translated many times.
			</p>

			<p class="pt-3">
				English churchman Richard Pococke and Danish navy commander and cartographer Frederic Norden independently chronicled trips up the Nile in
				1737-38. Pococke was satisfied upon reaching Philae, while Norden entered Nubia. Pococke published <i
					>A description of the East, and some other countries</i
				> in 1743, complete with illustrations and maps.<button popovertarget="pop04">4</button> Norden’s highly detailed maps and drawings were published
				posthumously in <i>Voyage d’Egypte et de Nubie</i>.<button popovertarget="pop05">5</button> These books were well-received and were reprinted numerous
				times. Ancient manuscripts, coins, and relics were sought after in Egypt so that they might be purchased and displayed prominently by the nobles
				in Europe.
			</p>
			<h2 class="pt-10">The birth of Egyptology</h2>
			<figure class="block sm:float-right sm:pl-3">
				<img class="mx-auto pt-1 font-sans text-xs" loading="lazy" src="/images/TutGoldstatuetteS.webp" alt="King Tut statue" />
				<figcaption class="pt-1 text-center font-sans text-xs">Statuette of Tutankhamun (JE 60714)</figcaption>
			</figure>
			<p>
				In 1798, Napoleon Bonaparte led a military expedition to seize Egypt and to secure a trade route to the Indian subcontinent. Napoleon’s
				masterstroke was to include hundreds of scientists, artists, and scholars in the expedition, ostensibly making the campaign peaceful. Their
				discoveries included the <a href="/articles/rosetta-stone">Rosetta Stone</a>, and they produced several extravagant large format folios
				published from 1809 in the <i lang="fr">Description de l’Égypte</i> that included a plethora of drawings and paintings of architecture, tombs,
				ruins and the flora and fauna of Egypt. Egypt’s arid climate is one of the key factors that has kept many monuments and objects from deteriorating.
			</p>
			<p>
				<a href="/articles/book-series#napoleon">The Description of Egypt</a> sparked an unprecedented sensation, an Egyptomania if you will, as interest
				in all things Egyptian soared.
			</p>
			<p>
				The monuments in ancient Egypt had never been so systematically documented before, in fact, apart from simple drawings by travellers, most
				were entirely unknown. For the first time, skilled artists produced drawings and paintings of the monuments located throughout Egypt. The true
				dimensions of the Pyramids were determined through scientific investigation, which has revealed that they are significantly larger than was
				previously assumed. Numerous books were published that sensationalized ancient Egypt, and the cartographers of the French Expedition
				eventually produced a very detailed proper modern map of Egypt on 47 plates.
			</p>
			<p>
				The high demand for Egyptian artifacts provided fertile ground for shady actors. Using credentials from many European courts, adventurers
				disguising as diplomats and merchants raced to secure as many artefacts as possible for their sovereign before their competitors. Thanks to
				the Ottoman viceroy in Egypt granting unrestricted access to tombs and monuments, unscrupulous individuals amassed vast collections plundered
				from all over Egypt. These were then sold to royals in Europe, so it is no surprise that the major collections of Egyptian art were created
				during this time.
			</p>
			<p>
				Several researchers, including Jean-François Champollion and Thomas Young, worked in the early nineteenth century trying to decipher the
				ancient Egyptian writing systems, to which the Rosetta Stone and the Philae obelisk would prove to be instrumental. In 1822, Champollion
				realised the hieroglyphic script was a mixture of phonetic and ideographic elements, and furthermore, that hieratic was a cursive version of
				hieroglyphs. The decipherment was a success, but there were pieces missing, that needed to be discovered.
			</p>

			<p>
				To rectify this, Champollion and his protégé, the Italian Ippolito Rosellini, organized an expedition to Egypt in 1828-29. His intention was
				to make accurate copies of as many texts as possible and to translate the hieroglyphs from the monuments and tombs. Champollion called for the
				establishment of a government organization to protect the monuments after personally observing the careless removal of antiquities from nearly
				every significant site. This was disregarded, and the unrestricted removal of artifacts continued unabated for many decades.
			</p>
			<p>
				From 1842 to 1845, Karl Richard Lepsius explored the Nile Valley and collected numerous items that would later serve as the foundation of the
				Berlin Museum. His expedition’s findings were published in the renowned survey, <i lang="de">Denkmäler aus Ägypten und Äthiopen</i>, that gave
				the study of Egyptology a sound scientific foundation.
			</p>
			<div
				class="text-red-800 float-right m-5 hidden w-1/2 text-balance p-3 text-center font-sans text-2xl font-bold uppercase tracking-wider md:block dark:text-amber-200"
			>
				Conservation of important sites did <u>not</u> happen until much later
			</div>

			<p class="pt-3">
				Rosellini and Lepsius refined the decipherment over the next few decades, allowing ancient Egyptian text to be fully read for the first time
				in centuries. As the 19th century progressed, modern archaeology emerged, providing a clear provenance for previously unknown monuments and
				objects discovered by excavations. An enormous corpus of hieroglyphic texts were amassed throughout the century, from both legal and illegal
				excavations. Many excavations were performed of the various monuments discovered throughout the century. Numerous books were published with
				descriptions of many of the monuments, complete with detailed maps and illustrations.
			</p>

			<p>
				In 1857, French archaeologist Auguste Mariette was appointed director of the <i lang="fr">Service des Antiquités de l’Égypte</i>, set up to
				regulate all archeological activity, which resulted in that no rivals were permitted to dig in Egypt, effectively creating a monopoly for
				Mariette. He conducted an unequalled number of excavations throughout Egypt; Saqqara, Dendera, Edfu, Tanis, Memphis, Abydos and Thebes, among
				many others, everywhere making important archaeological discoveries. Mariette was able to persuade the Khedive to create the Egyptian Museum
				at Boulaq near Cairo in 1863. When Mariette died in 1881, the Service des Antiquités lost its monopoly on archeological digs.
			</p>
			<p>
				Flinders Petrie’s ground-breaking excavation methods began under the auspices of the Egypt Exploration Fund, that was founded in 1882. Now,
				even the smallest parts of an archaeological site were examined for crucial hints for dating and identity. Petrie’s systematic methods and
				standards of exploration, scrupulously followed by publication, set the norm for archaeological excavations in Egypt.
			</p>
			<p>
				The massive task of cataloging the numerous antique artifacts and structures began in the latter decade of the 19th century and took decades
				to accomplish. Other scholars produced hieroglyphic, hieratic and coptic dictionaries, while others began to establish and redefine the actual
				history of Egypt that is based on archaeological facts rather than anecdotes from the authors of antiquity.
			</p>

			<h2 class="pt-10">Modern Egyptology</h2>
			<p>
				Any archaeologist, historian, linguist, or art historian who focuses on Egyptology—the academic study of Ancient Egypt and its artifacts—is
				generally referred to as an Egyptologist. Egyptology is defined as the study of the language, history, literature, architecture, and culture
				of Ancient Egypt from 4000 BC to 500 AD, with an emphasis on the dynastic kingdom from 3000 BC until the Roman conquest in 30 BC. Egyptology
				integrates the study of ancient texts using linguistic and philological techniques with archaeological methodology.
			</p>
			<div
				class="text-red-800 float-right m-5 hidden w-1/2 text-balance p-3 text-center font-sans text-2xl font-bold uppercase tracking-wider md:block dark:text-amber-200"
			>
				Egyptology is the study of the language, history, literature, and architecture of Ancient Egypt
			</div>
			<p>
				Egyptology is generally usually said to have begun with the decipherment of the hieroglyphic script by Champollion and others in the early
				1820’s. However, it was only in the very late 19th and the early 20th century that Egyptology developed into a programme of study in its own
				right. Understanding of the Egyptian language and vocabulary has grown and been refined considerably since the early days of Egyptology.
			</p>

			<p>
				The early expeditions to Egypt taught us, among other things, that the hieroglyphs were copied with varied degrees of accuracy. Sometimes only
				one or a few signs were overlooked, while other times entire columns were missed. Over time the scientific methods pioneered by Lepsius and
				much improved upon by Petrie became the standard way to perform excavations. Because some of the recorded sites have been lost, irreparably
				damaged, or even completely destroyed, and artefacts have been lost or misplaced, these old works are nonetheless very useful—if not
				essential—for Egyptologists. <!-- For instance,
				the paint in tombs has deteriorated greatly from tourists touching the
				painted walls, and their mere presence adding too much humidity to the
				otherwise dry tombs. -->
			</p>

			<ul class="w-prose px-5 py-10">
				<li class="pb-5">
					<b class="bright">Catalogue Général</b>
					<br />
					Published from 1901, the <i>Catalogue général des antiquités égyptiennes du Musée du Caire</i>, abbreviated <i>CG</i>, or <i>CGC</i> consists
					of more than 100 volumes classifying ancient Egyptian objects and monuments, with description and photographs, including line drawings and hieroglyphs.
					In fact, the Egyptian Museum in Cairo used multiple inventory systems parallel to the CG, most notable <i>Journal d'entrée</i>, abbreviated <i
						>JE</i
					> or <i>JdE</i>.
				</li>
				<li class="pb-5">
					<b class="bright">Urkunden</b>
					<br />
					<i>Urkunden des Ägyptischen Altertums</i> (Documents from Egyptian antiquity), abbreviated <i>Urk.</i> &mdash; 32 volumes of handwritten hieroglyphs
					from monuments and objects. Especially valuable as many texts have deteriorated severely or been lost since they were recorded here. Published
					1903&ndash;1958.
				</li>
				<li class="pb-5">
					<b class="bright">Porter and Moss</b> or <b class="bright">Topographical Bibliography</b>
					<br />
					<i>Topographical Bibliography of Ancient Egyptian Hieroglyphic Texts, Statues, Reliefs and Paintings</i>, by Bertha Porter and Rosalind
					Moss, abbreviated as <i>Porter and Moss</i>, or <i>PM</i> &mdash; 7 volumes containing astonishingly detailed descriptions and publication histories
					for nearly all Ancient Egyptian monuments and objects. Published from 1927&ndash;1952, the volumes are available at <a
						href="http://topbib.griffith.ox.ac.uk//index.html"
						target="_blank">the Griffith Institute</a
					> at Oxford University.
				</li>
				<li class="pb-5">
					<b class="bright">Epigraphic Survey</b>
					<br />
					<i>The Epigraphic Survey of the Oriental Institute</i> &mdash; multiple volumes containing accurate copies of monuments, including detailed photographs
					and line drawings. Published by the University of Chicago from 1930, they are available for free at the <a
						href="https://isac.uchicago.edu/research/publications/epigraphic-survey"
						target="_blank">Oriental Institute</a
					>.
				</li>
			</ul>

			<h3 class="text-center">De omnibus dubitandum.</h3>
			<p>
				Unlike in the past, when they were only accessible to the privileged few at prestigious academic institutions, the digital era and the
				internet have made many rare Egyptological sources accessible to everyone. This is great, although it does make you wonder what the impact of
				AI-generated texts will be on books and journals. Let us hope that it will usher in a golden age of knowledge for all!
			</p>

			<!-- https://en.wikipedia.org/wiki/List_of_Egyptologists -->
		</div>

		<div id="pop01" popover>
			<p>1</p> A medieval manuscript discovered on the island of Andros around 1419. Book in the <i>Laurentian Library</i> in Florence, Italy (<a
				href="http://mss.bmlonline.it/Catalogo.aspx?Shelfmark=Plut.69.27"
				target="_blank">Biblioteca Laurenziana, Plut. 69,27</a
			>).
		</div>
		<div id="pop02" popover>
			<p>2</p>
			<i>The Geographia</i> is a compilation of the geographical knowledge of the second century Roman Empire, an atlas and treatise on cartography written
			by Claudius Ptolemy in Greek at Alexandria around AD 150.
		</div>
		<div id="pop03" popover><p>3</p> Lucas, Paul. <i>Voyage du sieur Paul Lucas au Levant.</i> Paris 1724.</div>
		<div id="pop04" popover>
			<p>4</p> Pococke, Richard. 1743. <i>A Description of the East and Some Other Countries</i>. Vol. 1: Observations on Egypt. London
		</div>
		<div id="pop05" popover><p>5</p> Norden, Frederic Louis., 1757. <i>Voyage d'Egypte et de Nubie</i>. 2 volumes.</div>
	</section>
</Layout>
