---
import Layout from "@layouts/Layout.astro";
const title = "Obelisk of Hatshepsut at Karnak";
let meta1 = "Information and hieroglyphs of the Hatshepsut obelisk at Great Temple at Karnak in Egypt.";
let meta2 = "hieroglyphs,obelisk,hatshepsut,mdc,egyptology,ancient egypt,obelisk E Karnak,KIU1300";
const bild = "https://pharaoh.se/images/pharaohse-obelisks.webp";
---

<Layout title={title} meta1={meta1} meta2={meta2}>
	<section class="page-content">
		<p>
			The tallest <a href="/articles/obelisks">obelisk</a> in Egypt (29.5 m, 97 ft) is in Temple of Amun at the Great Temple complex at Karnak and was erected
			by
			<a href="/pharaohs/Hatshepsut">Hatshepsut</a> who was a female pharaoh of Egypt in 1473–1458 BCE. Its catalogued as Karnak
			<em>Obelisk E</em> and was the northernmost of a pair. The southern obelisk, <i>Obelisk F</i>, had already fallen by antiquity. The cause is
			uncertain, but it may have been due to an earthquake or a build-up of stress from a small crack that widened. Thutmose III had both obelisks
			enclosed by false walls, rendering them practically invisible from inside the temple as part of the <dfn class="color-1">damnatio memoriae</dfn
			>, whereby her successors systematically erased her name from public records and monuments..
		</p>
		<p>
			In 2022 the top part of the toppled <i>Obelisk F</i> (11 m, 36 ft tall) was erected by the Sacred Lake at the side of the Great temple, where it had
			been lying on its side for decades. The the damaged base is still in the original location, the new location is <i>not</i> the original spot for the
			obelisk, but it is at least in line with its twin. Parts of the central columns were erased and usurped first by Thutmose III and later by Seti I.
			It is possible that the obelisk was deliberately toppled to erase the memory of Hatshepsut, but its fall caused such destruction that the other obelisk
			was left standing to avoid further damage to the temple. The base remains inside the temple at the original position. The remaining parts of the base
			text is <i>not</i> an exact copy of the standing obelisk, and three of the faces of the toppled obelisk have been usurped/altered. The fate of the
			other pair of her obelisks is unknown; they were probably toppled and dismantled by her successors.
		</p>

		<figure class="mt-5 w-full">
			<a data-fancybox="Hatt" data-caption="Hatshepsut erecting obelisks" href="/images/karnak-E1902.webp" title="hatshepsut erecting obelisks">
				<picture>
					<img loading="lazy" src="/images/karnak-E1902s.webp" alt="Hatshepsut erecting obelisks" class="mx-auto" />
				</picture>
			</a>
			<figcaption>
				<div class="figtitle">Hatshepsut erecting two obelisks</div>
				<div class="figauthor">Detail from the Red Chapel at Karnak</div>
			</figcaption>
		</figure>

		<p class="mb-10 px-20">
			The inscription reads: <i
				>The king himself; erection of two great obelisks for her<small><sup>sic</sup></small> father, Amon-Ra, in front of the august colonnade, wrought
				with exceedingly abundant electrum. Their height pierces the sky and illuminates the Two Lands like the sun-disk. Never since the beginning has
				such a thing been done, that she might be given life.</i
			>
		</p>

		<h2 class="mt-10">Inscriptions</h2><br />
		<p>
			Not only does this obelisk contain the usual columned hieroglyphs, but also unique scenes of pharaoh making offerings to a the god Amun. All
			four pyramidion faces show the Queen kneeling in front of Amun. The upper half of the obelisk contains 8 scenes on each side of the central
			column text. for a total of 32 scenes. These scenes are later additions showing Hatshepsut, her father <a href="/pharaohs/Thutmose-I"
				>Thutmose I</a
			>, or stepson <a href="/pharaohs/Thutmose-III">Thutmose III</a> making offerings to Amun. The only exception is on the fifth west and south scenes,
			Seti I replaced the name of the queen and added the inscription <em
				>“Son of Ra, Seti Merneptah, who restored the monument of his father Amun-Ra, Lord of Heaven”</em
			>.
		</p>

		<figure class="mt-5 w-full">
			<a
				data-fancybox="E"
				data-caption="Photo of the four faces of Hatshepsut obelisk E"
				href="/obelisks/02-CFEETK65535.jpg"
				title="The four faces of Hatshepsut's Obelisk E"
			>
				<picture>
					<img loading="lazy" src="/obelisks/02-CFEETK65535.webp" alt="Hatshepsut erecting obelisks" class="mx-auto" />
				</picture>
			</a>
			<figcaption>
				<div class="figtitle">Photos of the faces of Hatshepsut's Obelisk</div>
				<div class="figauthor">by Centre Franco-Égyptien d'Étude des Temples de Karnak</div>
			</figcaption>
		</figure>

		<div class="grid grid-cols-4 justify-items-center py-10">
			<div><p class="pb-5">North face</p><img src="/svg/karnakE-N.svg" alt="" class="w-16 dark:invert" /></div>
			<div><p class="pb-5">East face</p><img src="/svg/karnakE-E.svg" alt="" class="w-16 dark:invert" /></div>
			<div><p class="pb-5">South face</p><img src="/svg/karnakE-W.svg" alt="" class="w-16 dark:invert" /></div>
			<div><p class="pb-5">West face</p><img src="/svg/karnakE-S.svg" alt="" class="w-16 dark:invert" /></div>
		</div>

		<h2>Translation of the inscriptions</h2>

		<div class="grid grid-cols-2 gap-4">
			<div class="p-3">
				<p>
					<h3>North face</h3>
					<t>Horus:</t> Mighty of ka's; <t>Two Ladies:</t> Flourishing-in-years; <t>Horus of Gold:</t> Divine-of Diadems; <t
						>The Dual King, Lord of the Two Lands:</t
					>
					<i title="Throne name of Hatshepsut">Maatkara</i>.<br />Her father Amun has established her great name upon the august Ashed-tree. Her
					annals are millions of years, united with life, stability, and dominion. The Son of Ra, Hatshepsut, united with Amun, beloved of Amun-Ra,
					King of the Gods, <i class="dimm">constructed this beautiful monument</i> which she made for him on the first occurrence of the jubilee, so that
					she will have life forever.
				</p>
			</div>
			<div class="p-3">
				<p>
					<h3>East face</h3>
					<t>Horus:</t> Mighty of ka's; <t>the Dual King:</t>
					<i>Maatkara</i>, beloved of Amun-Ra.<br />Her Majesty has recorded the name of her father on this enduring monument. Inasmuch favor was
					shown to the Dual King, Lord of the Two Lands: <i title="Throne name of Thutmose I">Aakheperkara</i> by the majesty of this god, accordingly these
					two great obelisks were erected by her majesty for the first time. For it was said by the Lord of the Gods: "Your father, the Dual King,
					<i>Aakheperkara</i>, gave instruction to erect obelisks, and your majesty shall multiply monuments, so as to live forever."
				</p>
			</div>
			<div class="p-3">
				<p>
					<h3>West face</h3>
					<t>Horus:</t> Mighty of ka's; <t>Two Ladies:</t> flourishing in years; <t>Horus of Gold:</t> Divine-of-diadems; <t>The Dual King:</t> Lord of
					the Two Lands, <i>Maatkara</i>.<br />She made as her monument for her father Amun, Lord of Thrones of the Two Lands, the erecting for him of
					two great obelisks at the august portal, "Amun-great-in-majesty." Wrought with very fine gold, they illuminate the Two Lands like Aten.
					Never was the like made since earth's beginning. Made for him by the <t>Son of Ra:</t> Hatshepsut, united with Amun, given life like Ra forever.
				</p>
			</div>
			<div class="p-3">
				<p>
					<h3>South face</h3>
					<t>Horus:</t> Mighty of ka's; <t>The Dual King:</t>
					<i>Maatkara</i>, shining image of Amun, whom he made appear as King upon the throne of Horus, in front of the holies of the palace; whom the
					Great Ennead nursed to be Mistress of the circuit of Aten. They have endowed her with life, dominion, and joy in front of the living; the <t
						>Son of Ra:</t
					> Hatshepsut, united with Amun, beloved of Amun-Ra, King of Gods, given life like Ra forever.
				</p>
			</div>
		</div>

		<h2 class="mt-10">Transliteration</h2>
		<p>
			It is not possible to translate hieroglyphs directly; first, the hieroglyphs must be converted into alphabetic writing, a process known as
			transliteration, which employs numerous letters not typically found on keyboards: <tlit>Ꜣ Ꜥ ḥ ḫ ẖ š ḳ ṯ</tlit> and <tlit>ḏ.</tlit>
		</p>

		<div class="grid grid-cols-2 gap-4">
			<div class="p-3">
				<h3>North face</h3><p class="tlit">
					&#7717;r wsrt k&#42786;w nbty w&#42786;&#7695;t rnpw d&#7717;r nbw n&#7791;rt &#7723;aw n-sw-bit nb t&#42786;wy m&#42786;at-k&#42786;-ra s
					mn n it.s imn rn.s wr m&#42786;at-k&#42786;-ra d&#7717;r id&scaron;d gnwt.s m d&#7717;d&#7717;w nw rnpw sm&#42786; m an&#7723; &#7695;d
					w&#42786;s s&#42786; ra imn-&#7830;mnt imn-ra nsw n&#7791;r mrit <span class="dimm">m isw mnw pn nfr rw&#7695;</span> ir.n.s n f sp tpy d&#7717;b-sd
					ir.s di an&#7723; &#7695;t
				</p>
			</div>
			<div class="p-3">
				<h3>East face</h3><p class="tlit">
					&#7717;r wsrt k&#42786;w n-sw-bit m&#42786;&#42788;t-k&#42786;-r&#42788; imn-r&#42788; mrit ir.n d&#7717;mt.s rn n it.s s mn d&#7717;r mnw
					pn w&#42786;d&#7717; &#7723;ft rdit n n-sw-bit nb t&#42786;wy &#42788;&#42786;-&#7723;pr-k&#42786;-r&#42788; in d&#7717;m n pn n&#7791;r
					&#7723;ft s&#42788;d&#7717;&#42788; t&#7723;my wry in d&#7717;mt.s m sp tpy &#7695;d pw in nb n&#7791;rw in it &#7791; n-sw-bit
					&#42788;&#42786;-&#7723;pr-k&#42786;-r&#42788; di tp rd s mnt t&#7723;nw iw d&#7717;mt &#7791; r wd&#7717;m mnw ir.t &#42788;n&#7723; ti
					&#7695;t
				</p>
			</div>
			<div class="p-3">
				<h3>West face</h3><p class="tlit">
					&#7717;r wsrt k&#42786;w nbty w&#42786;&#7695;t rnpw d&#7717;r-n-nbw n&#7791;rt &#7723;&#42788;w n-sw-bit nb t&#42786;wy
					m&#42786;&#42788;t-k&#42786;-r&#42788; ir.n.s m mnw.s n it.s imn nb nswt t&#42786;wy s&#42788;d&#7717;&#42788; n f t&#7723;nwy wry r
					sb&#42786; d&scaron;ps imn wr d&scaron;fyt b&#42786;k m &#7695;&#42788;mw &#42788;&#42786; wrt d&#7717;d n t3wy mi i&#7791;n n sp ir mitt
					&#7695;r p&#42786;t t&#42786; ir n f s&#42786; r&#42788; imn-&#7830;mntw di &#42788;n&#7723; r&#42788; mi &#7695;t
				</p>
			</div>
			<div class="p-3">
				<h3>South face</h3><p class="tlit">
					&#7717;r wsrt k&#42786;w n-sw-bit m&#42786;&#42788;t-k&#42786;-r&#42788; tit 3&#7723; nt imn s &#7723;&#42788;t.n.f m nsw d&#7717;r st
					d&#7717;r m-&#7723;nt &#7723;&#42788;p nw pr-wr rnnt.n ps&#7695;t &#42788;&#42786;t&#42788; r nbt d&scaron;nw n i&#7791;n &#7830;nm.s ns m
					&#42788;n&#7723; w&#42786;s &#42786;wt-ib &#7723;nt &#42788;n&#7723;w s&#42786; r&#42788; imn-&#7830;mntw imn-r&#42788; nsw n&#7791;r mrit
					di &#42788;n&#7723; r&#42788; mi &#7695;t
				</p>
			</div>
		</div>
		<div class="grid hidden grid-cols-2 gap-4">
			<div class="p-3">
				<h3>North face</h3>Hr wsrt kAw nbty wADt rnpw Hr nbw nTrt xaw n-sw-bit nb tAwy mAat-kA-ra s mn n it.s imn rn.s wr mAat-kA-ra Hr iSd gnwt.s m
				HHw nw rnpw smA m anx Dd wAs sA ra imn-Xmnt imn-ra nsw nTr mrit m isw mnw pn nfr rwD ir.n.s n f sp tpy Hb-sd ir.s di anx Dt
			</div>
			<div class="p-3">
				<h3>East face</h3>Hr wsrt kAw n-sw-bit mAat-kA-ra imn-ra mrit ir.n Hmt.s rn n it.s s mn Hr mnw pn wAH xft rdit n n-sw-bit nb tAwy aA-xpr-kA-ra
				in Hm n pn nTr xft saHa txmy wry in Hmt.s m sp tpy Dd pw in nb nTrw in it T n-sw-bit aA-xpr-kA-ra di tp rd s mnt txnw iw Hmt T r wHm mnw ir.t
				anx ti Dt
			</div>
			<div class="p-3">
				<h3>West face</h3>Hr wsrt kAw nbty wADt rnpw Hr-n-nbw nTrt xaw n-sw-bit nb tAwy mAat-kA-ra ir.n.s m mnw.s n it.s imn nb nswt tAwy saHa n f
				txnwy wry r sbA Sps imn wr Sfyt bAk m Damw aA wrt Hd n t3wy mi iTn n sp ir mitt Dr pAt tA ir n f sA ra imn-Xmntw di anx ra mi Dt
			</div>
			<div class="p-3">
				<h3>South face</h3>Hr wsrt kAw n-sw-bit mAat-kA-ra tit 3x nt imn s xat.n.f m nsw Hr st Hr m-xnt xap nw pr-wr rnnt.n psDt aAta r nbt Snw n iTn
				Xnm.s ns m anx wAs Awt-ib xnt anxw sA ra imn-Xmntw imn-ra nsw nTr mrit di anx ra mi Dt
			</div>
		</div>

		<h2 class="mt-10">Base inscriptions</h2>
		<p>
			The base inscriptions begin on the southern side, in correlation with the location of Thebes, and contains an inscription of 8 horizontal lines
			on each side of the obelisk.<br />The reading order is <strong>South &rarr; West &rarr; North &rarr; East</strong>.<br />Hatshepsut is
			designated in the text as both the son <i>and</i> daughter of Amun. As always with hieroglyphs, they are read from the side which the figures are
			facing.
		</p>

		<div class="my-10 block text-center">
			<div class="mb-3 pb-3">
				<p>1. South base inscription</p><a
					data-fancybox="B"
					data-caption="Hatshepsut Obelisk (E) South base inscription"
					href="/images/karnakE-E1.png"><img src="/images/karnakE-E1.png" alt="" /></a
				>
			</div>
			<div class="mb-3 pb-3">
				<p>2. West base inscription</p><a data-fancybox="B" data-caption="Hatshepsut Obelisk (E) West base inscription" href="/images/karnakE-E2.png"
					><img src="/images/karnakE-E2.png" alt="" /></a
				>
			</div>
			<div class="mb-3 pb-3">
				<p>3. North base inscription</p><a
					data-fancybox="B"
					data-caption="Hatshepsut Obelisk (E) North base inscription"
					href="/images/karnakE-E3.png"><img src="/images/karnakE-E3.png" alt="" /></a
				>
			</div>
			<div class="mb-3 pb-3">
				<p>4. East base inscription</p><a data-fancybox="B" data-caption="Hatshepsut Obelisk (E) East base inscription" href="/images/karnakE-E4.png"
					><img src="/images/karnakE-E4.png" alt="" /></a
				>
			</div>
		</div>

		<h2 class="mt-10">Translation of the base inscriptions</h2>
		<p>
			The Living Horus: Mighty of ka's; the Two Ladies: Flourishing-in-years; Horus of Gold: Divine-of-diadems; the Dual King: Maatkara; Daughter of
			Ra: Hatshepsut, united with Amun, who lives forever. The daughter of Amun-Ra, his beloved, his only one who came from him; shining image of the
			Lord-of-all; whose beauty was fashioned by the powers of <i title="i.e. Heliopolis in the delta">On</i>; who holds the Two Lands like her maker;
			whom he created to wear his diadems; who has forms like Khepri, who rises like Harakhty; pure egg, splendid seed, whom the Two Magicians nursed;
			whom Amun himself made appear upon the throne of <i title="i.e. Thebes">Southern On</i>; whom he chose as guardian of Egypt, as protector of
			nobles and commoners. The Horus who championed her father, the eldest of Kamutef; whom Ra begot so as to have beneficent offspring on earth, for
			the well-being of mankind. His living image, the Dual King, Maatkara, the fine gold of kings.
		</p>
		<p>
			She made as her monument for her father Amun, Lord of Thrones-of-the-Two-Lands, presiding over <i title="The Great Temple at Karnak">Ipet-sut</i
			>, the making for him of two great obelisks of hard granite of the South, their upper side being of electrum, of the best of all foreign lands.
			Seen on both sides of the river, their rays flood the Two Lands when Aten dawns between them, as he rises in heaven's lightland.
		</p>

		<p class="p-10 italic">
			I have done this from a loving heart for my father Amun; initiated in his secret of the beginning, acquainted with his beneficient might, I did
			not forget anything he had ordained.<br />
			My Majesty knows his divinity, I acted under his command; It was he who led me, I did not plan any works without his doing.<br />
			It was he who gave directions, I did not sleep because of his temple, I did not stray from that which he commanded.<br />
			My heart was wise before my father, I entered into the plans of his heart.<br />
			I did not turn my back on the city of the All-Lord, rather did I turn my face to it.<br />
			I know that Ipet-sut is the horizon on earth, the august hill of the beginning, The Sacred Eye of the All-Lord, His favored place that bears his beauty,
			that gathers in his followers.
		</p>

		<p>
			It is the King himself who says: I declare before the people who shall be in the future, who shall observe the monument I made for my father,
			who shall speak in discussion, who shall look to posterity&ndash;it was when I sat in the palace, and thought of my maker, that my heart led me
			to make for him two obelisks of electrum, whose summits would reach the heavens, in the august hall of, between the two great portals of the
			King, the mighty bull, the Dual King, <i title="Thutmose I">Aakheperkara</i>, the Horus triumphant. Now, my heart [<i
				>turns to and fro, in thinking what will the people say, they who</i
			>] shall see my monument after years, and who shall speak of what I have done.
		</p>

		<p class="p-10 italic">
			Beware of saying, &quot;I know not, I know not: Why has this been done? To fashion a mountain of gold throughout, like something that just
			happened.&quot;<br />
			I swear, as I am loved of Ra,<br />
			As Amun, my father, favors me,<br />
			As my nostrils are refreshed with life and dominion,<br />
			As I wear the white crown,<br />
			As I appear in the red crown,<br />
			As Horus and Set have joined their portions for me,<br />
			As I rule this land like the son of Isis,<br />
			As I am mighty like the son of Nut,<br />
			As Ra rests in the evening barque,<br />
			As he prevails in the morning barque,<br />
			As he joins his two mothers in the divine barque,<br />
			As sky endures, as his creation lasts,<br />
			As I shall be eternal like an undying star,<br />
			As I shall rest in life like Atum&ndash;<br />
		</p>

		<p>
			So as regard these two great obelisks, wrought with electrum by my majesty for my father Amun, in order that my name may endure in this temple,
			for eternity and everlastingness, they are each of one block of hard granite, without seam, without joining together!<br /><br />
			My majesty began work on them in year 15, second month of winter, day 1, ending in year 16, fourth month of summer, last day, totalling seven months
			of quarry work. I did it for him out of affection, as a king for a god. It was my wish to make them for him gilded with electrum. &quot;Their &ndash;
			on their body&quot; is what I expect people to say. My mouth is effective in its speech; I do not go back on my word. Hear ye! I gave for them of
			the finest electrum. I measured it by the heket like sacks of grain. My majesty summoned a quantity beyond what the Two Lands had yet seen. The ignorant
			and the wise know it.<br /><br />
			Not shall he who hears it say, &quot;It is a boast,&quot; what I have said; rather say, &quot;How like her it is, she is devoted to her father!&quot;<br
			/>
			Lo, the god knows me well, Amun, Lord of Thrones of the Two Lands; he made me rule the Black Land and Red Land as reward.<br />
			No one rebels against me in all lands. All foreign lands are my subjects, he placed my border at the limits of heaven.<br />
			What Aten encirdes labors for me. He gave it to him who came from him, knowing I would rule it for him. I am his daughter in very truth.<br />
			Who serves him, who knows what he ordains. My reward from my father is life-stability-rule.<br />
			On the Horus throne of all the living, eternally like Ra.<br />
		</p>

		<h2 class="mt-10">Photos &amp; illustrations</h2><br />
		<div class="grid grid-cols-3 justify-items-center gap-8">
			<a data-fancybox="O" data-caption="Lepsius, <i>Denkmaeler</i>, III, pl. 22 (North & West faces)" href="/images/LDIII-22.jpg"
				><img src="/images/LDIII-22.webp" alt="Karnak obelisk E " /></a
			>
			<a data-fancybox="O" data-caption="Lepsius, <i>Denkmaeler</i>, III, pl. 23 (South & East faces)" href="/images/LDIII-23.jpg"
				><img src="/images/LDIII-23.webp" alt="Karnak obelisk E" /></a
			>
			<a
				data-fancybox="O"
				data-caption="Lepsius, <i>Denkmaeler</i>, III, pl. 24 (Obelisk E Base incriptions & 3 faces of Obelisk F)"
				href="/images/LDIII-24.jpg"><img src="/images/LDIII-24.webp" alt="Karnak obelisk E base + obelisk F" /></a
			>
			<a data-fancybox="O" data-caption="2014 photo of the North face" href="/images/karnakE-03.jpg"
				><img src="/images/karnakE-03t.webp" alt="Karnak obelisk E" /></a
			>
			<a data-fancybox="O" data-caption="2015 photo of the North face" href="/images/karnakE-04.jpg"
				><img src="/images/karnakE-04t.webp" alt="Karnak obelisk E" /></a
			>
			<a data-fancybox="O" data-caption="2012 photo of the West face" href="/images/karnakE-2012.jpg"
				><img src="/images/karnakE-2012.webp" alt="Karnak obelisk E 2012" /></a
			>
			<a data-fancybox="O" data-caption="Rosellini, <i>Monumenti storici</i>, IV, pl. 31 (South face)" href="/images/karnakE-rosellini31.webp"
				><img src="/images/karnakE-rosellini31t.webp" alt="Karnak obelisk E South face" /></a
			>
			<a data-fancybox="O" data-caption="Rosellini, <i>Monumenti storici</i>, IV, pl. 32 (East face)" href="/images/karnakE-rosellini32.webp"
				><img src="/images/karnakE-rosellini32t.webp" alt="Karnak obelisk E East face" /></a
			>
			<a data-fancybox="O" data-caption="Rosellini, <i>Monumenti storici</i>, IV, pl. 33 (West face)" href="/images/karnakE-rosellini33.webp"
				><img src="/images/karnakE-rosellini33t.webp" alt="Karnak obelisk E West face" /></a
			>
			<a data-fancybox="O" data-caption="Rosellini, <i>Monumenti storici</i>, IV, pl. 34 (North face)" href="/images/karnakE-rosellini34.webp"
				><img src="/images/karnakE-rosellini34t.webp" alt="Karnak obelisk E North face" /></a
			>

			<a data-fancybox="O" data-caption="Champollion, <i>Monuments</i>, IV, pl. 314" href="/images/karnakE-10.jpg"
				><img src="/images/karnakE-10t.webp" alt="Karnak obelisk E" /></a
			>
			<a data-fancybox="O" data-caption="Champollion, <i>Monuments</i>, IV, pl. 315" href="/images/karnakE-11.jpg"
				><img src="/images/karnakE-11t.webp" alt="Karnak obelisk E" /></a
			>
			<a data-fancybox="O" data-caption="Photo of the South face base inscription" href="/images/karnakE-base.webp"
				><img src="/images/karnakE-baseS.webp" alt="Karnak obelisk E" /></a
			>
			<a data-fancybox="O" data-caption="Detail of the Hatsheput court of the Great Temple at Karnak." href="/images/KarnakEF.webp"
				><img src="/images/KarnakEFs.webp" alt="Karnak obelisks map" /></a
			>
			<a
				data-fancybox="O"
				data-caption="Karnak Temple complex map with the obelisks, including the recently reerected obelisk F."
				href="/images/KarnakObelisks.webp"><img src="/images/KarnakObeliskss.webp" alt="Karnak obelisks map" /></a
			>
			<a data-fancybox="O" data-caption="Map of the Karnak Temple complex obelisks (2016)" href="/images/KarnakMap1.webp"
				><img src="/images/KarnakMap1s.webp" alt="Karnak obelisks map" /></a
			>
			<a data-fancybox="O" data-caption="Obelisk F East base inscription" href="/images/LDIII-24.jpg"
				><img src="/images/LDIII-24.webp" alt="Obelisk F East base inscription" /></a
			>
			<a data-fancybox="O" data-caption="Obelisk F East base photo" href="/images/Karnak-baseFphoto.jpg"
				><img src="/images/Karnak-baseFphoto.webp" alt="Obelisk F East base photo" /></a
			>
		</div>

		<h2 class="mt-10">Bibliography</h2>

		<p id="biblio">
			<h3 class="color-2 py-4 pl-3">Obelisk E (north, standing)</h3>
			<em>Description de l'&Eacutegypte</em>. 1812. Antiquit&eacute;s - Planches, Vol. III, plate 12<br />
			<strong>Champollion, Jean-Fran&ccedil;ois</strong>. 1844. <i>Monuments de l'&Eacute;gypte et Nubie</i>, IV, plates 314&ndash;315<br />
			<strong>Lepsius, Karl Richard.</strong> 1849. <i>Denkmaeler aus Aegypten und Aethiopien</i>. Vol. III. Plates 22, 23, 24 b<br />
			<strong>Rosellini, Ippolito</strong>. 1832. <i>I Monumenti dell' Egitto e della Nubia</i>. Vol. IV. Plates 31&ndash;34. Pisa: Presso Niccolo
			Capurro<br />
			<strong>Naville, Édouard, and Legrain, Georges</strong>. 1902. <i>Annales du Musée Guimet</i>. Vol. 30. plate 12 A. Paris: Leroux<br />
			<strong>Breasted, J. H</strong>. 1906. <i>Ancient Records of Egypt</i>. Vol. 2. 128&ndash;134. &sect;&sect;308&ndash;319. Chicago: University of
			Chicago Press<br />
			<strong>Sethe, Kurt</strong>. 1906 <i>Urkunden der 18. dynastie IV</i>. Heft IV. 356&ndash;369. Leipzig: J. C. Hinrichs<br />
			<strong>Porter and Moss</strong>. 1972. <i>Topographical Bibliography</i>. Vol. II. Second Edition. pp. 81-82<br />
			<strong>Lichtheim, Miriam</strong>. 1975. <i>Ancient Egyptian Literature: a book of readings</i>. Vol. 2. 25&ndash;29. Berkeley: University of
			California Press<br /><br />

			<h3 class="color-2 py-4 pl-3">Obelisk F (south, fallen)</h3>
			<strong>Lepsius, Karl Richard.</strong> 1849. <i>Denkmaeler aus Aegypten und Aethiopien</i>. Vol. III. Plate 24 abc., Text III 22-23.<br />
			<strong>Legrain, Georges.</strong> 1901. Sur un fragment d'obélisque trouvé a Karnak. <i>Rec. de Trav.</i> 23: 195-196.<br />
			<strong>Sethe, Kurt</strong>. 1906 <i>Urkunden der 18. dynastie IV</i>. Heft IV. 369&ndash;373. Leipzig: J. C. Hinrichs<br />
			<strong>Porter and Moss</strong>. 1972. <i>Topographical Bibliography</i>. Vol. II. Second Edition. pp. 82-83<br />

			<br /><br />
			The obelisk base of obelisk E is catalogued in the excellent <b>Project Karnak</b> website of the French <i
				>Centre Franco-Égyptien d’Étude des Temples de Karnak</i
			> (CFEETK) as <a href="http://sith.huma-num.fr/karnak/1730" target="_blank">KIU 1730</a>.
			<!-- Photo of all 4 sides https://www.cfeetk.cnrs.fr/archives/?n=65535 -->
			The four centre columns of the obelisk faces are catalogued as: North
			<a href="http://sith.huma-num.fr/karnak/1725" target="_blank">1725</a>, West
			<a href="http://sith.huma-num.fr/karnak/1727" target="_blank">1727</a>, South
			<a href="http://sith.huma-num.fr/karnak/1729" target="_blank">1729</a>, and East
			<a href="http://sith.huma-num.fr/karnak/1731" target="_blank">1731</a> respectively.<br />
			The pyramidion faces: North <a href="http://sith.huma-num.fr/karnak/3319" target="_blank">3319</a>, West <a
				href="http://sith.huma-num.fr/karnak/3317"
				target="_blank">3317</a
			>, South <a href="http://sith.huma-num.fr/karnak/3318" target="_blank">3318</a>, East <a
				href="http://sith.huma-num.fr/karnak/3316"
				target="_blank">3316</a
			>.<br />
			There are eight offering scenes on the top half of each face.<br />
			&nbsp; North face: <a href="http://sith.huma-num.fr/karnak/3330" target="_blank">3330</a>, <a
				href="http://sith.huma-num.fr/karnak/3329"
				target="_blank">3329</a
			>, <a href="http://sith.huma-num.fr/karnak/3328" target="_blank">3328</a>, <a href="http://sith.huma-num.fr/karnak/3327" target="_blank">3327</a
			>, <a href="http://sith.huma-num.fr/karnak/3326" target="_blank">3326</a>, <a href="http://sith.huma-num.fr/karnak/3325" target="_blank">3325</a
			>, <a href="http://sith.huma-num.fr/karnak/3324" target="_blank">3324</a>, <a href="http://sith.huma-num.fr/karnak/3323" target="_blank">3323</a
			>.<br />
			&nbsp; West face: <a href="http://sith.huma-num.fr/karnak/3339" target="_blank">3339</a>, <a
				href="http://sith.huma-num.fr/karnak/3341"
				target="_blank">3341</a
			>, <a href="http://sith.huma-num.fr/karnak/3343" target="_blank">3343</a>, <a href="http://sith.huma-num.fr/karnak/3345" target="_blank">3345</a
			>, <a href="http://sith.huma-num.fr/karnak/3347" target="_blank">3347</a>, <a href="http://sith.huma-num.fr/karnak/3349" target="_blank">3349</a
			>, <a href="http://sith.huma-num.fr/karnak/3351" target="_blank">3351</a>, <a href="http://sith.huma-num.fr/karnak/3322" target="_blank">3322</a
			>.<br />
			&nbsp; South face: <a href="http://sith.huma-num.fr/karnak/3337" target="_blank">3337</a>, <a
				href="http://sith.huma-num.fr/karnak/3336"
				target="_blank">3336</a
			>, <a href="http://sith.huma-num.fr/karnak/3335" target="_blank">3335</a>, <a href="http://sith.huma-num.fr/karnak/3334" target="_blank">3334</a
			>, <a href="http://sith.huma-num.fr/karnak/3333" target="_blank">3333</a>, <a href="http://sith.huma-num.fr/karnak/3332" target="_blank">3332</a
			>, <a href="http://sith.huma-num.fr/karnak/3331" target="_blank">3331</a>, <a href="http://sith.huma-num.fr/karnak/3321" target="_blank">3321</a
			>.<br />
			&nbsp; East face: <a href="http://sith.huma-num.fr/karnak/3338" target="_blank">3338</a>, <a
				href="http://sith.huma-num.fr/karnak/3340"
				target="_blank">3340</a
			>, <a href="http://sith.huma-num.fr/karnak/3342" target="_blank">3342</a>, <a href="http://sith.huma-num.fr/karnak/3344" target="_blank">3344</a
			>, <a href="http://sith.huma-num.fr/karnak/3346" target="_blank">3346</a>, <a href="http://sith.huma-num.fr/karnak/3348" target="_blank">3348</a
			>, <a href="http://sith.huma-num.fr/karnak/3350" target="_blank">3350</a>, <a href="http://sith.huma-num.fr/karnak/3320" target="_blank">3320</a
			>.<br />
		</p>
	</section>
</Layout>

<style>
	.dimm {
		opacity: 0.5;
	}
	t {
		font-variant: small-caps;
	}
	i:where([title]) {
		cursor: help;
		text-decoration-line: underline;
		text-decoration-style: dotted;
	}
</style>
