---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Aegyptiaca book 3">
	<h2 class="superheading">Manetho</h2>

	<h1 class="start">
		<a id="p153"><span class="pagenum">p153</span></a>
		Book III
	</h1>

	<h2 class="smallcaps" id="Dynasty_XX">Dynasty XX</h2>

	<h3 class="text-center" id="Fragment_57">
		Fr. 57 (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Africanus.</span>
	</h3>

	<p class="text-justify">From the Third Book of Manetho.</p>

	<p class="text-justify">
		The Twentieth Dynasty&#8288;
		<a class="ref" id="ref1" href="#note1">1</a>
		consisted of twelve kings of Diospolis, who reigned for 135 years.
	</p>

	<h3 class="text-center" id="Fragment_57b">
		(b)
		<span class="smallcaps">According to Eusebius.</span>
	</h3>

	<p class="text-justify">From the Third Book of Manetho.</p>

	<p class="text-justify">The Twentieth Dynasty consisted of twelve kings of Diospolis, who reigned for 178 years.</p>

	<h3 class="text-center" id="Fragment_57c">
		<a id="p155"><span class="pagenum">p155</span></a>
		(c)
		<span class="smallcaps">Armenian Version of Eusebius.</span>
	</h3>

	<p class="text-justify">From the Third Book of Manetho.</p>

	<p class="text-justify">The Twentieth Dynasty consisted of twelve kings of Diospolis, who reigned for 172 years.</p>

	<h2>Dynasty XXI</h2>

	<h3 class="text-center" id="Fragment_58">
		Fr. 58 (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Africanus.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-first</span>
		Dynasty&#8288;
		<a class="ref" id="ref2" href="#note2
"> 2 </a>
		consisted of seven kings of Tanis.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_58.King_1">
		1. Smendês,&#8288;
		<a class="ref" id="ref3" href="#note3
"> 3 </a>
		for 26 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_58.King_2">
		2. Psusen(n)ês I,&#8288;
		<a class="ref" id="ref4" href="#note4
"> 4 </a>
		for 46 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_58.King_3">3. Nephercherês (Nephelcherês), for 4 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_58.King_4">4. Amenôphthis, for 9 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_58.King_5">5. Osochôr, for 6 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_58.King_6">6. Psinachês, for 9 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_58.King_7">7. Psusennes [II] (Susennês), for 14 years.</p>

	<p class="i1 b0 a0 text-justify">
		Total, 130 years.
		<a class="ref" id="ref5" href="#note5
"> 5 </a>
	</p>

	<h3 class="text-center" id="Fragment_59a">
		<a id="p157"><span class="pagenum">p157</span></a>
		Fr. 59 (a) (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Eusebius.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-first</span>
		Dynasty consisted of seven kings of Tanis.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_59a.King_1">1. Smendis, for 26 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_59a.King_2">2. Psusennês, for 41 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_59a.King_3">3. Nephercherês, for 4 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_59a.King_4">4. Amenôphthis, for 9 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_59a.King_5">5. Osochôr, for 6 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_59a.King_6">6. Psinachês, for 9 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_59a.King_7">7. Psusennês, for 35 years.</p>

	<p class="i1 b0 a0 text-justify">Total, 130 years.</p>

	<h3 class="text-center" id="Fragment_59b">
		(b)
		<span class="smallcaps">Armenian Version of Eusebius.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-first</span>
		Dynasty consisted of seven kings of Tanis.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_59b.King_1">1. Smendis, for 26 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_59b.King_2">2. Psusennes , for 41 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_59b.King_3">3. Nephercheres , for 4 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_59b.King_4">4. Amenophthis , for 9 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_59b.King_5">5. Osochor , for 6 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_59b.King_6">6. Psinnaches, for 9 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_59b.King_7">7. Psusennes, for 35 years.</p>

	<p class="i1 b0 a0 text-justify">Total, 130 years.</p>

	<h2>
		<a id="p159"><span class="pagenum">p159</span></a>
		Dynasty XXII
	</h2>

	<h3 class="text-center" id="Fragment_60">
		Fr. 60 (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Africanus.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-second</span>
		Dynasty&#8288;
		<a class="ref" id="ref6" href="#note6
"> 6 </a>
		consisted of nine kings of Bubastus.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_60.King_1">1. Sesônchis, for 21 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_60.King_2">
		2. Osorthôn,&#8288;
		<a class="ref" id="ref7" href="#note7
"> 7 </a>
		for 15 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_60.King_3">3, 4, 5. Three other kings, for 25 [29] years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_60.King_6">6. Takelôthis, for 13 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_60.King_7">7, 8, 9. Three other kings, for 42 years.</p>

	<p class="i1 b0 a0 text-justify">
		Total, 120 years.
		<a class="ref" id="ref8" href="#note8
"> 8 </a>
	</p>

	<h3 class="text-center" id="Fragment_61a">
		Fr. 61 (a) (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Eusebius.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-second</span>
		Dynasty consisted of three kings of Bubastus.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_61a.King_1">1. Sesônchôsis, for 21 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_61a.King_2">2. Osorthôn, for 15 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_61a.King_3">3. Takelôthis, for 13 years.</p>

	<p class="i1 b0 a0 text-justify">Total, 49 years.</p>

	<h3 class="text-center" id="Fragment_61b">
		<a id="p161"><span class="pagenum">p161</span></a>
		(b)
		<span class="smallcaps">Armenian Version of Eusebius.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-second</span>
		Dynasty consisted of three kings of Bubastus.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_61b.King_1">1. Sesonchosis, for 21 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_61b.King_2">
		2. Osorthon ,&#8288;
		<a class="ref" id="ref9" href="#note9
"> 9 </a>
		for 15 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_61b.King_3">3. Tacelothis , for 13 years.</p>

	<p class="i1 b0 a0 text-justify">Total, 49 years.</p>

	<h2>Dynasty XXIII</h2>

	<h3 class="text-center" id="Fragment_62">
		Fr. 62 (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Africanus.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-third</span>
		Dynasty&#8288;
		<a class="ref" id="ref10" href="#note10
"> 10 </a>
		consisted of four kings of Tanis.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_62.King_1">
		1. Petubatês, for 40 years: in his reign the Olympic festival&#8288;
		<a class="ref" id="ref11" href="#note11
"> 11 </a>
		was first celebrated.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_62.King_2">
		2. Osorchô, for 8 years: the Egyptians call him Hêraclês.&#8288;
		<a class="ref" id="ref12" href="#note12
"> 12 </a>
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_62.King_3">3. Psammûs, for 10 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_62.King_4">
		4. Zêt,&#8288;
		<a class="ref" id="ref13" href="#note13
"> 13 </a>
		for 31 years (34).
	</p>

	<p class="i1 b0 a0 text-justify">Total, 89 years.</p>

	<h3 class="text-center" id="Fragment_63a">
		<a id="p163"><span class="pagenum">p163</span></a>
		Fr. 63 (a) (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Eusebius.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-third</span>
		Dynasty consisted of three kings of Tanis.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_63a.King_1">
		1. Petubastis,&#8288;
		<a class="ref" id="ref14" href="#note14
"> 14 </a>
		for 25 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_63a.King_2">2. Osorthôn, for 9 years: the Egyptians called him Hêraclês.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_63a.King_3">3. Psammûs, for 10 years.</p>

	<p class="i1 b0 a0 text-justify">Total, 44 years.</p>

	<h3 class="text-center" id="Fragment_63b">
		(b)
		<span class="smallcaps">Armenian Version of Eusebius.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-third</span>
		Dynasty consisted of three kings of Tanis.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_63b.King_1">1. Petubastis, for 25 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_63b.King_2">2. Osorthon, whom the Egyptians named Hercules: for 9 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_63b.King_3">3. Psammus, for 10 years.</p>

	<p class="i1 b0 a0 text-justify">Total, 44 years.</p>

	<h2>
		<a id="p165"><span class="pagenum">p165</span></a>
		Dynasty XXIV
	</h2>

	<h3 class="text-center" id="Fragment_64">
		Fr. 64 (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Africanus.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-fourth</span>
		Dynasty.&#8288;
		<a class="ref" id="ref15" href="#note15
"> 15 </a>
	</p>

	<p class="i1 b0 a0 text-justify">
		Bochchôris of Saïs, for 6 years: in his reign a lamb&#8288;
		<a class="ref" id="ref16" href="#note16
"> 16 </a>
		spoke&#8288;
		<a class="ref" id="ref17" href="#note17
"> 17 </a>
		. . . 990 years.
	</p>

	<h3 class="text-center" id="Fragment_65a">
		Fr. 65 (a) (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Eusebius.</span>
	</h3>

	<p class="text-justify">
		The
		<span class="whole">Twenty-fourth</span>
		Dynasty.
	</p>

	<p class="text-justify">
		Bochchôris of Saïs, for 44 years: in his reign a lamb spoke. Total, 44 years.
		<a class="ref" id="ref18" href="#note18
"> 18 </a>
	</p>

	<h3 class="text-center" id="Fragment_65b">
		<a id="p167"><span class="pagenum">p167</span></a>
		(b)
		<span class="smallcaps">Armenian Version of Eusebius.</span>
	</h3>

	<p class="text-justify">
		The
		<span class="whole">Twenty-fourth</span>
		Dynasty.
	</p>

	<p class="text-justify">Bocchoris of Saïs, for 44 years: in his reign a lamb spoke.</p>

	<h2>Dynasty XXV</h2>

	<h3 class="text-center" id="Fragment_66">
		Fr. 66 (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Africanus.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-fifth</span>
		Dynasty&#8288;
		<a class="ref" id="ref19" href="#note19
"> 19 </a>
		consisted of three Ethiopian kings.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_66.King_1">
		1. Sabacôn,&#8288;
		<a class="ref" id="ref20" href="#note20
"> 20 </a>
		who, taking Bochchôris captive, burned him alive, and reigned for 8 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_66.King_2">2. Sebichôs, his son, for 14 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_66.King_3">
		3. Tarcus,&#8288;
		<a class="ref" id="ref21" href="#note21
"> 21 </a>
		<a class="correction"> the note marker </a>
		for 18 years.
	</p>

	<p class="i1 b0 a0 text-justify">Total, 40 years.</p>

	<h3 class="text-center" id="Fragment_67a">
		Fr. 67 (a) (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Eusebius.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-fifth</span>
		Dynasty consisted of three Ethiopian kings.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_67a.King_1">
		1. Sabacôn, who, taking Bochchôris captive, burned him alive, and reigned for 12 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_67a.King_2">
		2. Sebichôs
		<!-- the printed text has a period here -->
		<span class="emend">,</span>
		his son, for 12 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_67a.King_3">3. Taracus, for 20 years.</p>

	<p class="i1 b0 a0 text-justify">Total, 44 years.</p>

	<h3 class="text-center" id="Fragment_67b">
		<a id="p169"><span class="pagenum">p169</span></a>
		(b)
		<span class="smallcaps">Armenian Version of Eusebius.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-fifth</span>
		Dynasty consisted of three Ethiopian kings.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_67b.King_1">1. Sabacon, who, taking Bocchoris captive, burned him alive, and reigned for 12 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_67b.King_2">2. Sebichos, his son, for 12 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_67b.King_3">3. Saracus (Taracus), for 20 years.</p>

	<p class="i1 b0 a0 text-justify">Total, 44 years.</p>

	<h2>Dynasty XXVI</h2>

	<h3 class="text-center" id="Fragment_68">
		Fr. 68 (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Africanus.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-sixth</span>
		Dynasty&#8288;
		<a class="ref" id="ref22" href="#note22
"> 22 </a>
		consisted of nine kings of Saïs.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_68.King_1">1. Stephinatês, for 7 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_68.King_2">2. Nechepsôs, for 6 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_68.King_3">3. Nechaô, for 8 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_68.King_4">
		4. Psammêtichus,&#8288;
		<a class="ref" id="ref23" href="#note23
"> 23 </a>
		for 54 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_68.King_5">
		5. Nechaô&#8288;
		<a class="ref" id="ref24" href="#note24
"> 24 </a>
		the Second, for 6 years: he took Jerusalem, and led King Iôachaz captive into Egypt.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_68.King_6">6. Psammuthis the Second, for 6 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_68.King_7">
		<a id="p171"><span class="pagenum">p171</span></a>
		7. Uaphris,&#8288;
		<a class="ref" id="ref25" href="#note25
"> 25 </a>
		for 19 years: the remnant of the Jews fled to him, when Jerusalem was captured by the Assyrians.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_68.King_8">
		8. Amôsis,&#8288;
		<a class="ref" id="ref26" href="#note26
"> 26 </a>
		for 44 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_68.King_9">
		Psammecheritês,&#8288;
		<a class="ref" id="ref27" href="#note27
"> 27 </a>
		for 6 months.
	</p>

	<p class="i1 b0 a0 text-justify">Total, 150 years 6 months.</p>

	<h3 class="text-center" id="Fragment_69a">
		Fr. 69 (a) (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Eusebius.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-sixth</span>
		Dynasty consisted of nine kings of Saïs.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69a.King_1">1. Ammeris the Ethiopian, for 12 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69a.King_2">2. Stephinathis, for 7 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69a.King_3">3. Nechepsôs, for 6 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69a.King_4">4. Nechaô, for 8 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69a.King_5">5. Psammêtichus, for 45 [44] years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69a.King_6">
		6. Nechaô the Second, for 6 years: he took Jerusalem, and led King Iôachaz captive into Egypt.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69a.King_7">7. Psammuthis the Second, also called Psammêtichus, for 17 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69a.King_8">
		<a id="p173"><span class="pagenum">p173</span></a>
		8. Uaphris, for 25 years: the remnant of the Jews fled to him, when Jerusalem was captured by the Assyrians.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69a.King_9">9. Amôsis, for 42 years.</p>

	<p class="i1 b0 a0 text-justify">
		Total, 163 years.
		<a class="ref" id="ref28" href="#note28
"> 28 </a>
	</p>

	<h3 class="text-center" id="Fragment_69b">
		(b)
		<span class="smallcaps">Armenian Version of Eusebius.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-sixth</span>
		Dynasty consisted of nine kings of Saïs.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69b.King_1">1. Ameres the Ethiopian, for 18 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69b.King_2">2. Stephinathes, for 7 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69b.King_3">3. Nechepsos, for 6 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69b.King_4">4. Nechao, for 8 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69b.King_5">
		5. Psametichus,
		<a class="comment" onmouseover="return Ebox('(sic)',WIDTH,60)" onmouseout="nd();"> º </a>
		for 44 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69b.King_6">
		6. Nechao the Second, for 6 years: he took Jerusalem, and led King Ioachaz captive into Egypt.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69b.King_7">7. Psammuthes the Second, also called Psammetichus, for 17 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69b.King_8">
		8. Uaphres, for 25 years: the remnant of the Jews took refuge with him, when Jerusalem was subjugated by the Assyrians.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_69b.King_9">9. Amosis, for 42 years.</p>

	<p class="i1 b0 a0 text-justify">Total, 167 years.</p>

	<h2>
		<a id="p175"><span class="pagenum">p175</span></a>
		Dynasty XXVII
	</h2>

	<h3 class="text-center" id="Fragment_70">
		Fr. 70 (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Africanus.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-seventh</span>
		Dynasty&#8288;
		<a class="ref" id="ref29" href="#note29
"> 29 </a>
		consisted of eight Persian kings.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_70.King_1">
		1. Cambysês in the fifth year of his kingship over the Persians became king of Egypt and ruled for 6 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_70.King_2">2. Darius, son of Hystaspês, for 36 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_70.King_3">3. Xerxês the Great, for 21 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_70.King_4">
		4. Artabanus,&#8288;
		<a class="ref" id="ref30" href="#note30
"> 30 </a>
		for 7 months.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_70.King_5">
		5. Artaxerxês,&#8288;
		<a class="ref" id="ref31" href="#note31
"> 31 </a>
		for 41 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_70.King_6">
		6. Xerxês,&#8288;
		<a class="ref" id="ref32" href="#note32
"> 32 </a>
		for 2 months.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_70.King_7">7. Sogdianus, for 7 months.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_70.King_8">8. Darius, son of Xerxês, for 19 years.</p>

	<p class="i1 b0 a0 text-justify">Total, 124 years 4 months.</p>

	<h3 class="text-center" id="Fragment_71a">
		<a id="p177"><span class="pagenum">p177</span></a>
		Fr. 71 (a) (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Eusebius.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-seventh</span>
		Dynasty consisted of eight Persian kings.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_71a.King_1">
		1. Cambysês in the fifth year of his kingship became king of Egypt, and ruled for 3 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_71a.King_2">2. Magi, for 7 months.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_71a.King_3">3. Darius, for 36 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_71a.King_4">4. Xerxês, son of Darius, for 21 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_71a.King_5">5. Artaxerxês of the long hand, for 40 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_71a.King_6">6. Xerxês the Second, for 2 months.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_71a.King_7">7. Sogdianus, for 7 months.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_71a.King_8">8. Darius, son of Xerxês, for 19 years.</p>

	<p class="i1 b0 a0 text-justify">Total, 120 years 4 months.</p>

	<h3 class="text-center" id="Fragment_71b">
		(b)
		<span class="smallcaps">Armenian Version of Eusebius.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-seventh</span>
		Dynasty consisted of eight Persian kings.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_71b.King_1">
		1. Cambysês in the fifth&#8288;
		<a class="ref" id="ref33" href="#note33
"> 33 </a>
		year of his kingship became king of Egypt, and ruled for 3 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_71b.King_2">2. Magi, for 7 months.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_71b.King_3">3. Darius, for 36 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_71b.King_4">4. Xerxes, son of Darius, for 21 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_71b.King_5">5. Artaxerxes, for 40 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_71b.King_6">6. Xerxes the Second, for 2 months.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_71b.King_7">7. Sogdianus, for 7 months.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_71b.King_8">8. Darius, son of Xerxes, for 19 years.</p>

	<p class="i1 b0 a0 text-justify">Total, 120 years 4 months.</p>

	<h2>
		<a id="p179"><span class="pagenum">p179</span></a>
		Dynasty XXVIII
	</h2>

	<h3 class="text-center" id="Fragment_72a">
		Fr. 72 (a) (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Africanus.</span>
	</h3>

	<p class="text-justify">
		The
		<span class="whole">Twenty-eighth</span>
		Dynasty.&#8288;
		<a class="ref" id="ref34" href="#note34
"> 34 </a>
		Amyrteos of Saïs, for 6 years.
	</p>

	<h3 class="text-center" id="Fragment_72b">
		(b)
		<span class="smallcaps">According to Eusebius.</span>
	</h3>

	<p class="text-justify">
		The
		<span class="whole">Twenty-eighth</span>
		Dynasty. Amyrtaeus of Saïs, for 6 years.
	</p>

	<h3 class="text-center" id="Fragment_72c">
		(c)
		<span class="smallcaps">Armenian Version of Eusebius.</span>
	</h3>

	<p class="text-justify">
		The
		<span class="whole">Twenty-eighth</span>
		Dynasty. Amyrtes of Saïs, for 6 years.
		<a class="ref" id="ref35" href="#note35
"> 35 </a>
	</p>

	<h2>Dynasty XXIX</h2>

	<h3 class="text-center" id="Fragment_73a">
		Fr. 73 (a) (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Africanus.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-ninth</span>
		Dynasty:&#8288;
		<a class="ref" id="ref36" href="#note36
"> 36 </a>
		four kings of Mendês.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_73a.King_1">1. Nepheritês, for 6 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_73a.King_2">2. Achôris, for 13 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_73a.King_3">3. Psammuthis, for 1 year.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_73a.King_4">4. Nepheritês [II], for 4 months.</p>

	<p class="i1 b0 a0 text-justify">Total, 20 years 4 months.</p>

	<h3 class="text-center" id="Fragment_73b">
		<a id="p181"><span class="pagenum">p181</span></a>
		(b)
		<span class="smallcaps">According to Eusebius.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-ninth</span>
		Dynasty: four kings&#8288;
		<a class="ref" id="ref37" href="#note37
"> 37 </a>
		of Mendês.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_73b.King_1">1. Nepheritês, for 6 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_73b.King_2">2. Achôris, for 13 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_73b.King_3">3. Psammuthis, for 1 year.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_73b.King_4">4. Nepheritês [II], for 4 months.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_73b.King_5">5. Muthis, for 1 year.</p>

	<p class="i1 b0 a0 text-justify">Total, 21 years 4 months.</p>

	<h3 class="text-center" id="Fragment_73c">
		(c)
		<span class="smallcaps">Armenian Version of Eusebius.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Twenty-ninth</span>
		Dynasty consisted of four kings of Mendês.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_73c.King_1">1. Nepherites, for 6 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_73c.King_2">2. Achoris, for 13 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_73c.King_3">3. Psamuthes, for 1 year.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_73c.King_4">4. Muthes, for 1 year.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_73c.King_5">5. Nepheritês [II], for 4 months.</p>

	<p class="i1 b0 a0 text-justify">Total, 21 years and 4 months.</p>

	<h2>
		<a id="p183"><span class="pagenum">p183</span></a>
		Dynasty XXX
	</h2>

	<h3 class="text-center" id="Fragment_74a">
		Fr. 74 (a) (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Africanus.</span>
	</h3>

	<p class="a0 text-justify">
		The Thirtieth Dynasty&#8288;
		<a class="ref" id="ref38" href="#note38
"> 38 </a>
		consisted of three kings of Sebennytus.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_74a.King_1">1. Nectanebês, for 18 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_74a.King_2">2. Teôs, for 2 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_74a.King_3">
		3. Nectanebus,&#8288;
		<a class="ref" id="ref39" href="#note39
"> 39 </a>
		for 18 years.
	</p>

	<p class="i1 b0 a0 text-justify">Total, 38 years.</p>

	<h3 class="text-center" id="Fragment_74b">
		(b)
		<span class="smallcaps">According to Eusebius.</span>
	</h3>

	<p class="a0 text-justify">The Thirtieth Dynasty consisted of three kings of Sebennytus.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_74b.King_1">1. Nectanebês, for 10 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_74b.King_2">2. Teôs, for 2 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_74b.King_3">3. Nectanebus, for 8 years.</p>

	<p class="i1 b0 a0 text-justify">Total, 20 years.</p>

	<h3 class="text-center" id="Fragment_74c">
		<a id="p185"><span class="pagenum">p185</span></a>
		(c)
		<span class="smallcaps">Armenian Version of Eusebius.</span>
	</h3>

	<p class="a0 text-justify">The Thirtieth Dynasty consisted of 3 kings of Sebennytus.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_74c.King_1">1. Nectanebes, for 10 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_74c.King_2">2. Teos, for 2 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_74c.King_3">3. Nectanebus, for 8 years.</p>

	<p class="i1 b0 a0 text-justify">Total, 20 years.</p>

	<h2>Dynasty XXXI</h2>

	<h3 class="text-center" id="Fragment_75a">
		Fr. 75 (a) (
		<i>from Syncellus</i>
		).
		<span class="smallcaps">According to Africanus.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Thirty-first</span>
		Dynasty&#8288;
		<a class="ref" id="ref40" href="#note40
"> 40 </a>
		consisted of three Persian kings.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_75a.King_1">
		1. Ôchus in the twentieth year&#8288;
		<a class="ref" id="ref41" href="#note41
"> 41 </a>
		of his kingship over the Persians became king of Egypt, and ruled for 2 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_75a.King_2">2. Arsês, for 3 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_75a.King_3">3. Darius, for 4 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_75a.King_4">
		Total of years in Book
		<span class="small">III</span>
		, 1050 years&#8288;
		<a class="ref" id="ref42" href="#note42
"> 42 </a>
		[850].
	</p>

	<p class="text-justify">
		Here ends the
		<i>History</i>
		of Manetho.
	</p>

	<h3 class="text-center" id="Fragment_75b">
		<a id="p187"><span class="pagenum">p187</span></a>
		(b)
		<span class="smallcaps">According to Eusebius.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Thirty-first</span>
		Dynasty consisted of three Persian kings.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_75b.King_1">
		1. Ôchus in the twentieth year of his kingship over the Persians conquered Egypt, and ruled for 6 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_75b.King_2">2. His successor was Arsês, son of Ôchus, who reigned for 4 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_75b.King_3">3. Next, Darius reigned for 6 years: he was put to death by Alexander of Macedon.</p>

	<p class="text-justify">These are the contents of the Third Book of Manetho.</p>

	<p class="text-justify">
		Here ends the
		<i>History</i>
		of Manetho.
	</p>

	<h3 class="text-center" id="Fragment_75c">
		(c)
		<span class="smallcaps">Armenian Version of Eusebius.</span>
	</h3>

	<p class="a0 text-justify">
		The
		<span class="whole">Thirty-first</span>
		Dynasty consisted of Persian kings.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_75c.King_1">
		1. Ochus in the twentieth year of his kingship over the Persians seized Egypt and held it for 6 years.
	</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_75c.King_2">2. His successor was Arses , son of Ochus, who reigned for 4 years.</p>

	<p class="i1 b0 a0 text-justify" id="Fragment_75c.King_3">3. Next, Darius reigned for 6 years: he was put to death by Alexander of Macedon.</p>

	<p class="text-justify">
		These are the contents of the Third Book&#8288;
		<a class="ref" id="ref43" href="#note43
"> 43 </a>
		of Manetho.
	</p>

	<hr class="endnotes" />
	<a id="endnotes"></a>
	<h2>The Editor's Notes:</h2>

	<p class="a0 text-justify">
		<a class="note" id="note1" href="#ref1">1</a>
		Dynasty XX
		<i>c.</i>
		1200‑1090
		<span class="small">B.C.</span>
	</p>

	<p class="i1 b0 a0 text-justify">
		Setnakht: Ramessês III
		<i>c.</i>
		1200‑1168: Ramessês IV‑XI
		<i>c.</i>
		1168‑1090. Manetho's 12 kings probably included

		<a id="p153x"></a>
		Ramessês XII and Herihor. The Great Papyrus Harris (time of Ramessês III) describes the anarchy between Dynasties XIX and XX: see Breasted,
		<i>Anc. Rec.</i>
		<span class="small">IV</span>
		§ 398.
	</p>

	<p class="i1 b0 a0 text-justify">
		A revised list of Dynasty XX is given by Newberry in Elliot Smith and Warren Dawson,
		<i>Egyptian Mummies</i>
		, 1924: see also T. E. Peet in
		<i>J. Eg. Arch.</i>
		<span class="small">XIV</span>
		(1928), pp52 f.
		<!--</a>JOURNAL:JEgArch14: PD: Thomas Eric Peet died in 1934-->
	</p>

	<p class="text-justify">
		<a class="note" id="note2" href="#ref2">2</a>
		Dynasty XXI, resident at Tanis,
		<i>c.</i>
		1090‑950
		<span class="small">B.C.</span>
		(a dark period in Egyptian history). For identifications with monumental and other evidence see Meyer,
		<i>Geschichte</i>
		<span class="superscript">2</span>
		,
		<span class="small">II</span>
		.2, p20 n. This Tanite Dynasty overlapped with the Theban Dynasty XX: see the Report of Wenamon, Breasted,
		<i>Anc. Rec.</i>
		<span class="small">IV</span>
		§§ 557‑591;
		<i>C. A. H.</i>
		<span class="small">II</span>
		pp192 ff.
	</p>

	<p class="text-justify">
		<a class="note" id="note3" href="#ref3">3</a>
		For Smendês or Nesbenebded, a local noble of Tanis, who seized the whole Delta and made himself king of Lower Egypt, see
		<i>C. A. H.</i>
		<span class="small">II</span>
		p191;
		<span class="small">III</span>
		pp253 f.
	</p>

	<p class="text-justify">
		<a class="note" id="note4" href="#ref4">4</a>
		In Egyptian, Psusennes is PsukheꜤmnê, "the star appearing in Thebes". In 1939‑40 tombs of certain kings of Dynasties XXI and XXII were excavated by
		P. Montet at Tanis, the most valuable being the intact tomb of Psusennês I, with its rich funerary equipment: in several chambers sarcophagi, vases
		of many kinds, and jewels were found, including the funerary outfit of Amenôphthis (
		<span class="whole">Amon‑em‑apt</span>
		, son of Psusennês I) and the silver sarcophagus of a certain Sesonchôsis (not the first king of Dynasty XII), (
		<i>Ann. Serv. Antiq.</i>
		tt.
		<span class="small">XXXIX</span>
		f., 1939‑40).
	</p>

	<p class="text-justify">
		<a class="note" id="note5" href="#ref5">5</a>
		Actual total of items, 114 years. Eusebius is probably correct with 41 years for 2nd king and 35 years for 7th (Meyer).
	</p>

	<p class="text-justify">
		<a class="note" id="note6" href="#ref6">6</a>
		Dynasty XXII
		<i>c.</i>
		950‑730
		<span class="small">B.C.</span>
		, kings of Libyan origin resident at Bubastis. For identifications with the monumental and other evidence see Meyer,
		<i>Geschichte</i>
		<span class="superscript">2</span>
		,
		<span class="small">II</span>
		.2,

		<a id="p159x"></a>
		p58. The first king, Sesonchôsis (Shishak,
		<i>O. T.</i>
		<a href="https://www.newadvent.org/bible/1ki014.htm#25">
			<i>1 Kings</i>
			xiv.25
		</a>
		,
		<a href="https://www.newadvent.org/bible/2ch012.htm">
			<i>2 Chron.</i>
			xii
		</a>
		) overthrew the Tanites
		<i>c.</i>
		940
		<span class="small">B.C.</span>
		About 930
		<span class="small">B.C.</span>
		he captured Jerusalem and plundered the Temple of Solomon: see Peet,
		<i>Egypt and the Old Testament</i>
		, 1922, pp158 ff. Albright (
		<i>The Archaeology of Palestine and the Bible</i>
		<span class="superscript">2</span>
		, 1932‑3, p199) dates the conquest of Judah by Shishak between 924 and 917
		<span class="small">B.C.</span>
	</p>

	<p class="text-justify">
		<a class="note" id="note7" href="#ref7">7</a>
		The name Osorthôn is another form of Osorchô
		<a href="#Fragment_62.King_2">(Dynasty XXIII No. 2 — Africanus)</a>
		, the Egyptian
		<span class="Egyptian">Osorkon</span>
		.
	</p>

	<p class="text-justify">
		<a class="note" id="note8" href="#ref8">8</a>
		Actual total of items, 116 years.
	</p>

	<p class="text-justify">
		<a class="note" id="note9" href="#ref9">9</a>
		Osorthôs (Aucher, Karst).
	</p>

	<p class="text-justify">
		<a class="note" id="note10" href="#ref10">10</a>
		Dynasty XXIII, resident at Tanis: the records of these kings (dated by Breasted 745‑718
		<span class="small">B.C.</span>
		) are much confused. The name Petubatês (see Fr. 63 for the usual Grecized form Petubastis) represents the Egyptian
		<span class="Egyptian">Pedibaste</span>
		. For King Osorcho (Osorkon III) see the
		<i>stele</i>
		of Piankhi, king of Ethiopia, whose vassal Osorkon became (Breasted,
		<i>Anc. Rec.</i>
		<span class="small">IV</span>
		§§ 807, 811, 872, 878). Psammûs has not been identified.
	</p>

	<p class="text-justify">
		<a class="note" id="note11" href="#ref11">11</a>
		The date of the first Olympic festival was conventionally fixed at 776‑775
		<span class="small">B.C.</span>
	</p>

	<p class="text-justify">
		<a class="note" id="note12" href="#ref12">12</a>
		See G. A. Wainwright,
		<i><span class="whole">Sky‑Religion</span></i>
		, pp35 f.
	</p>

	<p class="text-justify">
		<a class="note" id="note13" href="#ref13">13</a>
		The fact that the name Zêt, occurring in Africanus alone, is wrapped in obscurity, has led Flinders Petrie to suggest ("The Mysterious Zêt" in
		<i>Ancient Egypt</i>
		, 1914, p32) that the Greek letters are a contraction for
		<span lang="el" class="Greek">ζητεῖται</span>
		or other word connected with
		<span lang="el" class="Greek">ζητέω</span>
		, meaning "A question (remains)," or "Query, about 31 years": for 31 years at this time no single ruler seemed to be predominant, and further search
		was needed to settle who should be entered as the king of Egypt. "
		<span class="translit_Greek">Zêt.</span>
		" is found in
		<span class="whole">wall-inscriptions</span>
		at Pompeii: see Diehl,
		<i>Pompeianische Wandinschriften</i>
		, No. 682. The next inscription, No. 683, gives "
		<span class="translit_Greek">Zêtêma</span>
		" in full: a riddle follows.
	</p>

	<p class="text-justify">
		<a class="note" id="note14" href="#ref14">14</a>
		For a demotic romance of the time of Petubastis in one of the Rainer Papyri, see Krall in
		<i>Vienna Oriental Journal</i>
		,
		<span class="small">XVII</span>
		(1903), 1: it is also found in papyri of Paris and Strassburg. Parallels may be drawn between this romance and Manetho;
		<i>cf.</i>
		Spiegelberg,
		<i>Der Sagenkreis des Königs Petubastis</i>
		(Leipzig, 1910), pp8 f.
	</p>

	<p class="a0 text-justify">
		<a class="note" id="note15" href="#ref15">15</a>
		Dynasty XXIV,
		<i>c.</i>
		720-
		<i>c.</i>
		715
		<span class="small">B.C.</span>
		Before Bocchoris, his father Tefnachte of Saïs (Tnephachthus in
		<a href="E/Roman/Texts/Diodorus_Siculus/1C*.html#45.2">
			Diodorus Siculus,
			<span class="small">I</span>
			.45.2
		</a>
		) became the most powerful among the chiefs of the Delta (
		<i>c.</i>
		730‑720
		<span class="small">B.C.</span>
		).
	</p>

	<p class="i1 b0 a0 text-justify">
		For King Bocchoris see Alexandre Moret,
		<i>De Bocchori Rege</i>
		, 1903.
		<i>Cf.</i>
		Diodorus Siculus,
		<span class="small">I</span>
		.
		<a href="
E/Roman/Texts/Diodorus_Siculus/1C*.html#65"> 65 </a>
		,
		<a href="E/Roman/Texts/Diodorus_Siculus/1D*.html#65">79.1</a>
		(law of contract: Bocchoris legislated for commerce), and
		<a href="
E/Roman/Texts/Diodorus_Siculus/1D*.html#94.5"> 94.5 </a>
		. See Breasted,
		<i>Anc. Rec.</i>
		<span class="small">IV</span>
		§ 884: the only extant monuments of King Bocchoris are a few Serapeum
		<i>stelae</i>
		and a wall inscription, which record the burial of an Apis in the sixth year of his reign.
	</p>

	<p class="text-justify">
		<a class="note" id="note16" href="#ref16">16</a>
		See especially the demotic story (8
		<span class="small">B.C.</span>
		) of the prophetic lamb, quoted by Krall in
		<i>Festgaben für Büdinger</i>
		, pp3‑11 (Innsbruck, 1898): the lamb prophesied the conquest and enslavement of Egypt by Assyria, and the removal of her gods to Nineveh.
		<i>Cf.</i>
		<a href="L/Roman/Texts/Aelian/de_Natura_Animalium/12*.html#3" target="Aelian_L">
			Aelian,
			<i>De Nat. Anim.</i>
			<span class="small">XII</span>
			.3
		</a>
		, and
		<a href="E/Roman/Texts/Manetho/History_of_Egypt/2*.html#Fragment_54.232"> Manetho, Fr. 54, §§ 232 ff. </a>
		A reference to Manetho's description of the oracular lamb is preserved in
		<span class="whole">Pseudo-Plutarch</span>
		,
		<i>De proverbiis Alexandrinorum</i>
		(Crusius, 1887), No. 21,
		<span lang="el" class="Greek"> τὸ ἀρνίον σοι λελάληκεν. Αἰγύπτιοι τοῦτο ἀνέγραψαν ὡς ἀνθρωπείᾳ φωνῇ λαλῆσαν </span>
		(or, as in Suidas,
		<span lang="el" class="Greek"> ἐν Αἰγύπτῳ, ὥς φασιν, ἀνθρωπείᾳ φωνῇ ἐλάλησεν </span>
		).
		<span lang="el" class="Greek">
			εὑρέθη δὲ ἔχον
			<a id="p165x"></a>
			βασίλειον δράκοντα ἐπὶ τῆς κεφαλῆς αὐτοῦ πτερωτόν
		</span>
		(Suidas adds,
		<span lang="el" class="Greek">ἔχοντα μῆκος πήχεων δ´</span>
		),
		<span lang="el" class="Greek"> καὶ τῶν βασιλέων τινὶ λελάληκε τὰ μέλλοντα </span>
		("The lamb has spoken to you. Egyptians have recorded a lamb speaking with a human voice [or, in Egypt, they say, a lamb spoke with a human voice].
		It was found to have upon its head a royal winged serpent [4 cubits in length]; and it foretold the future to one of the kings.") See Meyer,
		<i>Ein neues Bruchstück Manethos über das Lamm des Bokchoris</i>
		in
		<a href="https://babel.hathitrust.org/cgi/pt?id=inu.30000104056365&view=1up&seq=167" target="offsite">
			<i>Zeitschr. für Ägypt. Sprache</i>
			,
			<span class="small">XLVI</span>
			(1910), pp135 f.
		</a>
		: he points out the Egyptian character of the description — the royal
		<i>uraeus</i>
		, four cubits long, with ostrich feathers on both sides.
		<i>Cf.</i>
		Weill,
		<i>La fin du moyen empire égyptien</i>
		, pp116, 622.
	</p>

	<p class="text-justify">
		<a class="note" id="note17" href="#ref17">17</a>
		Here some essential words have been omitted from the text.
	</p>

	<p class="text-justify">
		<a class="note" id="note18" href="#ref18">18</a>
		Contrast the "6 years" assigned to Bocchoris by Africanus
		<a href="#Fragment_64">(Fr. 64)</a>
		: it is suspicious that Eusebius should give 44 years for each of Dynasties XXIII, XXIV, and XXV.
	</p>

	<p class="text-justify">
		<a class="note" id="note19" href="#ref19">19</a>
		Dynasty XXV (Ethiopian),
		<i>c.</i>
		715‑663
		<span class="small">B.C.</span>
		: the three kings are Shabaka, Shabatka, and Taharka.
	</p>

	<p class="a0 text-justify">
		<a class="note" id="note20" href="#ref20">20</a>
		<i>Cf.</i>
		<a href="
E/Roman/Texts/Herodotus/2B*.html#137">
			Herodotus,
			<span class="small">II</span>
			.137
		</a>
		(Sabacôs).
	</p>

	<p class="i1 b0 a0 text-justify">
		Shabaka had a great reputation for mildness and kind rule: Petrie (
		<i>Religious Life</i>
		, 1924, pp193 f.) explains that

		<a id="p167x"></a>
		Bochchoris was treated like a mock king in the ancient festival, the burning ceremonially destroying his kingly character. See Wainwright,
		<i><span class="whole">Sky‑Religion</span></i>
		, pp38 ff.
	</p>

	<p class="text-justify">
		<a class="note" id="note21" href="#ref21">21</a>
		Taharka: in
		<a href="https://www.newadvent.org/bible/2ki019.htm#9">
			<i>O. T. 2 Kings</i>
			xix.9
		</a>
		, Tirhakah, King of Ethiopia. See Peet,
		<i>Egypt and the Old Testament</i>
		, 1922, pp175 ff.
	</p>

	<p class="a0 text-justify">
		<a class="note" id="note22" href="#ref22">22</a>
		Dynasty XXVI, 663‑525
		<span class="small">B.C.</span>
	</p>

	<p class="i1 b0 a0 text-justify">
		Saïs (see
		<a href="E/Roman/Texts/Manetho/History_of_Egypt/2*.html#note43">p91 n. 4</a>
		), now grown in power, with foreign aid asserts independence, and rules over Egypt.
		<a href="E/Roman/Texts/Herodotus/2B*.html#151" target="Herodotus_E">
			Herodotus,
			<span class="small">II</span>
			.151 ff.
		</a>
		, supports the version of Africanus but differs in (5) Necôs 16 years
		<a href="E/Roman/Texts/Herodotus/2B*.html#159" target="Herodotus_E"> (Ch. 159) </a>
		, and (7) Apries 25 years
		<a href="E/Roman/Texts/Herodotus/2B*.html#161" target="Herodotus_E"> (Ch. 161) </a>
		(22 years in
		<a href="E/Roman/Texts/Diodorus_Siculus/1C*.html#68">
			Diod. Sic.
			<span class="small">I</span>
			.68
		</a>
		). Eusebius
		<a href="#Fragment_69a">(Fr. 69)</a>
		has preserved the Ethiopian Ammeris (
		<i>i.e.</i>
		Tanutamûn) at the beginning of Dynasty XXVI: so in the
		<a href="
E/Roman/Texts/Manetho/Appendices/4*.html#King_78">
			<i>Book of Sothis</i>
			(App.
			<span class="small">IV</span>
			), No. 78
		</a>
		, Amaês, 38 years.
	</p>

	<p class="text-justify">
		<a class="note" id="note23" href="#ref23">23</a>
		Psammêtichus I (Psametik) = Psammêtk, "man, or vendor, of mixed wine,"
		<i>cf.</i>
		<a href="E/Roman/Texts/Herodotus/2B*.html#151">
			Herodotus,
			<span class="small">II</span>
			.151
		</a>
		(Griffith in
		<i>Catalogue of Demotic Papyri in the Rylands Library</i>
		,
		<span class="small">III</span>
		pp44, 201). See
		<a href="
E/Roman/Texts/Diodorus_Siculus/1C*.html#66">
			Diod. Sic.
			<span class="small">I</span>
			.66, 67
		</a>
		.
	</p>

	<p class="text-justify">
		<a class="note" id="note24" href="#ref24">24</a>
		Nechaô is an old name, an Egyptian plural form, "belonging to the
		<span class="Egyptian">ka</span>
		s" or bulls (Apis and Mnevis),
		<a href="
https://www.newadvent.org/bible/2ch036.htm#2">
			<i>O. T. 2 Chron.</i>
			xxxvi.2‑4
		</a>
		.
		<!-- sic: uuu? -->
		Battle of Megiddo, 609
		<span class="small">B.C.</span>
		: defeat and death of King Josiah by Necho (
		<i>2 Kings</i>
		<a href="https://www.newadvent.org/bible/2ki023.htm#29">xxiii.29</a>
		,
		<a href="https://www.newadvent.org/bible/2ki024.htm#1">xxiv.1</a>
		,
		<a href="https://www.newadvent.org/bible/2ki025.htm#26">xxv.26</a>
		). Johoahaz, son of Josiah, was led captive into Egypt. For these events, see Peet,
		<i>Egypt and the Old Testament</i>
		, 1922, p181 ff.
	</p>

	<p class="text-justify">
		<a class="note" id="note25" href="#ref25">25</a>
		Uaphris or Apries, in Egyptian
		<span class="Egyptian">WaḥibprêꜤ</span>
		, the Hophra of the
		<i>O. T.</i>
		Capture of Jerusalem by Nebuchadnezzar, king of Babylon, 587
		<span class="small">B.C.</span>
		See Peet,
		<i>op. cit.</i>
		pp185 ff.
	</p>

	<p class="a0 text-justify">
		<a class="note" id="note26" href="#ref26">26</a>
		Amôsis should be Amasis (
		<span class="Egyptian">Iaʽḥmase</span>
		), the general of Uaphris or Apries: Amasis was first made
		<span class="whole">co‑regent</span>
		with Apries (569
		<span class="small">B.C.</span>
		), then two years later, after a battle, he became sole monarch.
	</p>

	<p class="i1 b0 a0 text-justify">
		On the character of Amasis, "the darling of the people and of popular legend," see the demotic papyrus translated by Spiegelberg,
		<i>The Credibility of Herodotus' Account of Egypt</i>
		(trans. Blackman), pp29 f.
	</p>

	<p class="text-justify">
		<a class="note" id="note27" href="#ref27">27</a>
		Psammêtichus III, defeated by Cambyses the Persian, 525
		<span class="small">B.C.</span>
		The three Psametiks are differentiated as Psammêtichus, Psammuthis, and Psammecheritês (
		<i>cf.</i>
		<a href="E/Roman/Texts/Manetho/History_of_Egypt/1*.html#Fragment_20.King_1"> Fr. 20, n. 1 </a>
		).
	</p>

	<p class="text-justify">
		<a class="note" id="note28" href="#ref28">28</a>
		If 44 years are assigned to (5) Psammêtichus, the actual total is 167, as in the Armenian Version.
	</p>

	<p class="a0 text-justify">
		<a class="note" id="note29" href="#ref29">29</a>
		Persian Domination, 525‑332
		<span class="small">B.C.</span>
	</p>

	<p class="i1 b0 a0 text-justify">
		Dynasty XXVII, 525‑404
		<span class="small">B.C.</span>
		After conquering Egypt, Cambyses reigned three years, 525/4‑523/2
		<span class="small">B.C.</span>
		See
		<i>Cambridge Ancient History</i>
		,
		<span class="small">VI</span>
		pp137 ff.
	</p>

	<p class="i1 b0 a0 text-justify">
		An interesting papyrus fragment (P. Baden 4 No. 59: 5c
		<span class="small">A.D.</span>
		— see the facsimile in Plate
		<span class="small">III</span>
		<!--</a>MANETHO-->
		) contains this Dynasty in a form which differs in some respects from the versions given by Africanus and Eusebius. Like Eusebius the papyrus inserts
		the Magi, and calls Artaxerxês "the
		<span class="whole">Long-handed</span>
		" and his successor Xerxês "the Second": as in Africanus, Darius is "son of Hysta[spês]" and Xerxês is "the Great". To Cambysês the papyrus

		<a id="p175x"></a>
		gives 6½ years: to the Magi, 7½ months. The conquest of Egypt is assigned to the fourth year of Cambysês' reign, and it was in that year that the campaign
		began. Artaxerxês is described as "the son" (
		<i>i.e.</i>
		of Xerxês); while Darius II is correctly named "the Illegitimate". See Bilabel's note on the papyrus (
		<i>l.c.</i>
		).
	</p>

	<p class="text-justify">
		<a class="note" id="note30" href="#ref30">30</a>
		Artabanus, vizier, and murderer of Xerxês I, 465
		<span class="small">B.C.</span>
	</p>

	<p class="text-justify">
		<a class="note" id="note31" href="#ref31">31</a>
		Artaxerxês I, "Long-hand" ("whether from a physical peculiarity or political capacity is uncertain,"
		<i>C. A. H.</i>
		<span class="small">VI</span>
		p2), 465‑424
		<span class="small">B.C.</span>
	</p>

	<p class="text-justify">
		<a class="note" id="note32" href="#ref32">32</a>
		Xerxês II was murdered by his
		<span class="whole">half-brother</span>
		Sogdianus, who was in turn defeated and put to death in 423
		<span class="small">B.C.</span>
		by another
		<span class="whole">half-brother</span>
		Ochus (Darius II, nicknamed Nothos, "the Illegitimate
		<!-- the printed text has a comma here, in addition to the one after the parenthesis -->
		"), not "son of Xerxês". Darius II died in 404
		<span class="small">B.C.</span>
	</p>

	<p class="text-justify">
		<a class="note" id="note33" href="#ref33">33</a>
		The Armenian text has "15th".
	</p>

	<p class="a0 text-justify">
		<a class="note" id="note34" href="#ref34">34</a>
		Dynasty XXVIII‑XXX, Egyptian kings: 404‑341
		<span class="small">B.C.</span>
		— a brief period of independence.
	</p>

	<p class="i1 b0 a0 text-justify">
		Dynasty XXVIII, Amyrtaeus of Saïs, 404‑399
		<span class="small">B.C.</span>
		: no Egyptian king of this name is known on the monuments. See Werner Schur in
		<i>Klio</i>
		,
		<span class="small">XX</span>
		1926, pp273 ff.
	</p>

	<p class="text-justify">
		<a class="note" id="note35" href="#ref35">35</a>
		6 years (Aucher, Karst): 6 months (Müller). The Armenian words for "month" and "year" are so similar that corruption is likely (Margoliouth).
	</p>

	<p class="text-justify">
		<a class="note" id="note36" href="#ref36">36</a>
		Dynasty XXIX, resident at Mendês in E. Delta (Baedeker
		<span class="superscript">8</span>
		, p183), 398‑381
		<span class="small">B.C.</span>
		On the sequence of these rulers see H. R. Hall in
		<i>C. A. H.</i>
		<span class="small">VI</span>
		p145 and n.
	</p>

	<p class="text-justify">
		<a class="note" id="note37" href="#ref37">37</a>
		Muthis or Muthês was a usurper, hence the number of kings is given as four. He is unknown to the Monuments. Aucher suggests that the name Muthis may
		be merely a repetition, curtailed, of the name Psammuthis.
	</p>

	<p class="a0 text-justify">
		<a class="note" id="note38" href="#ref38">38</a>
		Dynasty XXX, resident at Sebennytus (see
		<a href="E/Roman/Texts/Manetho/Introduction*.html#note9" target="princeps"> Intro. p. xiii </a>
		),
		<a class="correction">º</a>
		380‑343
		<span class="small">B.C.</span>
		: Nectanebês I (Nekhtenêbef), 380‑363, Teôs or Tachôs (Zedḥôr), 362‑361, Nectanebus II (Nekhthoreḥbe), 360‑343. See E. Meyer,
		<i>Zur Geschichte der 30. Dynastie</i>
		in
		<i>Zeitschrift für Ägyptische Sprache</i>
		, Bd. 67, pp68‑70.
	</p>

	<p class="i1 b0 a0 text-justify">
		It is certain that Manetho knew only 30 dynasties and ended with the conquest of Egypt by Ôchus: see Unger,

		<a id="p183x"></a>
		<i>Chronol. des Manetho</i>
		, pp334 f. Under Olymp. 107 (
		<i>i.e.</i>
		352‑348
		<span class="small">B.C.</span>
		), Jerome (
		<i>Chronicle</i>
		, p203 Fotheringham, p121 Helm) notes:
		<span lang="la" class="Latin">
			Ochus Aegyptum tenuit, Nectanebo in Aethiopiam pulso, in quo Aegyptiorum regnum destructum est. Huc usque Manethos.
		</span>
		("Ochus possessed Egypt, when he had driven Nectanebô into Ethiopia: thereby the kingship of the Egyptians was destroyed. So far Manetho [or, Here
		ends the History of Manetho]").
	</p>

	<p class="text-justify">
		<a class="note" id="note39" href="#ref39">39</a>
		For the later renown of this king as magician in popular legend, see the
		<i>Dream of Nectonabôs</i>
		, in Wilcken,
		<i>Urkunden der Ptolemäerzeit</i>
		,
		<span class="small">I</span>
		pp369 ff.
	</p>

	<p class="text-justify">
		<a class="note" id="note40" href="#ref40">40</a>
		Dynasty XXXI is not due to Manetho, but was added later to preserve the continuity, — perhaps with the use of material furnished by Manetho himself.
		No total is given by Africanus and Eusebius, — a further proof that the whole Dynasty is additional. In another passage (p486) Syncellus states: "Manetho
		wrote an account of the 31

		<a id="p185x"></a>
		(an error for 30) Dynasties of Egypt down to the time of Ôchus and Nectanebô": although mistaken about the number of the Dynasties, Syncellus is in
		the main correct.
	</p>

	<p class="text-justify">
		<a class="note" id="note41" href="#ref41">41</a>
		The 20th year of the kingship of Ôchus was 343
		<span class="small">B.C.</span>
		: the phrase is parallel to that used in
		<a href="#Fragment_70.King_1">Fr. 70, 1</a>
		, and appears therefore to be Manetho's expression.
	</p>

	<p class="text-justify">
		<a class="note" id="note42" href="#ref42">42</a>
		The totals given by Africanus in Book III are 135, 130, 120, 89, 6, 40, 150+, 124+, 6, 20+, 38,
		<i>i.e.</i>
		858+ years. To reduce to 850, assign 116 years to Dynasty XXII (as the items add), and 120 to Dynasty XXVII (Meyer).
	</p>

	<p class="text-justify">
		<a
			class="note"
			id="note43"
			href="E/Roman/Texts/Manetho/History_of_Egypt/3*.html#ref43"
			onmouseover="return Ebox(INARRAY,BackRef,WIDTH,175)"
			onmouseout="nd();"
		>
			43
		</a>
		Third Book (Aucher, Karst): Second Book (Müller). The Armenian words for "second" and "third" have similar forms; hence the corruption (Margoliouth).
	</p>
</Layout>
