---
import Layout from "@layouts/Layout.astro";

---
<Layout title="Aegyptiaca book 1">
<h2>Manetho</h2>

<div class="mynote">
	As elsewhere onsite, where hieroglyphs are bracketed <span class="bold emend">{<span
			class="hieroglyphic">☥𓅱𓋴</span>}</span>, they are my additions to the original
	text.
</div>


<h2 class="start">Book I</h2>

<h4 class="text-center" id="Fragment_1">
	Fr. 1 (<i>from the Armenian Version of Eusebius, Chronica</i>).<br><span class="smallcaps">Dynasties of Gods, Demigods, and Spirits of the Dead.</span>
</h4>


<p class="text-justify">
	From the <i>Egyptian History</i> of Manetho, who composed his account in three books.
	These deal with the Gods, the Demigods, the Spirits of the Dead, and the mortal kings
	who ruled Egypt down to Darius, king of the Persians.
</p>

<p class="text-justify" id="Fragment_1.1">
	1. The first man (or god) in Egypt is Hephaestus,&#8288;<a class="ref" id="ref1" href="#note1">1</a> who is also renowned among the Egyptians as the discoverer of fire. His son, Helios (the Sun), was succeeded by Sôsis; then follow, in turn, Cronos, Osiris, Typhon, brother of Osiris, and lastly Orus, son of Osiris and Isis. These were the first to hold sway in Egypt. Thereafter, the kingship passed from one to another in unbroken succession down to Bydis (Bites)&#8288;<a class="ref" id="ref2" href="#note2">2</a> through 13,900 years. The year I take, however, to be a lunar one, consisting, that is, of 30 days:
	what we now call a month the Egyptians used formerly to style a year.<a class="ref" id="ref3" href="#note3">3</a>
</p>

<p class="text-justify" id="Fragment_1.2">
	2. After the Gods, Demigods reigned for 1255 years,&#8288;<a class="ref" id="ref4" href="#note4">4</a> and again another line of kings held sway for 1817 years: then came thirty more kings of Memphis,&#8288;<a class="ref" id="ref5" href="#note5">5</a> reigning for 1790
	years; and then again ten kings of This, reigning for 350 years.
</p>

<p class="text-justify" id="Fragment_1.3">
	3. There followed the rule of Spirits of the Dead and Demigods,&#8288;<a class="ref" id="ref6"
		href="#note6">6</a> for 5813 years.
</p>

<p class="text-justify" id="Fragment_1.4">
	4. The total [of the last five groups] amounts to 11,000 years,&#8288;<a class="ref" id="ref7"
		href="#note7">7</a> these however being
	lunar periods, or months. But, in truth, the whole rule of
	which the Egyptians tell — the rule of Gods, Demigods, and Spirits of the Dead — is
	reckoned to have comprised in all 24,900 lunar years, which make 2206&#8288;<a class="ref"
		id="ref8" href="#note8">8</a> solar years.
</p>

<p class="text-justify" id="Fragment_1.5">
	5. Now, if you care to compare these figures with Hebrew chronology, you will find that
	they are in perfect harmony. Egypt is called Mestraïm&#8288;<a class="ref" id="ref9"
		href="#note9">9</a> by the Hebrews; and
	Mestraïm lived <span class="emend">&#60;not&#62;</span> long after the Flood. For after
	the Flood, Cham (or Ham), son of Noah, begat Aegyptus or Mestraïm, who was the first to
	set out to establish himself in Egypt, at the time when the tribes began to disperse
	this way and that. Now the whole time from Adam to the Flood was, according to the
	Hebrews, 2242 years.
</p>

<p class="text-justify" id="Fragment_1.6">
	6. But, since the Egyptians claim by a sort of prerogative of antiquity that they have,
	before the Flood, a line of Gods, Demigods, and Spirits of the Dead, who reigned for
	more than 20,000 years, it clearly follows that these years should be reckoned
	as the same number of months as the
	years recorded by the Hebrews: that is, that all the months contained in the Hebrew
	record of years, should be reckoned as so many lunar years of the Egyptian calculation,
	in accordance with the total length of time reckoned from the creation of man in the
	beginning down to Mestraïm. Mestraïm was indeed the founder of the Egyptian race; and
	from him the first Egyptian dynasty must be held to spring.
</p>

<p class="text-justify" id="Fragment_1.7">
	7. But if the number of years is still in excess, it must be supposed that perhaps
	several Egyptian kings ruled at one and the same time; for they say that the rulers were
	kings of This, of Memphis, of Saïs, of Ethiopia, and of other places at the same time.
	It seems, moreover, that different kings held sway in different regions, and that each
	dynasty was confined to its own nome: thus it was not a succession of kings occupying
	the throne one after the other, but several kings reigning at the same time in different
	regions.&#8288;<a class="ref" id="ref10" href="#note10">10</a> Hence arose the
	great total number of years. But let us leave this question and take up in detail the
	chronology of Egyptian history
</p>

<p class="text-sm text-center">(Continued in <a href="#Fragment_7b">Fr. 7(<i>b</i>)</a>.)</p>

<h4 class="text-center" id="Fragment_2">Fr. 2 (<i>from Syncellus</i>)</h4>
<p class="text-justify">
	<a id="Fragment_2.1"></a>
	Thereafter&#8288;<a class="ref" id="ref11" href="#note11">11</a> Manetho tells also
	of five Egyptian tribes which formed thirty dynasties, comprising those whom they call
	Gods, Demigods, Spirits of the Dead, and mortal men. <a id="Fragment_2.2"></a>Of these
	Eusebius, "son" of Pamphilus, gives the following account in his <i>Chronica</i>:
	"Concerning Gods, Demigods, Spirits of the Dead, and mortal kings, the Egyptians have a
	long series of foolish myths. <a id="Fragment_2.3"></a>The most ancient Egyptian kings,
	indeed, alleged that their years were lunar years consisting of thirty days, whereas the
	Demigods who succeeded them gave the name <span class="translit_Greek">hóroi</span> to
	years which were three months long." <a id="Fragment_2.4"></a>So Eusebius wrote with
	good reason, criticizing the Egyptians for their foolish talk; and in my opinion
	Panodôrus&#8288;<a class="ref" id="ref12" href="#note12">12</a> is wrong in finding
	fault with Eusebius here, on the ground that Eusebius failed to explain the meaning of
	the historians, while Panodôrus thinks he himself succeeds by a somewhat novel method,
	as follows:
</p>
<p class="text-justify">
	<a id="Fragment_2.5"></a>"From the creation of Adam, indeed, down to Enoch, <i>i.e.</i>
	to the general cosmic year 1282, the number of days was known in neither month nor year;
	but the Egregori (or 'Watchers'),&#8288;<a class="ref" id="ref13" href="#note13">13</a> who had
	descended to earth in the general
	cosmic year 1000, held converse with men, and taught them that the orbits of the two
	luminaries, being marked by the twelve signs of the Zodiac, are composed of 360 parts.
	<a id="Fragment_2.6"></a>Observing the moon's orbit which is nearer the earth, smaller,
	and more conspicuous, as it has a period of thirty days, men decided that it should be
	reckoned as a year, since the orbit of the sun also was filled by the same twelve signs
	of the Zodiac with an equal number of parts, 360. <a id="Fragment_2.7"></a>So it came to
	pass that the reigns of the Gods who ruled among them for six generations in six
	dynasties were reckoned in years each consisting of a lunar cycle of thirty days. <a
		id="Fragment_2.8"></a>The total in lunar years is 11,985, or 969 solar years. <a
		id="Fragment_2.9"></a>By adding these to the 1058&#8288;<a class="ref" id="ref14"
		href="#note14">14</a> solar years of the
	period before their reign, they reach the sum total of 2027 years." <a
		id="Fragment_2.10"></a>Similarly, in the two dynasties of nine Demigods, — these
	being regarded as real, although they never existed, — Panodôrus strives to make up 214½
	years out of 858 <span class="translit_Greek">hóroi</span> (periods of three months) or
	<span class="translit_Greek">tropoi</span>, so that with the 969 years they make, he
	says, 1183½, and these, when added to the 1058 years from the time of Adam to the reign
	of the Gods, complete a total of 2242 years down to the Flood.
</p>

<p class="text-justify">
	Thus Panodôrus exerts himself to show that the Egyptian writings against God and against
	our divinely inspired Scriptures are really in agreement with them. <a id="Fragment_2.11"></a>In
	this he criticizes Eusebius, not understanding that these
	arguments of his, which are incapable of proof or of reasoning, have been proved
	against himself and against truth,
	since indeed . . . neither Babylon nor Chaldea was ruled by kings before the Flood, nor
	was Egypt before Mestrem, and in my opinion it was not even inhabited before that time.
	. . .
</p>


<h4 class="text-center" id="Fragment_3">	Fr. 3 (<i>from Syncellus</i>)</h4>

<h4 class="text-center">	On the Antiquity of Egypt</h4>


	<p class="text-justify">
		Manetho of Sebennytus, chief priest of the accursed temples of Egypt, who lived later
		than Bêrôssos in the time of Ptolemy Philadelphus, writes to this Ptolemy, with the same
		utterance of lies as Bêrôssos, concerning six dynasties or six gods who never existed:
		these, he says, reigned for 11,985 years. The first of them, the god Hêphaestus, was
		king for 9000 years. Now some of our historians, reckoning these 9000 years as so many
		lunar months, and dividing the number of days in these 9000 lunar months by the 365 days
		in a year, find a total of 727¾ years. They imagine that they have attained a striking
		result, but one must rather say that it is a ludicrous falsehood which they have tried
		to pit against Truth.
	</p>


<h4 class="text-center">
	The First Dynasty of Egypt
</h4>

<ol>
<li id="Fragment_3.King_1">	1. Hêphaestus reigned for 727¾ years.</li>
<li id="Fragment_3.King_2">	2. Hêlios (the Sun), son of Hêphaestus, for 80⅙ years.</li>
<li id="Fragment_3.King_3">	3. Agathodaemôn, for 56 <span class="fraction"><span class="top">7</span>&frasl;<span class="bottom">12</span></span> years.</li>
<li id="Fragment_3.King_4">4. Cronos, for 40½ years.</li>
<li id="Fragment_3.King_5">	5. Osiris and Isis, for 35 years.</li>
<li id="Fragment_3.King_6">	6. Typhon, for 29 years.<a class="ref" id="ref15" href="#note15">15</a></li>

<li><h4 class="text-center">Demigods:</h4></li>

<li id="Fragment_3.King_7">	7. Ôrus, for 25 years.</li>
<li id="Fragment_3.King_8">	8. Arês, for 23 years.</li>
<li id="Fragment_3.King_9">	9. Anubis, for 17 years.</li>
<li id="Fragment_3.King_10">	10. Hêraclês, for 15 years.</li>
<li id="Fragment_3.King_11">	11. Apollô, for 25 years.</li>
<li id="Fragment_3.King_12">	12. Ammôn, for 30 years.</li>
<li id="Fragment_3.King_13">	13. Tithoês,&#8288;<a class="ref" id="ref16" href="#note16">16</a> for 27 years.</li>
<li id="Fragment_3.King_14">	14. Sôsus, for 32 years.</li>
<li id="Fragment_3.King_15">	15 Zeus, for 20 years.<a class="ref" id="ref17" href="#note17">17</a></li>
</ol>
<h4 class="text-center" id="Fragment_4">Fr. 4&#8288;<a class="ref" id="ref18" href="#note18">18</a> (<i>from <i>Excerpta Latina Barbari</i></i>)
</h4>

<p class="text-justify" id="Fragment_4.antiquity_of_Egypt">
	In the kingdom of Egypt we have the oldest of all kingdoms, and we are minded to record
	its beginning, as it is given by Manetho. First, I shall put down as follows the reigns
	of the Gods, as recorded by the Egyptians. Some say that the god Hêphaestus reigned in
	Egypt for 680 years; after him, Sol [Hêlios, the Sun], son of Hêphaestus, for 77 years: next, Sosinosiris [Sôsis and
	Osiris], for 320 years: then Orus the Ruler, for 28 years; and after him, Typhon, for 45
	years. Total for the reigns of the Gods, 1550 years.<a class="ref" id="ref19"
		href="#note19">19</a>
</p>
<p class="text-justify" id="Fragment_4.Demigods">
	Next come the reigns of the Demigods, as follows first, Anubes&#8288;<a class="ref" id="ref20" href="#note20">20</a> for 83 years; then
	after him, Amusis, some say, was king. About him, Apiôn the grammarian,&#8288;<a class="ref" id="ref21" href="#note21">21</a> who composed a history of Egypt, explained that he lived in the time of Inachus&#8288;<a class="ref" id="ref22" href="#note22">22</a> who was king at the founding of Argos . . . for 67 years.<a class="ref" id="ref23" href="#note23">23</a>
</p>

<ol class="roman">
	<li>I. Thereafter he [Manetho] gave an account of the kings who were Spirits of the Dead,
	calling them also Demigods, . . . who reigned for 2100 years: he called them "very
	brave" (Heroes).</li>
<li>II. Mineus and seven of his descendants reigned for 253 years.&#8288;<a class="ref" id="ref24" href="#note24">24</a></li>
		
<li>III. Bochus and eight other kings reigned for 302 years.</li>
<li>IV. Necherocheus and seven other kings for 214 years.</li>
<li>V. Similarly seventeen other kings for 277 years.</li>
<li>VI. Similarly <span class="whole">twenty‑one</span> other kings for 258 years.</li>
<li>VII. Othoi and seven other kings for 203 years.</li>
<li>VIII. Similarly fourteen other kings for 140 years.</li>
<li>IX. Similarly twenty other kings for 409 years.</li>
<li>X. Similarly seven other kings for 204 years.</li>
</ol>

<p class="text-justify py-4">Here ends the First Book of Manetho, which contains a period of 2100 years.<a class="ref" id="ref25" href="#note25">25</a></p>

<ol class="roman">
	<li>XI.&#8288;<a class="ref" id="ref26" href="#note26">26</a> A dynasty of kings of Diospolis, for 60 years.</li>
	<li>XII. A dynasty of kings of Bubastus, for 153 years.</li>
	<li>XIII. A dynasty of kings of Tanis, for 184 years.</li>
	
	<li>XIV. A dynasty of kings of Sebennytus, for 224 years.</li>
	<li>XV. A dynasty of kings of Memphis, for 318 years.</li>
	<li>XVI. A dynasty of kings of Hêliopolis, for 221 years.</li>
	<li>XVII. A dynasty of kings of Hermupolis, for 260 years.</li>
</ol>	

<p class="text-justify">
	The Second Book continues the record down to the Seventeenth Dynasty, and comprises 1520 years.&#8288;<a class="ref" id="ref27" href="#note27">27</a> These are the	Egyptian dynasties.
</p>

<h4 class="text-center" id="Fragment_5">
	Fr. 5 (<i>from the Chronicle of Malalas</i><!-- MALALAS -->)
</h4>

<p class="text-justify">[After recording the reigns of Hêphaestus (1680 days), Hêlios (4477&#8288;<a class="ref" id="ref28" href="#note28">28</a> days), Sôsis, Osiris, Hôrus, and Thulis, Malalas adds:]
</p>

<p class="text-justify">
	These ancient reigns of early Egyptian kings are recorded by Manetho, and in his writings it is <span class="whole">stated</span> that the names of the five planets are given in other forms: Cronos [Saturn] they used to call the shining star; Zeus [Jupiter], the radiant star [Phaethôn]; Arês [Mars], the fiery star; Aphroditê [Venus], the fairest; Hermês [Mercury], the glittering star. These names were later explained by the wise Sôtatês [? Sôtadês or Palaephatus].<a class="ref" id="ref29" href="#note29">29</a>
</p>

<p class="text-justify">
	The first king of Egypt belonged to the tribe of Cham [Ham], Noah's son; he was Pharaôh, who was also called Narachô.
</p>


<p>Now, the ancient reigns in Egypt before King Narachô were set forth by the wise Manetho,
	as has already been mentioned.
</p>

<h4 class="text-center" id="Fragment_6">Fr. 6 (<i>from Syncellus</i>)</h4>

<p class="text-justify">
	Since a knowledge of the periods of the Egyptian dynasties from Mestraïm&#8288;<a class="ref"
		id="ref30" href="#note30">30</a> down to Nectanabô&#8288;<a class="ref" id="ref31" href="#note31">31</a> is on many
	occasions needful to those who occupy themselves with chronological investigations, and since the dynasties taken from Manetho's <i>History</i> are set forth by ecclesiastical historians with discrepancies in respect both to the names of the kings and the length
	of their reigns, and also as to who was king when Joseph was governor of Egypt, and in whose reign thereafter Moses, — he who saw God, — led the Hebrews in their exodus from Egypt, I have judged it necessary to select two of the most famous recensions and to set
	them side by side — I mean the accounts of Africanus and of the later Eusebius, the so‑called "son" of Pamphilus, — so that with proper application one may apprehend the opinion which approaches nearest to Scriptural truth. 
	It must, above all, be strictly understood that the Africanus increases by 20 years the period from Adam to the Flood, and instead of 2242 years he makes it out to be 2262 years, which appears to be incorrect. On the other hand, Eusebius keeps to the sound
	reckoning of 2242 years in agreement with Scripture. In regard to the period from the Flood down to Abraham and Moses, both have gone astray by 130 years belonging to the second Caïnan, son of
	Arphaxad,&#8288;<a class="ref" id="ref32" href="#note32">32</a> even one generation, the thirteenth, from Adam, as it is recorded by the divine evangelist Luke.&#8288;<a class="ref" id="ref33" href="#note33">33</a> But Africanus, in the 20 years which he added between Adam and the Flood, anticipated this; and in the period of Caïnan and his successors, only 110 years remain. Hence, down to the first
	year of Abraham he reckoned 3202 years; but Eusebius, completely omitting those 130 years, gave 3184 years&#8288;<a class="ref" id="ref34" href="#note34">34</a> as far as Abraham's first year.
</p>


<h2 class="text-center my-16" id="Dynasty_I">Dynasty I</h2>

<h4 class="text-center" id="Fragment_6.Africanus"><span class="smallcaps">According to Africanus</span></h4>

<p class="text-justify">Here is the account which Africanus gives of the dynasties of Egypt pamphlet the Flood].</p>

<ol>
	<li id="Fragment_6.King_1">	1. In succession to the spirits of the Dead, the Demigods, — the first royal house&#8288;<a class="ref" id="ref35" href="#note35">35</a> numbers eight kings, the first of whom Mênês&#8288;<a class="ref" id="ref36" href="#note36">36</a> of This&#8288;<a class="ref" id="ref37" href="#note37">37</a> reigned for 62 years. He was carried off by a hippopotamus&#8288;<a class="ref" id="ref38" href="#note38">38</a> and perished.</li>
<li id="Fragment_6.King_2">	2. Athôthis, his son, for 57 years. He built the palace at Memphis;&#8288;<a class="ref" id="ref39" href="#note39">39</a> and his anatomical
	works&#8288;<a class="ref" id="ref40" href="#note40">40</a> are extant, for he was a physician.</li>
<li id="Fragment_6.King_3">	3. Kenkenês, his son, for 31 years.</li>
<li id="Fragment_6.King_4">	4. Uenephês, his son, for 23 years. In his reign a great famine seized Egypt. He erected the pyramids near Kôchômê.&#8288;<a class="ref" id="ref41" href="#note41">41</a></li>
<li id="Fragment_6.King_5">	5. Usaphaidos,&#8288;<a class="ref" id="ref42a" href="#note42">42a</a> his son, for 20 years.</li>
<li id="Fragment_6.King_6">	6. Miebidos,&#8288;<a class="ref" id="ref42b" href="#note42">42b</a> his son, for 26 years.</li>
<li id="Fragment_6.King_7">	7. Semempsês, his son, for 18 years. In his reign a very great calamity befell Egypt.</li>
<li id="Fragment_6.King_8">	8. Biênechês, his son, for 26 years.</li>
<li class="pt-2">	Total, 253 years.<a class="ref" id="ref43" href="#note43">43</a></li>
</ol>
<p class="text-justify">Eusebius also sets out the details of the First Dynasty in much the same way as Africanus.</p>

<h4 class="text-center" id="Fragment_7a">
	
	Fr. 7 (a) (<i>from Syncellus</i>). <span class="smallcaps">According to
		Eusebius.</span>&#8288;<a class="ref" id="ref44" href="#note44">44</a>
</h4>

<p class="text-justify">Here is the account which Eusebius gives of the Egyptian dynasties [after the Flood].</p>

<p class="text-justify">
	In succession to the Spirits of the Dead and the Demigods, the Egyptians reckon the
	First Dynasty to consist of eight kings. Among these was Mênês, whose rule in Egypt was
	illustrious. I shall record the rulers of each race from the time of Mênês; their
	succession is as follows:
</p>
<ol>
	<li id="Fragment_7a.King_1">
		1. Mênês of This, with his [17, or in another copy] 7 descendants, — the king called Mên by Herodotus, — reigned for 60 years. He made a foreign expedition and won renown, but was carried off by a hippopotamus.</li>
	<li id="Fragment_7a.King_2">2. Athôthis, his son, ruled for 27 years. He built the palace at Memphis; he practised medicine and wrote anatomical books.</li>
	<li id="Fragment_7a.King_3">3. Kenkenês, his son, for 39 years.</li>
	<li id="Fragment_7a.King_4">4. Uenephês, for 42 years. In his reign famine seized the land. He built the pyramids near Kôchôme.</li>
	<li id="Fragment_7a.King_5">5. Usaphaïs, for 20 years.</li>
	<li id="Fragment_7a.King_6">6. Niebaïs, for 26 years.</li>
	<li id="Fragment_7a.King_7">7. Semempsês, for 18 years. In his reign there were many portents and a very great calamity.</li>
	<li id="Fragment_7a.King_8">8. Ubienthês, for 26 years.</li>
	<li class="pt-2">The total of all reigns, 252 years.<a class="ref" id="ref45" href="#note45">45</a></li>
</ol>

<h4 class="text-center" id="Fragment_7b">(b) <span class="smallcaps">Armenian Version of Eusebius.</span></h4>

<p class="text-justify">
	In succession to the Spirits of the Dead and the Demigods, the Egyptians reckon the
	First Dynasty to consist of eight kings. The first of these was Mênês, who won high
	renown in the government of his kingdom. Beginning with him, I shall carefully record
	the royal families one by one: their succession in detail is as follows:</p>

<ul>
	<li class="text-justify" id="Fragment_7b.King_1">
	<span class="primary">Mênês of This</span> (whom Herodotus named Min) and his seven descendants. He reigned for 30 years, and advanced with his army beyond the frontiers of his realm, winning renown by his exploits. He was carried off by a hippopotamus god (?).&#8288;<a class="ref" id="ref46" href="#note46">46</a></li>
<li id="Fragment_7b.King_2"><span class="primary">Athothis</span>, his son, held the throne for 27 years. He built for himself a royal palace at Memphis, and also practised the art of medicine, writing books on the method of anatomy.</li>
<li id="Fragment_7b.King_3"><span class="primary">Cencenes</span>, his son, for 39 years.</li>
<li id="Fragment_7b.King_4"><span class="primary">Vavenephis</span>, for 42 years. In his time famine seized the land. He reared pyramids near the town of Cho.</li>
<li id="Fragment_7b.King_5"><span class="primary">Usaphaïs</span>, for 20 years.</li>
<li id="Fragment_7b.King_6"><span class="primary">Niebaïs</span>, for 26 years.</li>
<li id="Fragment_7b.King_7"><span class="primary">Mempses</span>, for 18 years. In his reign many portents and a great pestilence occurred.</li>
<li id="Fragment_7b.King_8"><span class="primary">Vibenthis</span>, for 26 years.</li>
<li class="pt-2">Total for the dynasty, 252 years.<a class="ref" id="ref47" href="#note47">47</a></li>
</ul>

<h2 class="text-center my-16" id="Dynasty_II">
	Dynasty II
</h2>


<h4 class="text-center" id="Fragment_8">
	Fr. 8 (<i>from Syncellus</i>). <span class="smallcaps">According to Africanus.</span>
</h4>

<ul>
	<li class="text-justify" id="Fragment_8.King_1">The Second Dynasty&#8288;<a class="ref" id="ref48" href="#note48">48</a> consists of nine kings of This. The first was Boêthos, for 38 years. In his reign a chasm opened at Bubastus,&#8288;<a class="ref" id="ref49" href="#note49">49</a> and many perished.</li>
	<li id="Fragment_8.King_2">	2. Kaiechôs, for 39 years. In his reign the bulls,&#8288;<a class="ref" id="ref50" href="#note50">50</a> Apis at Memphis and Mnevis at Heliopolis, and the Mendesian goat were worshipped as gods.</li>
	<li id="Fragment_8.King_3">3. Binôthris, for 47 years. In his reign it was decided that women&#8288;<a class="ref" id="ref51" href="#note51">51</a> might hold the kingly office.</li>
	<li id="Fragment_8.King_4">	4. Tlas, for 17 years.</li>
	<li id="Fragment_8.King_5">	5. Sethenês, for 41 years.</li>
	<li id="Fragment_8.King_6">	6. Chairês, for 17 years.</li>
	<li id="Fragment_8.King_7">	7. Nephercherês, for 25 years. In his reign, the story goes, the Nile flowed blended with honey for 11 days.</li>
	<li id="Fragment_8.King_8">	8. Sesôchris, for 48 years: his stature was 5 cubits 3 palms.&#8288;<a class="ref" id="ref52" href="#note52">52</a></li>
	<li id="Fragment_8.King_9">	9. Chenerês, for 30 years.</li>
	<li class="pt-2">Total, 302 years.</li>
</ul>
<p class="text-justify">
	Total for the First and Second Dynasties [after the Flood], 555 years, according to the second edition of Africanus.
</p>

<h4 class="text-center" id="Fragment_9">Fr. 9 (<i>from Syncellus</i>). <span class="smallcaps">According to Eusebius.</span></h4>

<ul>
	<li id="Fragment_9.King_1">The Second Dynasty consisted of nine kings. First came Bôchos, in whose reign a chasm opened at Bubastus, and many perished.</li>
	<li id="Fragment_9.King_2">He was succeeded by Kaichôos (or Chôos), in whose time Apis and Mnevis and also the Mendesian goat were worshipped as gods.</li>
	<li id="Fragment_9.King_3">3. Biophis, in whose reign it was decided that women also might hold the kingly office. In the reigns of the three succeeding kings, no notable event occurred.</li>
	<li id="Fragment_9.King_7">7. In the seventh reign, as the story goes, the Nile flowed blended with honey for 11 days.</li>
	<li id="Fragment_9.King_8">8. Next. Sesôchris was king for 48 years: the greatness of his stature is said to have been 5 cubits 3 palms.</li>
	<li id="Fragment_9.King_9">9. In the ninth reign there happened no event worthy of mention. These kings ruled for 297 years.</li>
</ul>

<p class="py-2">Total for the First and Second Dynasties, 549 years, according to the recension of Eusebius.</p>

<h4 class="text-center" id="Fragment_10">Fr. 10 <span class="smallcaps">Armenian Version of Eusebius.</span></h4>

<p class="text-justify">
	The Second Dynasty consisted of nine kings.
</p>
<p class="text-justify" id="Fragment_10.King_1">
	First came Bôchus, in whose reign a huge hole opened at Bubastus, and swallowed up many
	persons.
</p>
<p class="text-justify" id="Fragment_10.King_2">
	He was succeeded by Cechous, in whose time Apis and Mnevis and the Mendesian goat were
	worshipped as gods.
</p>
<p class="text-justify" id="Fragment_10.King_3">
	Next came Biophis, in whose reign it was decreed by law that women might hold the royal
	office.
</p>
<p class="text-justify" id="Fragment_10.King_4">
	In the reigns of the three succeeding kings, no notable event occurred.
</p>
<p class="text-justify" id="Fragment_10.King_7">
	Under the seventh king fabulists tell how the river Nile flowed with honey as well as
	water for 11 days.
</p>
<p class="text-justify" id="Fragment_10.King_8">
	
	Next, Sesochris ruled for 48 years: he is said to have been 5 cubits high and 3 palms
	broad.<a class="ref" id="ref53" href="#note53">53</a>
</p>
<p class="text-justify" id="Fragment_10.King_9">
	Finally, under the ninth king no memorable event occurred.
</p>
<p class="text-justify">
	These kings reigns for 297 years.
</p>

<h2 class="text-center my-16" id="Dynasty_III">
	Dynasty III
</h2>


<h4 class="text-center" id="Fragment_11">
	Fr. 11 (<i>from Syncellus</i>). <span class="smallcaps">The Account of Africanus.</span>
</h4>

<p class="text-justify">
	The Third Dynasty&#8288;<a class="ref" id="ref54" href="#note54">54</a> comprised nine
	kings of Memphis.
</p>
<ol>
<li class="text-justify" id="Fragment_11.King_1">	1. Necherôphês, for 28 years. In his reign the Libyans revolted against Egypt, and when
	the moon waxed beyond reckoning, they surrendered in terror.</li>
<li class="text-justify" id="Fragment_11.King_2">	2. Tosorthros,&#8288;<a class="ref" id="ref55" href="#note55">55</a> for 29 years. <span class="emend">&#60;In his reign lived Imuthês,&#62;</span>&#8288;<a class="ref" id="ref56" href="#note56">56</a> who because of his medical skill has the reputation of Asclepios among the Egyptians, and who was the inventor of the art of building with hewn stone. He also devoted attention to writing.</li>
<li id="Fragment_11.King_3">	3. Tyreis (or Tyris), for 7 years.</li>
<li id="Fragment_11.King_4">	4. Mesôchris, for 17 years.</li>
<li id="Fragment_11.King_5">	5. Sôÿphis, for 16 years.</li>
<li id="Fragment_11.King_6">	6. Tosertasis, for 19 years.</li>
<li id="Fragment_11.King_7">	7. Achês, for 42 years.</li>
<li id="Fragment_11.King_8">	8. Sêphuris, for 30 years.</li>
<li id="Fragment_11.King_9">	9. Kerpherês, for 26 years.</li>
</ol>
<p class="text-justify">	Total, 214 years.</p>
<p class="text-justify">	Total for the first three dynasties, according to Africanus, 769 years.</p>

<h4 class="text-center" id="Fragment_12a">
	Fr. 12 (a) (<i>from Syncellus</i>). <span class="smallcaps">According to
		Eusebius.</span>
</h4>

<p>The Third Dynasty consisted of eight kings of Memphis:</p>
<ol>
	<li class="text-justify" id="Fragment_12a.King_1">1. Necherôchis, in whose reign the Libyans revolted against Egypt, and when the moon
	waxed beyond reckoning, they surrendered in terror.</li>
	<li class="text-justify" id="Fragment_12a.King_2">2. He was succeeded by Sesorthos . . . : he was styled Asclepios in Egypt because of his medical skill. He was also the inventor of the art of building with hewn stone, and devoted attention to writing as well.</li>
	<li class="text-justify" id="Fragment_12a.King_3">The remaining six kings achieved nothing worthy of mention. These eight kings reigned
	for 198 years.</li>
</ol>

<p class="text-justify">Total for the first three dynasties, according to Eusebius, 747 years.</p>

<h4 class="text-center" id="Fragment_12b">(b) <span class="smallcaps">Armenian Version of Eusebius.</span></h4>

<p class="text-justify">The Third Dynasty consisted of eight kings of Memphis:</p>
<p class="text-justify" id="Fragment_12b.King_1">Necherochis, in whose reign the Libyans revolted against Egypt: later when the moon waxed unseasonably, they were terrified and returned to their allegiance.</p>
<p class="text-justify" id="Fragment_12b.King_2">Next came Sosorthus ...: he was styled Aesculapius by the Egyptian because of his medical skill. He was also the inventor of building with hewn stone; and in addition he devoted care to the writing of books.</p>
<p class="text-justify" id="Fragment_12b.King_3">The six remaining kings did nothing worthy of mention. The reigns of the whole dynasty amount to 197 years.</p>


<h2 class="text-center my-16" id="Dynasty_IV">Dynasty IV</h2>
<h4 class="text-center" id="Fragment_14">Fr. 14 (<i>from Syncellus</i>). <span class="smallcaps">According to Africanus.</span></h4>
<p class="text-justify">The Fourth Dynasty&#8288;<a class="ref" id="ref57" href="#note57">57</a> comprised eight kings of Memphis, belonging to a different line:</p>

<ol>
<li id="Fragment_14.King_1">1. Sôris, for 29 years.</li>
<li class="text-justify" id="Fragment_14.King_2">2. Suphis [I], for 63 years. He reared the Great Pyramid,&#8288;<a class="ref" id="ref58"
		href="#note58">58</a> which Herodotus says was built by Cheops. Suphis conceived a contempt for the gods: he also composed the
	Sacred Book, which I acquired in my visit to Egypt&#8288;<a class="ref" id="ref59" href="#note59">59</a> because of its high renown.</li>
<li id="Fragment_14.King_3">3. Suphis [II], for 66 years.</li>
<li id="Fragment_14.King_4">4. Mencherês, for 63 years.</li>
<li id="Fragment_14.King_5">5. Ratoisês, for 25 years.</li>
<li id="Fragment_14.King_6">6. Bicheris, for 22 years.</li>
<li id="Fragment_14.King_7">7. Sebercherês, for 7 years.</li>
<li id="Fragment_14.King_8">8. Thamphthis, for 9 years.</li>
</ol>
<p class="text-justify">Total, 277 years.<a class="ref" id="ref60" href="#note60">60</a></p>
<p class="text-justify">Total for the first four dynasties [after the Flood], 1046 years according to Africanus.</p>

<h4 class="text-center" id="Fragment_15">Fr. 15 (<i>from Syncellus</i>). <span class="smallcaps">According to Eusebius.</span></h4>

<p>The Fourth Dynasty comprised seventeen kings of Memphis belonging to a different royal line.</p>
<p class="text-justify">Of these the third was Suphis, the builder of the Great Pyramid, which Herodotus says was built by Cheops. Suphis conceived a contempt for the gods, but repenting of this, he composed the Sacred Book, which the Egyptians hold in high esteem.</p>

<p>Of the remaining kings no achievement worthy of mention has been recorded.</p>
<p>This dynasty reigned for 448 years.</p>
<p>Total for the first four dynasties [after the Flood], 1195 years according to Eusebius.</p>

<h4 class="text-center" id="Fragment_16">Fr. 16 Armenian Version of Eusebius.</h4>

<p class="text-justify">
	The Fourth Dynasty consisted of seventeen kings of Memphis belonging to a different
	royal line. The third of these kings, Suphis, was the builder of the Great Pyramid,
	which Herodotus declares to have been built by Cheops. Suphis behaved arrogantly towards
	the gods themselves: then, in penitence, he composed the Sacred Book in which the
	Egyptians believe they possess a great treasure. Of the remaining kings nothing worthy
	of mention is recorded in history. The reigns of the whole dynasty amount to 448 years.
</p>

<h2 class="text-center my-16" id="Dynasty_V">Dynasty V</h2>


<h4 class="text-center" id="Fragment_18">Fr. 18 (<i>from Syncellus</i>). <span class="smallcaps">According to Africanus.</span></h4>

<p class="text-justify">
	The Fifth Dynasty&#8288;<a class="ref" id="ref61" href="#note61">61</a> was composed of
	eight kings of Elephantine:</p>
<ol>
<li class="text-justify" id="Fragment_18.King_1">1. Usercherês, for 28 years.</li>
<li class="text-justify" id="Fragment_18.King_2">2. Sephrês, for 13 years.</li>
<li class="text-justify" id="Fragment_18.King_3">3. Nephercherês, for 20 years.</li>
<li class="text-justify" id="Fragment_18.King_4">4. Sisirês, for 7 years.</li>
<li class="text-justify" id="Fragment_18.King_5">5. Cherês, for 20 years.</li>
<li class="text-justify" id="Fragment_18.King_6">6. Rathurês, for 44 years.</li>
<li class="text-justify" id="Fragment_18.King_7">7. Mencherês, for 9 years.</li>
<li class="text-justify" id="Fragment_18.King_8">8. Tancherês (? Tatcherês), for 44 years.</li>
<li class="text-justify" id="Fragment_18.King_9">9. Onnus, for 33 years.</li>
</ol>
<p class="text-justify">
	Total, 248 years.<a class="ref" id="ref62" href="#note62">62</a>
</p>
<p class="text-justify">
	Along with the aforementioned 1046 years of the first four dynasties, this amounts to
	1294 years.
</p>

<h4 class="text-center" id="Fragment_19">
	Fr. 19 (a) (<i>from Syncellus</i>). <span class="smallcaps">According to
		Eusebius.</span>
</h4>

<p class="text-justify">The Fifth Dynasty consisted of <span class="whole">thirty‑one</span> kings of Elephantine. Of these the first was Othoês,&#8288;<a class="ref" id="ref63" href="#note63">63</a> who was murdered by his bodyguard.</p>

<p class="text-justify" id="p53">The fourth king, Phiôps, succeeding when six years old, reigned until his hundredth year. Thus, along with the aforementioned 1195 years of the first four dynasties, this amounts to 1295 years.</p>

<h4 class="text-center" id="Fragment_10b">(b) <span class="smallcaps">Armenian Version of Eusebius.</span></h4>

<p class="text-justify">	The Fifth Dynasty consisted of <span class="whole">thirty‑one</span> kings of Elephantine. Of these the first was Othius, who was killed by his attendants. The fourth king was Phiôps, who held the royal office from his sixth&#8288;<a class="ref" id="ref64" href="#note64">64</a> right down to his hundredth year.</p>

<h2 class="text-center my-16" id="Dynasty_VI">Dynasty VI</h2>

<h4 class="text-center" id="Fragment_20">Fr. 20 (<i>from Syncellus</i>). <span class="smallcaps">According to Africanus.</span></h4>


<p class="text-justify">The Sixth Dynasty&#8288;<a class="ref" id="ref65" href="#note65">65</a> consisted of six
	kings of Memphis:</p>

<ol>
	<li id="Fragment_20.King_1">1. Othoês, for 30 years: he was murdered by his bodyguard.</li>
	<li id="Fragment_20.King_2">2. Phius, for 53 years.</li>
	<li id="Fragment_20.King_3">3. Methusuphis, for 7 years.</li>
	<li id="Fragment_20.King_4">4. Phiôps, who began to reign at the age of six, and continued until his hundredth year.&#8288;<a class="ref" id="ref66" href="#note66">66</a></li>
	<li id="Fragment_20.King_5">5. Menthesuphis, for 1 year.</li>
	<li id="Fragment_20.King_6">6. Nitôcris,&#8288;<a class="ref" id="ref67" href="#note67">67</a> the noblest and loveliest of the women of her time, of fair complexion, the builder of the third pyramid, reigned for 12 years.</li>
</ol>
<p class="text-justify">Total, 203 years.&#8288;<a class="ref" id="ref68" href="#note68">68</a> Along with the aforementioned 1294 years of the first five dynasties, this amounts to 1497 years.</p>

<h4 class="text-center" id="Fragment_21">Fr. 21 (a) (<i>from Syncellus</i>). <span class="smallcaps">According to Eusebius.</span></h4>

<p class="text-justify">The Sixth Dynasty.</p>

<p class="text-justify">There was a queen Nitôcris, the noblest and loveliest of the women of her time; she had a fair complexion, and is said to have built the third pyramid.</p>

<p class="text-justify" id="p57">These rulers (or this ruler) reigned for three years: in another copy, 203 years. Along with the aforementioned 1295 years of the first five dynasties, this amounts to 1498 years.</p>

<p class="text-justify">(Syncellus adds:) It must be noted how much less accurate Eusebius is than Africanus in the number of kings he gives, in the omission of names, and in dates, although he practically repeats the account of Africanus in the same words.</p>

<h4 class="text-center" id="Fragment_21b">(b) <span class="smallcaps">Armenian Version of Eusebius.</span></h4>

<p class="text-justify">The Sixth Dynasty. There was a queen Nitôcris, braver than all the men of her time, the most <span class="whole">beauti</span>&shy;ful of all the women, <span class="whole">fair-skinned</span> with red cheeks. By her, it is said, the third pyramid was reared, with the aspect of a mountain.</p>

<p class="text-justify">The united reigns of all the kings amount to 203 years.</p>

<h2 class="text-center my-16" id="Dynasty_VII">Dynasty VII</h2>

<h4 class="text-center" id="Fragment_23">Fr. 23 (<i>from Syncellus</i>). <span class="smallcaps">According to Africanus.</span></h4>
<p class="text-justify">The Seventh Dynasty&#8288;<a class="ref" id="ref69" href="#note69">69</a> consisted of <span class="whole">seventy</span> kings of Memphis, who reigned for 70 days.</p>

<h4 class="text-center" id="Fragment_24a">Fr. 24 (a) (<i>from Syncellus</i>). <span class="smallcaps">According to Eusebius.</span></h4>
<p class="text-justify">The Seventh Dynasty consisted of five kings of Memphis, who reigned for 75 days.</p>

<h4 class="text-center" id="Fragment_24b">(b) <span class="smallcaps">Armenian Version of Eusebius.</span></h4>
<p class="text-justify">The Seventh Dynasty consisted of five kings of Memphis, who held sway for 75 days.</p>

<h2 class="text-center my-16" id="Dynasty_VIII">Dynasty VIII</h2>

<h4 class="text-center" id="Fragment_25">Fr. 25 (<i>from Syncellus</i>). <span class="smallcaps">According to Africanus.</span></h4>

<p class="text-justify">
	The Eighth Dynasty&#8288;<a class="ref" id="ref70" href="#note70">70</a> consisted of <span class="whole">twenty-seven</span> kings of Memphis, who reigned for 146 years. Along with the aforementioned reigns, this amounts to 1639 years for the first eight dynasties.
</p>

<h4 class="text-center" id="Fragment_25a">Fr. 25 (a) (<i>from Syncellus</i>). <span class="smallcaps">According to Eusebius.</span></h4>

<p class="text-justify">The Eighth Dynasty consisted of five kings of Memphis, who reigned for 100 years. Along with the aforementioned reigns, this amounts to 1598 years for the first eight dynasties.</p>

<h4 class="text-center" id="Fragment_25b">(b) <span class="smallcaps">Armenian Version of Eusebius.</span></h4>

<p class="text-justify">The Eighth Dynasty consisted of five&#8288;<a class="ref" id="ref71" href="#note71">71</a> kings of Memphis, whose rule lasted for 100 years.</p>

<h2 class="text-center my-16" id="Dynasty_IX">Dynasty IX</h2>
<h4 class="text-center" id="Fragment_27">Fr. 27 (<i>from Syncellus</i>). <span class="smallcaps">According to Africanus.</span></h4>

<p class="text-justify">The Ninth Dynasty&#8288;<a class="ref" id="ref72" href="#note72">72</a> consisted of nineteen kings of Hêracleopolis, who reigned for 409 years. The first of these, King Achthoês,&#8288;<a class="ref" id="ref73" href="#note73">73</a> behaving more cruelly than his predecessors, wrought woes for the people of all Egypt, but afterwards he was smitten with madness, and was killed by a crocodile.<a class="ref" id="ref74" href="#note74">74</a></p>

<h4 class="text-center" id="Fragment_28">Fr. 28 (a) (<i>from Syncellus</i>). <span class="smallcaps">According to Eusebius.</span></h4>

<p class="text-justify">
	The Ninth Dynasty consisted of four kings of Hêracleopolis, who reigned for 100 years.
	The first of these, King Achthô
	ês, behaving more cruelly than his predecessors, wrought woes for the people of all
	Egypt, but afterwards he was smitten with madness, and was killed by a crocodile.
</p>

<h4 class="text-center" id="Fragment_28b">
	(b) <span class="smallcaps">Armenian Version of Eusebius.</span>
</h4>

<p class="text-justify">The Ninth Dynasty consisted of four kings of Heracleopolis, reigning for 100 years. The first of these, King Ochthôis,&#8288;<a class="ref" id="ref75" href="#note75">75</a> was more cruel than all his predecessors, and visited the whole of Egypt with dire disasters. Finally, he was seized with madness and devoured by a crocodile.
</p>


<h2 class="text-center my-16" id="Dynasty_X">Dynasty X</h2>
<h4 class="text-center" id="Fragment_29">Fr. 29 (<i>from Syncellus</i>). <span class="smallcaps">According to Africanus.</span></h4>

<p class="text-justify">The Tenth Dynasty consisted of nineteen kings of Hêracleopolis, who reigned for 185 years.</p>

<h4 class="text-center" id="Fragment_30">Fr. 30 (a) (<i>from Syncellus</i>). <span class="smallcaps">According to Eusebius.</span></h4>

<p class="text-justify">The Tenth Dynasty consisted of nineteen kings of Hêracleopolis, who reigned for 185 years.</p>

<h4 class="text-center" id="Fragment_30b">(b) <span class="smallcaps">Armenian Version of Eusebius.</span></h4>

<p class="text-justify">The Tenth Dynasty consisted of nineteen kings of Hêracleopolis, who reigned for 185 years.</p>


<h2 class="text-center my-16" id="Dynasty_Xi">Dynasty XI</h2>
<h4 class="text-center" id="Fragment_31">Fr. 31 (<i>from Syncellus</i>). <span class="smallcaps">According to Africanus.</span></h4>
<p class="text-justify">The Eleventh Dynasty&#8288;<a class="ref" id="ref76" href="#note76">76</a> consisted of sixteen kings of Diospolis [or Thebes], who reigned for 43 years. In succession to these, Ammenemês&#8288;<a class="ref" id="ref77" href="#note77">77</a> ruled for 16 years.</p>
<p class="text-justify">Here ends the First Book of Manetho.</p>
<p class="text-justify">Total for the reigns of 192 kings, 2300 years 70 days.</p>


<h4 class="text-center" id="Fragment_32">Fr. 32 (a) (<i>from Syncellus</i>). <span class="smallcaps">According to Eusebius.</span></h4>

<p class="text-justify">The Eleventh Dynasty consisted of sixteen kings of Diospolis [or Thebes], who reigned for 43 years. In succession to these, Ammenemês ruled for 16 years.</p>

<p class="text-justify">Here ends the First Book of Manetho.</p>
<p class="text-justify">Total for the reigns of 192 kings, 2300 years 79 days.</p>

<h4 class="text-center" id="Fragment_32b">(b) <span class="smallcaps">Armenian Version of Eusebius.</span></h4>
<p class="text-justify">The Eleventh Dynasty consisted of sixteen kings of Diospolis [or Thebes], who reigned for 43 years. In succession to these, Ammenemes ruled for 16 years.</p>

<p class="text-justify">Here ends the First Book of Manetho.</p>

<p class="text-justify">Total for the reigns of 192 kings, 2300 years.</p>

<hr class="endnotes my-20"><a id="endnotes"></a>








<!-- MARK: - Footnotes
-->

<h2 class="text-center pb-6">References</h2>

<div class="sm:columns-2 md:columns-3 gap-10 text-xs text-left">

<p>
	<a class="note" id="note1" href="#ref1">1</a> The <span class="whole">Pre‑dynastic</span> Period begins with a group of gods, "consisting of the Great Ennead of Heliopolis in the form in which it was worshipped at Memphis" <a href="https://archive.org/details/cambridgeancient01bury/page/250/mode/2up" target="offsite"> (T. E. Peet, <i>Cambridge Ancient History</i>, <span class="small">I</span> p250)</a>. After summarizing §§ 1‑3 Peet adds: "From the historical point of view there is little to be made of this". See <a href="https://archive.org/details/geschichtedesalt02meye/page/102/mode/1up">Meyer, <i><span lang="de">Geschichte des Altertums</span></i><span class="superscript">5</span>, <span class="small">I</span>.ii p102 f.</a> for the Egyptian traditions of the <span class="whole">Pre‑dynastic</span> Period. In the Turin Papyrus the Gods are given in the same order: (Ptah), Rê, (Shu), Geb, Osiris, Sêth (200 years), Horus (300 years), Thoth (3126 years), MaꜤat, Har, ... Total ... See <a href="https://archive.org/details/aegyptischechro00eduagoog/page/n120/mode/1up">Meyer, <i>Aeg. Chron.</i> p116</a>, and <i>cf.</i> <a href="#Fragment_3">Fr. 3</a>.
</p>



<p>
	<a class="note" id="note2" href="#ref2">2</a> The name Bydis (or Bites) seems to be the Egyptian <span class="Egyptian">bı͗ty</span> <span class="bold emend">{<span class="large inline_hieroglyphic">𓆤<span class="up2">𓏏</span>𓀭</span>}</span> "king" (from <span class="Egyptian">bı͗t</span> <span class="bold emend">{<span class="large inline_hieroglyphic">𓆤<span class="up5">𓏏</span><span class="left1">𓏤</span></span>}</span> "bee"), the title of the kings of Lower Egypt: see the Palermo Stone, and <i>cf.</i> <a href="E/Roman/Texts/Herodotus/4G*.html#155" target="Herodotus_E">Herodotus, <span class="small">IV</span>.155</a>, "the Libyans call their king 'Battos' " (P. E. Newberry). Bitys appears in late times as a translator or interpreter of Hermetical writings: see Iamblich. <i>De Mysteriis</i>, <span class="small">VIII</span>.5 (= Scott, <i>Hermetica</i>, <span class="small">IV</span> p34) where the prophet Bitys is said to have translated [for King Ammôn] a book (<i>The Way to Higher Things</i>, <i>i.e.</i> a treatise on the theurgic or supernatural means of attaining to union with the Demiurgus) which he found inscribed in hieroglyphs in a shrine at Saïs in Egypt. <i>Cf.</i> the <span class="whole">pseudo-Manetho</span>, <a href="E/Roman/Texts/Manetho/Appendices/1*.html">App. <span class="small">I</span></a>.
</p>



<p>
	<a class="note" id="note3" href="#ref3">3</a> There is no evidence that the Egyptian year was ever equal to a month: there were short years (each of 360 days) and long years (see <a href="manetho2#Fragment_49">	Fr. 49</a>).
</p>



<p><a class="note" id="note4" href="#ref4">4</a> See <i>Excerpta Latina Barbari</i> <a href="#Fragment_4">(Fr. 4)</a> for the beginning of this dynasty: "First, Anubis . . .".</p>

<p><a class="note" id="note5" href="#ref5">5</a>Corroborated by the Turin Papyrus, Col. <span class="small">II</span>: "of Memphis".</p>



<p>
	<a class="note" id="note6" href="#ref6">6</a> "Demigods" should be in apposition to "Spirits of the Dead" (<span lang="el" class="Greek">νέκυες ἡμίθεοι</span>), as in <i>Excerpta Latina Barbari</i> <a href="#Fragment_4">(Fr. 4)</a> and Africanus <a href="#Fragment_6.1">(Fr. 6. 1)</a>. These are perhaps the <span class="Egyptian">Shemsu Hor</span> <span class="bold emend">{<span class="large inline_hieroglyphic">𓅃𓌞𓋴<span class="up4 small right1">𓂻</span><span class="left1">𓏥</span></span>}</span>, the Followers or Worshippers of Horus, of the Turin Papyrus: see H. R. Hall, <a href="https://archive.org/details/cambridgeancient015571mbp/page/n298/mode/1up"><i>Cambridge Ancient History</i>, <span class="small">I</span> p265</a>. Before King Mênês <a href="#Fragment_6.Africanus">(Fr. 6)</a>, the king of Upper Egypt who imposed his sway upon the fertile Delta and founded the First Dynasty, — the <span class="Egyptian">Shemsu Hor</span>, the men of the Falcon Clan whose original home was in the West Delta, had formed an earlier united kingdom by conquering Upper Egypt: see <a href="https://archive.org/details/in.ernet.dli.2015.280955/page/n20/mode/1up">V. Gordon Childe, <i>New Light on the Most Ancient East</i>, 1934, p8</a>, based upon Breasted, <i>Bull. Instit. Franç. Arch. Or.</i> <span class="small">XXX</span> (Cairo, 1930), pp710 ff., and Schäfer's criticism, <i><span lang="de">Orient. Literaturz.</span></i> 1932, p704.
</p>



<p>
	<a class="note" id="note7" href="#ref7">7</a>
	The exact total of the items given is 11,025 years. So also 24,900 <i>infra</i> is a
	round number for 24,925.
</p>



<p><a class="note" id="note8" href="#ref8">8</a>Boeckh, <a href="https://archive.org/details/manethoanddiehu00boecgoog/page/n94/mode/1up"><i><span lang="de">Manetho und die Hundssternperiode</span></i>, p85</a>, corrects this to 2046.</p>



<p>
	<a class="note" id="note9" href="#ref9">9</a>
	Mestraïm: the Mizraïm of
	<a href="https://www.newadvent.org/bible/gen010.htm#6">
		<i>O. T. Genesis</i> x.6</a>: Arabic <span class="Arabic">Miṣrun</span>, Cuneiform
	<span class="archaic">Muṣri</span>, <span class="archaic">Miṣri</span> (Egypt). <span
		class="translit_Hebrew">Mizraïm</span> is a dual name-form, perhaps to be explained
	in reference to the two great native divisions of Egypt, Upper and Lower.
</p>



<p>
	<a class="note" id="note10" href="#ref10">10</a>
	For the contemporaneous existence of a number of petty kingdoms in Egypt, see thePiankhi <i>stele</i>, Breasted, <i>Ancient Records</i>, <span class="small">IV</span> §§ 830, 878, and the passage from Artapanus, <i>Concerning the Jews</i>, quoted on <a href="manetho2#note10">	p73 n. 3</a>. T. Nicklin (in his <i>Studies in Egyptian Chronology</i>, 1928‑29,
	<a id="p9x"></a>p39) says: "The Manethonian Dynasties are not lists of rulers over all
	Egypt, but lists partly of more or less independent princes, partly of princely lines
	from which later sprang rulers over all Egypt. (<i>Cf.</i> the Scottish Stuarts, or the
	Electors of Hanover.) Some were mere Mayors of the Palace or princelets maintaining a
	precarious independence, or even more subordinate Governors of nomes, from whom,
	however, descended subsequent monarchs. (<i>Cf.</i> the Heptarchy in England.)"
</p>



<p>
	<a class="note" id="note11" href="#ref11">11</a>
	This passage follows after <a
		href="E/Roman/Texts/Manetho/Appendices/1*.html#Letter_to_Ptolemy">Appendix <span
			class="small">I</span>, p210</a>.
</p>



<p>
	<a class="note" id="note12" href="#ref12">12</a>
	Panodôrus (<i>fl.</i> 395‑408 <span class="small">A.D.</span>) and his contemporary
	Annianus were Egyptian monks who wrote on Chronology with the purpose of harmonizing
	Chaldean and Egyptian systems with that of the Jews. Panodôrus used (and perhaps
	composed) the <i>Book of Sôthis</i>
	<a href="
E/Roman/Texts/Manetho/Appendices/4*.html
">
		(App. <span class="small">IV</span>)</a>.
</p>



<p>
	<a class="note" id="note13" href="#ref13">13</a>
	<span lang="el" class="Greek">Ἐγρήγοροι</span>, "Watchers, Angels" — in <i>Enoch</i>,
	179, of the angels who fell in love with the daughters of men. The Greek word <span lang="el"
		class="Greek">Ἐγρήγοροι</span> is a mispronunciation of the Aramaic word
	used in <i>Enoch</i>, 179.
</p>



<p>
	<a class="note" id="note14" href="#ref14">14</a>
	See
	<a href="E/Roman/Texts/Manetho/Introduction*.html#value_of_the_Book_of_Sothis
	" target="princeps">Intro. p. xxviii</a>.<a class="correction">º</a>
</p>



<p>
	<a class="note" id="note15" href="#ref15">15</a>
	Total, 969 years.
</p>



<p>
	<a class="note" id="note16" href="#ref16">16</a>
	Total, 214 years. Total for Gods and Demigods, 1183 years. See
	<a href="#Fragment_2.10
">
		Fr. 2</a>.
</p>



<p>
	<a class="note" id="note17" href="#ref17">17</a>
	This extract made by an anonymous and ignorant scribe depends chiefly upon Africanus.
	See Weill, <i><span lang="fr">La fin du moyen empire égyptien</span></i>, pp<a
		href="https://archive.org/details/lafindumoyenempi02weiluoft/page/n129/mode/1up">640</a>,
	<a href="https://archive.org/details/lafindumoyenempi02weiluoft/page/n131/mode/1up">
		642 f.</a>,
	<a href="https://archive.org/details/lafindumoyenempi02weiluoft/page/n144/mode/1up">
		655 f.
	</a>
	Gelzer and Bauer have inferred that the Greek account translated by Barbarus was either
	the work of the Egyptian monk Annianus (see
	<a href="#note12
">
		Fr. 2, p11 n. 2</a>) or at least a source derived from him (Laqueur, <i>R.‑E.</i>
	<span class="small">XIV</span>.1, 1081).
</p>



<p>
	<a class="note" id="note18" href="#ref18">18</a>
	For the divinity Tithoês in two inscriptions of Coptos, see O. Guéraud in <i>Ann. Serv.
		Antiq.</i>, 35 (1935), pp5 f.
</p>



<p>
	<a class="note" id="note19" href="#ref19">19</a>
	The actual total of the items given is 1150 years.
</p>



<p>
	<a class="note" id="note20" href="#ref20">20</a>
	The translation follows the restored Greek original: see note 3 on the
	text<!--</a>MANETHO:Greek-->.
</p>



<p>
	<a class="note" id="note21" href="#ref21">21</a>
	Apiôn the grammarian, born in Upper Egypt, lived at Rome in the time of Tiberius, Gaius,
	and Claudius: Tiberius called him by the nickname of "<span lang="la" class="Latin">cymbalum
		mundi</span>".&#8288;<a class="ref" id="ref:cymbalum_mundi"
		href="#note:cymbalum_mundi">*</a> As leader of the
	<span class="whole">anti-Jewish</span> movement, Apiôn was later attacked by Josephus in
	his <i>Contra Apionem</i>. The quotation from Apiôn appears to derive in part from the <i>History</i> of Ptolemy of
	Mendês: see
	<a href="https://www.ccel.org/ccel/schaff/anf02.iii.ii.xxxviii.html">
		Tatian, <i>Or. adversus Graecos</i>, § 38</a>, in Migne, <i>Patrologia Graeca</i>,
	<span class="small">VI</span>.880‑882, and in
	<a href="https://archive.org/stream/fragmentahistori04mueluoft#page/485/mode/2up">
		Müller, <i>F. H. G.</i> <span class="small">IV</span> p485
	</a>
	(quoted in
	<a href="https://archive.org/stream/fragmentahistori02mueluoft#page/533/mode/2up">
		<i>F. H. G.</i> <span class="small">II</span> p533</a>). (Ptolemy of Mendês dated
	the Exodus to the reign of Amôsis, who was contemporary with Inachus. Apiôn in the
	fourth volume of his <i>Aegyptiaca</i> (in five volumes) <span class="whole">stated</span> that
	Auaris was destroyed by Amôsis.) Much matter must
	have been common to the works of Ptolemy of Mendês and Apiôn: <i>cf.</i> Africanus in
	<a href="http://www.tertullian.org/fathers/eusebius_pe_10_boo0.htm">Eusebius, <i>Praepar. Evang.</i> <span class="small">X</span>.10</a>, "Apiôn says that in the time of Inachus Moses led ou the Jews  <i>Cf.</i> Fr. <a href="manetho2#Fragment_52.King_1">52, 1</a>;<a href="manetho2#Fragment_53a.King_9">	53, 9</a>.
</p>




<p>
	<a class="note" id="note22" href="#ref22">22</a>
	The founder of the First Dynasty of kings of Argos, Inachus is said to ha died twenty
	generations before the Fall of Troy, <i>i.e.</i> <i>circa</i> 1850 <span 	class="small">B.C.</span> Aegyptus and Danaus wer fifth in descent from Inachus:
	<i>cf.</i> <a href="manetho2#p107">Fr. 50, § 102</a>.
</p>

<p><a class="note" id="note23" href="#ref23">23</a> This appears   be the length of the reign of Amôsis, not of Inachus. <i>Cf.</i> <a href="manetho2#Fragment_52.King_1">Fr. 52, 1</a>, ere Africanus
	as recorded by Syncellus omits the number of years.
</p>



<p>
	<a class="note" id="note24" href="#ref24">24</a>
	The totals given by Barbarus are generally those of Africanus. Barbarus omits Manetho's
	Dynasty VII; and Potestas X is explained by Gelzer (<i>Sextus Julius Africanus</i>,
	p199) as being Manetho's X + XI + Ammenemes (16 years) = 244 years. Total, 2300.
</p>



<p>
	<a class="note" id="note25" href="#ref25">25</a>
	The actual total of the items given is 2260 years.
</p>



<p>
	<a class="note" id="note26" href="#ref26">26</a>
	Potestas XI is Manetho's Dynasty XII. Barbarus therefore gives Dynasties XII‑XVIII: the
	totals (corrected by Meyer,
	<a href="https://archive.org/details/aegyptischechro00eduagoog/page/n103/mode/1up">
		<i>Aeg. Chron.</i> 99, n. 2</a>) are — XII. 160, XIII. 453, XIV. 184, XV. 284, XVI.
	518, XVII. 151, <a id="p21x"></a>XVIII. 262 (+ XIX. 209). Sum total for Book <span class="small">II</span>, 2221
	years; <i>cf.</i> Fr. 55 Africanus, 56 Eus. (Arm.),
	2121 years.<br>
	The names of Potestates XII‑XVII, or Dynasties XIII‑XVIII, come from some other source
	than Manetho: the Tanites of Potestas XIII or Dynasty XIV appear to correspond with the
	Hyksôs, just as in the <i>Book of Sôthis</i>
	<a href="E/Roman/Texts/Manetho/Appendices/4*.html">	(App. <span class="small">IV</span>)</a>; while others may be local dynasties of the
	Hyksôs age. The kings of Hermupolis (Potestas XVII) apparently denote the kings of the Eighteenth Dynasty, whose names indicate the cult of the <span class="whole">Moon-deities</span> ʾIoḥ and Thôth of Hermupolis (Meyer, <i>Gesch.</i><span class="superscript">5</span> <span class="small">I</span>.ii. p326).
</p>



<p>
	<a class="note" id="note27" href="#ref27">27</a>
	The actual total of the items given is 1420 years.
</p>



<p>
	<a class="note" id="note28" href="#ref28">28</a>
	4407 <span class="manuscript">codd.</span>
</p>



<p>
	<a class="note" id="note29" href="#ref29">29</a>
	Palaephatus of Egypt, or Athens, wrote on Egyptian theology and mythology, <i>c.</i> 200
	<span class="small">B.C.</span>, — more than seven centuries earlier than Malalas
	himself (<i>c.</i> <span class="small">A.D.</span> 491‑578).
</p>



<p>
	<a class="note" id="note30" href="#ref30">30</a>
	See
	<a href="#note9
">
		p7 n. 2</a>.
</p>



<p>
	<a class="note" id="note31" href="#ref31">31</a>
	Nectanabô or Nectanebus, the last king of Dynasty XXX.
</p>



<p>
	<a class="note" id="note32" href="#ref32">32</a>
	Arphaxad, son of Shem:
	<a href="https://www.newadvent.org/bible/gen010.htm#22">
		<i>O. T. Genesis</i> x.22</a>. "Arphaxad" is probably a Mesopotamian name (W. F.
	Albright, <i>The Archaeology of Palestine and the Bible</i><span class="superscript">2</span>,
	1932‑3, p139).
</p>



<p>
	<a class="note" id="note33" href="#ref33">33</a>
	<a href="https://www.newadvent.org/bible/luk003.htm#36">
		<i>N. T. Luke</i> iii.36.
	</a>
</p>



<p>
	<a class="note" id="note34" href="#ref34">34</a>
	Eusebius reckoned 2242 years from Adam to the Flood, and 942 years from the Flood to
	Abraham.
</p>



<p>
	<a class="note" id="note35" href="#ref35">35</a>
	Dynasties I and II, the Thinites: <i>c.</i> 3200-<i>c.</i> 2780 <span class="small">B.C.</span>

	<i>Note.</i> — The dates which have been adopted throughout this book are those of
	Eduard Meyer, except where another authority is specified. Meyer's revised dates (as in
	<i><span lang="de">Die Älter Chronologie . . .</span></i>, 1931) may conveniently be
	found in G. Steindorff's chapter on Ancient History in Baedeker<span
		class="superscript">8</span>, pp. ci ff. In the <i>Cambridge Ancient History</i>,
	vol. <span class="small">I</span>, H. R. Hall gives for the dynasties a series of dates
	<a id="p27x"></a>which differ from those of Breasted and the German School: he assigns
	earlier dates to the first twelve dynasties, <i>e.g.</i> Dynasty I <i>c.</i> 3500 <span
		class="small">B.C.</span> A. Scharff, on the other hand, dates the beginning of
	Dynasty I <i>c.</i> 3000 <span class="small">B.C.</span> (<i>Journ. of Eg. Arch.</i>
	<span class="small">XIV</span>, 1928, pp275 f.)<!--</a>JOURNAL:JEA14-->.

	Dynasty I. For the identifications of Manetho's kings with monumental and other
	evidence, see Meyer, <i><span lang="de">Geschichte des Altertums</span></i><span
		class="superscript">5</span>, <span class="small">I</span>.ii p140: he identifies
	(1) Mênês, (2) Atoti I, II, III, (5) Usaphaïs, (6) Miebis. (3) Kenkenês and (5) Usaphaïs are two names of the same king: see Newberry and
	Wainwright, "King Udymu (Den) and the Palermo Stone" in <i>Ancient Egypt</i>, 1914, p148
	ff.
</p>



<p>
	<a class="note" id="note36" href="#ref36">36</a>
	On Mênês (<i>c.</i> 3200 <span class="small">B.C.</span>) see P. E. Newberry in Winifred
	Brunton's <i>Great Ones of Ancient Egypt</i>, 1929: Min in <a href="E/Roman/Texts/Herodotus/2A*.html#4">Herodotus, <span class="small">II</span>.4</a>.
</p>



<p>
	<a class="note" id="note37" href="#ref37">37</a>
	This (Anc. Egyptian <span class="Egyptian">Theny</span>), near Girga, <a
		class="conversion">•</a>about 310 miles
	S. of Cairo (Baedeker<span class="superscript">8</span>, p231), the capital of the nome of This,
	and the seat
	of the First and Second Dynasties. The cemetery of the First Dynasty kings was near
	Abydos: see Petrie, <i>Royal Tombs</i>, <span class="small">I</span> and <span
		class="small">II</span>, and Baedeker<span class="superscript">8</span>, p260.
</p>



<p>
	<a class="note" id="note38" href="#ref38">38</a>
	For a representation of a king fighting with a hippopotamus, see a <span class="whole">seal-impression</span> in Petrie, <i>Royal Tombs</i>, <span class="small">II</span>.vii.6; and for a <span class="whole">hippopotamus-hunt</span>, see a year-name of Udymu, Schäfer, <i>Palermo Stone</i>, p20, No. 8. With the whole story, <i>cf.</i> the miraculous deliverance of Mênas by a crocodile in <a href="E/Roman/Texts/Diodorus_Siculus/1D*.html#89.3" target="Diodorus_E">Diodorus Siculus, <span class="small">I</span>.89</a>.
</p>



<p>
	<a class="note" id="note39" href="#ref39">39</a>
	Building of palace at Memphis — by Min or Mênês,
	<a href="
E/Roman/Texts/Herodotus/2B*.html#99
	">
		Herodotus, <span class="small">II</span>.99</a>,
	<a href="https://penelope.uchicago.edu/josephus/ant-8.html#S6.2">
		Josephus, <i>Ant.</i> <span class="small">VIII</span>.6.2 (155)</a>; by his son
	Athôthis, says Manetho; by Uchoreus,
	<a href="
E/Roman/Texts/Diodorus_Siculus/1C*.html#50.3
	" target="Diodorus_E">
		Diod. <span class="small">I</span>.50</a>.
</p>



<p>
	<a class="note" id="note40" href="#ref40">40</a>
	For the later study of anatomy (including, perhaps, the practice of vivisection) by
	kings of Ptolemaic Egypt, see G. Lumbroso, <i><span lang="it">Glossario</span></i>,
	<i>s.v.</i> <span lang="el" class="Greek">Ἀνατομική</span>.
</p>



<p>
	<a class="note" id="note41" href="#ref41">41</a>
	Kôchômê has been identified with Sakkâra, and excavations carried out there in the
	Archaic Cemetery from 1935 by W. B. Emery (assisted by Zaki Saad) have gone far to
	confirm Manetho. Several tombs which date from the First Dynasty were discovered at
	Sakkâra in 1937 and 1938. One of these, the tomb of Nebetka under the 5th king of
	Dynasty I, was found to contain in its interior a <span class="whole">stepped-pyramid</span>
	construction of brickwork: during the building
	the form of the tomb was altered to a <span class="whole">palace-façade</span> mastaba.
</p>



<p id="note42">
	<a class="note" href="#ref42a">42a</a>
	<a class="note" href="#ref42b">42b</a>
	These forms are really the genitives of the names Usaphaïs and Miebis.
</p>



<p>
	<a class="note" id="note43" href="#ref43">43</a>
	The actual total of the items given in 263 years.
</p>



<p>
	<a class="note" id="note44" href="#ref44">44</a>
	The version (transmitted to us by Syncellus) which Eusebius gives of the <i>Epitome</i>
	of Manetho shows considerable differences from Africanus, both in the names of kings and
	in the length of their reigns. Peet
	<a href="zzzhttps://archive.org/details/egyptoldtestamen00peet/page/25/mode/1up">
		(<i>Egypt and the Old Testament</i>, pp25 f.)</a>, says: "The astonishing variations
	between their figures are an eloquent testimony to what may happen to numbers in a few
	centuries through textual corruption." Petrie (<i>History of Egypt</i>, <span
		class="small">I</span> p. viii) compares the corruptions in such late Greek
	chronicles as those of the Ptolemies (<i>c.</i> 5c <span class="small">A.D.</span>).
</p>



<p>
	<a class="note" id="note45" href="#ref45">45</a>
	The actual total of the items given is 258 years.
</p>



<p>
	<a class="note" id="note46" href="#ref46">46</a>
	See
	note 2 on the text<!--</a>MANETHO:Greek-->.
</p>



<p>
	<a class="note" id="note47" href="#ref47">47</a>
	Karst gives 270 years as the total transmitted in the Armenian version. The total of the
	items as given above is 228 years.
</p>



<p>
	<a class="note" id="note48" href="#ref48">48</a>
	Dynasty II — to <i>c.</i> 2780 <span class="small">B.C.</span> For identifications with
	the Monuments, etc., see Meyer, <i>Geschichte</i><span class="superscript">5</span>,
	<span class="small">I</span>.ii p146; he identifies (1) Boêthos, (2) Kaiechôs or
	Kechôus, (3) Binôthris, (4) Tlas, (5) Sethenês, (7) Nephercherês, (8) Sesôchris. For (1)
	to (5), see G. A. Reisner, <i>The Development of the Egyptian Tomb</i>, 1936, p123.
</p>



<p>
	<a class="note" id="note49" href="#ref49">49</a>Bubastus or Bubastis (Baedeker<span class="superscript">8</span>, p181), near Zagazig in
	the Delta: Anc. Egyptian <span class="Egyptian"><span class="whole">Per‑Baste</span></span><span class="bold emend">{<span class="inline_hieroglyphic"><span class="up4">𓉐</span><span class="left2">𓏤</span><span class="up1">𓎰</span><span class="up6">𓏏</span><span class="up1 left2">𓏏</span></span>}</span>, the <span lang="he" class="translit_Hebrew"><span class="whole">Pi‑beseth</span></span> of <a id="p35x"></a><a href="https://www.newadvent.org/bible/eze030.htm#17"><i>Ezekiel</i> xxx.17</a><!-- Hebrew would be better -->. See also Herodotus, <span class="small">II</span>.<a href="E/Roman/Texts/Herodotus/2A*.html#60" target="Herodotus_E">60</a>, <a href="E/Roman/Texts/Herodotus/2B*.html#137">137 f.</a> The kings of Dynasty XXII resided at Bubastis.<br>Earthquakes have always been rare in Egypt (Euseb., <i>Chron. Graec.</i> p42, l. 25; <a href="L/Roman/Texts/Pliny_the_Elder/2*.html#195" target="Pliny">Pliny, <i>H. N.</i> <span class="small">II</span>.82</a>; but Bubastis is situated in an unstable region: see H. G. Lyons in <i>Cairo Scientific Journal</i>, <span class="small">I</span> (1907), p182. It stands on an earthquake line, which runs to
	Crete. A deep boring made at Bubastis failed to reach rock.
</p>



<p>
	<a class="note" id="note50" href="#ref50">50</a> The worship of Apis is earlier even than Dynasty II: see Palermo Stone, Schäfer, p21, No. 12 (in reign of Udymu). For Apis, see <a href="E/Roman/Texts/Herodotus/2B*.html#153">Herodotus, <span class="small">II</span>.153</a>, and <a href="E/Roman/Texts/Diodorus_Siculus/1D*.html#84.4" target="Diodorus_E">Diod. Sic. <span class="small">I</span>.84, 85</a> (where all three animals are mentioned). The goat was a cult animal in very early times: <i>cf.</i> <a href="E/Roman/Texts/Herodotus/2A*.html#46" target="Herodotus_E">Herodotus, <span class="small">II</span>.46</a>.
</p>



<p>
	<a class="note" id="note51" href="#ref51">51</a>
	No queens' names are recorded in the Royal Lists of Abydos and Karnak. Herodotus
	<a href="
E/Roman/Texts/Herodotus/2B*.html#100
	">
		(<span class="small">II</span>.100)
	</a>
	records one queen:
	<a href="
E/Roman/Texts/Diodorus_Siculus/1C*.html#44.4
	" target="Diodorus_E">
		Diod. Sic. <span class="small">I</span>.44
	</a>
	(from Hecataeus) reckons the number of Egyptian queens as five.
</p>



<p>
	<a class="note" id="note52" href="#ref52">52</a>
	The stature of each king is said to be noted in the records mentioned by Diodorus
	Siculus,
	<a href="
E/Roman/Texts/Diodorus_Sicus/1C*.html#44.4
	" target="Diodorus_E"> 	Diod. Sic. <span class="small">I</span>.44.4</a>. <i>C </i> <i>infra</i>,
	<a href="manetho2#Fragment_35.King_3">	Fr. 35, No. 3</a>,
	<a href="
E/Roman/Texts/Manetho/Appendices/2*.html#King_6
">
		App. <span class="small">II</span> No. 6 (p216)</a>.
</p>



<p>
	<a class="note" id="note53" href="#ref53">53</a>
	For this absurd perversion of the Greek words, see
	p36 n. 1<!--</a>MANETHO:Greek-->: <span lang="el" class="Greek">πλάτος</span> was added,
	perhaps as a corruption of <span lang="el" class="Greek">παλαιστῶν</span>, and replaced
	<span lang="el" class="Greek">μέγεθος</span> in the Greek version of Eusebius.
</p>



<p>
	<a class="note" id="note54" href="#ref54">54</a>
	The Old Kingdom, Dynasties III‑V: <i>c.</i> 2780-<i>c.</i> 2420 <span class="small">B.C.</span>
<p>
	Dynasty III, <i>c.</i> 2780-<i>c.</i> 2720 <span class="small">B.C.</span> For
	identifications with monumental and other evidence, see Meyer, <i><span
			lang="de">Geschichte</span></i><span class="superscript">5</span>, <span
		class="small">I</span>.ii p174: he identifies (2) Tosorthos (Zoser I — "the Holy"),
	and holds that (1) Necherôphês is one name of KhaꜤsekhemui, (6) Tosertasis may be Zoser
	II Atoti, and (9) Kerpherês may be NeferkerêꜤ II.
</p>



<p>
	<a class="note" id="note55" href="#ref55">55</a>
	Zoser was not the first builder with hewn stone: his predecessor, KhaꜤsekhemui, used
	squared blocks of limestone for building purposes; see Petrie, <i>Royal Tombs</i>, <span
		class="small">II</span> p13. Granite blocks had already formed the floor of the tomb
	of Udymu (Dynasty I).<br>
	Two tombs of Zoser are known: (1) a mastaba at Bêt Khallâf near This (Baedeker<span
		class="superscript">8</span>, p231), see J. Garstang, <i>Mahâsna and Bêt
		Khallâf</i>; and (2) the famous Step
	<a id="p41x"></a>Pyramid at Sakkâra, which was the work of the great architect Imhotep
	(Baedeker<span class="superscript">8</span>, p156 f.).
</p>



<p>
	<a class="note" id="note56" href="#ref56">56</a>
	If the emendation in the text be not accepted, the statement would surely be too
	inaccurate to be attributed to Manetho. The Egyptian Asclepios was Imouth or Imhotep of
	Memphis, physician and architect to King Zoser, afterwards deified: on Philae (now for
	the most part submerged) Ptolemy II Philadelphus built a little temple to Imhotep. See
	Sethe, <i><span lang="de">Untersuchungen</span></i>, <span class="small">II</span>.4
	(1902): J. B. Hurry, <i>Imhotep</i> (Oxford,
	1926)<br>One of the Oxyrhynchus Papyri, edited by Grenfell and Hunt, P. Oxy. <span
		class="small">XI</span>.1381, of the 2c <span class="small">A.D.</span>, has for its
	subject the eulogy of <span class="whole">Imuthês-Asclepius</span>: the fragment
	preserved is part of the prelude. See G. Manteuffel, <i><span lang="la">De Opusculis
			Graecis Aegypti e papyris, ostracis, lapidibusque collectis</span></i>, 1930,
	No. 3.
</p>



<p>
	<a class="note" id="note57" href="#ref57">57</a>
	Dynasty IV, <i>c.</i> 2720-<i>c.</i> 2560 <span class="small">B.C.</span> For
	identifications with monumental and other evidence, see Meyer, <i>Geschichte</i><span
		class="superscript">5</span>, <span class="small">I</span>.ii p181: he identifies
	(1) Sôris (Snofru), (2) Suphis I (Cheops, Khufu), then after DedefreꜤ (not mentioned by
	Manetho), (3) Suphis II (Chephren), (4) Mencherês (Mycerinus), and finally (an uncertain
	identification), (7) Sebercherês (Shepseskaf). For (3) Chephren and <a id="p45x"></a>(4) Mycerinus,
	<a href="E/Roman/Texts/Diodorus_Siculus/1C*.html#64" target="Diodorus_E">Diodorus <span class="small">I</span>.64
	</a> gives the good variants (3) Chabryês and (4) Mencherinus. On the Chronology of Dynasty IV, see Reisner, <i>Mycerinus</i> (<i>cf.</i> <a href="#note58"><i>infra</i>, note 2</a>), pp243 ff. Reisner reads the name Dedefrê<!-- sic, no Ꜥ --> in the form Radedef, and
	identifies it with Ratoisês.<br>The Greek tales of the oppression of Egypt by Cheops and Chephren, etc., are believed to
	be the inventions of dragomans. <i>Cf.</i> <a href="E/Roman/Texts/Herodotus/2B*.html#124" target="Herodotus_E">Herodotus, <span class="small">II</span>.124</a> (contempt for the gods), 129 (Mycerinus), with How and Wells's notes. Africanus has, moreover, acquired as a treasure the "sacred book" of Cheops.
</p>



<p>
	<a class="note" id="note58" href="#ref58">58</a>
	On the Pyramids of Giza, see Baedeker<span class="superscript">8</span>, pp133 ff.; Noel
	F. Wheeler, "Pyramids and their Purpose," <i>Antiquity</i>, 1935, pp5‑21, 161‑189,
	292‑304; and for the fourth king of Dynasty IV see G. A. Reisner, <i>Mycerinus: The
		Temples of the Third Pyramid at Giza</i>, 1931. Notwithstanding their colossal
	dimensions and marvellous construction, the Pyramids have not escaped detraction:
	Frontinus (<i>De Aquis</i>, <span class="small">I</span>.16) contrasts "the <a id="p47x"></a>idle pyramids" with "the indispensable structures" of the several aqueducts at Rome; and Pliny <a href="L/Roman/Texts/Pliny_the_Elder/36*.html#75" target="Pliny">(<i>H. N.</i> 36, 8, § 75)</a> finds in the pyramids "an idle and foolish ostentation of royal wealth". But the pyramids have, at any rate, preserved the names of their builders, especially Cheops, to all future ages, although, as Sir Thomas Browne characteristically wrote <a href="https://penelope.uchicago.edu/hydrionoframes/hydrio5.html#b8">(<i><span class="whole">Urn‑Burial</span></i>, Chap. 5)</a>: "To . . . be but pyramidally extant is a fallacy of duration" . . . "Who can but pity the founder of the Pyramids?" The modern Egyptologist says: "The Great Pyramid is the earliest and most impressive witness . . . to the final emergence of organized society from prehistoric chaos and local conflict" (J. H. Breasted, <i>History of Egypt</i>, p119).
</p>



<p>
	<a class="note" id="note59" href="#ref59">59</a>
	Africanus went from Palestine to Alexandria, attracted by the renown of the philosopher
	Heraclas, Bishop of Alexandria: see Eusebius,
	<a href="https://www.newadvent.org/fathers/250106.htm">
		<i>Hist. Eccl.</i> <span class="small">VI</span>.31, 2</a>.
</p>




<p>
	<a class="note" id="note60" href="#ref60">60</a>
	The <span class="small">MS.</span> <span class="manuscript">A</span> gives as total 274:
	the items add to 284.
</p>



<p>
	<a class="note" id="note61" href="#ref61">61</a>
	Dynasty V <i>c.</i> 2560-<i>c.</i> 2420 <span class="small">B.C.</span> For
	identifications with monumental and other evidence, see Meyer, <i><span
			lang="de">Geschichte</span></i><span class="superscript">5</span>, <span
		class="small">I</span>.ii p203: his list runs (1) Userkaf, (2) SahurêꜤ, (3)
	NefererkerêꜤ Kakai, (4) NefrefrêꜤ or ShepseskerêꜤ, (5) KhaꜤneferrêꜤ, (6) NeweserrêꜤ Ini,
	(7) Menkeuhor (Akeuhor), (8) DedkerêꜤ Asosi, (9) Unas.
</p>



<p>
	<a class="note" id="note62" href="#ref62">62</a>
	The items total 218 years; but if the reign of Othoês, the first king of Dynasty VI is
	added, the total will then be 248 years.
</p>



<p>
	<a class="note" id="note63" href="#ref63">63</a>
	In the chronology of Eusebius, Dynasty V is suppressed: the kings whom he mentions
	belong to Dynasty VI.
</p>



<p>
	<a class="note" id="note64" href="#ref64">64</a>
	Karst translates the Armenian as referring to the sixtieth year — "began to rule at the
	age of 60"; but Aucher's Armenian text has the equivalent of <span lang="la"
		class="Latin">sexennis</span>, "six years old" (Margoliouth).
</p>



<p>
	<a class="note" id="note65" href="#ref65">65</a>
	Dynasties VI‑VIII, the last Memphites, <i>c.</i> 2420-<i>c.</i> 2240 <span
		class="small">B.C.</span> Dynasty VI Meyer (<i>Geschichte</i><span
		class="superscript">5</span>, <span class="small">I</span>.ii p236) identifies as
	follows: (1) Othoês (Teti or Atoti), then after UserkerêꜤ, (2) Phius (Pepi I), (3)
	Methusuphis (MerenrêꜤ I), (4) Phiôps (Pepi II), (5) Menthesuphis (MerenrêꜤ II), (6)
	Nitôcris. Sethe (<i>Sesostris</i>, p3) draws attention to the intentional
	differentiation of the same <span class="whole">family-name</span> — Phius for Pepi I,
	Phiôps for Pepi II; so also (3) Methusuphis and (5) Menthesuphis, and <i>cf.</i>
	<i>infra</i> on Psametik in Dynasty XXVI. Are these variations due to Manetho or to his
	source?
</p>



<p>
	<a class="note" id="note66" href="#ref66">66</a>
	The remarkable descriptions of social disorganization and anarchy, addressed to an aged
	king in the Leiden Papyrus of Ipuwer and known as <i>The Admonitions of an Egyptian
		Sage</i>, are, according to Erman, to be associated with the end of this reign: see
	A. Erman, "<span lang="de">Die Mahnworte eines ägyptischen Propheten</span>" in <i><span
			lang="de">Sitz. der preuss. Akad. der Wissenschaften</span></i>, <span
		class="small">XLII</span>, 1919, p813.
</p>



<p>
	<a class="note" id="note67" href="#ref67">67</a> Nitôcris is doubtless the <span class="Egyptian">Neit‑oḳre(t)</span> <span class="bold emend">{<span class="large inline_hieroglyphic"><!-- N35:X1*Z5 M17 N29 D21:X1*Z4 G7 --><span class="up5 right4">𓈖</span>𓏏𓏯𓇋<span class="up2">𓈎</span><span class="up4">𓂋</span><span class="left3">𓏏𓏭𓅆</span></span>}</span> of the Turin Papyrus: the name means "<span class="whole">Neith</span> is Excellent" (<i>cf.</i> <a href="E/Roman/Texts/Manetho/Appendices/2*.html#King_22">App. <span class="small">II</span> Eratosthenes, No. 22</a>, <span lang="el" class="Greek">Ἀθηνᾶνικηφόρος</span>), and was a favourite name under the Saïte Dynasty (Dyn. XXVI), which was devoted to the worship of <span class="whole">Neith</span>. See Herodotus, <span class="small">II</span>.<a href="E/Roman/Texts/Herodotus/2B*.html#100" target="Herodotus_E">100</a>, <a href="E/Roman/Texts/Herodotus/2B*.html#134">134</a>, <a href="E/Roman/Texts/Diodorus_Siculus/1C*.html#64.14">Diod. Sic. <span class="small">I</span>.64.14</a> (if Rhodôpis is to be identified with Nitôcris), <a href="E/Roman/Texts/Strabo/17A3*.html#1.33" target="Strabo_E">Strabo 17.1.33</a> (a <span class="whole">Cinderella-like</span> story), <a href="L/Roman/Texts/Pliny_the_Elder/36*.html#78" target="Pliny">Pliny, <i>N. H.</i> 36.12.78</a>, and G. A. Wainwright, <i><span class="whole">Sky‑Religion</span></i>, pp41 ff.<br>A queen's reign ending the Dynasty is followed by a period of confusion, just as after Dyn. XII, when Queen <a id="p55x"></a> <ins class="slip">Scemiophris</ins> (SebeknofrurêꜤ) closes the line: <i>cf.</i> perhaps, in Dyn. IV, Thamphthis, of whom nothing is known.&#8288;<a class="ref" id="ref:Thamphthis" href="#note:Thamphthis">*</a><br>	In 1932 Professor Selim Hassan discovered at Giza the tomb of Queen Khentkawes, a tomb of monumental dimensions, the <span class="whole">so‑called</span> fourth or "false" pyramid. Khentkawes was the daughter of Mycerinus; and, disregarding the chronological difficulty, H. Junker, in <i><span lang="de">Mitteilungen des Deutschen Instituts für Ägyptische Altertumskunde in Kairo</span></i>, <span class="small">III</span>.2 (1932), pp144‑149, put forward the theory that the name Nitôcris is derived from Khentkawes, and that Manetho refers here to the <span class="whole">so‑called</span> fourth pyramid, which merits the description <a href="#Fragment_21b">(Fr. 21 (b))</a>, — "with the aspect of a mountain". See further B. van de Walle in <i><span lang="fr">L'Antiquité Classique</span></i>, 3 (1934), pp303‑312.

</p>


<p>
	<a class="note" id="note68" href="#ref68">68</a>
	The correct total is 197 years: the reign of Phiôps is reckoned at 100, instead of 94
	years (the Turin Papyrus gives 90 + <i>x</i> years).
</p>



<p><a class="note" id="note69" href="#ref69">69</a>Dynasty VII — a mere interregnum, or period of confusion until one king gained supreme power.</p>



<p>
	<a class="note" id="note70" href="#ref70">70</a> Dynasty VIII, according to Barbarus <a href="#Fragment_4">(Fr. 4)</a>
	fourteen kings for 140 years: according to Meyer, probably eighteen kings who reigned for 146 years.<br>
	"The Turin Papyrus closes the first great period of Egyptian history at the end of what appears to be Manetho's VIIIth Dynasty (the last Memphites)": it reckons 955 years from Dynasty I to Dynasties VII and VIII. (H. R. Hall in <i>C. A. H.</i> <span class="small">I</span> pp298, 170). See A. Scharff in <i>J. Eg. Arch.</i> <span class="small">XIV</span>, 1928, p275<!--</a>JOURNAL:JEgArch14--><!-- https://www-jstor-org.proxy.uchicago.edu/stable/3854302?seq=20 -->.
</p>

<p><a class="note" id="note71" href="#ref71">71</a>So Aucher, Petermann, and Karst.</p>

<p><a class="note" id="note72" href="#ref72">72</a> Dynasties IX and X <i>c.</i> 2240-<i>c.</i> 2100 <span class="small">B.C.</span> — two series of nineteen kings, both from Hêracleopolis (Baedeker<span class="superscript">8</span>, p218), near the modern village of Ahnâsia (Ancient Egyptian <span class="Egyptian"><span class="whole">Hat‑nen-nesut</span></span> <span class="bold emend">{ <span class="inline_hieroglyphic"><span class="right1">𓉗</span><span class="up5 right3">𓏏</span>𓉐𓇓𓀔<span class="up6">𓈖</span><span class="up4 left4">𓈖</span><span class="left10">𓏏</span><span class="left9">𓊖</span></span>}</span><!-- 𓉗𓏏𓉐𓇓𓀔𓈖𓈖𓏏𓊖 -->), 77 miles S. of Cairo, about 14.5 km<i>c.</i> 9 miles S. of the entrance to the Fayûm.<br>The Turin Papyrus gives eighteen kings for Dynasties IX and X as opposed to Manetho's <span class="whole">thirty-eight</span>.<br>Manetho's account of Dynasty IX is best preserved by Africanus. Barbarus has almost the same figures — twenty kings for 409 years.
</p>



<p>
	<a class="note" id="note73" href="#ref73">73</a> Achthoês: in the Turin Papyrus <span class="Egyptian">Akhtôi</span> (Meyer, <i><span lang="de">Geschichte</span></i><span class="superscript">5</span>, <span class="small">I</span>.ii p247 — three kings of this name). Meyer conjectures that the "cruelty" of Achthoês may be violent or forcible oppression of the feudal nobility.
</p>



<p>
	<a class="note" id="note74" href="#ref74">74</a>
	<i>Cf.</i> <a href="#note38
">p28 n.
		2</a>.<!-- printed text has "n. 3" — which doesn't matter because of my adjusting the numbers for this Web transcription. -->
</p>



<p>
	<a class="note" id="note75" href="#ref75">75</a>Okhthovis (Petermann's translation), <span class="source">-ov-</span> representing the
	long <span class="translit_Greek">o</span>.
</p>

<p>
	<a class="note" id="note76" href="#ref76">76</a> The Middle Kingdom, Dynasties XI‑XIII: <i>c.</i> 2100-<i>c.</i> 1700 <span
		class="small">B.C.</span><br>Dynasty XI (<i>c.</i> 2100-<i>c.</i> 2000 <span class="small">B.C.</span>) with its seat
	at Thebes; sixteen kings of Thebes ruling for only 43 years (Manetho): Turin Papyrus gives six kings with more than 160 years.
</p>

<p><a class="note" id="note77" href="#ref77">77</a> Ammenemês is Amenemhêt I: see <a href="manetho2#note1">pp66 f., nn. 1, 2</a>.</p>

</div>

</Layout>

