---
import Layout from "@/layouts/Layout.astro";

const title = "Early travellers";
let meta1 = "Travellers visiting Egypt";
let meta2 = "travelers,travellers,egypt";
---

<Layout title={title} meta1={meta1} meta2={meta2}>
	<section class="page-content">
		<p class="container">
			<p>Collection of information from many sources, still incomplete.</p>

			<p>
				<dl>
					<dt>Strabo (1st century BC)</dt>
					<dd>
						Greek geographer and historian who lived in the first century BC., best known for his work "Geography," a 17-volume treatise that
						describes the geography and culture of the known world at the time. In this work, Strabo included a detailed account of his travels to
						Egypt, which he visited around 25 BC. In his account of Egypt, Strabo wrote about the geography, history, and culture of the country. He
						described the Nile River, the irrigation systems that sustained agriculture in the region, and the major cities and towns of ancient
						Egypt. He also wrote about the customs, beliefs, and practices of the ancient Egyptians, including their religion, art, and social
						structure. Strabo's account of Egypt is considered an important source of information about the country in the first century BC. His
						observations and descriptions provide valuable insights into the daily lives, beliefs, and practices of the ancient Egyptians and have
						helped to shape our modern understanding of this civilization.
						<br />
						<small>(Strab. 17.1.46)</small>
						<i
							>"Above the Memnonium, in caves, are tombs of kings, which are stone-hewn, are about forty in number, are marvellously constructed, and
							are a spectacle worth seeing."</i
						>
					</dd>

					<dt>Pliny the Elder (1st century CE)</dt>
					<dd>
						Pliny the Elder was a Roman naturalist, philosopher, and writer who lived in the first century AD. He wrote a natural history of the world
						called "Naturalis Historia," which includes a section on Egypt. In this section, Pliny describes the geography, climate, natural
						resources, and customs of Egypt. He also discusses the ancient Egyptian religion, writing about the gods and goddesses worshipped by the
						Egyptians and the rituals and ceremonies that were performed in their honor. Pliny also writes about the pyramids and other famous
						landmarks in Egypt, as well as the country's famous scholars and philosophers.
					</dd>

					<dt>Claudius Ptolemy (2nd century CE)</dt>
					<dd>
						Greek mathematician, astronomer, and geographer who is best known for his work on the geography of the world, which was presented in his
						book "Geographia." Ptolemy's "Geographia" was a comprehensive guide to the known world, and it included maps, descriptions of the various
						regions of the world, and information about their climates, natural resources, and cultures. Ptolemy's work was based on the accounts of
						travelers and scholars, as well as on his own observations and measurements. It was widely used in the ancient world and remained a
						primary source of knowledge about the geography of the world for over 1400 years.
					</dd>

					<dt>Ammien Marcellinus (330-391 CE)</dt>
					<dd>
						A Roman historian who visited Egypt in the 4th century CE. He wrote about his experiences in his book <i>Res Gestae</i>, which is a
						history of the Roman Empire.
					</dd>

					<dt>Anomymous Venetian traveller (1589)</dt>
					<dd>
						Visited Thebes.<br />
						Original account (Italian): <a href="https://archive.org/details/Voyageurs-3/page/n19/mode/2up" target="_blank"
							>Voyages en Égypte 1589 1590 1591 (Archive.org)</a
						><br />
						English translation.
						<blockquote>
							<p>
								14. <i>The Colossi of Thebes.</i> In the countryside, opposite Ochsur [Luxor], I saw a large expanse of land filled with ancient buildings;
								among those which seduced my eyes two large colossi of mixed stone; I was not able to admire them up close, because the countryside is
								completely submerged under water. This is why I only saw them from the bank of the Nile, which was a hundred paces or more away.
							</p>
							<p>
								Apart from these two statues, there were quite a few monuments. Some Moors told me that it was another Ochsur, built opposite the
								other and built by a brother of the one who had built the first, to compete with it. But it seems to me that he must have been
								inferior in every respect. For among the things that I am going to describe to you, I have not seen a building that was of such great
								price, made of such a large quantity of stones, and of such a large size. The better to prove it to you, I'll start on the next
								page...
							</p>
						</blockquote>
					</dd>

					<dt>Granger (1680–1734)</dt>
					<dd>
						French physician and traveller, during his stay in Egypt (1730-31), Granger travelled up the Nile to Aswan, documenting a large number of
						ancient monuments, as well as a considerable amount of its natural history, including animals, plants and minerals. <i
							>Relation du voyage fait en Egypte, par le sieur Granger, en l'année 1730. Où l'on voit ce qu'il y a de plus remarquable,
							particulièrement sur l'histoire naturelle, Paris, Jacques Vincent, 1745.</i
						>
					</dd>

					<dt>Thomas Shaw (1738)</dt>
					<dd>
						English chaplain and naturalist. <i
							>SHAW, THOMAS. Travels or observations relating to several parts of Barbary and the Levant. Oxford, printed at the Theatre, Stephen
							Niblett, 1738. + A Supplement to a book entituled travels, or observations, &c... Oxford, printed at the Theatre, E. Isham, 1746.</i
						>
					</dd>

					<dt>Jean-Baptiste Tavernier (1605-1689)</dt>
					<dd>
						A French traveler who visited Egypt in 1630s and 1640s, but did likely not proceed further south than Cairo. He wrote about his
						experiences in his book Les Six Voyages de Jean-Baptiste Tavernier, which is was very popular.
					</dd>

					<dt>George Sandys (1578-1644)</dt>
					<dd>
						An English traveler who visited Egypt in 1610 but did not go further south than Cairo. He was the first European to publish an account of
						his travels in Egypt in English. Sandys, George. <i>Sandys Travels</i>. (London 1673) Egypt: p.71-95.
					</dd>

					<dt>Jean de Thévenot (1633-1667)</dt>
					<dd>A French traveler who visited Egypt in 1655. He was the first European to visit the Siwa Oasis.</dd>

					<dt>Johann Michael Wansleben (1635-1679)</dt>
					<dd>
						A German orientalist who visited Egypt in 1672-73. He only reached Sohag, about halfway to Aswan. Tell a story from two Capuchin
						missionaries who had visited the main sites of Upper Egypt in 1668.
					</dd>

					<dt>Paul Lucas (1664-1737)</dt>
					<dd>A French traveler who visited Egypt in 1714. He was the first European to travel to the Red Sea coast of Egypt.</dd>

					<dt>Claude Sicard (1677-1726)</dt>
					<dd>A French Jesuit missionary who visited Egypt in 1717. He was the first European to study the Coptic language and culture.</dd>

					<dt>Frederik Ludvig Norden (1708-1742)</dt>
					<dd>
						A Danish naval officer who visited Egypt in 1737-38. He was the first European to make detailed drawings of the pyramids and other ancient
						monuments.
					</dd>

					<dt>Richard Pococke (1704-1765)</dt>
					<dd>
						An English traveler who visited Egypt in 1737-38. He wrote about his experiences in his book A Description of the East and Some Other
						Countries, which is one of the first detailed accounts of Egypt in the English language.
					</dd>

					<dt>James Bruce (1768)</dt>
					<dd>
						Wrote about his travels in Egypt in his book "Travels to Discover the Source of the Nile." James Bruce was a Scottish explorer and
						traveler who lived in the 18th century. He is best known for his journey to Ethiopia to search for the source of the Nile, which he wrote
						about in his book "Travels to Discover the Source of the Nile." In this work, Bruce describes his travels through Egypt and the various
						places he visited, including Cairo, Luxor, and Aswan. He also writes about the people he met and the cultures and customs of the region.
					</dd>

					<dt>Carsten Niebuhr (1761-1767)</dt>
					<dd>German mathematician and explorer, visited Alexandria and the Red Sea in 1761-62.</dd>

					<dt>William George Browne (1768-1813)</dt>
					<dd>
						An English traveler who visited Egypt in 1792-93. He was a keen amateur Egyptologist, and he was the first European to visit the ancient
						city of Meroë in Sudan.
					</dd>

					<dt>Johann Ludwig Burckhardt</dt>
					<dd>
						A Swiss traveler and orientalist who visited Egypt in 1813-15. He is best known for his work as an Arabist and for his travelogue Travels
						in Nubia (1819). Burckhardt was born in 1784 in Basel, Switzerland. In 1809, he traveled to Egypt, where he lived and studied for several
						years. He disguised himself as an Arab and traveled extensively throughout the country, visiting many of the major historical sites. In
						1813, Burckhardt traveled to Nubia, a region of Sudan that was then part of Egypt. He was the first European to visit the region since the
						17th century. He traveled up the Nile River to the city of Aswan, and then into the desert. He was forced to turn back after encountering
						hostile peoples and on his way back north, on March 22, 1813, he visited Abu Simbel, and noted that the four colossal statues of Ramesses
						II probably hid a large temple beneath the vast sans covering them. It provides detailed descriptions of the geography, history, and
						culture of Nubia. Burckhardt's work was instrumental in raising awareness of Nubia in Europe, and it helped to pave the way for future
						exploration of the region.
					</dd>

					<dt>Giovanni Battista Belzoni (1778-1823)</dt>
					<dd>
						An Italian explorer who visited Egypt in 1816. He is best known for his discovery of the tomb of Seti I in the Valley of the Kings. He
						wrote about his experiences in his book Narrative of the Operations and Recent Discoveries in Egypt and Nubia, which is an important
						source of information about early Egyptology.
					</dd>

					<dt>Maria Martin (1793-1863)</dt>
					<dd>An Englishwoman who visited Egypt in 1818. She was the first European woman to visit the Valley of the Kings.</dd>

					<dt>Frederick Cailliaud (1787-1862)</dt>
					<dd>
						A French explorer who visited Egypt in 1819-22. He is best known for his discovery of the Temple of Hathor at Dendera. He wrote about his
						experiences in his book Voyage à l'Égypte et aux Oasis.
					</dd>

					<dt>Jean-François Champollion (1790-1832)</dt>
					<dd>
						A French scholar who deciphered the hieroglyphs in 1822. He visited Egypt in 1828-29 to study the ancient monuments. He wrote about his
						experiences in his book Lettres d'Égypte.
					</dd>

					<dt>Henry Salt (1780-1827)</dt>
					<dd>
						An English diplomat who served as British consul-general in Egypt from 1815 to 1827. He was a keen amateur Egyptologist and amassed a
						large collection of antiquities, including the famous Rosetta Stone. He wrote about his experiences in his book A Voyage to Egypt and
						Nubia.
					</dd>

					<dt>Karl Richard Lepsius (1810-1884)</dt>
					<dd>
						A German Egyptologist who visited Egypt in 1842-45. He was the first European to conduct a systematic survey of the country's ancient
						monuments.
					</dd>

					<dt></dt>
					<dd></dd>
				</dl>
			</p>
		</p>
	</section>
</Layout>

<style>
	dt {
		padding-top: 1rem;
		padding-bottom: 0.5rem;
		font-weight: var(--font-weight-light);
		color: light-dark(var(--primary), var(--dark-primary));
		font-size: var(--text-2xl);
	}
	dd {
		padding-inline: 1rem;
		padding-bottom: 1rem;
		line-height: var(--font-lineheight-3);
		text-align: justify;
	}
</style>
