---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Comparing Manetho's king lists">
	<section class="page-content">
		<div class="lead pt-3 sizep-95">
			More than two millenia has passed since <a href="/authors">Manetho</a> wrote his <em>Aegyptiaca</em> in Egypt. The transmission of the original manuscript
			has not been easy, nor is it wholly trustworthy.
		</div>

		<p class="pt-3">
			As the lists are straightforward, tabulating them together is easy. Discrepancies naturally occur, from errors in copying, misreading the
			original, to intentional changes, basically any of a multitude of human errors.<br /><br />
			<a href="/authors/africanus">Africanus</a> is generally considered more trustworthy than <a href="/authors/eusebius">Eusebius</a>, because his
			edition is more complete and was written a hundred years prior to Eusebius, and might have been less 'tainted' by earlier versions of the
			Epitome closer to the original text of Manetho.
		</p>

		<h2 class="text-center my-8">The Manethonian king lists</h2>
		<div>
			<h3 class="text-center">Dynasty 1</h3>
			<table>
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">8 kings, 253 years<sup>1</sup></td><td colspan="3" class="text-center"
						>8 kings, 252<sup>2</sup> years<sup>3</sup></td
					></tr
				>
				<tr><td>Narmer</td><td>1</td><td>Menes</td><td>62</td><td>1</td><td>Menes</td><td>60<sup>4</sup></td></tr>
				<tr><td>Aha</td><td>2</td><td>Athothis</td><td>57</td><td>2</td><td>Athotis</td><td>27</td></tr>
				<tr><td>Djer</td><td>3</td><td>Kenkenes</td><td>31</td><td>3</td><td>Kenkenes</td><td>39</td></tr>
				<tr><td>Djet</td><td>4</td><td>Ouenephes</td><td>23</td><td>4</td><td>Ouenephes</td><td>42</td></tr>
				<tr><td>Den</td><td>5</td><td>Ousaphaidos</td><td>20</td><td>5</td><td>Ousaphais</td><td>20</td></tr>
				<tr><td>Adjib</td><td>6</td><td>Miebidos</td><td>26</td><td>6</td><td>Niebais</td><td>26</td></tr>
				<tr><td>Semerkhet</td><td>7</td><td>Semempses</td><td>18</td><td>7</td><td>Semempses<sup>5</sup></td><td>18</td></tr>
				<tr><td>Qa'a</td><td>8</td><td>Bienekhes</td><td>26</td><td>8</td><td>Oubienthes</td><td>26</td></tr>
				<tfoot
					><tr
						><td colspan="7"
							><sup>1</sup> The correct sum is 263 years<br /><sup>2</sup> The correct sum is 258 years<br /><sup>3</sup> Armenian Eusebius: 270 years<br
							/><sup>4</sup> Armenian Eusebius: 30 years.<br /><sup>5</sup> Armenian Eusebius: Memphses.</td
						></tr
					></tfoot
				>
			</table>
		</div>

		<div class="pt-5">
			<h3 class="text-center">Dynasty 2</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">9 kings of Memphis, 302 years</td><td colspan="3" class="text-center"
						>9 kings, 297 years</td
					></tr
				>
				<tr><td>Hotepsekhemwy</td><td>1</td><td>Boethos</td><td>38</td><td>1</td><td>Bokhos</td><td>-</td></tr>
				<tr><td>Nebra</td><td>2</td><td>Kaiekhos</td><td>39</td><td>2</td><td>Kho&ouml;s<sup>1</sup></td><td>-</td></tr>
				<tr><td>Ninetjer</td><td>3</td><td>Binothris</td><td>47</td><td>3</td><td>Biophis</td><td>-</td></tr>
				<tr><td>Wadjnes</td><td>4</td><td>Tlas</td><td>17</td><td>4</td><td>-</td><td>-</td></tr>
				<tr><td>Senedj</td><td>5</td><td>Sethenes</td><td>41</td><td>5</td><td>-</td><td>-</td></tr>
				<tr><td>?</td><td>6</td><td>Khaeres</td><td>17</td><td>6</td><td>-</td><td>-</td></tr>
				<tr><td>Sneferka</td><td>7</td><td>Nepherkheres</td><td>25</td><td>7</td><td>-</td><td>-</td></tr>
				<tr><td>Neferkasokar</td><td>8</td><td>Sesokhris</td><td>48</td><td>8</td><td>Sesokhris</td><td>48</td></tr>
				<tr><td>Khasekhemwy</td><td>9</td><td>Kheneres</td><td>30</td><td>9</td><td>Kheneres</td><td>30</td></tr>
				<tfoot><tr><td colspan="7"><sup>1</sup> Armenian Eusebius: Kekhoos</td></tr></tfoot>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 3</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">9 kings of Memphis, 214 years</td><td colspan="3" class="text-center"
						>8 kings of Memphis, 198 years</td
					></tr
				>
				<tr><td>Nebka</td><td>1</td><td>Nekherophes</td><td>28</td><td>1</td><td>Nekherokhis</td><td>-</td></tr>
				<tr><td>Djoser</td><td>2</td><td>Tosorthros</td><td>29</td><td>2</td><td>Sesorthos</td><td>-</td></tr>
				<tr><td>Sekhemkhet</td><td>3</td><td>Tyreis</td><td>7</td><td>3</td><td>-</td><td>-</td></tr>
				<tr><td>Mesochris</td><td>4</td><td>Mesokhris</td><td>17</td><td>4</td><td>-</td><td>-</td></tr>
				<tr><td>?</td><td>5</td><td>Souphis</td><td>16</td><td>5</td><td>-</td><td>-</td></tr>
				<tr><td>?</td><td>6</td><td>Tosertasis</td><td>19</td><td>6</td><td>-</td><td>-</td></tr>
				<tr><td>?</td><td>7</td><td>Akhes</td><td>42</td><td>7</td><td>-</td><td>-</td></tr>
				<tr><td>?</td><td>8</td><td>Sephouris</td><td>30</td><td>8</td><td>-</td><td>-</td></tr>
				<tr><td>?</td><td>9</td><td>Kerpheres</td><td>26</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 4</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">8 kings of Memphis, 277 years<sup>1</sup></td><td colspan="3" class="text-center"
						>17 kings of Memphis, 448 years</td
					></tr
				>
				<tr><td>Snoferu</td><td>1</td><td>Soris</td><td>29</td><td>-</td><td>-</td><td>-</td></tr>
				<tr><td>Khufu</td><td>2</td><td>Souphis</td><td>63</td><td>3</td><td>Souphis</td><td>-</td></tr>
				<tr><td>Khafra</td><td>3</td><td>Souphis</td><td>66</td><td>-</td><td>-</td><td>-</td></tr>
				<tr><td>Menkaura</td><td>4</td><td>Menkheres</td><td>63</td><td>-</td><td>-</td><td>-</td></tr>
				<tr><td>Djedefra</td><td>5</td><td>Rhatoises</td><td>25</td><td>-</td><td>-</td><td>-</td></tr>
				<tr><td>Baufra</td><td>6</td><td>Bikheres</td><td>22</td><td>-</td><td>-</td><td>-</td></tr>
				<tr><td>Shepseskaf</td><td>7</td><td>Seberkheres</td><td>7</td><td>-</td><td>-</td><td>-</td></tr>
				<tr><td>Thamphthis</td><td>8</td><td>Thamphthis</td><td>9</td><td>-</td><td>-</td><td>-</td></tr>
				<tfoot><tr><td colspan="7"><sup>1</sup> The correct sum is 284 years</td></tr></tfoot>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 5</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">8 kings of Elephantine, 248 years<sup>1</sup></td><td colspan="3" class="text-center"
						>31 kings of Elephantine, 100 years<sup>2</sup></td
					></tr
				>
				<tr><td>Userkaf</td><td>1</td><td>Ouserkheres</td><td>28</td><td>1</td><td><em>Otho&euml;s<sup>3</sup></em></td><td>-</td></tr>
				<tr><td>Sahura</td><td>2</td><td>Sephres</td><td>13</td><td>-</td><td>-</td><td>-</td></tr>
				<tr><td>Neferirkara I Kakai</td><td>3</td><td>Nepherkheres</td><td>20</td><td>-</td><td>-</td><td>-</td></tr>
				<tr><td>Shepseskara Netjeruser</td><td>4</td><td>Sisires</td><td>7</td><td>4</td><td><em>Phiops<sup>3</sup></em></td><td>94</td></tr>
				<tr><td>Neferefra Isi</td><td>5</td><td>Kheres</td><td>20</td><td>-</td><td>-</td><td>-</td></tr>
				<tr><td>Niuserra Ini</td><td>6</td><td>Rhathoures</td><td>44</td><td>-</td><td>-</td><td>-</td></tr>
				<tr><td>Menkauhor Kaiu</td><td>7</td><td>Menkheres</td><td>9</td><td>-</td><td>-</td><td>-</td></tr>
				<tr><td>Djedkara Isesi</td><td>8</td><td>Tankheres</td><td>44</td><td>-</td><td>-</td><td>-</td></tr>
				<tr><td>Unas</td><td>9</td><td>Onnos</td><td>33</td><td>-</td><td>-</td><td>-</td></tr>
				<tfoot
					><tr
						><td colspan="7"
							><sup>1</sup> The sum of the items given is 218 years.<br /><sup>2</sup> Eusebius simply added 100 years for this dynasty in the total with
							the previous dynasties<br /><sup>3</sup> Eusebius' fifth dynasty kings actually belong to the sixth</td
						></tr
					></tfoot
				>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 6</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">6 kings of Memphis, 203 years<sup>1</sup></td><td colspan="3" class="text-center"
						>203 years<sup>2</sup></td
					></tr
				>
				<tr><td>Teti</td><td>1</td><td>Othoes</td><td>30</td><td>1</td><td><em>Othoes<sup>3</sup></em></td><td>-</td></tr>
				<tr><td>Pepi I</td><td>2</td><td>Phios</td><td>53</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tr><td>Nemtiemsaf I</td><td>3</td><td>Methusouphis</td><td>7</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tr><td>Pepi II</td><td>4</td><td>Phiops</td><td>94</td><td>4</td><td><em>Phiops<sup>3</sup></em></td><td>94</td></tr>
				<tr><td>Nemtiemsaf II</td><td>5</td><td>Menthesouphis</td><td>1</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tr><td>Netjerikara</td><td>6</td><td>Nitokris &#x2640;</td><td>12</td><td>?</td><td>Nitokris &#x2640;</td><td>-</td></tr>
				<tfoot
					><tr
						><td colspan="7"
							><sup>1</sup> The sum of the items given is 197 years, probably added 100 instead of 94 for Phiops<br /><sup>2</sup> No mention of number
							of kings, nor the capital. Only names Nitocris as part of the Sixth dynasty<br /><sup>3</sup> Eusebius' lists these kings in his fifth dynasty</td
						></tr
					></tfoot
				>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 7</h3>
			<table>
				<tbody>
					<tr><th>Africanus</th><th>Eusebius</th></tr>
					<tr>
						<td class="text-center">70 kings of Memphis ruled for 70 days</td>
						<td class="text-center">5 kings of Memphis ruled for 75 days<sup>1</sup></td>
					</tr>
					<tr><td class="m1__td text-center italic" colspan="2">No names mentioned</td></tr>
				</tbody>
				<tfoot><tr><td colspan="7" class="m2__fot"><sup>1</sup> Armenian Eusebius has 75 years instead of 75 days</td></tr></tfoot>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 8</h3>
			<table>
				<tr><th>Africanus</th><th>Eusebius</th></tr>
				<tr>
					<td class="text-center">27 kings of Memphis, 146 years</td>
					<td class="text-center">5 kings of Memphis, 100 years</td>
				</tr>
				<tr><td class="text-center italic" colspan="2">No names mentioned</td></tr>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 9</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3">19 kings of Herakleopolis , 409 years</td><td colspan="3" class="text-center"
						>4 kings of Herakleopolis , 100 years</td
					></tr
				>
				<tr><td>Wahkara Khety II</td><td>1</td><td>Akhtho&euml;s</td><td>-</td><td>1</td><td>Akhtho&euml;s</td><td>-</td></tr>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 10</h3>
			<table class="mt-3 s90">
				<tr><th>Africanus</th><th>Eusebius</th></tr>
				<tr><td class="text-center" colspan="2">19 kings of Herakleopolis , 185 years</td></tr>
				<tr><td class="text-center italic" colspan="2">No names mentioned</td></tr>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 11</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr><td>&nbsp;</td><td colspan="6" class="text-center">16 kings of Thebes, 43 years<sup>1</sup></td></tr>
				<tr><td>&nbsp;</td><td>#</td><td>-</td><td>43</td><td>#</td><td>-</td><td>43</td></tr>
				<tfoot><tr><td colspan="7"><sup>1</sup> Sixteen kings ruled for 43 years, then Ammenemes for 16 years.</td></tr></tfoot>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Between dynasties</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr><td>Amenemhat I</td><td>16</td><td>Ammenemes</td><td>16</td><td>16</td><td>Ammenemes</td><td>16</td></tr>
				<tfoot
					><tr
						><td class="m1__td text-center" colspan="7"
							>Ammenemes was placed outside the dynasties &ndash; and not part of the Twelfth Dynasty, due to errors by the redactor of the Epitome.<br
							/>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 12</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">7 kings of Diospolis, 160 years</td><td colspan="3" class="text-center"
						>7 kings of Diospolis, 245 years<sup>1</sup></td
					></tr
				>
				<tr><td>Senusret I</td><td>1</td><td>Sesonkhosis</td><td>46</td><td>1</td><td>Sesonkhosis</td><td>46</td></tr>
				<tr><td>Amenemhat II</td><td>2</td><td>Ammanemes</td><td>38</td><td>2</td><td>Ammanemes</td><td>38</td></tr>
				<tr><td>Senusret II + Senusret III</td><td>3</td><td>Sesostris</td><td>48</td><td>3</td><td>Sesostris</td><td>48</td></tr>
				<tr><td>Amenemhat III</td><td>4</td><td>Lakhares</td><td>8</td><td>4</td><td>Lamaris</td><td>8</td></tr>
				<tr><td>?</td><td>5</td><td>Ammeres</td><td>8</td><td>5</td><td>-</td><td rowspan="3">42</td></tr>
				<tr><td>?</td><td>6</td><td>Ammenemes</td><td>8</td><td>6</td><td>-</td></tr>
				<tr><td>Neferusobek</td><td>7</td><td>Skemiophris &#x2640;</td><td>4</td><td>7</td><td>-</td></tr>
				<tfoot
					><tr
						><td colspan="7"
							><sup>1</sup> The correct sum is 182 years.<br /><br />Note: The redactor of the Epitome failed to understand that Manetho's narrative
							contained not only four kings named Amenemmes, and three kings named Sestoris, but most of them also had coregencies with their sons.
							This confusion of the identity of the kings and their reigns resulted in disarray &ndash; from Ammenemes to Skemiophris.
						</td></tr
					></tfoot
				>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 13</h3>
			<table>
				<tr><th>Africanus</th><th>Eusebius</th></tr>
				<tr class="text-center">
					<td colspan="2">60 kings of Diospolis, 453 years</td>
				</tr>
				<tr class="text-center italic"><td colspan="2">No names mentioned</td></tr>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 14</h3>
			<table>
				<tr><th>Africanus</th><th>Eusebius</th></tr>
				<tr class="text-center">
					<td>76 kings of Xois, 184 years</td>
					<td>76 kings of Xois, 184 years<sup>1</sup></td>
				</tr>
				<tr class="text-center italic"><td colspan="2">No names mentioned</td></tr>
				<tfoot
					><tr
						><td class="m2__fot" colspan="2"
							><sup>1</sup> Armenian Eusebius: 484 years. Syncellus noted that another copy of Eusebius had 284 years.</td
						></tr
					></tfoot
				>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 15</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius<sup>1</sup></th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">6 shepherd kings from Phoenicia, 284 years</td><td colspan="3" class="text-center"
						>Kings of Diospolis, 250 years<sup>2</sup></td
					></tr
				>
				<tr><td>Salitis</td><td>1</td><td>Saites</td><td>19</td><td>1</td><td>Saites*</td><td>19</td></tr>
				<tr><td>Beon</td><td>2</td><td>Bnon</td><td>44</td><td>2</td><td>Bnon*</td><td>40</td></tr>
				<tr><td>Apachnas</td><td>3</td><td>Pakhnan</td><td>61</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tr><td>Khyan</td><td>4</td><td>Staan</td><td>50</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tr><td>Khamudy</td><td>5</td><td>Arkhles</td><td>61</td><td>4<sup>3</sup></td><td>Archles*</td><td>30</td></tr>
				<tr><td>Apepi</td><td>6</td><td>Aphobis</td><td>49</td><td>3<sup>3</sup></td><td>Aphophis*</td><td>14</td></tr>
				<tfoot
					><tr
						><td colspan="7"
							>* Eusebius place these kings in his seventeenth dynasty. Placed here for the sake of comparision with Africanus.<br /><sup
								class="m1__sup">1</sup
							> Eusebius place these kings in his seventeenth dynasty. The the two dynasties were likely interchanged.<br /><sup>2</sup> from Eusebius'
							17th dynasty: foreign kings from Phoenicia who seized Memphis, 103 years<br /><sup>3</sup> Armenian Eusebius: Aphophis reigned before Arkhles.</td
						></tr
					></tfoot
				>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 16</h3>
			<table>
				<tr><th>Africanus</th><th>Eusebius</th></tr>
				<tr class="text-center">
					<td>32 shepherd kings, 518 years</td>
					<td>5 kings of Thebes, 190 years</td>
				</tr>
				<tr class="text-center italic"><td colspan="2">No names mentioned</td></tr>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 17</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius<sup>1</sup></th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">43 shepherd kings and<br />43 kings of Diospolis (Thebes), 151 years<sup>2</sup></td><td
						colspan="3"
						class="text-center">4 shepherd kings of Memphis, 103 years</td
					></tr
				>
				<tr><td>-</td><td>-</td><td>-</td><td>-</td><td>1</td><td>Saites<sup>*</sup></td><td>19</td></tr>
				<tr><td>-</td><td>-</td><td>-</td><td>-</td><td>2</td><td>Bnon<sup>*</sup></td><td>40</td></tr>
				<tr><td>-</td><td>-</td><td>-</td><td>-</td><td>3</td><td>Aphophis<sup>*</sup></td><td>14</td></tr>
				<tr><td>-</td><td>-</td><td>-</td><td>-</td><td>4</td><td>Archles<sup>*</sup></td><td>30</td></tr>
				<tfoot
					><tr
						><td colspan="7"
							><sup>1</sup> Eusebius' Dynasty XV has: Kings of Diospolis, 250 years. The two dynasties were likely interchanged.<br /><sup>2</sup> The redactor
							of the epitome clearly misunderstood a summation by compounding two separate dynasties into one.</td
						></tr
					></tfoot
				>
			</table>
		</div>
		<div class="pt-5 w-full overflow-x-auto">
			<h3 class="text-center">Dynasty 18</h3>

			<p class="w-3/4 mx-auto text-sm">
				The names and reigns of the kings of this dynasty are quite confusing, likely due to the fact that there were four kings named Amenhotep and
				four named Thutmose, which the Epitomist misunderstood. Not to mention the obscure Amarna period, and the coregencies between kings.
			</p>
			<table class="w-full mt-3">
				<tbody>
					<tr>
						<th class="whitespace-nowrap">Pharaoh</th>
						<th class="whitespace-nowrap" colspan="3">Africanus</th>
						<th class="whitespace-nowrap" colspan="3">Eusebius</th>
						<th class="whitespace-nowrap" colspan="3">Jerome</th>
						<th class="whitespace-nowrap" colspan="2">Josephus <sup>1</sup></th>
					</tr>
					<tr
						><td>&nbsp;</td>
						<td colspan="3" class="text-center">16 kings of Diospolis,<br />263 years</td>
						<td colspan="3" class="text-center">14 kings of Diospolis,<sup>2</sup><br />348 years</td>
						<td colspan="3" class="text-center">Kings of Diospolis,<br />348 years</td>
						<td colspan="2" class="text-center">246 years<sup>3</sup></td></tr
					>
					<tr class="m3__td"
						><td>Ahmose I</td>
						<td>1</td><td>Amos</td><td>-</td>
						<td>1</td><td>Amosis</td><td>25</td>
						<td>1</td><td>Amosis</td><td>25</td>
						<td>Tethmosis</td><td>25/4</td></tr
					>
					<tr class="m3__td"
						><td>Thutmose II</td>
						<td>2</td><td>Khebros</td><td>13</td>
						<td>2</td><td>Khebron</td><td>13</td>
						<td>2</td><td>Chebron</td><td>13</td>
						<td>Khebron</td><td>13</td></tr
					>
					<tr class="m3__td"
						><td>Amenhotep I</td>
						<td>3</td><td>Amenophthis</td><td>24<sup>4</sup></td>
						<td>3</td><td>Ammenophis</td><td>21</td>
						<td>3</td><td>Ammenophis</td><td>21</td>
						<td>Amenophis</td><td>20/7</td></tr
					>
					<tr class="m3__td"
						><td>Hatshepsut</td>
						<td>4</td><td>Amensis</td><td>22</td>
						<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
						<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
						<td>Amesses &#x2640;</td><td>21/9</td></tr
					>
					<tr class="m3__td"
						><td>Thutmose I</td>
						<td>5</td><td>Misaphris</td><td>13</td>
						<td>4</td><td>Miphres<sup>5</sup></td><td>12</td>
						<td>4</td><td>Mephres</td><td>12</td>
						<td>Mephres</td><td>12/9</td></tr
					>
					<tr class="m3__td"
						><td>Thutmose III</td>
						<td>6</td><td>Misphragmouthosis</td><td>26</td>
						<td>5</td><td>Misphragmouthosis</td><td>26</td>
						<td>5</td><td>Mispharmuthosis</td><td>26</td>
						<td>Mephramuthosis</td><td>25/10</td></tr
					>
					<tr class="m3__td"
						><td>Thutmose IV</td>
						<td>7</td><td>Touthmosis</td><td>9</td>
						<td>6</td><td>Touthmosis</td><td>9</td>
						<td>6</td><td>Thmosis</td><td>9</td>
						<td>Thmosis</td><td>9/8</td></tr
					>
					<tr class="m3__td"
						><td>Amenhotep II</td>
						<td>8</td><td>Amenophis</td><td>31</td>
						<td>7</td><td>Amenophis</td><td>31</td>
						<td>7</td><td>Ammenophis</td><td>31</td>
						<td>Amenophis</td><td>30/10</td></tr
					>
					<tr class="m3__td"
						><td>Amenhotep III</td>
						<td>9</td><td>Oros</td><td>37</td>
						<td>8</td><td>Oros</td><td>36<sup>6</sup></td>
						<td>8</td><td>Orus</td><td>38</td>
						<td>Oros</td><td>36/5</td></tr
					>
					<tr class="m3__td"
						><td>Neferneferuaten<sup>7</sup></td>
						<td>10</td><td>Akherres</td><td>32</td>
						<td>9</td><td>Akhenkherses</td><td>12<sup>8</sup></td>
						<td>9</td><td>Achencheres</td><td>12</td>
						<td>Akenkheres &#x2640;</td><td>12/1</td></tr
					>
					<tr class="m3__td"
						><td>Tutankhamun?</td>
						<td>11</td><td>Rhathos</td><td>6</td>
						<td>10</td><td>Athoris<sup>9</sup></td><td>39</td>
						<td>10</td><td>Achoris</td><td>9</td>
						<td>Rhathotis</td><td>9</td></tr
					>
					<tr class="m3__td"
						><td>?</td>
						<td>12</td><td>Khebres</td><td>12</td>
						<td>11</td><td>Khenkheres<sup>9</sup></td><td>16</td>
						<td>11</td><td>Chenchres</td><td>16</td>
						<td>Akenkheres</td><td>12/5</td></tr
					>
					<tr class="m3__td"
						><td>?</td>
						<td>13</td><td>Akherres</td><td>12</td>
						<td>12</td><td>Akherres</td><td>8</td>
						<td>12</td><td>Acherres</td><td>8</td>
						<td>Akenkheres</td><td>12/3</td></tr
					>
					<tr class="m3__td"
						><td>?</td>
						<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
						<td>13</td><td>Kherres</td><td>15</td>
						<td>13</td><td>Cherres</td><td>15</td>
						<td>&nbsp;</td><td>&nbsp;</td></tr
					>
					<tr class="m3__td"
						><td>Horemheb</td>
						<td>14</td><td>Armesis</td><td>5</td>
						<td>14</td><td>Armais</td><td>5</td>
						<td>14</td><td>Armais</td><td>5</td>
						<td>Armais</td><td>4/1</td></tr
					>
					<tr class="m3__td"
						><td>&nbsp;</td>
						<td>15</td><td>Rhamesses<sup>10</sup></td><td>1</td>
						<td>15</td><td>Rhamesses<sup>11</sup></td><td>68</td>
						<td>15</td><td>Remesses</td><td>68</td>
						<td>&nbsp;</td><td>&nbsp;</td></tr
					>
					<tr class="m3__td"
						><td>&nbsp;</td>
						<td>16</td><td>Amenophath</td><td>19</td>
						<td>16</td><td>Amenophis</td><td>40</td>
						<td>16</td><td>Menophis</td><td>40</td>
						<td>&nbsp;</td><td>&nbsp;</td></tr
					>
				</tbody>
				<tfoot
					><tr
						><td colspan="12">
							<sup>1</sup> Josephus did not indicate any kind of dynastic numbering, and thus no dynastic breaks.<br />
							<sup>2</sup> The list contain 16 kings, not 14.<br />
							<sup>3</sup> Added together for comparision (240 years plus 72 months.)<br />
							<sup>4</sup> Goar emended this to 21 to fit with the summation: <em>'Total 69 years from Amos to the rule of Misphragmouthosis'</em>.<br
							/>
							<sup>5</sup> Armenian Eusebius: Misphres<br />
							<sup>6</sup> Armenian Eusebius: 38 years<br />
							<sup>7</sup> Josephus write that this ruler was female, which then can only mean Neferneferuaten.<br />
							<sup>8</sup> Armenian Eusebius: 16 years<br />
							<sup>9</sup> Armenian Eusebius: Athoris and Khenkheres names of Eusebius absent, Akherres follow directly after Akhenkherses<br />
							<sup>10</sup> Probably Ramesses I of the 19th dynasty, based on the length of his known reign.<br />
							<sup>11</sup> Probably Ramesses II of the 19th dynasty, based on the length of his known reign.</td
						></tr
					>
				</tfoot>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 19</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">6 kings of Diospolis, 209 years<sup>1</sup></td><td colspan="3" class="text-center"
						>5 kings of Diospolis, 194 years</td
					></tr
				>
				<tr><td>Seti I</td><td>1</td><td>Sethos</td><td>51</td><td>1</td><td>Sethos</td><td>55</td></tr>
				<tr><td>Ramesses II</td><td>2</td><td>Rhapsakes</td><td>61</td><td>2</td><td>Rhampses</td><td>66</td></tr>
				<tr><td>Merenptah</td><td>3</td><td>Amenephthes</td><td>20</td><td>3</td><td>Ammenephthis</td><td>40<sup>2</sup></td></tr>
				<tr><td>?</td><td>4</td><td>Rhamesses</td><td>60</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tr><td>Amenmesse</td><td>5</td><td>Ammenemnes</td><td>5</td><td>4</td><td>Ammenemes</td><td>26</td></tr>
				<tr><td>Tausret</td><td>6</td><td>Thouoris</td><td>7</td><td>5</td><td>Thouoris</td><td>7</td></tr>
				<tfoot
					><tr><td colspan="7"><sup>1</sup> The sum of the items given is 204 years<br /><sup>2</sup> Armenian Eusebius has 8 years</td></tr></tfoot
				>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 20</h3>
			<table>
				<tr><th>Africanus</th><th>Eusebius</th></tr>
				<tr>
					<td class="text-center">12 kings of Thebes, 135 years</td>
					<td class="text-center">12 kings of Thebes, 178 years</td>
				</tr>
				<tr class="text-center italic"><td colspan="2">No names mentioned</td></tr>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 21</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">7 kings of Tanis, 130 years<sup>1</sup></td><td colspan="3" class="text-center"
						>7 kings of Tanis, 130 years</td
					></tr
				>
				<tr><td>Smendes I</td><td>1</td><td>Smendes</td><td>26</td><td>1</td><td>Smendis</td><td>26</td></tr>
				<tr><td>Psusennes I</td><td>2</td><td>Psousennes</td><td>46</td><td>2</td><td>Psousennes</td><td>41</td></tr>
				<tr><td>Amenemnesut</td><td>3</td><td>Nephelkheres</td><td>4</td><td>3</td><td>Nepherkheres</td><td>4</td></tr>
				<tr><td>Amenemope</td><td>4</td><td>Amenophthis</td><td>9</td><td>4</td><td>Ammenophthis</td><td>9</td></tr>
				<tr><td>Osochor</td><td>5</td><td>Osokhor</td><td>6</td><td>5</td><td>Osokhor</td><td>6</td></tr>
				<tr><td>Siamun</td><td>6</td><td>Psinakhes</td><td>9</td><td>6</td><td>Psinakhes</td><td>9</td></tr>
				<tr><td>Psusennes II</td><td>7</td><td>Psousennes</td><td>14</td><td>7</td><td>Psousennes</td><td>35</td></tr>
				<tfoot><tr><td colspan="7"><sup>1</sup> The sum of the items given is 114 years</td></tr></tfoot>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 22</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">9 kings of Bubastis, 120 years<sup>1</sup></td><td colspan="3" class="text-center"
						>3 kings of Bubastis, 49 years</td
					></tr
				>
				<tr><td>Shoshenq I</td><td>1</td><td>Sesonkhosis</td><td>21</td><td>1</td><td>Sesonkhosis</td><td>21</td></tr>
				<tr><td>Osorkon I</td><td>2</td><td>Osorthon</td><td>15</td><td>2</td><td>Osorthon</td><td>15</td></tr>
				<tr><td>-</td><td>3-5</td><td>-</td><td>25</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tr><td>Takelot I</td><td>6</td><td>Takelothis</td><td>13</td><td>3</td><td>Takelothis</td><td>13</td></tr>
				<tr><td>-</td><td>7-9</td><td>-</td><td>42</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tfoot><tr><td colspan="7"><sup>1</sup> The sum of the items given is 116 years</td></tr></tfoot>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 23</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">4 kings of Tanis, 89 years</td><td colspan="3" class="text-center"
						>3 kings of Tanis, 44 years</td
					></tr
				>
				<tr><td>Pedubast I</td><td>1</td><td>Petubates</td><td>40</td><td>1</td><td>Petubastis</td><td>25</td></tr>
				<tr><td>Osorkon III</td><td>2</td><td>Osorkho</td><td>8</td><td>2</td><td>Osorthon</td><td>9</td></tr>
				<tr><td>?</td><td>3</td><td>Psammus</td><td>10</td><td>3</td><td>Psammus</td><td>10</td></tr>
				<tr><td>&nbsp;</td><td>4</td><td>Zet<sup>1</sup></td><td>31</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tfoot
					><tr
						><td colspan="7"
							><sup>1</sup> The name Zet might be a contraction of <span lang="grc">&Zeta;&eta;&tau;&epsilon;&iota;&tau;&alpha;&iota;</span> (&quot;there
							is a question&quot;), with the implication that the name is uncertain/unknown.</td
						></tr
					></tfoot
				>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 24</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr><td>Bakenrenef</td><td>1</td><td>Bokhkhoris</td><td>6</td><td>1</td><td>Bokhkhoris</td><td>44</td></tr>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 25</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">3 Ethiopian kings, 40 years</td><td colspan="3" class="text-center"
						>3 Ethiopian kings, 44 years</td
					></tr
				>
				<tr><td>Shabaka</td><td>1</td><td>Sabakon</td><td>8</td><td>1</td><td>Sabakon</td><td>12</td></tr>
				<tr><td>Shebitko</td><td>2</td><td>Sebikhos</td><td>14</td><td>2</td><td>Sebikhos</td><td>12</td></tr>
				<tr><td>Taharqa</td><td>3</td><td>Tarkos</td><td>18</td><td>3</td><td>Tarakos</td><td>20</td></tr>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 26</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">9 kings of Sais, 150 years, 6 months</td><td colspan="3" class="text-center"
						>9 kings of Sais, 167 years</td
					></tr
				>
				<tr
					><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>1</td><td>Ammeris <small>the Ethiopian</small></td><td>12<sup>1</sup></td
					></tr
				>
				<tr><td>?</td><td>1</td><td>Stephinates</td><td>7</td><td>2</td><td>Stephinathis</td><td>7</td></tr>
				<tr><td>?</td><td>2</td><td>Nekhepsos</td><td>6</td><td>3</td><td>Nekhepsos</td><td>6</td></tr>
				<tr><td>?</td><td>3</td><td>Nekhao</td><td>8</td><td>4</td><td>Nekhao</td><td>8</td></tr>
				<tr><td>Psamtik I</td><td>4</td><td>Psammetikhos</td><td>54</td><td>5</td><td>Psammetikhos</td><td>45<sup>2</sup></td></tr>
				<tr><td>Necho II</td><td>5</td><td>Nekhao II</td><td>6</td><td>6</td><td>Nekhao II</td><td>3<sup>3</sup></td></tr>
				<tr><td>Psamtik II</td><td>6</td><td>Psammouthis</td><td>6</td><td>7</td><td>Psammouthis</td><td>17</td></tr>
				<tr><td>Apries</td><td>7</td><td>Ouaphris</td><td>19</td><td>8</td><td>Ouaphris</td><td>25</td></tr>
				<tr><td>Amasis</td><td>8</td><td>Amosis</td><td>44</td><td>9</td><td>Amosis</td><td>42</td></tr>
				<tr><td>Psamtik III</td><td>9</td><td>Psammekherites</td><td>6m</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tfoot
					><tr
						><td colspan="7"
							><sup>1</sup> Armenian Eusebius has 18 years.<br /><sup>2</sup> Armenian Eusebius has 44 years.<br /><sup>3</sup> Armenian Eusebius has 6
							years.</td
						></tr
					></tfoot
				>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 27</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">8 Persian kings, 124 years, 4 months</td><td colspan="3" class="text-center"
						>8 Persian kings, 120 years, 4 months</td
					></tr
				>
				<tr><td>Cambyses II</td><td>1</td><td>Kambyses</td><td>6</td><td>1</td><td>Kambyses</td><td>3</td></tr>
				<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>2</td><td>Magoi</td><td>7m</td></tr>
				<tr><td>Darius I</td><td>2</td><td>Dareios</td><td>36</td><td>3</td><td>Dareios</td><td>36</td></tr>
				<tr><td>Xerxes I</td><td>3</td><td>Xerxes <small>the Great</small></td><td>21</td><td>4</td><td>Xerxes</td><td>21</td></tr>
				<tr><td>Artabanos</td><td>4</td><td>Artabanos</td><td>7m</td><td>-</td><td>-</td><td>-</td></tr>
				<tr><td>Artaxerxes I</td><td>5</td><td>Artaxerxes</td><td>41</td><td>5</td><td>Artaxerxes</td><td>40</td></tr>
				<tr><td>Xerxes II</td><td>6</td><td>Xerxes</td><td>2m</td><td>6</td><td>Xerxes II</td><td>2m</td></tr>
				<tr><td>Sogdianos</td><td>7</td><td>Sogdianos</td><td>7m</td><td>7</td><td>Sogdianos</td><td>7m</td></tr>
				<tr><td>Darius II</td><td>8</td><td>Dareios</td><td>19</td><td>8</td><td>Dareios</td><td>19<sup>1</sup></td></tr>
				<tfoot><tr><td colspan="7"><sup>1</sup> Armenian Eusebius has 19 <em>months</em> instead of years.</td></tr></tfoot>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 28</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr><td>Amyrtaeus</td><td>1</td><td>Amyrteos</td><td>6</td><td>1</td><td>Amurtaios</td><td>6</td></tr>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 29</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">4 kings of Mendes, 20 years, 4 months</td><td colspan="3" class="text-center"
						>4 kings of Mendes, 21 years, 4 months<sup>1</sup></td
					></tr
				>
				<tr><td>Nepherites I</td><td>1</td><td>Nepherites</td><td>6</td><td>1</td><td>Nepherites</td><td>6</td></tr>
				<tr><td>Achoris</td><td>2</td><td>Akhoris</td><td>13</td><td>2</td><td>Akhoris</td><td>13</td></tr>
				<tr><td>Psammuthis</td><td>3</td><td>Psammouthis</td><td>1</td><td>3</td><td>Psammouthis</td><td>1</td></tr>
				<tr><td>Nepherites II</td><td>4</td><td>Nepherites</td><td>4m</td><td>4</td><td>Nepherites</td><td>4m</td></tr>
				<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>5</td><td>Mouthis <sup>2</sup></td><td>1</td></tr>
				<tfoot
					><tr
						><td colspan="7"
							><sup>1</sup> Reigns equal the sum of the five listed kings, despite summary mentioning only four, suggesting one was an usurper.<br
							/><sup>2</sup> Armenian Eusebius place Mouthis directly after Psammouthis.</td
						></tr
					></tfoot
				>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 30</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">3 kings of Sebennytos, 38 years</td><td colspan="3" class="text-center"
						>3 kings of Sebennytos, 20 years</td
					></tr
				>
				<tr><td>Nectanebo I</td><td>1</td><td>Nektanebes</td><td>18</td><td>1</td><td>Nektanebes</td><td>10</td></tr>
				<tr><td>Djedhor Teos I</td><td>2</td><td>Teos</td><td>2</td><td>2</td><td>Teos</td><td>2</td></tr>
				<tr><td>Nectanebo II</td><td>3</td><td>Nektanebus</td><td>18</td><td>3</td><td>Nektanebos</td><td>8</td></tr>
			</table>
		</div>
		<div class="pt-5">
			<h3 class="text-center">Dynasty 31</h3>
			<table class="mt-3">
				<tr><th>Pharaoh</th><th colspan="3">Africanus</th><th colspan="3">Eusebius</th></tr>
				<tr
					><td>&nbsp;</td><td colspan="3" class="text-center">3 Persian kings, 9 years</td><td colspan="3" class="text-center"
						>3 Persian kings, 16 years</td
					></tr
				>
				<tr><td>Artaxerxes III</td><td>1</td><td>Okhos</td><td>2</td><td>1</td><td>Okhos</td><td>6</td></tr>
				<tr><td>Arses</td><td>2</td><td>Arses</td><td>3</td><td>2</td><td>Arses</td><td>4</td></tr>
				<tr><td>Darius III</td><td>3</td><td>Dareios</td><td>4</td><td>3</td><td>Dareios</td><td>6</td></tr>
			</table>
		</div>
		<p class="text-center lead">The lists of Africanus and Eusebius both end with the conquest of Egypt by Alexander the Great.</p>
		<h3 class="pt-5 border-bottom">Bibliography</h3>
		<ul class="list-group pb-5 s80">
			<li class="list-group-item pb-0 border-0 bg-grA" itemscope itemtype="http://schema.org/Book">
				<strong itemprop="author">Karst, J.</strong>: <em itemprop="name"
					>Eusebius Werke 5: Die Chronik aus dem Armenischen übersetzt mit textkritischem Kommentar</em
				>, GCS <b>20</b>. (Leipzig: 1911)
			</li>
			<li class="list-group-item pb-0 border-0 bg-grA" itemscope itemtype="http://schema.org/Book">
				<strong itemprop="author">Adler, W.</strong> and <strong itemprop="author">Tuffin, P.</strong>: <em itemprop="name"
					>The Chronography of George Synkellos</em
				>, (Oxford: 2002)
			</li>
			<li class="list-group-item pb-0 border-0 bg-grA" itemscope itemtype="http://schema.org/Book">
				<strong itemprop="author">Waddell, W. G.</strong>: <em itemprop="name">Manetho</em>, (Cambridge, Mass; London: 1940, Ed. 1964)
			</li>
			<li class="list-group-item pb-0 border-0 bg-grA" itemscope itemtype="http://schema.org/Book">
				<strong itemprop="author">Mosshammer, Alden. A. (ed.)</strong>: <em itemprop="name">Georgii Syncelli Ecloga chronographica</em>, (Berlin,
				Boston: 1984)
			</li>
		</ul>
	</section>
</Layout>

<style>
	sup {
		vertical-align: super;
		font-size: x-small;
		line-height: normal;
		color: var(--primary);
	}
	th {
		border: 1px solid var(--border);
		border-bottom: 3px solid var(--border);
		text-align: center;
	}
	td {
		background-color: var(--bg);
		border: 1px solid var(--border);
	}
	tfoot td {
		font-size: var(--text-xs);
		background-color: transparent;
		color: var(--dim);
		border-top: 3px solid var(--border);
	}
</style>
