@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* Distinct characters:
	O0 8B 1Iil 5S 2Z 6b 9g QG EF pqijr
	“” ‘’
*/

/* Global settings like color palette, spacing, typography, breakpoints, etc. */
@theme {
	--font-sans: "Instrument Sans", "ui-sans-serif", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
		"Noto Sans", "sans-serif";
	--font-serif: "Merriweather", "Harding", "ui-serif", "Cambria", "Georgia", "Times New Roman", "Times", "serif";
	--font-mono: "Courier New", "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Liberation Mono", "Consolas", "monospace";
	--font-tlit: "Noto Serif", Cambria, serif;

	--fontsize: 18px;
	--content-max-width: 960px;
	--content-size: 60rem;
	--content-padding-inline: clamp(1.125rem, 2.2vw + 0.52rem, 2.5rem);
	--shadow-3xl: 0 25px 25px rgba(0, 0, 0, 0.75);

	--fluid-0: clamp(0.75rem, 1.5vw, 1rem);
	--fluid-00: clamp(1.05rem, 1.5vw, 1.2rem);
	--fluid-1: clamp(1rem, 2vw, 1.5rem);
	--fluid-2: clamp(1.5rem, 3vw, 2.5rem);
	--fluid-3: clamp(2rem, 3.5vw, 3rem);
	--fluid-4: clamp(2.5rem, 4vw, 3.5rem);

	--aspect-book: 2 / 3;
}

:root {
	--bg-light: var(--color-stone-50);
	--bg: var(--color-stone-200);
	--bg-dark: var(--color-stone-300);
	--tx: var(--color-stone-800);
	--dim: var(--color-stone-600);
	--bright: var(--color-stone-950);
	--link: var(--color-red-700);
	--link-hover: var(--color-red-900);
	--link-visited: var(--color-pink-900);
	--primary: var(--color-red-950);
	--secondary: var(--color-rose-950);
	--highlight: var(--color-orange-950);
	--border: var(--color-stone-300);
	--transliteration: var(--color-blue-900);
	--greek: var(--color-fuchsia-900);
	--armenian: var(--color-yellow-800);
	--popover: var(--color-red-700);
	--summ: var(--color-yellow-100);
	--head: var(--color-blue-100);
	--sect: var(--color-emerald-100);
}
.dark {
	--bg-light: var(--color-neutral-800);
	--bg: var(--color-neutral-900);
	--bg-dark: var(--color-neutral-950);
	--tx: var(--color-neutral-200);
	--dim: var(--color-neutral-400);
	--bright: var(--color-neutral-50);
	--link: var(--color-amber-400);
	--link-hover: var(--color-amber-200);
	--link-visited: var(--color-amber-100);
	--primary: var(--color-amber-100);
	--secondary: var(--color-amber-50);
	--highlight: var(--color-amber-700);
	--border: var(--color-neutral-700);
	--transliteration: var(--color-orange-300);
	--greek: var(--color-emerald-200);
	--armenian: var(--color-yellow-400);
	--popover: var(--color-emerald-500);
	--summ: var(--color-yellow-800);
	--head: var(--color-blue-900);
	--sect: var(--color-emerald-900);
}
/* Add your own default base styles for specific HTML elements */
@layer base {
	::selection {
		color: #701a75;
		background-color: hsl(291, 93%, 83%);
	}

	/* 	:root {
		interpolate-size: allow-keywords;
		font-feature-settings: "ss01" 1, "ss02" 1, "ss03" 1;
	} */

	html {
		font-size: var(--fontsize);
		line-height: 1.625;
		transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 0.5s;
		scroll-padding-top: calc(var(--header-height) + 1rem); /* anchor top fix */
		background-color: var(--bg);
		color: var(--tx);
		scroll-padding-top: 60px; /* accounts for sticky header */
		scroll-behavior: smooth;
	}

	a {
		text-decoration: none;
		color: var(--link);
	}
	a:visited {
		color: var(--link-visited);
	}
	a:hover {
		color: var(--link-hover);
	}

	p {
		display: block;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 0;
		margin-right: 0;
	}

	article {
		width: 100%;
	}

	header {
		--header-height: calc(var(--spacing) * 16);
		height: var(--header-height); /* scroll-padding-top in html above (anchor scroll fix) */
	}

	input {
		background-color: initial;
	}
	table {
		font-size: var(--text-base);
		border-collapse: collapse;
		width: 100%;
		margin-block: calc(var(--spacing) * 10);
		th {
			text-align: left;
			border-bottom: 4px solid var(--border);
			margin-bottom: 1rem;
		}
		td {
			font-size: var(--text-sm);
			padding-inline: 0.5rem;
			padding-block: 0.25rem;
			/* vertical-align: top; */
			border-bottom: 1px solid var(--border);
		}

		caption-side: bottom;
		caption {
			font-style: italic;
			font-size: var(--text-xs);
		}
	}

	h1 {
		font-size: var(--text-5xl);
		line-height: var(--text-5xl--line-height);
	}

	h2 {
		font-size: var(--text-3xl);
		font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
		line-height: var(--text-3xl--line-height);
		color: var(--bright);
	}

	h3 {
		font-size: var(--text-2xl);
		line-height: var(--text-2xl--line-height);
		color: var(--bright);
	}
	h1,
	h2,
	h3 {
		padding-left: 0.25em;
		font-family: var(--font-serif);
	}
	h1,
	h2 {
		font-weight: bold;
		margin-top: 1em;
	}
	abbr {
		cursor: help;
		font-style: italic;
		text-decoration-style: dotted;
		color: var(--secondary) !important;
	}
	blockquote {
		quotes: "“" "”" "‘" "’";
		color: var(--dim);
		background-color: var(--bg-light);
		border-left: 14px solid var(--highlight);
		font-size: 90%;
		font-style: italic;
		font-weight: 400;
		line-height: var(--leading-snug);
		max-width: 60ch;
		margin-inline: auto;
		margin-block: calc(var(--spacing) * 8);
		padding: calc(var(--spacing) * 5) calc(var(--spacing) * 4);
		border-radius: 0 calc(var(--spacing) * 3) calc(var(--spacing) * 3) 0;
		box-shadow: var(--shadow-lg);
		overflow: clip;
	}
	/* blockquote .text-right {
		color: var(--default-color-2);
	} */
	.ordinal {
		font-variant-numeric: ordinal;
		vertical-align: super;
	}
}

@layer components {
	.pagewidth {
		--content-size: 960px;
		--content-padding-inline: 2rem;
		max-width: var(--content-size);
		padding-inline: var(--content-padding-inline);
		margin-inline: auto;
	}

	.card {
		background-color: var(--bg-light);
		border-radius: var(--radius-lg);
		padding: calc(var(--spacing) * 4) /* 1rem = 16px */;
		box-shadow: var(--shadow-xl);
		/* border: 1px solid light-dark(var(--bg-dark), var(--dark-bg-dark)); */
	}

	/* Turin stuff */
	tlit,
	.tlit {
		color: var(--transliteration);
		font-family: var(--font-tlit);
		font-style: italic;
		letter-spacing: 0.08em;
		text-shadow: 0 0 10px --alpha(var(--transliteration) / 0.25), 0 0 20px --alpha(var(--transliteration) / 0.25);
	}

	.lead {
		margin-inline: calc(var(--spacing) * 4);
		padding-block: calc(var(--spacing) * 4);
	}

	.bg {
		background-color: var(--bg);
	}
	.bg-light {
		background-color: var(--bg-light);
	}
	.bg-dark {
		background-color: var(--bg-dark);
	}
	.tx {
		color: var(--tx);
	}
	.dim,
	.bibliography {
		color: var(--dim);
	}
	#biblio {
		color: var(--dim);
		margin-block: calc(var(--spacing) * 4);
		li {
			line-height: var(--leading-normal);
			margin-bottom: 0 !important;
		}
	}
	figcaption {
		text-align: center;
		color: var(--dim);
		&:hover {
			color: var(--tx);
		}
		.figtitle {
			font-weight: var(--font-weight-medium);
			font-size: var(--text-lg);
		}
		.figauthor {
			font-size: var(--text-sm);
			font-weight: var(--font-weight-normal);
		}
	}
	.primary {
		color: var(--primary);
	}
	.secondary {
		color: var(--secondary);
	}
	.highlight {
		color: var(--highlight);
	}
	.bordercolor {
		border-color: var(--border);
	}
	d {
		/* dim */
		color: --alpha(var(--tx) / 0.5);
	}
	m {
		/* missing */
		color: --alpha(var(--tx) / 0.75);
	}

	:lang(grc),
	gr,
	.gr {
		font-family: var(--sans) !important;
		color: var(--greek);
		text-shadow: 0 0 10px --alpha(var(--greek) / 0.25), 0 0 15px --alpha(var(--greek) / 0.15);
	}

	:lang(xcl),
	ar,
	.ar {
		font-family: var(--sans);
		color: var(--armenian);
	}

	#toppen {
		display: none;
		position: fixed;
		bottom: 2rem;
		right: 2rem;
		z-index: 99;
		cursor: pointer;
		color: light-dark(var(--color-white), var(--color-black));
		background: light-dark(var(--color-black), var(--color-white));
		border-radius: 10px;
		padding-inline: 1ch;
		font-size: var(--text-sm);
		box-shadow: 2px 2px 8px #00000082;
	}
	/* /dynasty/*.md */
	.dynruta {
		font-family: var(--font-sans);
		position: relative;
		margin-block: calc(var(--spacing) * 10);
		margin-block: calc(var(--spacing) * 10);
		padding: calc(var(--spacing) * 4);
		border-radius: var(--radius-xl);
		background-color: var(--bg-light);
		border: 1px solid var(--bordercolor);
		box-shadow: 0 15px 15px -5px light-dark(var(--color-stone-500), var(--color-neutral-950));
		a {
			font-size: var(--text-sm);
		}
	}
	.dynasty {
		font-size: var(--text-xs);
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 2.5rem;
		display: grid;
		h3 {
			font-size: var(--text-sm);
			color: var(--dim);
			line-height: var(--leading-snug);
			padding-block: calc(var(--spacing) * 2);
		}
		.farao {
			padding-block: 1.25rem;
			font-size: 0.875rem;
			line-height: 1.25rem;
			list-style-type: decimal;
			list-style-position: inside;
			li {
				padding-block: 0.25rem;
				border-bottom: 1px solid var(--border);
			}
			.total {
				list-style-type: none !important;
				font-weight: var(--font-weight-semibold);
			}
		}
	}
	.dynasty .farao .y,
	.dynasty .y {
		text-align: right;
		width: 100%;
		display: inline-block;
	}
	.according {
		--tw-border-opacity: 1;
		color: var(--primary);
		border-bottom-width: 1px;
		border-color: var(--border);
		text-align: center;
		font-size: var(--text-xs);
		line-height: 1.25rem;
	}
	.synk {
		background: var(--bg-light);
		padding: calc(var(--spacing) * 2);
		border-radius: calc(var(--spacing) * 2);
		font-size: var(--text-xs);
		color: var(--default-color-2);
		border: 1px dashed var(--default-border);
	}
	[popovertarget] {
		cursor: pointer;
		font-family: var(--font-sans);
		vertical-align: super;
		color: var(--popover);
		border-radius: 0.25rem;
		margin-inline: 0.25ch;
		padding-inline: 0.25ch;
		font-size: 75%;
		font-style: normal;
		font-weight: 700;
		line-height: 1rem;
	}
	[popover]:popover-open {
		opacity: 1;
		box-shadow: var(--shadow-3xl);
		/* color: --alpha(var(--color-lime-300) / 80%); */
	}
	[popover] {
		position: fixed;
		width: fit-content;
		max-width: clamp(20rem, 12.727rem + 36.36vw, 40rem);
		height: fit-content;
		padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3) calc(var(--spacing) * 4) calc(var(--spacing) * 3);
		background: var(--bg-light);
		color: var(--tx);
		border: solid 4px var(--border);
		border-radius: 10px;
		margin: auto;
		font-size: 90%;
		inset: 0;
		overflow: auto;
		transform-origin: top center;
	}
	[popover] p {
		margin-block: 0 calc(var(--spacing) * 2);
		color: var(--popover);
		font-weight: var(--font-weight-black);
		font-size: var(--text-xl) !important;
	}
	/* [popover]::backdrop {
		background: #00000080;
	} */
	[popovertarget]:hover,
	[popovertarget]:focus {
		color: var(--tx);
		background-color: var(--bg-dark);
		cursor: pointer;
	}

	[popover]:popover-open {
		opacity: 1;
		box-shadow: var(--shadow-3xl);
		animation: show-popover 0.125s ease-out;
		text-align: left;
	}

	@keyframes show-popover {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	mid {
		font-size: var(--text-xs);
		font-style: normal;
		color: var(--primary);
		vertical-align: 5%;
		padding-inline: 0.5ch;
	}
	.pagetitle {
		font-size: 3rem;
		font-weight: 900;

		span {
			font-weight: 200;
			font-size: 75%;
			font-style: italic;
		}
	}
	.r,
	r {
		/* Red ink  */
		color: var(--color-red-500);
	}
	.m,
	m {
		/* Missing ink  */
		color: var(--dim);
		font-weight: var(--font-weight-light);
	}
}
