---
import Layout from "@/layouts/Layout.astro";
import pharaohs from "@/data/pharaohs.json";
import dynasties from "@/data/dynasties.json";
---

<Layout
	title="History of Ancient Egypt"
	meta1="The periods in the history of Ancient Egypt."
	meta2="periods,dynasty,dynasties,egypt,old kingdom,New Kingdom,intermediate periods"
	bild="/images/pharaohse-dynasties.webp"
>
	<section class="page-content">
		<div class="container">
			<p class="lead">
				Egypt derives its name from the Greek “Aigyptos”, Latin “Aegyptus”, a corruption of the ancient Egyptian <tlit>ḥwt-kꜢ-ptḥ</tlit>
				<i>(Hakaptah)</i>. Originally one of Memphis’ many names, the Greeks adopted it as the name of the entire kingdom.
			</p>

			<p class="py-3">
				Already in the ancient world, Egypt was seen as a mysterious land, renowned for its massive monuments, stylized art, and the distinct Gods
				with animal heads. The mystical Egyptian religion taught that life on Earth was only one aspect of an eternal journey; the immortal soul was
				only temporarily inhabiting a body on this physical plane. After death, one would face judgment by Osiris in the Hall of Judgement, where the
				whole life of a person is judged by the scales of justice. The earthly remains of the deceased were deliberately mummified according to a
				strict regiment to prepare the deceased body for afterlife. Royalty and nobility also had large tombs created for remains, with elaborate
				spells written on the walls, to help with the journey.
			</p>

			<p>
				The art style of Ancient Egypt is very distinctive, always depicting humans in profile, except for the torso, which is seen from the front.
				This art was almost always accompanied by small symbols of animals, plants, and so on, which are actually a highly formalized script and
				language known as <a href="/articles/hieroglyphs">hieroglyphs</a>. The details of the text on the monuments were finally revealed when the
				hieroglyphs were deciphered in the early 17th century. Documents written on papyrus reveal information of daily life as well as mysteries
				about the afterlife in ancient Egyptian religion, such as the Book of the Dead.
			</p>
			<p>
				Since ancient times, Egypt has been divided into the fertile Nile Delta in the north and the Nile Valley in the south. The northern delta, or <i
					>Lower Egypt</i
				>, is flat and fertile, with black soil deposited by the Nile's annual flooding. The delta's numerous waterways made it ideal for agriculture
				and trade, helping to create a unified economy. In contrast, <i>Upper Egypt</i> is more mountainous and much drier.
			</p>

			<h2 class="pt-3">Unification</h2>
			<p>
				For a long time, scattered villages ruled their immediate surroundings and provided protection against intruders, but they were constantly at
				odds with each other. This changed around 3000 BC, when the southern king Narmer established himself as the undisputed ruler of the south by
				conquering the smaller territories. Having amassed a large army, he then conquered the north, uniting the two regions to form one kingdom and
				establishing a centralised administration. This did not happen overnight, but over the next century, peace and stability brought prosperity on
				an unprecedented scale and turned villages into cities. People all over the land began to identify as one people, united under one king and
				enjoying the stability. The unification of the Two Lands was celebrated as a single event, and it is reasonable to question whether one king
				actually united the kingdom, how this was achieved, and how long the process took. Although the mythical Menes is said to have unified Egypt,
				attempts to equate him with a specific king are problematic due to a lack of contemporary evidence.
			</p>

			<h2 class="pt-3">The Dynasties</h2>
			<p>
				In modern times, periods of political unrest or instability in ancient Egyptian history are referred to as <i>‘intermediate periods’</i>,
				whereas stable times are regarded as <i>‘kingdoms’</i>. The division of pharaohs into dynasties is generally considered to be an invention by
				the Egyptian priest Manetho. Whenever some discontinuity whether geographical, or genealogical ocurred, a new dynasty was assumed. Manetho’s
				history of Egypt is the most comprehensive, but is only known by references to it made by subsequent writers.
			</p>
			<p>
				All ancient Egyptian king lists have significant gaps in their text, or fail to provide a complete list of rulers. Add to this that some
				dynasties overlapped, with more than one pharaohs of vying for supremacy at the same time, which leads to widely differing chronological
				interpretations. Over the three thousand years the Kingdom lasted, determining the exact reign-by-reign is not an easy task. The
				archaeological record is helpful at times—but it only goes so far—as chronological interpretations are not always straightforward. Omissions
				of pharaohs for political and religious reasons abound, and conflicting information makes it all but impossible to determine the actual reign
				duration and order.
			</p>
		</div>

		<!-- https://en.wikipedia.org/wiki/Dynasties_of_ancient_Egypt -->
		<h2 class="pt-20 pb-4 text-center">
			<a href="/periods/archaic">Archaic Period</a>
		</h2>
		<img src="/images/p02.webp" alt="Archaic Period of Egypt" srcset="" loading="lazy" />
		<p>
			The Archaic Period of Ancient Egypt is generally considered to span from about 3100 BC to 2686 BC, amd saw the development and refinement of
			agriculture, metallurgy, and writing. The first hieroglyphs appeared during this time, and the first cities began to emerge in the Nile valley.
			Local rulers gradually consolidated power by building up their military, expanding their territory, ultimately creating a centralised state. One
			of the most important developments was the unification of Egypt under a single ruler.
		</p>
		<p>
			The unification of Egypt, which is traditionally dated to 3100 BCE, marked the beginning of the Early Dynastic Period and the start of the
			ancient Egyptian civilization. It is generally taken to include the First and Second Dynasties, lasting from the Protodynastic Period of Egypt
			until about 2686 BC, or the beginning of the Old Kingdom.
		</p>
		<p class="text-center pt-10">
			<a href="/dynasty/predynastic">Early Dynastic Period</a>
		</p>
		<table class="mt-10 w-full mx-auto">
			<tr class="border-b text-left font-sans">
				<th>Dynasty</th>
				<th>Reigns</th>
				<th>Dates (BC)</th>
				<th>Seat/Capital</th>
			</tr>

			<tr>
				<td><a href="/dynasty/1">Dynasty 1</a></td>
				<td>8 kings for 250 years</td>
				<td>3150–2900</td>
				<td>Thinis</td>
			</tr>
			<tr>
				<td><a href="/dynasty/2">Dynasty 2</a></td>
				<td>11 kings for 204 years</td>
				<td>2880–2686</td>
				<td>Thinis</td>
			</tr>
		</table>

		<h2 class="pt-20 pb-4 text-center">
			<a href="/periods/old-kingdom">Old Kingdom</a>
		</h2>
		<img src="/images/p03.webp" alt="" srcset="" loading="lazy" />

		<p>
			The Old Kingdom marks a shift from small and simple monuments, to monumental large-scale building projects, like the pyramids. The period is
			often referred to as the Age of the Pyramids, during which Egypt attained its first continuous period of internal security and prosperity.
		</p>
		<p>
			Artists, architects and masons mastered techniques necessary to build monumental structures in stone, wood, and copper. They perfected the art
			of carving reliefs and painting the walls of temples and tombs.
		</p>
		<table class="mt-10 w-full mx-auto">
			<tr class="border-b text-left font-sans">
				<th>Dynasty</th>
				<th>Reigns</th>
				<th>Dates (BC)</th>
				<th>Seat/Capital</th>
			</tr>

			<tr>
				<td><a href="/dynasty/3">Dynasty 3</a></td>
				<td>8 kings for 73 years</td>
				<td>2687–2613</td>
				<td>Memphis</td>
			</tr>
			<tr>
				<td><a href="/dynasty/4">Dynasty 4</a></td>
				<td>9 kings for 112 years</td>
				<td>2613–2494</td>
				<td>Memphis</td>
			</tr>
			<tr>
				<td><a href="/dynasty/5">Dynasty 5</a></td>
				<td>9 kings for 149 years</td>
				<td>2494–2345</td>
				<td>Memphis</td>
			</tr>
			<tr>
				<td><a href="/dynasty/6">Dynasty 6</a></td>
				<td>6 kings for 164 years</td>
				<td>2345–2181</td>
				<td>Memphis</td>
			</tr>
		</table>

		<h2 class="pt-20 pb-4 text-center">First Intermediate Period</h2>
		<img src="/images/p04.webp" alt="" srcset="" loading="lazy" />

		<p>
			When Pepi II died, the centralised kingdom collapsed into what is called the First Intermediate Period. Pepi’s long reign had weakened the
			central authority and with his death, the kingdom began to to buckle.<br />As different factions fought for supremacy, from powerful noble
			families, to local nomarchs, the kingdom of the Two Lands collapsed, and was replaced by rulers that only controlled parts of the land. The
			temples were vandalized and pillaged as the political chaos grew.
		</p>
		<table class="mt-10 w-full mx-auto">
			<tr class="border-b text-left font-sans">
				<th>Dynasty</th>
				<th>Reigns</th>
				<th>Dates (BC)</th>
				<th>Seat/Capital</th>
			</tr>

			<tr>
				<td colspan="4" class="text-center"><a href="/dynasty/7">Dynasty 7</a> should be ignored or combined with the Eighth Dynasty.</td>
			</tr>
			<tr>
				<td><a href="/dynasty/8">Dynasty 8</a></td>
				<td>17 kings for 21 years</td>
				<td>2181–2160</td>
				<td>Memphis</td>
			</tr>
			<tr>
				<td><a href="/dynasty/9">Dynasty 9</a></td>
				<td>5 kings for 30 years</td>
				<td>2160–2130</td>
				<td>Herakleopolis</td>
			</tr>
			<tr>
				<td><a href="/dynasty/10">Dynasty 10</a></td>
				<td>10 kings for 91 years</td>
				<td>2130–2040</td>
				<td>Herakleopolis</td>
			</tr>
		</table>

		<h2 class="pt-20 pb-4 text-center">Middle Kingdom</h2>
		<img src="/images/p05.webp" alt="" srcset="" loading="lazy" />

		<p>
			The Two Lands were once again united when Mentuhotep II defeated the tenth dynasty of Heracleopolis. The Middle Kingdom expanded trade outside
			the kingdom and consolidated pharaonic power by building defensive fortifications and kept a standing army ready for action.<br />The long reign
			of Amenemhat III most likely weakened pharaonic power once again, as local rulers became powerful. This led to a series of weak and ephemeral
			rulers that ended the golden age of the Middle Kingdom.
		</p>
		<table class="mt-10 w-full mx-auto">
			<tr class="border-b text-left font-sans">
				<th>Dynasty</th>
				<th>Reigns</th>
				<th>Dates (BC)</th>
				<th>Seat/Capital</th>
			</tr>

			<tr>
				<td><a href="/dynasty/11">Dynasty 11</a></td>
				<td>7 kings for 139 years</td>
				<td>2130–1991</td>
				<td>Thebes</td>
			</tr>
			<tr>
				<td><a href="/dynasty/12">Dynasty 12</a></td>
				<td>8 kings for 189 years</td>
				<td>1991–1802</td>
				<td>Itjtawy</td>
			</tr>
			<tr>
				<td><a href="/dynasty/13">Dynasty 13</a></td>
				<td>c. 40-50 kings for 154 years</td>
				<td>1803–1649</td>
				<td>Itjtawy &amp; Thebes</td>
			</tr>
		</table>

		<h2 class="pt-20 pb-4 text-center">Second Intermediate Period</h2>
		<img src="/images/p06.webp" alt="" srcset="" loading="lazy" />
		<p>
			The Second Intermediate Period was a period of disarray. It is best known as when the Hyksos, whose reign comprised the Fifteenth and Sixteenth
			Dynasties, made their appearance in Egypt. Around the time Memphis fell to the Hyksos, the native Egyptian ruling house in Thebes declared its
			independence and set itself up as the Seventeenth Dynasty. This dynasty eventually drove the Hyksos back into Asia.
		</p>
		<table class="mt-10 w-full mx-auto">
			<tr class="border-b text-left font-sans">
				<th>Dynasty</th>
				<th>Reigns</th>
				<th>Dates (BC)</th>
				<th>Seat/Capital</th>
			</tr>
			<tr>
				<td><a href="/dynasty/14">Dynasty 14</a></td>
				<td>c. 40-50 kings for 75 years</td>
				<td>1725–1650</td>
				<td>Avaris</td>
			</tr>
			<tr>
				<td><a href="/dynasty/15">Dynasty 15</a></td>
				<td>10 <i>Hyksos</i> kings for 50 years</td>
				<td>1650–1600</td>
				<td>Avaris</td>
			</tr>
			<tr>
				<td><a href="/dynasty/16">Dynasty 16</a></td>
				<td>20 kings for 67 years</td>
				<td>1649–1582</td>
				<td>Thebes or Avaris</td>
			</tr>
			<tr>
				<td><a href="/dynasty/abydos">Abydos(?)</a></td>
				<td>16 kings for 50 years</td>
				<td>1650–1600</td>
				<td>Abydos</td>
			</tr>
			<tr>
				<td><a href="/dynasty/17">Dynasty 17</a></td>
				<td>9 kings for 30 years</td>
				<td>1580–1550</td>
				<td>Thebes</td>
			</tr>
		</table>

		<h2 class="pt-20 pb-4 text-center">New Kingdom</h2>
		<img src="/images/p07.webp" alt="" srcset="" loading="lazy" />
		<p>
			Through military dominance abroad, The New Kingdom saw Egypt\'s greatest territorial extent. It expanded far into Nubia in the south, and held
			wide territories in the Near East. The Egyptians fought with Hittites. Two of the best known pharaohs of the New Kingdom are Akhenaten, whose
			exclusive worship of the Aten is often interpreted as the first instance of monotheism, and Ramesses II, who attempted to recover the
			territories that had been held in the Eighteenth Dynasty.
		</p>
		<table class="mt-10 w-full mx-auto">
			<tr class="border-b text-left font-sans">
				<th>Dynasty</th>
				<th>Reigns</th>
				<th>Dates (BC)</th>
				<th>Seat/Capital</th>
			</tr>
			<tr>
				<td><a href="/dynasty/18">Dynasty 18</a></td>
				<td>15 kings for 258 years</td>
				<td>1550–1292</td>
				<td>Thebes &amp; Amarna</td>
			</tr>
			<tr>
				<td><a href="/dynasty/19">Dynasty 19</a></td>
				<td>8 kings for 103 years</td>
				<td>1292–1189</td>
				<td>Thebes &amp; Memphis &amp; Pi-Ramesses</td>
			</tr>
			<tr>
				<td><a href="/dynasty/20">Dynasty 20</a></td>
				<td>10 kings for 112 years</td>
				<td>1189–1077</td>
				<td>Pi-Ramesses</td>
			</tr>
		</table>

		<h2 class="pt-20 pb-4 text-center">Third Intermediate Period</h2>
		<img src="/images/p08.webp" alt="Third Intermediate Period" srcset="" loading="lazy" />
		<p>
			The Third Intermediate Period was marked by decline and political instability, dividing the state for much of the period. Most rulers were of
			Libyan descent.
		</p>
		<table class="mt-10 w-full mx-auto">
			<tr class="border-b text-left font-sans">
				<th>Dynasty</th>
				<th>Reigns</th>
				<th>Dates (BC)</th>
				<th>Seat/Capital</th>
			</tr>
			<tr>
				<td><a href="/dynasty/21">Dynasty 21</a></td>
				<td>7 kings for 126 years</td>
				<td>1069–943</td>
				<td>Tanis</td>
			</tr>
			<tr>
				<td><a href="/dynasty/22">Dynasty 22</a></td>
				<td>12 kings for 223 years</td>
				<td>943–720</td>
				<td>Tanis &amp; Bubastis</td>
			</tr>
			<tr>
				<td><a href="/dynasty/23">Dynasty 23</a></td>
				<td>7 kings for 109 years</td>
				<td>837–728</td>
				<td>Herakleopolis or Thebes</td>
			</tr>
			<tr>
				<td><a href="/dynasty/24">Dynasty 24</a></td>
				<td>2 kings for 12 years</td>
				<td>732–723</td>
				<td>Sais</td>
			</tr>
			<tr>
				<td><a href="/dynasty/25">Dynasty 25</a></td>
				<td>5 <i>Nubian</i> kings for 88 years</td>
				<td>744–656</td>
				<td>Memphis &amp; Napata</td>
			</tr>
		</table>

		<h2 class="pt-20 pb-4 text-center">Late Period</h2>
		<img src="/images/p09.webp" alt="" srcset="" loading="lazy" />
		<p>The Late Period refers to the last flowering of native Egyptian rulers, into Persian conquests.</p>
		<table class="mt-10 w-full mx-auto">
			<tr class="border-b text-left font-sans">
				<th>Dynasty</th>
				<th>Reigns</th>
				<th>Dates (BC)</th>
				<th>Seat/Capital</th>
			</tr>

			<tr>
				<td><a href="/dynasty/26">Dynasty 26</a></td>
				<td>7 kings for 139 years</td>
				<td>664–525</td>
				<td>Sais</td>
			</tr>
			<tr>
				<td><a href="/dynasty/27">Dynasty 27</a></td>
				<td>6 <i>Persian</i> kings for 121 years</td>
				<td>525–404</td>
				<td>Babylon</td>
			</tr>
			<tr>
				<td><a href="/dynasty/28">Dynasty 28</a></td>
				<td>1 king - 6 years</td>
				<td>404–398</td>
				<td>Sais</td>
			</tr>
			<tr>
				<td><a href="/dynasty/29">Dynasty 29</a></td>
				<td>5 kings for 18 years</td>
				<td>398–380</td>
				<td>Mendes</td>
			</tr>
			<tr>
				<td><a href="/dynasty/30">Dynasty 30</a></td>
				<td>3 kings for 37 years</td>
				<td>380–343</td>
				<td>Sebennytos</td>
			</tr>
			<tr>
				<td><a href="/dynasty/31">Dynasty 31</a></td>
				<td>3 <i>Persian</i> kings for 11 years</td>
				<td>343–332</td>
				<td>Babylon</td>
			</tr>
		</table>

		<h2 class="pt-20 pb-4 text-center">Hellenistic Period</h2>
		<img src="/images/p10.webp" alt="" srcset="" loading="lazy" />
		<p>
			The Hellenistic Period is often included in the Late Period, and were the last dynasties (despite the fact that they were conquering
			Macedonians,) that continued the rule of Egypt with a pharaoh on the throne.
		</p>
		<table class="mt-10 w-full mx-auto">
			<tr class="border-b text-left font-sans">
				<th>Dynasty</th>
				<th>Reigns</th>
				<th>Dates (BC)</th>
				<th>Seat/Capital</th>
			</tr>

			<tr>
				<td><a href="/dynasty/argead">Argead</a></td>
				<td>3 kings for 23 years</td>
				<td>332–309</td>
				<td>Memphis</td>
			</tr>
			<tr>
				<td><a href="/dynasty/ptolemaic">Ptolemaic</a></td>
				<td>16 kings for 275 years</td>
				<td>305–30</td>
				<td>Alexandria</td>
			</tr>
		</table>

		<h2 class="pt-20 pb-4 text-center">Roman Province</h2>
		<img src="/images/p11.webp" alt="" srcset="" loading="lazy" />
		<p>
			Finally, Egypt was made a Roman province, effectively ending the rule of the pharaohs. The use of hieroglyphs for the names of emperors
			continued sporadically, but was finally abandoned in the early 4th century. Egypt ceased to be part of the Roman Empire permanently in 641, when
			it became part of the Rashidun Caliphate.
		</p>
		<table class="mt-10 w-full mx-auto">
			<tr class="border-b text-left font-sans">
				<th>Dynasty</th>
				<th>Reigns</th>
				<th>Dates</th>
				<th>Seat/Capital</th>
			</tr>
			<tr>
				<td><a href="/dynasty/roman-pharaohs">Emperors</a></td>
				<td>30 emperors for 343 years</td>
				<td>30 BC–313 AD</td>
				<td>Rome</td>
			</tr>
		</table>

		<h2 class="pt-20 pb-4 text-center">Uncertain</h2>
		<img src="/images/p12.webp" alt="" srcset="" loading="lazy" />
		<p>
			Pharaohs whose existence is in doubt or whose evidence makes it difficult to assign them to a certain dynasty. They may not have ruled at all,
			or they may have merely had local authority in specific regions of the kingdom.
		</p>
		<p class="text-center pb-10">
			<a href="/dynasty/unplaced">Unplaced kings</a>
		</p>
	</section>

	<style>
		td {
			padding-block: 0.25rem;
		}
		img {
			border-radius: 3rem 3rem 0 0;
			max-width: 100%;
			margin-block: 0 1rem;
			outline: 8px solid #ffffff30;
			outline-offset: -8px;
		}
	</style>
</Layout>
