---
import Layout from "@layouts/Layout.astro";
const title = "Minor Egyptian king lists";
let meta1 = "Hieroglyphs of the minor Egyptian king lists with the names of the pharaohs";
let meta2 = "egyptian king lists,minor king lists,Egyptian chronology";
const bild = "/images/pharaohse-kinglists.webp";
---

<Layout title={title} meta1={meta1} meta2={meta2} bild={bild}>
	<section class="page-content">
		<div class="container">
			<p class="lead">
				There are a number of king lists that are not as well known as the larger canons that were inscribed on temple walls. They come from various
				periods but all have in common that they contain the names of at least five kings.
			</p>

			<div class="sek" id="abydos">
				<h2>Abydos king list of Ramesses II</h2>
				<p><b>30 pharaohs</b></p>
				<p><b>Date:</b> 19<sup>th</sup> dynasty</p>
				<p>
					<b>Provenance</b>: Temple of Ramesses II at Abydos &rarr; Kingston Lacy &rarr; British Museum
				</p>
				<p>
					<b>Description</b>: The memorial temple of Ramesses II at Abydos was excavated by William John Bankes in 1818, where this tablet of kings
					was found. It was acquired by the British Museum in 1837, as inventory number <b>EA 117</b>. It was inspired by the nearby Abydos Canon, the
					king list of Ramesses’ father Seti I, with the names of Ramesses added, and likely adorned one of the walls of the temple. While most of the
					inscribed names are identical to those in the Abydos Canon, some use slightly different signs.
				</p>
				<ul class="nolist px-3 py-3">
					<li>
						<span class="fet">Top row</span>: same sequence as 40&ndash;52 on the Abydos Canon. The names are badly damaged.
					</li>
					<li>
						<span class="fet">Middle row</span>: same sequence as 61&ndash;76 on the Abydos Canon, + Ramesses II’s prenomen and nomen.
					</li>
					<li>
						<span class="fet">Bottom row</span>: repeating Ramesses II’s nomen and prenomen.
					</li>
				</ul>
				<div class="text-center">
					<a
						data-fancybox="gallery"
						data-caption="Ramesses II king list from Abydos. © The Trustees of the British Museum"
						href="/images/egypt-king-list-Abydos-Ramesses-2.jpg"
						><img
							loading="lazy"
							class="zoomable mx-auto w-full"
							src="/images/egypt-king-list-Abydos-Ramesses-2.webp"
							alt="Ramesses II king list from Abydos, now in the British Museum."
						/></a
					>
				</div>
				<div class="py-5 text-center">Content of the tablet</div>
				<div class="relative my-10 flex h-full w-full flex-col rounded-xl card p-4 font-sans shadow-md">
					<table class="text-sm tabular-nums">
						<thead class="border-b-2 mb-4">
							<tr class="text-left">
								<th class="text-center">#</th>
								<th><b>Top row</b> <small class="font-normal">right to left</small></th>
								<th class="text-center"><b>AC</b></th>
								<th class="text-center">#</th>
								<th><b>Middle row</b> <small class="font-normal">right to left</small></th>
								<th class="text-center"><b>AC</b></th>
							</tr>
						</thead>
						<tr>
							<td>1</td>
							<td>Netjerka(ra)</td>
							<td>40</td>
							<td>14</td>
							<td>Nebukaura</td>
							<td>61</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Menka(ra)</td>
							<td>41</td>
							<td>15</td>
							<td>Khakheperura</td>
							<td>62</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Neferkara</td>
							<td>42</td>
							<td>16</td>
							<td>Khakaura</td>
							<td>63</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Neferka(ra) Nebseneb</td>
							<td>43</td>
							<td>17</td>
							<td>Nimaatra</td>
							<td>64</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Djedkara Shemai</td>
							<td>44</td>
							<td>18</td>
							<td>Maakherura</td>
							<td>65</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Neferkara Khendu</td>
							<td>45</td>
							<td>19</td>
							<td>Nebpehtyra</td>
							<td>66</td>
						</tr>
						<tr>
							<td>7</td>
							<td>Merenhor</td>
							<td>46</td>
							<td>20</td>
							<td>Djoserkara</td>
							<td>67</td>
						</tr>
						<tr>
							<td>8</td>
							<td>Seneferka(ra)</td>
							<td>47</td>
							<td>21</td>
							<td>Aakheperkara</td>
							<td>68</td>
						</tr>
						<tr>
							<td>9</td>
							<td>Nikara</td>
							<td>48</td>
							<td>22</td>
							<td>Aakheperenra</td>
							<td>69</td>
						</tr>
						<tr>
							<td>10</td>
							<td>Neferkara Tereru</td>
							<td>49</td>
							<td>23</td>
							<td>Menkheperra</td>
							<td>70</td>
						</tr>
						<tr>
							<td>11</td>
							<td>Neferka(Hor)</td>
							<td>50</td>
							<td>24</td>
							<td>Aakheperura</td>
							<td>71</td>
						</tr>
						<tr>
							<td>12</td>
							<td>Neferka(ra) Pepiseneb</td>
							<td>51</td>
							<td>25</td>
							<td>Menkheperura</td>
							<td>72</td>
						</tr>
						<tr>
							<td>13</td>
							<td>Neferkamin Anu</td>
							<td>52</td>
							<td>26</td>
							<td>Nebmaatra</td>
							<td>73</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>27</td>
							<td>Djoserkheperu Setepenamun</td>
							<td>74</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>28</td>
							<td>Menpehtyra</td>
							<td>75</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>29</td>
							<td>Menmaatra</td>
							<td>76</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>30</td>
							<td>Usermaatra</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>31</td>
							<td>Ramessu Meryamun</td>
							<td></td>
						</tr>
					</table>
				</div>
				<h3>Bibliography</h3>
				<ul>
					<li><b>Bankes.</b>, 1820. <i>National Trust NT 1257799.</i> Unpublished.</li>
					<li><b>Champollion, J. F.</b>, 1826. <i>Lettres,</i> plate 6</li>
					<li><b>Young, T.</b>, 1828. <i>Hieroglyphics,</i> Vol. 2: plate 47</li>
					<li><b>d’Avennes, Prisse.</b>, 1847. <i>Monuments,</i> plate 2</li>
					<li>
						<b>British Museum</b> webpage for <a target="_blank" href="https://www.britishmuseum.org/collection/object/Y_EA117">object EA117</a>.
					</li>
				</ul>
			</div>

			<div class="sek" id="genealogy">
				<h2>Genealogy of Ankhefensekhmet</h2>
				<p><b>18 pharaohs</b></p>
				<p><b>Date:</b> 22<sup>nd</sup> dynasty</p>
				<p>
					<b>Provenance</b>: Memphis, Egypt &rarr; Egyptian Museum of Berlin
				</p>
				<p>
					<b>Description</b>: A genealogy of Ankhefensekhmet, a Memphite priest of Sekhmet during the 22nd Dynasty. This limestone block is
					presumably(?) all that remains of his tomb. The four rows are read from top right to left, for a total of 60 ancestors, though some are
					lost. The text describes several ancestors, some are accompanied by the phrase <em>“in the reign of”</em> followed by the name of a king. It
					is on display at the Egyptian Museum in Berlin, and is designated <em>Berlin 23673</em> or <i>ÄM 23673</i>.
				</p>

				<div class="text-center">
					<a
						data-fancybox="gallery"
						data-caption="Memphite Genealogy, Berlin 23673 (Ägyptisches Museum, edited image)"
						href="/images/Berlin23673-MemphiteGenealogy.webp"
						><img
							loading="lazy"
							class="zoomable mx-auto w-full"
							src="/images/Berlin23673-MemphiteGenealogy960.webp"
							alt="Memphite Genealogy, Berlin 23673"
						/></a
					>
					<div class="credit font-sans text-xs">Photo credit: Staatliche Museen zu Berlin, Ägyptisches Museum und Papyrussammlung / Jürgen Liepe</div>
				</div>
				<div class="py-5 text-center">Pharaohs mentioned</div>
				<div class="relative my-10 flex h-full w-full flex-col rounded-xl card p-4 font-sans shadow-md">
					<table class="text-sm tabular-nums">
						<thead class="text-left border-b-2">
							<tr>
								<th>#</th>
								<th><b>First row <small>right to left</small></b></th>
								<th>#</th>
								<th><b>Second row <small>right to left</small></b></th>
							</tr>
						</thead>
						<tr>
							<td>12-13</td>
							<td>Psusennes I <small>(nomen)</small><br />Pa seba kha [en] niut<br /><tlit>pꜢ-sbꜢ-ḫꜤi-[n]-niwt</tlit></td>
							<td>2-5</td>
							<td>Ramesses II<br />User Maat Ra, setep en Ra<br /><tlit>wsr-mꜢꜤt-rꜤ stp-n-rꜤ</tlit></td>
						</tr>
						<tr>
							<td>14</td>
							<td>Psusennes I <small>(prenomen)</small><br />Aa kheper Ra, <i>setep en A[mun]</i><br /><tlit>ꜤꜢ-ḫpr-rꜤ stp.n-i[mn]</tlit></td>
							<td>6-7</td>
							<td>Seti I<br />Men Maat Ra<br /><tlit>mn mꜢꜤt rꜤ</tlit></td>
						</tr>
						<tr>
							<td>15</td>
							<td>Amenemnesut<br />Amen em nesu<br /><tlit>imn m nswt</tlit></td>
							<td>8</td>
							<td>Horemheb<br />Djoser kheperu Ra, <i>setep en Ra</i><br /><tlit>ḏsr-ḫprw stp-n-rꜤ</tlit></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>11-12</td>
							<td>Amenhotep III<br />Neb Maat Ra<br /><tlit>nb mꜢꜤt rꜤ</tlit></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>14</td>
							<td>Thutmose III<br />Men kheper Ra<br /><tlit>mn ḫpr rꜤ</tlit></td>
						</tr>
					</table>

					<table class="text-sm tabular-nums mt-4">
						<thead class="text-left border-b-2">
							<tr>
								<th>#</th>
								<th>
									<b>Third row <small>right to left</small></b>
								</th>
								<th>#</th>
								<th>
									<b>Fourth row <small>right to left</small></b>
								</th>
							</tr>
						</thead>
						<tr>
							<td>2</td>
							<td>Amenhotep I<br />Djoser ka Ra<br /><tlit>ḏsr kꜢ rꜤ</tlit></td>
							<td>1+3</td>
							<td>Senusret III<br />Kha kau Ra<br /><tlit>ḫꜤ kꜢw rꜤ</tlit></td>
						</tr>
						<tr>
							<td>4</td>
							<td>Ahmose I<br />Neb pehty Ra<br /><tlit>nb pḥty rꜤ</tlit></td>
							<td>4</td>
							<td>Amenemhat II<br />Nub kau Ra<br /><tlit>nwb kꜢw rꜤ</tlit></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Apepi<br />ipp<br /><tlit>ipp</tlit></td>
							<td>5</td>
							<td>Senusret I<br />Kheper ka Ra<br /><tlit>ḫpr kꜢ rꜤ</tlit></td>
						</tr>
						<tr>
							<td>6</td>
							<td>Sharek<br />Sharek<br /><tlit>šꜢrk</tlit></td>
							<td>6</td>
							<td>Amenemhat I<br />Sehotep ib Ra<br /><tlit>sḥtp ib rꜤ</tlit></td>
						</tr>
						<tr>
							<td>12</td>
							<td>Aqen?<br />Aaqen<br /><tlit>ꜢꜤ ḳn</tlit></td>
							<td>13</td>
							<td>Mentuhotep II<br />Neb pehty Ra<br /><tlit>nb pḫty rꜤ</tlit></td>
						</tr>
						<tr>
							<td>13</td>
							<td>Ibi<br />Iby<br /><tlit>iby</tlit></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>
				<h3>Bibliography</h3>
				<ul>
					<li>
						<b>Borchardt, Ludwig.</b>, 1935. Die Mittel zur zeitlichen Feststellung von Punkten der ägyptischen Geschichte und ihre Anwendung. <abbr
							title="Quellen und Forschungen zur Zeitbestimmung der Ägyptischen Geschichte"
							class="italic">QFZ</abbr
						> 2, Cairo 1935, 99–100, pls. 2–2a (between pp. 96–97). Cairo.
					</li>
					<li>
						<b>Porter and Moss.</b>, 1981. <i>Topographical Bibliography</i>, III<sup>2</sup> Memphis. Part 2: 751.
					</li>
					<li>
						Object listing on <a class="font-normal" href="https://id.smb.museum/object/772504" target="_blank">Berlin Museum webpage</a> (accessed March
						10, 2024.)
					</li>
					<!-- 					<li>
						<b>Mahieu, Bieke.</b>, 2023. The Identification and Sequence of the Hyksos Kings in Dynasty 15. <abbr title="Studien zur Altägyptischen Kultur" class="italic">SAK</abbr> 52: 185-219. 
					</li>
 -->
				</ul>
			</div>

			<div class="sek" id="amenmose">
				<h2>Tomb of Amenmose</h2>
				<p><b>12 pharaohs</b></p>
				<p><b>Date:</b> Early Nineteenth Dynasty (Seti I)</p>
				<p>
					<b>Provenance</b>: Dra Abu el-Naga, Theban Tomb 19 (TT 19), broad hall, left half, rear wall, middle register
				</p>
				<p>
					<b>Description</b>: First prophet of ‘Amenophis of the Forecourt’, i.e. the funerary cult of Amenhotep I. The scene shows Amenhotep and a
					priest before two rows of six seated kings with two queens inset before the kings. Preserved by the drawings of Champollion and Rosellini.
					The scene was severely damaged already in the 1800s, now presumed destroyed.
				</p>
				<div class="py-3 text-center">
					<a data-fancybox="gallery" data-caption="List of king in the Tomb of High Priest Amenmose" href="/images/egypt-king-list-mon2-184-2.jpg"
						><img
							loading="lazy"
							class="zoomable mx-auto w-full"
							src="/images/egypt-king-list-mon2-184-2.webp"
							alt="Tomb of Amenmose, TT19: Amenmose"
						/>
					</a>
				</div>
				<div class="py-3 text-center">Names in the scene, read from left to right</div>
				<div class="relative my-10 flex h-full w-full flex-col rounded-xl card p-4 font-sans shadow-md">
					<table class="text-sm tabular-nums">
						<tr>
							<th class="w-1/2">Top row</th>
							<th>Bottom row</th>
						</tr>
						<tr>
							<td><a href="/pharaohs/Mentuhotep-II">Mentuhotep II</a><br />Neb hapet ra<br /><tlit>nb-ḥꜢpt-rꜤ</tlit></td>
							<td><a href="/pharaohs/Amenhotep-II">Amenhotep II</a><br />Aa kheperu ra<br /><tlit>ꜤꜢ-ḫprw-rꜤ</tlit></td>
						</tr>
						<tr>
							<td><a href="/pharaohs/Ahmose-I">Ahmose I</a><br />Neb pehty ra<br /><tlit>nb-pḥti-rꜤ</tlit></td>
							<td><a href="/pharaohs/Thutmose-IV">Thutmose IV</a><br />Men kheperu ra<br /><tlit>mn-ḫprw-rꜤ</tlit></td>
						</tr>
						<tr>
							<td><a href="/pharaohs/Amenhotep-I">Amenhotep I</a><br />Amenhotep<br /><tlit>imn-ḥtp</tlit></td>
							<td><a href="/pharaohs/Amenhotep-III">Amenhotep III</a><br />Neb maat ra<br /><tlit>nb-mꜢꜤt-rꜤ</tlit></td>
						</tr>
						<tr>
							<td><a href="/pharaohs/Thutmose-I">Thutmose I</a><br />Aa kheper ka ra<br /><tlit>ꜤꜢ-ḫpr-kꜢ-rꜤ</tlit></td>
							<td><a href="/pharaohs/Horemheb">Horemheb</a><br />Djoser kheperu ra setep en ra<br /><tlit>ḏsr-ḫprw stp-n-rꜤ</tlit></td>
						</tr>
						<tr>
							<td><a href="/pharaohs/Thutmose-II">Thutmose II</a><br />Aa kheper en ra<br /><tlit>ꜤꜢ-ḫpr-n-rꜤ</tlit></td>
							<td><a href="/pharaohs/Ramesses-I">Ramesses I</a><br />Men pehty ra<br /><tlit>nb-pḥti-rꜤ</tlit></td>
						</tr>
						<tr>
							<td><a href="/pharaohs/Thutmose-III">Thutmose III</a><br />Men kheper ra<br /><tlit>mn-pḥti-rꜤ</tlit></td>
							<td><a href="/pharaohs/Seti-I">Seti I</a><br />Men maat ra<br /><tlit>mn-mꜢꜤt-rꜤ</tlit></td>
						</tr>
					</table>
				</div>

				<h3>Bibliography</h3>
				<ul>
					<li><b>Rosellini, Ippolito.</b>, 1832. <i>I Monumenti dell’ Egitto e della Nubia</i>. Plate 45 (3).</li>
					<li><b>Champollion, "Jean-François.</b>, 1844. <i>Monuments de l’Égypte et de la Nubie</i>, plate 184 (2)</li>
					<li><b>Foucart, George.</b>, 1935. Le tombeau d’Amonmos, <i>MIFAO</i>, 57.4: plates 11, 12.</li>
					<li><b>Porter and Moss.</b>, 1960.<i>Topographical Bibliography</i>, I<sup>2</sup>: 33 (4 II 1)</li>
					<li><b>Kitchen, Kenneth A.</b>, 1980. <i>Ramesside Inscriptions</i>, III: 392. &sect; 183 E</li>
					<li><b>Kitchen, Kenneth A.</b>, 2000. <i>Ramesside Inscriptions. Translated and Annotated.</i>, III: 284.</li>
				</ul>
			</div>

			<div class="sek" id="inherkhau">
				<h2>Tomb of Inherkhau (Anhurkhawy)</h2>
				<p><b>7 pharaohs</b></p>
				<p><b>Date:</b> Reign of Ramesses IV (dynasty XX)</p>
				<p><b>Provenance</b>: Deir el-Medina, Theban Tomb 359 (TT 359), room F</p>
				<p>
					<b>Description</b>: <img
						class="inline cursor-pointer transition-all duration-500 hover:scale-[4] hover:bg-white/75 dark:invert"
						src="/svg/Inherkau.svg"
						loading="lazy"
						alt="Lepsius"
					/> and wife making offerings before two rows of seated kings, queens, and princes, with Huy, painter, at end of lower row. Now almost completely
					destroyed, but preserved by Lepsius’ drawing.
				</p>
				<blockquote>
					Presenting incense to the Lords of Eternity, the Magnates of Everlasting; by the Osiris, Chief of Workmen in the Place of Truth,
					Superintendent of Works in the Horizon of Eternity, wherein one rests, <em>Anhurkhawy</em>, justified for eternity; and (by) his sister,
					Lady of the house, Chantress of Amun-Ra, King of the Gods, Wab(et); her dear daughter, Sheritra; and her dear daughter, Sheritra; and her
					dear daughter, Tu[y(?)....].
				</blockquote>
				<div class="py-3 text-center">
					<a
						data-fancybox="gallery"
						data-caption="List of king in the Tomb of Inherkau (or Anhurkhawy?)"
						href="/images/egypt-king-list-LD-III-2dB.png"
						><img
							loading="lazy"
							class="zoomable mx-auto w-full"
							src="/images/egypt-king-list-LD-III-2dB.webp"
							alt="Tomb of Inherkha, (eastern wall in chamber F) Lepsius, Denkmaeler, III, plate 2d"
						/>
					</a>
				</div>
				<div class="py-3 text-center">Cartouches in the scene, read from right to left</div>
				<div class="relative my-10 flex h-full w-full flex-col rounded-xl card p-4 font-sans shadow-md">
					<table class="text-sm tabular-nums">
						<tr class="text-left">
							<th><b>#</b></th>
							<th> <b>Upper row</b></th>
							<th><b>#</b></th>
							<th><b>Lower row</b></th>
						</tr>
						<tr>
							<td>1</td>
							<td>Djoser ka ra Amenhotep (<a href="/pharaohs/Amenhotep-I">Amenhotep I</a>)</td>
							<td></td>
							<td>[Queen Ahmose-Nefertari]</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Neb pehty ra (<a href="/pharaohs/Ahmose-I">Ahmose I</a>)</td>
							<td>4</td>
							<td>Men pehty ra (<a href="/pharaohs/Ramesses-I">Ramesses I</a>)</td>
						</tr>
						<tr>
							<td></td>
							<td>(Queen) Ahhotep</td>
							<td>5</td>
							<td>Neb hapet ra (<a href="/pharaohs/Mentuhotep-II">Mentuhotep II</a>)</td>
						</tr>
						<tr>
							<td></td>
							<td>(Queen) Merytamun</td>
							<td>6</td>
							<td>Amenhotep</td>
						</tr>
						<tr>
							<td></td>
							<td>(Queen) Sitamun</td>
							<td>7</td>
							<td>Seqen en ra (<a href="/pharaohs/Seqenenra">Seqenenra</a>)</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Prince Siamun</td>
							<td></td>
							<td>(Prince) [...]mose</td>
						</tr>
						<tr>
							<td></td>
							<td>(Queen) [....]</td>
							<td>8</td>
							<td>Heqa maat ra setep en Amun (<a href="/pharaohs/Ramesses-IV">Ramesses IV</a>)</td>
						</tr>
						<tr>
							<td></td>
							<td>(Queen) H[enut-me]hit(?)</td>
							<td>9</td>
							<td>[....]</td>
						</tr>
						<tr>
							<td></td>
							<td>(Queen) Tures</td>
							<td>10</td>
							<td>Aa kheper ka ra (<a href="/pharaohs/Thutmose-II">Thutmose II</a>)</td>
						</tr>
						<tr>
							<td></td>
							<td>(Queen) Ahmose[....]</td>
							<td></td>
							<td>Noble [and Scribe?], Huy, justified before the gods.</td>
						</tr>
						<tr>
							<td></td>
							<td>(Prince) Osiris, Sipair</td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>

				<h3>Bibliography</h3>
				<ul>
					<li>
						<b>Lepsius, K. R.</b>, 1849. <i>Denkmaeler aus Aegypten</i>, III: plate 2d
					</li>
					<li>
						<b>Porter and Moss.</b>
						<i>Topographical Bibliography</i>, I<sup>2</sup>: 422 (4)
					</li>
					<li>
						Photo gallery at IFAO <i>Deir el Medina archive</i>: <a
							href="http://www.ifao.egnet.net/bases/archives/ttdem/?id=127"
							target="_blank"
							rel="noopener nofollow"
							class="font-normal"
							>Photo gallery of the list
						</a>, and
						<a
							href="http://www.ifao.egnet.net/bases/archives/ttdem/?tt=359"
							target="_blank"
							rel="noopener nofollow"
							class="font-normal"
							rel="nofollow">TT359</a
						>.
					</li>
					<li><b>Kitchen, K. A.</b>, 1983. <i>Ramesside Inscriptions</i>, VI: 185 (&sect; 100 D)</li>
					<li><b>Kitchen, K. A.</b>, 2000. <i>Ramesside Inscriptions. Translated and Annotated</i>, VI: 145</li>

					<!-- https://archive.ph/9zwxo -->
				</ul>
			</div>

			<div class="sek" id="khabekhnet">
				<h2>Tomb of Khabekhnet</h2>
				<p><b>6 pharaohs</b></p>
				<p><b>Date:</b> Reign of Ramesses II (Dynasty XIX)</p>
				<p><b>Provenance</b>: Deir el-Medina, Theban Tomb 2 (TT 2), now in Berlin Museum (Inv. No. ÄM 1625)</p>
				<p>
					<b>Description</b>: The deceased making offering before two rows of seated kings, queens, and princes.
				</p>
				<div class="py-3 text-center">
					<a data-fancybox="gallery" data-caption="List of king in the Tomb of Khabekhnet (Prisse plate 3)" href="/images/egypt-king-list-prisse.jpg"
						><img
							loading="lazy"
							class="zoomable mx-auto w-full"
							src="/images/egypt-king-list-prisse.webp"
							alt="Tomb of Khabekhet, Prisse, Monuments, plate 3"
						/>
					</a>
				</div>
				<div class="py-3 text-center">Cartouches in the scene, read from right to left</div>
				<div class="relative my-10 flex h-full w-full flex-col rounded-xl card p-4 font-sans shadow-md">
					<table class="w-full text-sm">
						<tr class="left">
							<th class="px-2"><b>#</b></th>
							<th><b>Name in Upper row</b></th>
							<th class="px-2"><b>#</b></th>
							<th><b>Name in Lower row</b></th>
						</tr>
						<tr>
							<td class="px-2">1</td>
							<td>Lord of Both Lands, <em>Djoserkara</em>, Lord of Crowns, <a href="/pharaohs/Amenhotep-I">Amenhotep I</a></td>
							<td class="px-2">1</td>
							<td>Lord of Both Lands, <em>Nebhapetra</em>, Lord of Crowns, <a href="/pharaohs/Mentuhotep-II">Mentuhotep II</a></td>
						</tr>
						<tr>
							<td class="px-2">2</td>
							<td>Lady of Both Lands, <em>Ahmose-Nefertari</em>, may she live and abide.</td>
							<td class="px-2">2</td>
							<td>Lord of Both Lands, <em>Nebpehtyra</em>, Lord of Crowns, <a href="/pharaohs/Ahmose-I">Ahmose I</a></td>
						</tr>
						<tr>
							<td class="px-2">3</td>
							<td>Lord of Both Lands, <a href="/pharaohs/Seqenenra">Seqenenra</a>, Lord of Crowns, <em>Tao the Valiant</em>, given life like Ra.</td>
							<td class="px-2">3</td>
							<td>The Good God, Lord of Both Lands, <em>Seqentnebra(?)</em>*, given life.</td>
						</tr>
						<tr>
							<td class="px-2">4</td>
							<td>Lady of Both Lands, <em>Ahhotep</em>, given life like Ra.</td>
							<td class="px-2">4</td>
							<td>Lord of Both Lands, <em>Wa[djkhe]perra</em>, Lord of Crowns, <a href="/pharaohs/Kamose">Kamose</a>, given life like Ra forever.</td>
						</tr>
						<tr>
							<td class="px-2">5</td>
							<td>King's sister, Lady of Both Lands, <em>Merytamun</em>, may she live.</td>
							<td class="px-2">5</td>
							<td>King's Son, <em>Binpu</em>, given life like Ra.</td>
						</tr>
						<tr>
							<td class="px-2">6</td>
							<td>King's sister, <em>Ta-ireses(?)</em>, may she live.</td>
							<td class="px-2">6</td>
							<td>King's Son, <em>Wadjmose</em>.</td>
						</tr>
						<tr>
							<td class="px-2">7</td>
							<td>God's Mother, <em>Kaes-Mut</em>, may she live.</td>
							<td class="px-2">7</td>
							<td>King's Son, <em>Ramose</em>, given life like Ra.</td>
						</tr>
						<tr>
							<td class="px-2">8</td>
							<td>King's sister, <em>Sitamun</em>, may she live.</td>
							<td class="px-2">8</td>
							<td>King's Son, <em>Nebenkhuru(?)</em>, given life.</td>
						</tr>
						<tr>
							<td class="px-2">9</td>
							<td>King's Son [....]</td>
							<td class="px-2">9</td>
							<td>King's Son, <em>Ahmose</em>, given life like Ra.</td>
						</tr>
						<tr>
							<td class="px-2">10</td>
							<td>[Royal Lady ....]</td>
							<td class="px-2">10</td>
							<td>God's Wife, Lady of Both Lands, <em>Kamose</em>, may she live.</td>
						</tr>
						<tr>
							<td class="px-2">11</td>
							<td>Great Royal Wife, <em>Hent-Tamehu</em>, may she live.</td>
							<td class="px-2">11</td>
							<td>God's Wife, Lady of Both Lands, <em>Sitirbau</em>, may she live.</td>
						</tr>
						<tr>
							<td class="px-2">12</td>
							<td>Kings's Wife, <em>Tures</em>, may she live.</td>
							<td class="px-2">12</td>
							<td>God's Wife, Lady of Both Lands, <em>Takheredqa</em>, may she live forever.</td>
						</tr>
						<tr>
							<td class="px-2">13</td>
							<td>God's Wife, Lady of Both Lands, <em>Ahmose</em>, may she live and abide like Ra.</td>
							<td class="px-2">13</td>
							<td>God's Wife, Lady of Both Lands, [....]</td>
						</tr>
						<tr>
							<td>14</td>
							<td>King's Son, <em>Sapair</em>, may he live, and abide live Ra forever and ever.</td>
							<td class="px-2">14</td>
							<td>Lost ....</td>
						</tr>
					</table>

					<p class="px-10 pt-4 font-sans text-xs">
						* The name <em>Seqentnebra</em> in the third position on the lower row is likely to be <a href="/pharaohs/Senakhtenra">Senakhtenra</a> considering
						that the other kings mentioned are Ahmose and his predecessors. The cartouche is badly damaged, and the line drawings from the 19th century
						show different readings, so it is quite possible that the name was in fact Senakhtenra.
					</p>
				</div>

				<h3>Bibliography</h3>
				<ul>
					<li><b>Young, T.</b>, 1828. <i>Hieroglyphics</i>, II, plate 97.</li>
					<li><b>d’Avennes, E. Prisse.</b>, 1847. <i>Monuments Egyptiens</i>, plate 3.</li>
					<li><b>Lepsius, K. R.</b>, 1849. <i>Denkmaeler aus Aegypten</i>, III, plate 2a.</li>
					<li><b>Porter and Moss.</b>, 1960. <i>Topographical Bibliography</i>, I<sup>2</sup>: 7.</li>
					<li><b>Kitchen, K. A.</b>, 1980. <i>Ramesside Inscriptions</i>, III: 806-807 (&sect; 299 G)</li>
					<li><b>Kitchen, K. A.</b>, 2000. <i>Ramesside Inscriptions. Translated and Annotated</i>, III: 539-40</li>
				</ul>
			</div>

			<div class="sek" id="giza">
				<h2>Giza king list</h2>
				<p><b>6 pharaohs</b></p>
				<p><b>Date:</b> Dynasty V</p>
				<p>
					<b>Provenance</b>: Giza Mastaba G1011 pit C - JE 37734 - Museum of Fine Arts Boston (Accession no. 13.4301)
				</p>
				<p>
					<b>Description</b>: The Giza writing board was made of polished cedar wood and gypsum, presenting a short list of six pharaohs from
					different dynasties.
				</p>
				<div class="py-3 text-center">
					<a data-fancybox="gallery" data-caption="Giza king list" href="/images/egypt-king-list-GizaJE37734.jpg"
						><img
							loading="lazy"
							class="zoomable mx-auto w-full"
							src="/images/egypt-king-list-GizaJE37734.webp"
							alt="Giza Mastaba G1011 pit C writing board"
						/>
					</a>
				</div>

				<p class="center">Names on the board, bottom to top</p>
				<div class="relative my-10 flex h-full w-full flex-col rounded-xl card p-4 font-sans shadow-md">
					<table class="text-sm tabular-nums">
						<tr class="text-left">
							<th><b>Name in cartouche</b></th>
							<th><b>Pharaoh</b></th>
							<th><b>Dynasty</b></th>
						</tr>
						<tr>
							<td>Bedjau</td>
							<td>Hotepsekhemwy</td>
							<td>II</td>
						</tr>
						<tr>
							<td>Teti</td>
							<td>Sekhemkhet</td>
							<td>III</td>
						</tr>
						<tr>
							<td>Radjedef</td>
							<td>Radjedef</td>
							<td>IV</td>
						</tr>
						<tr>
							<td>Khafra</td>
							<td>Khafra</td>
							<td>IV</td>
						</tr>
						<tr>
							<td>Sahura</td>
							<td>Sahura</td>
							<td>V</td>
						</tr>
						<tr>
							<td>Neferirkara</td>
							<td>Neferirkara I Kakai</td>
							<td>V</td>
						</tr>
					</table>
				</div>

				<h3>Bibliography</h3>
				<ul>
					<li>
						<b>Brovarski, E.</b>, 1987. Two Old Kingdom writing boards from Giza. <i>ASAE</i>, 71: 27-54, pl. 1.
					</li>
					<li>
						<b>Reisner, G.</b>, 1910. A Scribe’s Tablet found by the Hearst Expedition at Giza. <i>ZÄS</i>, 48: 113-114.
					</li>
					<li>
						<b>Porter and Moss.</b>, 1974. <i>Topographical Bibliography</i>, Vol. 3<sup>2</sup>: 52
					</li>
				</ul>
			</div>

			<div class="sek" id="den">
				<h2>King list of Den</h2>
				<p><b>5 pharaohs</b></p>
				<p><b>Date:</b> Reign of Den (Dynasty I)</p>
				<p><b>Provenance</b>: Abydos tomb T</p>
				<p>
					<b>Description</b>: Seal impression containing a sequence of six names:
					<b>Narmer, Aha, Djer, Djet, Den,</b> and (queen) <b>Merneith</b>. This is a clear indication that Narmer founded the dynasty. The inclusion
					of queen Merneith suggests that she acted as regent for Den when he was young.
				</p>
				<div class="py-3 text-center">
					<img loading="lazy" class="py-5w-1/2 mx-auto" src="/images/egypt-king-list-Seal-Den.webp" alt="Seal from tomb of Den" />
				</div>
				<h3>Bibliography</h3>
				<ul>
					<li>
						<b>Dreyer, G.</b>, 1986. Ein Siegel der frühzeitlichen Köningsnekropole van Abydos. <i>MDAIK</i>, 43: 33-43. Abb. 2-3. Taf. 4-5
					</li>
					<li>
						<b>Kaiser W.</b>, 1986. Zum Siegel mit frühen Königsnamen von Umm el-Qaab. <i>MDAIK</i>, 43: 115-119; Abb. 1-2.
					</li>
				</ul>
			</div>

			<div class="sek" id="qaa">
				<h2>King list of Qa’a</h2>
				<p><b>8 pharaohs</b></p>
				<p><b>Date:</b> Reign of Qa’a (Dynasty I)</p>
				<p><b>Provenance</b>: Abydos tomb Q</p>
				<p>
					<b>Description</b>: Seal impression containing a sequence of eight names: <b>Narmer, Aha, Djer, Wadj, Den, Anedjib, Semerkhet,</b> and <b
						>Qaa</b
					>. This seal confirms that Narmer was the first king of the dynasty, as on the Den seal (above.) Queen Merneith’s name is absent, which
					seems to further confirm that she acted as regent for a young Den.
				</p>
				<div class="py-3 text-center">
					<img loading="lazy" class="mx-auto w-1/2 py-5" src="/images/egypt-king-list-Seal-Qaa.webp" alt="Seal from tomb of Qaa at Abydos" />
				</div>
				<h3>Bibliography</h3>
				<ul>
					<li>
						Dreyer G. et. al., 1996. Umm el-Qaab. Nachuntersuchungen im frühzeitlichen Königsfriedhof. 7./8. Vorbericht. <i>MDAIK</i>, 52: Abb. 26.
						Taf. 14 b, c.
					</li>
				</ul>
			</div>

			<div class="sek" id="wadi">
				<h2>Wadi Hammamat king list</h2>
				<p><b>5 pharaohs</b></p>
				<p><b>Date:</b> Dynasty XII-XIII</p>
				<p><b>Provenance</b>: Wadi Hammamat rock inscription</p>
				<p>
					<b>Description</b>: The rock inscription at Wadi el-Fawachir in Wadi Hamamat consists of with five royal names and a short honorary prayer.
					Based on paleography, it is generally thought that the list was not contemporary with the fourth dynasty, but rather created during the
					twelfth or thirteenth dynasties &ndash; some 600 years later. The five names are (<i>right</i>to left): <b>Khufu</b>, <b>Radjedef</b>, <b
						>Khafra</b
					>, <b>Hordjedefra</b>, and <b>Baufra</b>.
				</p>
				<div class="py-5 text-center">
					<img loading="lazy" class="mx-auto w-2/3 dark:invert" src="/images/egypt-king-list-WadiHammamat.png" alt="Wadi Hammamat rock inscription" />
				</div>
				<h3>Bibliography</h3>
				<ul>
					<li>
						<b>Drioton, E.</b>, 1954. Une Liste des Rois de la IV Dynastie dans l’Ouadi Hammamat. <i>BSFE</i>, 16: 41-49.
					</li>
					<li>
						<b>Janosi, P.</b>, 2005. <i>Giza in der 4. Dynastie. Die Baugeschichte und Belegung einer Nekropole des Alten Reiches</i>, Vol. 1: 64-65.
					</li>
				</ul>
			</div>

			<div class="sek" id="annals">
				<h2>The Royal Annals</h2>
				<p><b>26 pharaohs</b></p>
				<p><b>Date:</b> Dynasty V</p>
				<p><b>Provenance</b>: unknown, maybe Memphis</p>
				<p>
					<b>Description</b>: The seven surviving fragments of a stele known as the Royal Annals of the Old Kingdom of Ancient Egypt include the
					Palermo Stone and its associated fragments. The stele contained a list of the kings of Egypt from predynastic kings through to the early
					part of the Fifth Dynasty and noted significant events in each year of their reigns. Because most of the stele is missing, the names that
					could be found on it is lost, but can be inferred by counting their known or assumed length of reign. This is obviously not a guarantee that
					a certain name was actually found on here.
				</p>
				<!-- 				<p>
					The predynastic kings of lower Egypt that is on the list are as follows:
					<i>Imikhet, Wenegbu, Niheb, Tiu, Itjiesh, Khaiu, and Seka</i>.<br />
				</p>
				<p>
					The dynastic kings present are: Aha, Teti, Djer, Den, Ninetjer, Khasekhemwy, Djoser, Snoferu, Huni, Shepseskaf, Userkaf, Sahura and Neferirkara.
					<i>Narmer, Aha, Djer, Den, Anedjib, Ninetjer, Khasekhemwy, Djoser, Huni, Snofru, Khufu, Djedefra, Shepseskaf, Userkaf, Sahura, Neferirkara, Semerkhet, Ka, and Sekhemkhet.</i>
				</p>
-->
				<div class="py-3 text-center">
					<img loading="lazy" class="mx-auto w-full" src="/images/egypt-king-list-RAnnals.webp" alt="The Royal Annals" />
				</div>
				<p class="mb-3 py-2 text-center">Names in the Annals</p>
				<div class="relative my-10 flex h-full w-full flex-col rounded-xl card p-4 font-sans shadow-md">
					<table class="text-sm tabular-nums">
						<tr class="text-left">
							<th><b>Fragment</b></th>
							<th><b>Names found</b></th>
							<th><b>Implicit names</b></th>
						</tr>
						<tr>
							<td>Palermo</td>
							<td>
								<i>Predynastic:</i> Imikhet, Wenegbu, Niheb, Tiu, Itjiesh, Khaiu, and Seka<br />
								<i>Dynastic:</i> Sneferu, Shepseskaf,
							</td>
							<td>.</td>
						</tr>
						<tr>
							<td>Cairo 1</td>
							<td>Djer, Sneferu,</td>
							<td>Aha</td>
						</tr>
						<tr>
							<td>Cairo 2</td>
							<td>Khufu,</td>
							<td>.....</td>
						</tr>
						<tr>
							<td>Cairo 3</td>
							<td>Djedefra,</td>
							<td>.....</td>
						</tr>
						<tr>
							<td>Cairo 4</td>
							<td>Sneferu, Khufu,</td>
							<td>.....</td>
						</tr>
						<tr>
							<td>Cairo 5</td>
							<td>Den</td>
							<td>Aha</td>
						</tr>
						<tr>
							<td>London</td>
							<td>.....</td>
							<td>......</td>
						</tr>
					</table>
				</div>
				<h3>Bibliography</h3>
				<ul>
					<li>
						<b>Breasted, James H.</b>, 1906. <i>Ancient Records of Egypt</i>, Vol. 1. Chicago: &sect;&sect; 76&ndash;167.
					</li>
					<li>
						<b>Beckerath, J. von.</b>, 1997. <i>Chronologie des Pharaonischen Ägypten</i>. Mainz.
					</li>
					<li>
						<b>Maspero, G.</b>, 1915. <i>Le Musée égyptien: recueil de monuments et de notices sur les fouilles d’Egypte</i>, Vol 3. Cairo: 29-53,
						plates XXIV-XXXI.
					</li>
					<li>
						<b>Sethe, Kurt.</b>, 1933. <i>Urkunden des alten Reiches</i>, Vol. 1. Leipzig: 235-249.
					</li>
					<li>
						<b>Wilkinson, T.</b>, 2000. <i>Royals Annals of Ancient Egypt</i>. London, New York.
					</li>
				</ul>
			</div>

			<div class="sek" id="ssaqqara">
				<h2>South Saqqara Stone</h2>
				<p><b>4 pharaohs</b></p>
				<p><b>Date:</b> Dynasty VI</p>
				<p>
					<b>Provenance</b>: Saqqara, storeroom south of the pyramid of Queen Iput II.
				</p>
				<p>
					<b>Description</b>: The South Saqqara Stone is a large basalt stone that was originally inscribed on both sides with annual records of
					several kings of the Old Kingdom. These annals include the Sixth Dynasty pharaohs Teti, Userkara, Pepi I, Merenra I, and Pepi II.<br
					/>Unfortunately, the inscriptions were erased when the stone was reused as the sarcophagus lid for queen Ankhenespepi I during Pepi II’s
					early years. Fortunately, the craftsman erasing the inscription did not do a particularly good job, as faint traces of the original still
					remain.
				</p>
				<div class="py-3 text-center">
					<img loading="lazy" class="mx-auto w-full" src="/images/egypt-king-list-SSSt.jpg" alt="The South Saqqara Stone" />
				</div>
				<h3>Bibliography</h3>
				<ul>
					<li></li>
					<b>Baud, M &amp; Dobrev, V.</b>, 1995. De nouvelles annales de l’Ancien Empire &eacute;gyptien. Une &#39;Pierre de Palerme&#39; pour la VIe
					dynastie.
					<i>BIFAO</i>, 95: 23-63.
				</ul>
			</div>

			<div class="sek" id="sekhemkara">
				<h2>Tomb of Sekhemkara</h2>
				<p><b>5 pharaohs</b></p>
				<p><b>Date:</b> early Dynasty V</p>
				<p>
					<b>Provenance</b>: Giza central field. Tomb 89 of Lepsius (G 8154).
				</p>
				<p>
					<b>Description</b>: Five consecutive rulers are honoured in an inscription on a false door in his tomb, which is located southeast of the
					pyramid of his father Khafra. As the eldest son of the pharaoh, he was also Chief Justice and Vizier.
				</p>
				<div class="py-5 text-center">
					<a data-fancybox="gallery" data-caption="List of kings in the Tomb of Sekhemkara at Giza" href="/images/egypt-king-list-LD-II-41a.jpg"
						><img
							loading="lazy"
							class="zoomable mx-auto w-2/3 py-5"
							src="/images/egypt-king-list-LD-II-41a.webp"
							alt="Tomb of Sekhemkara, Lepsius, Denkmaeler, II, plate 41a"
						/>
					</a>
				</div>
				<p class="mb-3 py-2 text-center">Names in the scene:</p>

				<p class="text-center">1. Khafra &nbsp; &nbsp; 2. Menkaura &nbsp; &nbsp; 3. Shepseskaf &nbsp; &nbsp; 4. Userkaf &nbsp; &nbsp; 5. Sahura</p>
				<h3 class="pt-8">Bibliography</h3>
				<ul>
					<li>
						<b>Lepsius, Karl R.</b>, 1849. <i>Denkmäler aus Ägypten,</i>
						Vol. 2: pl. 41a.
					</li>
					<li>
						<b>Sethe, Kurt.</b>, 1933. <i>Urkunden des alten Reiches</i>, Vol. 1: &sect;15(106), 166.
					</li>
					<li>
						<b>Porter and Moss.</b>
						<i>Topographical Bibliography</i>, Vol. 3<sup>2</sup>: 233-34.
					</li>
				</ul>
			</div>

			<div class="sek" id="netjerpunesut">
				<h2>
					Tomb of Netjerpunesut <span class="s75">(Nesutpunuter?)</span>
				</h2>
				<p><b>6 pharaohs</b></p>
				<p><b>Date:</b> early Dynasty V</p>
				<p>
					<b>Provenance</b>: Giza, central field, small mastaba (G 8740).
				</p>
				<p>
					<b>Description</b>: Entrance doorway lintel with the names of six kings.
				</p>
				<div class="py-3 text-center">
					<img loading="lazy" class="mx-auto w-2/3" src="/images/egypt-king-list-ASAE25-180.webp" alt="Urkunden des Alten Reiches, i, 166" />
				</div>
				<p class="mb-3 py-2 text-center">Names in the scene:</p>
				<p class="text-center">
					1. Radjedef &nbsp; &nbsp; 2. Khafra &nbsp; &nbsp; 3. Menkaura &nbsp; &nbsp; 4. Shepseskaf &nbsp; &nbsp; 5. Userkaf &nbsp; &nbsp; 6. Sahura
				</p>
				<h3 class="pt-8">Bibliography</h3>
				<ul>
					<li>
						<b>Sethe, Kurt.</b>, 1933. <i>Urkunden des alten Reiches</i>, I, &sect;16(107), 166
					</li>
					<li>
						<b>Porter and Moss.</b>
						<i>Topographical Bibliography</i>, III<sup>2</sup>, 278
					</li>
					<li><b>Gauthier.</b>, 1925. <i>ASAE</i>, 25: 180.</li>
					<li>
						<b>Reisner.</b>, 1942. <i>A History of the Giza Necropolis</i>, Vol. 1: 314 (a) Mastaba of Neter-puw-nesuwt.
					</li>
					<li><b>Junker.</b>, 1938. <i>Giza III</i>: 51 (no. 50)</li>
				</ul>
			</div>
		</div>
	</section>
</Layout>

<style>
	.sek {
		padding-block: 3rem;
	}
	.bb {
		line-height: 1.4rem;
	}
	td {
		padding-inline: 0.5rem;
		vertical-align: top;
		border-bottom: 1px solid light-dark(var(--border), var(--dark-border));
	}
</style>
