---
import Layout from "@/layouts/Layout.astro";

const fotnoter = [
	`Champollion, Jean-François. 1824. ‘Papyrus Égyptiens historiques du musée Royal de Turin’. <i>Bulletin des sciences historiques, antiquités, philologie</i> 2: 297–303.`,
	`Gardiner, <i>Royal Canon</i>, pl. VIII (col. VIII, line 5)`,
	`Černý, Jaroslav. 1952. <i>Paper & Books in Ancient Egypt.</i> London: Lewis. 17.`,
	`Wilcken, Ulrich. 1887. ‘Recto Oder Verso?’ <i>Hermes</i> 22: 487–92.`,
	`Maspero, Gaston. 1895. <i>Histoire Ancienne Des Peuples de l’orient Classique.</i> Paris. 225, note 5.`,
	`Winlock, Herbert E. 1947. <i>The Rise and Fall of the Middle Kingdom in Thebes.</i> New York: Macmillan. 4.`,
	`Donatelli, Laura. 2016. ‘La Prima Proposta d’acquisto Da Parte Dei Savoia Della Collezione Egizia Di Bernardino Drovetti’. <i>Studi Piemontesi</i> 52 (2): 494.`,
	`Dawson, Warren R., and Eric P. Uphill. 1972. <i>Who Was Who in Egyptology.</i> 2. Ed. London: Egypt Exploration Society. 90.`,
	`Vidua, Carlo. 1834. <i>Lettere Del Conte Carlo Vidua Pubblicate Da Cesare Balbo.</i> Vol. 2. Turin: G. Pomba. Letter No. 41, August 7, 1820. 241f.`,
	`The final price was 400,000 lire, 100,000 paid in cash and the remainder in yearly installments of 15,000 lire. cf. Donatelli, Laura. 2011. <i>Lettere e Documenti Di Bernardino Drovetti.</i> Accademia delle Scienze di Torino. A.5`,
	`Fabretti, Ariodante. 1872. <i>Il Museo di antichità della R. università di Torino: notizie.</i> Turin: Stamperia reale. 13 n. 1. N.b. this clearly show the number 169, not 170.`,
	`Charles X of France bought the second for 250,000 francs in 1827, now in the Louvre, and Lepsius bought the third for the Egyptian Museum of Berlin in 1836 for 30,000 francs. cf. Dawson and Uphill, <i>Who was who</i>, 90`,
	`Champollion, Jean-François. 1824. <i>Précis Du Système Hiéroglyphique Des Anciens Égyptiens.</i> Paris: Imprimerie Royale.`,
	`Champollion, "Papyrus Égyptiens", 297–303.`,
	`Champollion, "Papyrus Égyptiens", 302. This was written for the Bulletin, cf. Hartleben, Hermine. 1909. ‘Lettres de Champollion le jeune’. <i>Bibliothèque Égyptologique</i> 30. Paris: Ernest Leroux. 87.`,
	`Champollion, Jean-François. <i>Canon hiératique des dynasties égyptiennes</i>., Papiers de J.Fr. Champollion, vol. XVI. <a href="http://gallica.bnf.fr/ark:/12148/btv1b100853000" target="_blank">NAF 20318</a> (Gallica).`,
	`Champollion-Figeac, Jacques Joseph. 1851. ‘De La Table Manuelle Des Rois et Des Dynasties d’Égypte Ou Papyrus Royal de Turin, de Ses Fragments Originaux, de Ses Copies Manuscrits Ou Imprimées, et de Ses Intreprétations’. <i>Revue Archéologique</i> 7 (2): 397–402, 461–72, 589–99, 653-65. Plate 149.`,
	`Knortz, Karl. 1886. ‘Gustav Seyffarth, Eine Biographische Skizze’. In <i>The Literary Life Of Gustavus Seyffarth, An Autobiographical Sketch And Gustav Seyffarth, Eine Biographische Skizze.</i> New York: Steiger. 27. Letter of June 3, 1826`,
	`Seyffarth, Gustav, and Karl Knortz. 1886. ‘The Literary Life of Gustavus Seyffarth.’ In <i>The Literary Life Of Gustavus Seyffarth, An Autobiographical Sketch And Gustav Seyffarth, Eine Biographische Skizze.</i> New York: Steiger. 20f.`,
	`Wilkinson, John Gardner. 1851. <i>The Fragments of the Hieratic Papyrus at Turin.</i> Vol. 1. 2 vols. London: Richards. iv-v.`,
	`Farina, Giulio. 1938. <i>Il Papiro dei re, restaurato.</i> Rome: G. Bardi. 8. Among those restored are the "erotic" papyrus (pTurin 55001)`,
	`Consecutively numbered copies of inscriptions arranged in 14 unpublished volumes. The tracings of the Canon is in volume 7, containing numbers 6283–7828 and titled "Monumenta Aegyptiaca Taurinensia." Seyffarth, Gustav. Bibliotheca Aegyptiaca 1826-1830. The Wilbour Library of Egyptology, the Brooklyn Museum. For further details, see Gardiner, Royal Canon, 12.`,
	`In a letter to his brother on July 29, 1826: "I have read his book and is convinced that he knows neither the monuments, hieroglyphs, or Coptic, and that his system is in direct opposition to the facts, and especially common sense." cf. Hartleben, <i>Lettres</i> I, 369`,
	`Knortz, <i>‘Skizze’</i>, 43. Letter of Nov. 17, 1827.`,
	`All the more eagerly he seized upon the important work [of Seyffarth, who was visiting Paris] sent to him on December 25, 1827, which immediately confirmed to him how disgracefully he had been deceived by San Quintino." cf. Hartleben, II, 126; Champollion-Figeac, <i>Table des Rois</i>, 468`,
	`Champollion-Figeac, <i>Table des Rois</i>, 402f.`,
	`Seyffarth, Gustav. 1843. <i>Die Grundsätze Der Mythologie Und Der Alten Religionsgeschichte.</i> Leipzig: Barth. 265.`,
	`Seyffarth, <i>Literary life</i>, 21.`,
	`Birch, Samuel. 1843. ‘Observations upon the Hieratical Canon of Egyptian Kings at Turin.’ <i>Transactions of the Royal Society of Literature</i> Series 2, vol. 1: 203-8`,
	`Lepsius, <i>Über die zwölfte dynastie</i>, 441.`,
	`Champollion-Figeac, <i>Table des Rois</i>, 402f.`,
	`Champollion-Figeac, <i>Table des Rois</i>, 404.`,
	`Lepsius, <i>Über die zwölfte dynastie</i>, 440ff; Bunsen, <i>Aegyptens Stelle</i>, 84.`,
	`Lepsius, <i>Auswahl</i>, pls. 3-6`,
	`Barucchi, <i>Discorsi</i>, 29-30`,
	`Bunsen, <i>Aegyptens Stelle</i>.`,
	`Hincks, TRSL 3, 128–150. Two narratives of his reading held at the Royal Society in 1846.`,
	`Lesueur, <i>Chronologie</i>.`,
	`Wilkinson, <i>Hieratic Papyrus</i>.`,
	`Wilkinson, <i>Hieratic Papyrus</i>, 3f..`,
	`Wilkinson, <i>Hieratic Papyrus</i>, 47-60.`,
	`Ryholt, <i>Late Old Kingdom</i>, 88.`,
	`Orcurti, <i>Catalogo</i>, 129f., 211-215.`,
	`Brugsch, <i>Histoire</i>, Pl. 3 only in this edition.`,
	`Lauth, <i>Manetho und der Turiner Königs-papyrus</i>.`,
	`de Roug&eacute;, <i>Recherches</i>, 225–376, pl. 3.`,
	`Wiedemann, <i>Aegyptische Geshichte</i>, 73–79.`,
	`Meyer, <i>Aegyptische Chronologie</i>.`,
	`Farina, <i>Papiro</i>, 11.`,
	`Gardiner, <i>Royal Canon</i>, 11, 19-20`,
	`Farina, <i>Papiro</i>, 10`,
	`Farina, <i>Papiro</i>, 11`,
	`Ryholt, <i>Turin King-list</i>, 136, note 10; The four frames with additional fragments are numbered Cat. 1874/002 through 005.`,
	`Gardiner, <i>Royal Canon</i>`,
	`Gardiner, <i>Royal Canon</i>, plate IX`,
	`Kitchen, <i>Ramesside Inscriptions</i> II, §288, pp. 827–844.`,
	`Beckerath, <i>End of the Old Kingdom</i>, 140-147<br>
	Beckerath, <i>Untersuchungen</i>, 20-26.<br>
	Beckerath, <i>Dynastie der Herakleopoliten</i>, 13-20<br>
	Beckerath, <i>Chronologie</i>, 45-57.<br>
	Beckerath, <i>Bemerkungen</i>, 49—58.<br>
	Beckerath, <i>Some Remarks</i>, 225-227.<br>
	Beckerath, <i>Anmerkung</i>, 19-21.`,
	`Franke, <i>Zur Chronologie</i>, 113-138, 245-274.`,
	`Málek, <i>Original Version</i>, 93-106.`,
	`Barta, <i>Bemerkungen</i>, 11-13.`,
	`Helck, <i>Anmerkungen</i>, 151–216.`,
	`Ryholt, <i>Political Situation</i>, 25ff. Further clarified in Ryholt, <i>Turin King-list</i>, 136, Table 1.<br>
	Ryholt, <i>Late Old Kingdom</i>, 87–100.<br>
	Ryholt, <i>Turin King-list</i>, 135–155.<br>
	Ryholt, <i>Seneferka</i>, 159–73.<br>`,
	`Ryholt, <i>Political Situation</i>, 24ff.`,
];
---

<Layout
	title="Turin King List: History"
	meta1="An ancient papyrus roll written in Hieratic contains the longest known chronological list of Egyptian pharaohs."
	meta2="Egyptian chronology,Turin papyrus,hieratic,king list,pharaohs"
	bild="/images/pharaohse-turin.webp"
>
	<p class="lead">
		The Turin King List, an ancient papyrus roll, contains the longest known sequence of Egyptian pharaohs. The text is written in hieratic, a cursive
		script related to hieroglyphs, which was used for everyday writing throughout Egyptian history.
	</p>

	<p class="pt-3 pb-3">
		A <strong>hieratic</strong> papyrus at the Egyptian Museum in Turin, Italy, is without a doubt the most important king list of Ancient Egypt. It is
		often referred to as the
		<span class="glows"><strong>Turin king list</strong></span>, or <span class="glows"><strong>the Royal Canon of Turin</strong></span>, originating
		from Champollion’s 1824 description as <em>“un véritable tableau chronologique, un canon royal”</em>, a true chronological timeline, a royal
		canon.<button popovertarget="pop1">1</button> The papyrus is in very poor shape, less than a third of it remains, having crumbled into hundreds of
		tiny fragments by handling and during the transport to Italy, after its discovery around 1820. The king list is written on the back side of a Nineteenth
		Dynasty discarded administrative papyrus in the 13th century BC, dating from the reign of <a href="/ancient-egypt/pharaoh/Ramesses-II"
			>Ramesses II</a
		>.
	</p>
	<p></p>
	<p>
		The intact papyrus would have contained the names of 223 kings. Of these, 126 are complete or partial, and the remaining 97 entirely lost in the
		lacuna. Many of the preserved names does not appear inscribed on the <a href="/ancient-egypt/kinglist/abydos-canon">Abydos</a>, <a
			href="/ancient-egypt/kinglist/saqqara-canon">Saqqara</a
		>, or <a href="/ancient-egypt/kinglist/karnak-canon">Karnak</a> Canons from the New Kingdom. Despite its importance, we had to rely on traced facsimiles
		from the 1840’s and 1850’s, which naturally contain a few minor errors. Only Farina’s low quality photos were available until the Egyptian Museum in
		Turin released high quality photos in September of 2019. The papyrus has deteriorated, mainly due to to mounting and re-mounting, since the reconstruction
		in 1826. However, the facsimiles offer us a glimpse of a better preserved king list, as several signs seen in the facsimiles, has been irretrievably
		lost.
	</p>

	<div class="py-5">
		<a
			data-fancybox="TurinKL"
			data-caption="<b>The Turin king list</b> (Royal Canon of Turin) — ( CC BY ) PHARAOH.SE 2020"
			href="/images/Turinkinglist2020.png"
			><img loading="lazy" class="w-full" src="/images/Turinkinglist2020.webp" alt="The Turin king list" />
		</a>
	</div>

	<p class="py-5">
		Several notations of <strong>lacuna</strong> (Latin for <i>a gap in the text</i>) are present, originating from a prototype or <strong
			>vorlage</strong
		> (German for <i>prototype or template of a prior version of a text</i>) of the papyrus, and used where a part of the source text was missing or
		unreadable. The chronological sequence of the kings seems to be quite reliable, as it even include kings or queens left out of the other king
		lists.
	</p>

	<h2 class="pt-8 pb-1">History</h2>
	<div>
		<p>
			The papyrus was lost for some 3000 years, perhaps buried in a forgotten tomb or temple near Thebes in Upper Egypt. Unlike the other king lists
			of the New Kingdom, it was not produced for religious purposes, but instead as an administrative chronological reference aid, containing the
			names and reign lengths of the kings of the Two Lands. There is no evidence of any intentional exclusion or supression of kings, as contemporary
			and ephemeral kings are included, even the foreign kings of the Second Intermediate Period.
		</p>
		<p>
			The Turin king list is an ancient Egyptian full-size papyrus roll written in hieratic, sadly it is in very poor shape, only one third of the
			full papyrus remains. Its original use was as a tax-register dating to the reign of <a href="/ancient-egypt/pharaoh/Ramesses-II">Ramesses II</a>
			(1279–1213 BCE), evident from the text, <i>"Inspector of the wells of</i>&nbsp;<tlit>r&#42788;-msw-mry-imn</tlit>," i.e. an official during the
			reign of Ramesses II.<button popovertarget="pop2">2</button> There is a slight possibility that same position still existed during the subsequent
			reigns of <a href="/ancient-egypt/pharaoh/Merenptah">Merenptah</a> and
			<a href="/ancient-egypt/pharaoh/Seti-II">Seti II</a>, providing an approximate date for the papyrus, somewhere in the 1275–1200 BCE range.
		</p>
		<p>
			Rolls of papyrus were manufactured with the horizontal fibres on the inside, and the vertical fibres on the outside. The natural way to write on
			papyri, was on the inside of the roll (i.e. along the horizontal fibres), which also served to protect the writing when it was rolled up.<button
				popovertarget="pop3">3</button
			> This side is called the <i>recto</i>, or front side.
		</p>
		<p>
			It was first assumed that the king list was the initial document, however, as the tax-register was written along the horizontal fibres, it
			naturally must be the original.<button popovertarget="pop4">4</button> So, the tax-register is written on the <i>recto</i>, or front side, with
			the king list on the <i>verso</i>, or back side. There is no indication as to when the king list was written, whether a few months, years, or
			even decades later.
		</p>
	</div>

	<h2 class="pt-3 pb-1">Discovery</h2>
	<div class="">
		<p>
			The papyrus was likely intact when rediscovered in the late 1810s near Thebes in Egypt; however, the provenance is unknown. Being suddenly
			exposed to the elements and being handled by human hands after thousands of years in isolation, caused the fragile papyrus to begin to crumble.
			Bernardino Drovetti, the French Consul-General of Egypt at the time, acquired the papyrus sometime in the 1815–22 timeframe. Although it is
			unknown if he acquired it himself, it is more likely that one of his agents did. The note by Maspero as to its discovery was likely based on
			some accurate information.
		</p>

		<div>
			<blockquote>
				[the Papyrus] was purchased in Thebes almost untouched by Drovetti around 1818, and unintentionally mutilated during his transport of it. The
				leftovers were acquired by the collection of the Piedmontese government in 1820 and deposited in the Museum of Turin, where Champollion saw
				them in 1824.

				<div class="text-right p-2">
					<cite class="text-left">Gaston Maspero.<button popovertarget="pop5">5</button></cite>
				</div>
			</blockquote>
		</div>
		<p>However, the story invented by Winlock was fabricated to add colour to the likely unremarkable discovery.</p>

		<div>
			<blockquote>
				When the papyrus was found by Drovetti, either in 1823 or in 1824, it was apparently complete, and he put it into a jar which he tied about
				his waist, mounted his donkey, and proceeded to ride into town. The joggling which the jar got along the path was disastrous.

				<div class="text-right p-2">
					<cite class="text-left">Herbert Winlock.<button popovertarget="pop6">6</button></cite>
				</div>
			</blockquote>
		</div>

		<p>
			Drovetti clearly failed to note the importance of the papyrus, and simply stored it in a box together with many other papyri he acquired in
			Egypt.<button popovertarget="pop7">7</button> As there is no clear provenance of the discovery, the archaeological context is irretrievably lost.
			Drovetti and his agents amassed a huge collection of Egyptian artefacts, and textual papyri did not receive special care<button
				popovertarget="pop8">8</button
			>
			but were unceremoniously dumped together in a big box by the hundreds. It was, after all, only a papyrus without elaborate drawings of gods and kings.
			As the European market in Egyptian artefacts was rapidly growing, it was to be sold to the highest bidder.
		</p>

		<div class="text-center py-3 w-full">
			<figure>
				<a
					data-fancybox="Museo"
					data-caption="The Drovetti Collection on the ground floor of the Museo Egizio by Marco Nicolosino, 1832."
					href="/images/Turin-DrovettiColl1832.jpg"
					><img loading="lazy" class="w-full zoomable" src="/images/Turin-DrovettiColl1832.webp" alt="The Drovetti Collection, 1832." />
				</a>
				<figcaption class="text-sm text-center font-sans py-2">
					The Drovetti Collection on the ground floor of the Museo Egizio by Marco Nicolosino, 1832.
				</figcaption>
			</figure>
		</div>

		<p>
			Drovetti had the antiquities he acquired in Egypt shipped and stored in Livorno already in 1820,<button popovertarget="pop9">9</button> and after
			France declined to buy his collection, he started negotiations with his native Piedmont. Victor Emmanuel I, the King of Sardinia, showed great interest
			in the collection, but Drovetti’s asking price of 400,000 lire was an enormous sum for the small kingdom. The negotiations stalled when the king
			abdicated in favour of his brother. Ultimately, Drovetti accepted the deal, and the king signed the purchase on January 24, 1824.<button
				popovertarget="pop10">10</button
			>
		</p>

		<p>
			The collection included 170 Egyptian papyri,<button popovertarget="pop11">11</button> and was only the first of three collections that he sold.<button
				popovertarget="pop12">12</button
			> Transported from storage in Livorno to Genua by sea, from there to Turin by wagons, it arrived in February of 1824. Housed in the Academy of Sciences
			building, the collection was unpacked immediately and temporarily placed in rooms on the ground floor. The Drovetti collection de facto became the
			Egyptian Museum of Turin, a detached section of the Museum of Antiquities. Formally inaugurated on June 10, 1824, the Museum was still undergoing
			planning and construction, but not opened to the public until 1832.
		</p>
	</div>

	<h3 class="pt-8 pb-1">Champollion</h3>
	<p>
		Towards the end of 1823, the French scholar <b>Jean-François Champollion</b> completed his <i
			>Summary of the hieroglyphic system of the ancient Egyptians</i
		>,<button popovertarget="pop13">13</button> laying the foundation for the decipherment of the Egyptian hieroglyphs. His decipherment effort was being
		hampered by inaccurate and unreliable transcriptions of the available hieroglyphic texts, which contained errors and omissions. To further the research,
		it was imperative to obtain new error-free transcriptions of the texts held in the Egyptian collections throughout Europe, most of them in Italy. His
		plan was to visit the collections and make exact copies himself.
	</p>
	<p></p><figure class="float-left pr-5 pb-2">
		<img loading="lazy" class="w-full" src="/images/Turin-Champollion.webp" alt="Champollion 1831" />
		<figcaption class="text-sm text-center font-sans py-2">Champollion 1831</figcaption>
	</figure>
	<p>
		To that end, he arrived in Turin on the morning of June 7, 1824. Two days later he received the necessary documents from the Minister of the
		Interior, Count de Cholex, to begin his research, and, guided by his friend Count Balbo, President of the Royal Academy of Sciences in Turin, he
		entered the vast halls of the palace holding the newly acquired <i>Drovetti Collection</i>.
	</p>

	<p>
		Over the next months, Champollion established his work programme and succeeded in mastering the new results that were coming his way. Amadeo
		Peyron, Hellenist and faculty professor, and Costanzo Gazzera, Orientalist and librarian of the university quickly became Champollion’s best
		friends and helpers. Together they started spreading the results obtained, both orally and in writing, to the curious public. Champollion intended
		to make copies of the entire collection, and tirelessly they helped him unpack and arrange the smaller items, as well as copying, making
		impressions and casting them in wax or plaster.
	</p>

	<p>
		In addition to the enormous task of working through the entire collection, he also carried out the painstaking examination of the papyri in the
		Museum, which Count Cholex had entrusted to him, giving him unlimited authority, apparently over the head of San-Quintino, who was appointed
		curator of all the Egyptian antiquities in Turin at the time and who had already taken most of the Drovetti Collection papyri over to the
		university building. San-Quintino was appalled that Champollion was granted access to the documents, and ultimately confronted him as if he were a
		presumptuous intruder, which gave rise to very embarrassing scenes; incidentally, the director’s bad moods were well known.
	</p>
	<p>
		Champollion had already made a serious complaint about the director on June 18. A second letter of complaint was sent to the minister on August
		24, as it was now a question of opening, organizing and identifying 175 papyri, of which only 20 had been unrolled. In the end, he was given the
		keys to the museum, and of course this gave rise to new feuds as time went on.
	</p>
	<p>
		In early November, after weeks of restless work, he also learned about a box of papyri scraps stashed away at the Palace.<button
			popovertarget="pop14">14</button
		> However, he insisted on seeing them all, down to the last shred, so it was agreed that they were to be laid out on a table for him to peruse the
		next morning.
	</p>
	<p>On November 6th, he wrote:</p>

	<div>
		<blockquote>
			Upon entering this room, I saw a table ten feet long and covered with a thick layer of papyri shreds across its entire width, at least half a
			foot thick... I immediately decided to examine all remains that covered this table of desolation, one by one. With restrained breath, for fear
			of turning them to dust, I collected this or that piece of papyrus, which may be the last and only remains of the memory of a king who may have
			lived in the immense palace of Karnak.
			<br /><br />
			I am convinced that these papyri belonged to the archives of a temple or other public depository. However, the most important of these, one whose
			mutilation I will ceaselessly deplore, is a historical treasure, a chronological list, a true royal canon in hieratic writing, containing four times
			as many dynasties as an intact Abydos Table. Most remarkable is that none of the names are in any way similar to those of the Abydos Table. It seems
			equally certain to me that the remains of this historical Canon dates to no later than the Nineteenth Dynasty.

			<div class="text-right p-2">
				<cite class="text-left">Champollion's letter to his brother.<button popovertarget="pop15">15</button></cite>
			</div>
		</blockquote>
	</div>

	<p>
		He spent nine more days fervently searching for the remnants of this priceless papyrus amidst thousands of scraps, until he finally had gathered
		40 pieces, which he was able to bring to 46, and a little later to 50 with much effort and patience. On November 15 he writes:
	</p>
	<blockquote>
		“Finally, I have gathered from the remains of this royal canon, which is Manetho in hieratic writing, some 160–180 royal throne names; many are
		intact, but many are – be it at the beginning or at the end – mutilated. A number follow the name, which will be a means of chronological
		arrangement. The most striking result is undoubtedly evidence that the Egyptians, at a very remote time, counted nearly 200 reigns before the
		Seventeenth Dynasty - since this text is found among archival remains that do not exceed past the Twentieth Dynasty; for in all these fragments
		there is not a single cartouche similar to those of the Eighteenth, Nineteenth or subsequent dynasties.”
	</blockquote>
	<p>
		Since the fragments could not even come close to forming a whole text, he concluded that only a small part of the papyrus was saved from
		destruction and said: <i
			>“It is the greatest disappointment of my literary life to have discovered this manuscript in such a deplorable state. I will never console
			myself; the wound will bleed for a long time.”</i
		>
	</p>
	<p>
		Champollion made tracings of each fragment in a booklet,<button popovertarget="pop16">16</button> providing each with a unique Latin letter, ranging
		from
		<b>A</b> to <b>Z</b>, and when the alphabet ran out, continued from <b>Aa</b> to <b>Vv</b>. Only fragment <b>Uu</b> show the recto, and it is in fact
		the same fragment as the already traced <b>Nn</b>, which <em>does</em> show the verso.
	</p>

	<div class="text-center py-5">
		<figure>
			<a data-fancybox="TK" data-caption="Fragments discovered by Champollion (in red)" href="/images/T-2020-Cat1874-ChampollionFr.jpg"
				><img
					loading="lazy"
					class="w-full zoomable"
					src="/images/T-2020-Cat1874-ChampollionFr.webp"
					alt="Fragments discovered by Champollion (in red)"
				/>
			</a>
			<figcaption class="text-sm text-center font-sans py-2">Fragments discovered by Champollion (in red)</figcaption>
		</figure>
	</div>

	<p>
		Though the king list was an important discovery, he returned to work, copying as much of the collection as possible, all while expanding his
		knowledge about the ancient Egyptian language. It should be noted that Champollion made no effort to reconstruct the papyrus, he just simply
		copied the fragments he discovered. Neither did he publish the fragments or names he found, a task that was left to his brother Jacques-Joseph
		Champollion-Figeac, some twenty years after Jean-François untimely death in 1832.<button popovertarget="pop17">17</button>
	</p>
	<p>
		For years rumours persisted that the jealous San-Quintino had secretly removed fragments. The rumours started after Seyffarth’s reconstruction in
		1826, who had spent weeks patiently sorting through the debris from the “Table of desolation,” examining the scraps one by one, and he not only
		managed to reunite a number of fragments so well that they appeared to not have been broken in the first place, but also found more than 100
		additional fragments that Champollion missed. This did not sit well with Champollion, or his inner circle, and accusations started flying, no
		doubt fuelled by the well-known enmity between Seyffarth and Champollion. In retrospect, the claim that San-Quintino hid fragments from the
		Frenchman is certainly possible but not corroborated by fact, and could simply be an attempt to mitigate Seyffarth’s clearly superior arrangement
		of the papyrus.
	</p>

	<p class="my-2">
		The tracings of Champollion are not entirely accurate, but I have managed to locate fragments <b>Dd</b> and <b>Ii</b> that escaped notice by Gardiner.
	</p>

	<div class="text-center py-2">
		fr. <b>Dd</b> joins below fr. <b>F</b>, forming part of <i>fr.</i> 20, containing the titles for 3.18-21.<br />
		fr. <b>Ii</b> joins fragments <b>T</b> and <b>Jj</b>, forming <i>fr.</i>
		98, containing the titles for 9.11-13.
	</div>
	<p class="my-3 pb-3">
		This leaves only the <b>K, Q, R, Mm, Rr</b>, and <b>Ss</b> fragments still unidentified.
	</p>

	<div class="text-center pb-5">
		<figure>
			<a data-fancybox="Ch" data-caption="Champollion’s unidentified fragments" href="/images/Turin-ChampUnknownFr.png"
				><img
					loading="lazy"
					class="w-1/2 mx-auto zoomable bg-white/10"
					src="/images/Turin-ChampUnknownFr.webp"
					alt="Champollion’s unidentified fragments"
				/></a
			>
			<figcaption class="text-sm text-center font-sans py-2">Champollion’s unidentified fragments</figcaption>
		</figure>
	</div>

	<p>
		It should come as no surprise that Champollion only found parts of 21 fragments during his cursory inspection, while Seyffarth diligently devoted
		several weeks examining every scrap managed to find a total of 164. Further examination by modern scholars shows that though most of the fragments
		added by Seyffarth indeed belong to the papyrus, there is at least 25 that does not. Unsurprisingly there is also at least 15 blank fragments.
		<br /><br />
		As luck would have it, it was very fortunate for Egyptology that it was Champollion that discovered the king list. It is arguably possible that we
		would have been ignorant of its importance, perhaps even its existence, if lesser able hands had examined the scraps before the Frenchman, and then
		discarded the fragments as garbage.
	</p>
	<p class="pend"></p>

	<h2 class="py-5">Reconstruction</h2>
	<div class="">
		<p>
			Written right to left, as is usual with hieratic papyri, most lines yield the name of a particular king, followed by a number of years, months
			and days ruled. Unlike the other king lists, it include the Hyksos kings, ephemeral rulers, and those only ruling over small territories.
		</p>
		<p>
			The poor state of the papyrus only allows for a mostly conjectural reconstruction, but by close examination of the fibres, as well as comparing
			the writing on both sides of the papyrus, the placement of the fragments can be determined with a good amount of accuracy. Many of the royal
			names and their chronological positions originate with this unique and invaluable papyrus.
		</p>
	</div>

	<h3 class="py-3">Seyffarth</h3>
	<div class="">
		<figure class="float-left pr-5 pb-2">
			<img loading="lazy" class="img-fluid" src="/images/Turin-Seyffarth.webp" alt="Gustav Seyffarth portait 1837" />
			<figcaption class="text-sm text-center font-sans py-2">Seyffarth 1837</figcaption>
		</figure>
		<p class="">
			The Saxon scholar Gustav Seyffarth had developed a flawed hieroglyphic system, where the signs were purely phonetic, which was competing with
			Champollion’s system. Seyffarth’s system was proven to be incorrect by none other than Champollion himself, a fact which Seyffarth refused
			acknowledge. It is clear from their correspondence that after meeting in Italy, they soon became enemies, though socially they kept up a civil
			and courteous façade.
		</p>

		<p>
			Seyffarth arrived in Turin in late May of 1826,<button popovertarget="pop18">18</button> and immediately began the restoration of the multitudes
			of papyri in the Drovetti collection, among them the king list.
		</p>

		<p>
			Champollion might have discovered the fragments, but Seyffarth did the actual work of puzzling all the pieces together into a somewhat cohesive
			papyrus. His careful consideration of the fibres, coloring, and the writing on the both sides would prove to be crucial, as his arrangement of
			the fragments resulted in the king list as we know it today.
		</p>

		<div>
			<blockquote>
				The Egyptian Museum of Turin preserved a huge box with at least half a million of papyri fragments, the largest were three inches long and two
				inches broad. I devoted six weeks to a close examination of each of the fragments, and put them together as far as was possible. The papyrus I
				thus obtained was eight feet long and one foot high.

				<div class="text-right p-2">
					<cite class="text-left">From Seyffarth’s autobiography.<button popovertarget="pop19">19</button></cite>
				</div>
			</blockquote>
		</div>

		<p>
			It was obvious from the start that the fragments of the papyrus were only small parts of a whole text, and to be understood, in need of being
			reassembled to find a context. This meant examining and sorting through the countless fragments found in the box, from many different papyri,
			and try to find which fragments belonged to the papyrus.
		</p>
		<p>
			Seyffarth patiently sorted through thereconstructionsdata vast pile of fragment debris, examining the scraps one by one, and managed to reunite
			some fragments so well that they do not appear to have ever been broken, as seen in the facsimiles of Lepsius and Wilkinson. His diligence was
			rewarded as he found more than 100 fragments neglected or missed by Champollion, who did not go through the debris as thoroughly as he might
			have.
		</p>
		<p>
			Champollion claimed that San Quintino hid fragments from him, which was probably only an attempt to mitigate his hurt pride, when confronted
			with Seyffarth’s superior arrangement.<button popovertarget="pop20">20</button> It is to Seyffarth’s merit that he did not try to restore the papyrus
			according to his own beliefs about the hieroglyphic system, instead he took a scientific route by matching the fragments according to fibres, colour,
			thickness, and writing. Seyffarth’s arrangement is exceptional, as subsequent reconstructions show that he positioned most of the fragments in their
			correct position. In all he restored some fifteen papyri during his time at the Museum.<button popovertarget="pop21">21</button>
		</p>
		<p>
			When the arrangement was as complete as Seyffarth could make it, he glued the fragments together with blotting paper. Seyffarth did not publish
			his restoration, but his unpublished tracings of the papyrus is in the archives of the Brooklyn Museum.<button popovertarget="pop22">22</button>
			Champollion saw Seyffarth as a charlatan.<button popovertarget="pop23">23</button> His opinion of Seyffarth could explain why he did not trust in
			his arrangement of the papyrus. Add to this that Seyffarth saw Champollion as The Enemy,<button popovertarget="pop24">24</button> and did his best
			to discredit the Frenchman’s system to anyone that would listen.
		</p>
		<p>
			When Champollion saw Seyffarth’s arrangement of the papyrus, instead of acknowledging the accomplishment, he saw only conspiracy and deceit.<button
				popovertarget="pop25">25</button
			> So much that he accused San Quintino, who was cataloguing Drovetti’s collection at the Museum, of having hidden fragments from him, only to later
			surrender them to Seyffarth. This claim was circulated in Champollion’s circle of friends, and his brother later reiterated the claim.<button
				popovertarget="pop26">26</button
			> Thought it should be noted that the Champollion-San Quintino feud was well known at the time, and the possibility cannot be entirely discarded.
			San Quintino was making a detailed inventory of the collection for the Academy as it was being unpacked, and it would seem probable, even likely,
			that after Champollion had examined the pile of papyri debris, his scrutiny resulted in him finding fragments that were neglected or missed by the
			Frenchman.
		</p>
		<p>Champollion’s death in 1832 did not deter Seyffarth from writing an anecdote about the discovery of the papyrus:</p>

		<div>
			<blockquote>
				Before me, Champollion had examined the same box of fragments and declared it completely useless, and out of ignorance and arrogance even had
				half of it thrown into the privy during the absence of the Inspector, depriving the world of one of its most precious treasures.
				<div class="text-right p-2">
					<cite class="text-left">G. Seyffarth 1843.<button popovertarget="pop27">27</button></cite>
				</div>
			</blockquote>
		</div>

		<p>
			Seyffarth repeated this (likely invented) story of ill will towards Champollion in his autobiography.<button popovertarget="pop28">28</button>
			It is obvious that Seyffarth’s animosity towards the Frenchman did not end with Champollion’s death. The famous Champollion’s rejection of Seyfarth’s
			arrangement led people to consider it with scepticism, if not outright scorn. The support for the Frenchman was almost universal, as he was after
			all the expert on hieroglyphics, while the views of Seyffarth were incorrect. The rejection was exasperated by Champollion’s untimely death, which
			reinforced the derision of the arrangement without any objective analysis or investigation. Lest they disagree with the late master, the subject
			of the papyrus was neglected, even avoided, despite its obvious value to scholars. However, this was about to change&mdash;albeit slowly.
		</p>
		<p>
			The polemic surrounding the arrangement of the papyrus lasted several years, but eventually scholars who took the time to examine the papyrus,
			realised that the arrangement was indeed very good. The first account in more than a decade was by Samuel Birch of the antiquities department of
			the British Museum, who held a presentation at the Royal Society detailing his analysis of the king list in November 1841.<button
				popovertarget="pop29">29</button
			>
		</p>
	</div>

	<h3 class="py-3">Facsimiles</h3>

	<p>
		The pioneering German Egyptologist Karl Richard Lepsius visited Turin in December 1835, and made careful traces of both sides of Seyffarth’s
		arrangement.<button popovertarget="pop30">30</button> While in Paris three years later, Lepsius obtained copies of Champollion’s isolated fragments,
		courtesy of his brother. The following year, in London, Lepsius saw Samuel Birch’s copy of &Eacute;douard Dulaurier’s copy of Seyffarth.<button
			popovertarget="pop31">31</button
		> Lepsius also saw a manuscript of twelve pages that was stolen from Champollion by his pupil Salvolini who deviously claimed it as <em>his</em> work.<button
			popovertarget="pop32">32</button
		>
	</p>

	<p>
		After noticing discrepancies between the different copies that was circulating among the scholars, he returned to Turin in 1841, to once and for
		all establish that he indeed had an exact copy. He also wanted to verify that he had correctly identified the location in the papyrus of the
		Twelfth Dynasty.<button popovertarget="pop33">33</button>
	</p>
	<p></p><figure class="pt-0 float-left pr-3">
		<img loading="lazy" class="img-fluid" src="/images/T-Lepsius.png" alt="" width="177" height="250" />
		<figcaption class="text-sm text-center font-sans py-2">Detail (Lepsius)</figcaption>
	</figure>
	<p>
		In 1842, Lepsius published <em>"A selection of important ancient Egyptian documents"</em>,<button popovertarget="pop34">34</button> with numbered fragments
		from 1 to 164. Taking special care to present the papyrus as it was arranged by Seyffarth, without any corrections or amendments, he also chose to
		omit the admittedly less important tax-register, and included no commentary at all, letting the facsimiles speak for themselves. These facsimiles are
		still very important today, as the papyrus has since deteriorated further, from handling, mounting and remounting, and of course, time.
	</p>
	<p>
		The edition of Lepsius made the content of the papyrus available for scholars to study, and though still a touchy subject, studies slowly began to
		appear. Wilkinson’s edition added to the credibility of Seyffarth’s arrangement, and finally broke the camels back. However, the studies were slow
		in appearing and concerned themselves more with aligning the king list to fit with Manetho’s list of kings. The director of the Turin Museum at
		the time, Francesco Barucchi, mentioned the king list only in passing in 1844.<button popovertarget="pop35">35</button> The following year, Christian
		Bunsen, a German diplomat and scholar, looked into some of the details preserved in the king list.<button popovertarget="pop36">36</button> It was
		not a very long or detailed study, but a good start nonetheless. In 1846, famed Assyrologist Edward Hincks examined the correspondence of the king
		lists with Manetho, but again, it was not a very thorough investigation.<button popovertarget="pop37">37</button>
	</p>

	<p></p><figure class="pt-0 float-right pl-3">
		<img loading="lazy" class="img-fluid" src="/images/T-Lesueur.webp" alt="" width="170" height="250" />
		<figcaption class="text-sm text-center font-sans py-2">Detail (Lesueur)</figcaption>
	</figure>
	<p>
		The French architect Jean-Baptiste Lesueur tried to make sense of the Manethonian tradition, by trying to reconcile the two in 1846.<button
			popovertarget="pop38">38</button
		> His facsimiles are identical copies of Lepsius, but with most of the smaller fragments left out. He attempted to complete the king list by finishing
		partial signs, and adding whole lines of text in red ink, which are of course inaccurate. Ironically, his facsimiles does not include the signs that
		were written in red ink on the papyrus.
	</p>
	<p>
		Sir John Gardner Wilkinson, the Father of British Egyptology, visited the Turin Museum in 1849 and also made tracings of the hieratic on both
		sides of the papyrus. His edition was published in 1851<button popovertarget="pop39">39</button> and is nearly identical to Lepsius’, whose edition
		he happily praised as complete.<button popovertarget="pop40">40</button> There are only a few minor differences, but most importantly; Wilkinson also
		included the tax-register on the reverse, which Lepsius had omitted. While Lepsius included no commentary, Wilkinson wrote a detailed description,
		and included in a new, and more detailed examination of the papyrus by Hincks.<button popovertarget="pop41">41</button>
	</p>
	<p>
		It should be noted that the facsimiles of Lepsius and Wilkinson are not always accurate, but since they are not photographs, naturally a few minor
		errors are to be expected.<button popovertarget="pop42">42</button> They are still very relevant, due to the much deteriorated state of the papyrus
		today. The addition of Wilkinson’s edition seems to have added incentive for further study of the king list. The first catalogue of the Turin Museum
		was produced in 1855 by Pietro Camillo Orcurti, who described the content of each column briefly.<button popovertarget="pop43">43</button> Four years
		later, Heinrich Brugsch examined the names found in the king list, and included a plate with a transcription of the fragments from the Fourth to Twelfth
		dynasties.<button popovertarget="pop44">44</button>
	</p>
	<p>
		Franz Joseph Lauth’s examination<button popovertarget="pop45">45</button> of Manethonian tradition included the king list in his handwritten book in
		1865. The following year, Vicomte de Roug&eacute; researched the first six dynasties, utilizing the corresponding parts of the Turin king list.<button
			popovertarget="pop46">46</button
		> Alfred Wiedemann described the papyrus briefly in his Egyptian History in 1886,<button popovertarget="pop47">47</button> but the first real investigation
		was performed by the historian Edouard Meyer in his &quot;Egyptian Chronology&quot; in 1904.<button popovertarget="pop48">48</button>
	</p>

	<h3 class="pt-8 pb-3">The 1930 restoration</h3>

	<p></p><figure class="float-right pl-3">
		<img loading="lazy" class="img-fluid" src="/images/T-Farina.jpg" alt="" width="190" height="231" />
		<figcaption class="text-sm text-center font-sans py-2">Photo by Farina (detail)</figcaption>
	</figure>
	<p>
		When Giulio Farina took over as director of the Egyptian Museum in Turin in 1928, he had a workshop set up for the restoration of the papyri of
		the Museum, and managed to bring in the papyrus conservation specialist Dr. Hugo Ibscher from Berlin in 1930.<button popovertarget="pop49"
			>49</button
		>
		Ibscher detached the fragments from the blotting paper on which Seyffarth had glued them, and began the arduous task of re-examining and reassembly
		of the papyrus. The mounting of the papyrus by Seyffarth remained untouched for more than a century, until Ibscher’s thorough examination resulted
		in the removal of many fragments from Seyffarth’s arrangement that do not belong to this papyrus.<button popovertarget="pop50">50</button> The process
		of removing the papyrus from the blotting paper caused damage along the edges and many minute signs or traces of signs were lost, making the facsimiles
		of Lepsius and Wilkinson all that more valuable. To protect the papyrus, it was placed between two glass panes in three separate frames. While Ibscher
		only worked on the restoration for a few weeks, the restoration was long and difficult, and was not completed until October of 1934.<button
			popovertarget="pop51">51</button
		>
	</p>
	<p>
		Farina examined every aspect of the papyrus for years, and rearranged and added a few fragments compared to Ibscher’s mounting.<button
			popovertarget="pop52">52</button
		> His photographs of the papyrus are unfortunately of rather poor quality. This edition contain the first complete hieroglyphic transcription of the
		hieratic which is still valuable, but as additional research has proven, now mostly obsolete as fragments has been rearranged. All earlier studies
		concentrated more on the chronological aspect than on the actual content of the king list, and only included parts of Lepsius or Wilkinsons facsimiles.
		The new mounting introduced new fragments not present in Seyffarth’s arrangement. These fragments were left unnumbered, instead indicated as &quot;Fr.
		?&quot; by Gardiner.
	</p>
	<p>
		The Museum in Turin have four frames with mostly tiny unpublished fragments that could belong to the papyrus.<button popovertarget="pop53"
			>53</button
		>
	</p>

	<h3 class="pt-8 pb-3">Modern studies</h3>

	<p>
		The advances in Egyptology since the discovery of the king list are nothing short of astounding. It is however very surprising that modern
		Egyptology still have not made a complete study, to once and all settle things. Instead several noteable scholars have had to make their own
		investigations, most which unfortunately have been limited in scope.
	</p>
	<figure class="float-right pl-3">
		<img loading="lazy" class="img-fluid" src="/images/T-Gardiner.jpg" alt="" />
		<figcaption class="text-sm text-center font-sans py-2">Detail (Gardiner)</figcaption>
	</figure>

	<p>
		Essential to any study of the king list, Gardiner’s <i>The Royal Canon of Turin</i><button popovertarget="pop54">54</button> contain detailed information
		on the fragments and the transcribed hieroglyphic content of the papyrus, but no photographs or facsimiles of the hieratic. Gardiner examined the papyrus
		several times, and a number of fragments were marked as unplaced as their positions could be established with certainty.<button
			popovertarget="pop55">55</button
		> There are no translations or commentaries, except short notes about the transcript. The position of a few fragments were changed compared to Farina,
		but most remained in the same place Seyffarth had put them more than a century earlier. The full transcription can be found in Kitchen’s Ramesside
		Inscriptions II.<button popovertarget="pop56">56</button>
	</p>
	<p>
		The studies after Gardiner have been scattered, since many Egyptologist saw the research as exhausted. There have been notes and comments by
		J&uuml;rgen von Beckerath<button popovertarget="pop57">57</button>, Detlef Franke<button popovertarget="pop58">58</button>, Jarom&iacute;r
		M&aacute;lek<button popovertarget="pop59">59</button>, Winfried Barta<button popovertarget="pop60">60</button>, Wolfgang Helck<button
			popovertarget="pop61">61</button
		>, and most recently, Kim Ryholt.<button popovertarget="pop62">62</button>
	</p>
	<p>
		It is clear that further research is needed when you consider the 1997 study by Kim Ryholt. While concentrating on the Second Intermediate Period
		kings (columns 7-11), careful examination of fibre correspondence between the fragments show that there still is work to be done to find the
		correct positions of the fragments. Ever since Seyffarth’s restoration there are many fragments whose position remain uncertain or questionable.
	</p>

	<h3 class="pt-8 pb-3">Column numbering systems</h3>
	<p>
		When Lepsius published the first edition of the papyrus in 1842, it was arranged in 12 columns marked by the Roman numerals I to XII. A hundred
		years later, Farina and Ibscher reconstructed the papyrus into 11 columns, removing many fragments, but retaining the Roman numerals. Gardiner's
		1959 transcription retained Farina's reconstruction with a few corrections. Ryholt proved that a completely new column of divinities must be
		inserted between the older columns I and II, from fragments that had been placed incorrectly in the eariler reconstructions.<button
			popovertarget="pop63">63</button
		> Accordingly, column II is in fact the third column of the papyrus, and the fragments identified by Ryholt can be inserted between columns I and II.
		The new column is numbered 2, which means that the remaining fragments of columns IX and X now form column 10. Ryholt numbered the columns like so:
		<b>8/17</b>. These pages use the same system, but use a dot instead:<b> 8.17</b>.
	</p>

	<table class="tabular-nums" id="columns">
		<caption>The <i>modern</i> column numbering systems</caption>
		<tbody>
			<tr>
				<th><b>Gardiner</b><br /></th>
				<th>I</th>
				<th>II</th>
				<th>III</th>
				<th>IV</th>
				<th>V</th>
				<th>VI</th>
				<th>VII</th>
				<th>VIII</th>
				<th>IX + X</th>
				<th>XI</th>
			</tr>
			<tr>
				<td><b>Ryholt</b></td>
				<td>1 + 2</td>
				<td>3<br /></td>
				<td>4</td>
				<td>5</td>
				<td>6</td>
				<td>7</td>
				<td>8</td>
				<td>9</td>
				<td>10</td>
				<td>11</td>
			</tr>
		</tbody>
	</table>

	<h3 class="pt-8 pb-3">The 2022 restoration</h3>
	<p>
		In the summer of 2022, the papyrus was painstakingly cleaned of old glue and some of the fragments were rearranged. A new edition is expected to
		be published in 2024, the 200th anniversary of the discovery.
	</p>

	{
		fotnoter.map((item, index) => (
			<div id={`pop${index + 1}`} popover>
				<p>{index + 1}</p>&nbsp;
				<span set:html={item} />
			</div>
		))
	}

	<h2 class="py-3">Bibliography</h2>
	<ul id="biblio">
		<li>
			<b>Adler, William, and Tuffin, Paul.</b>, 2002. <i>The Chronography of George Synkellos</i> Oxford: University Press.
		</li>
		<li>
			<b>Barta, Winfried.</b>, 1983. Bemerkungen zur Rekonstruktion der Vorlage des Turiner Königspapyrus. <i>Göttinger Miszellen</i>, 64: 11–13.
		</li>
		<li>
			<b>Barucchi, Francesco.</b>, 1844. <i>Discorsi critici sopra la cronologia egizia</i> Turin: Stamperia Reale.
		</li>
		<li>
			<b>Beckerath, Jürgen von.</b>, 1999. Anmerkung zu zwei unbeachteten Fragmenten des Turiner Königspapyrus. <i>Göttinger Miszellen</i>, 168:
			19–21.
		</li>
		<li>
			<b>Beckerath, Jürgen von.</b>, 1984. Bemerkungen zum Turiner Königspapyrus und zu den Dynastien der ägyptischen Geschichte. <i>SAK</i> 11: 49—58.
		</li>
		<li>
			<b>Beckerath, Jürgen von.</b>, 1976. Die Chronologie der XII. Dynastie und das Problem der Behandlung gleichzeitiger Regierungen in der
			ägyptischen Überlieferung, <i>SAK</i> 4: 45-57.
		</li>
		<li>
			<b>Beckerath, Jürgen von.</b>, 1966. “Die Dynastie der Herakleopoliten (9./10. Dynastie)”, <i>ZÄS</i> 93: 13–20.
		</li>
		<li>
			<b>Beckerath, Jürgen von.</b>, 1995. “Some Remarks on Helck's ’Anmerkungen zum Turiner Königspapyrus’”, <i>JEA</i>
			81: 225–27.
		</li>
		<li>
			<b>Beckerath, Jürgen von.</b>, 1964. <i>Untersuchungen zur politischen Geschichte der Zweiten Zwischenzeit in ägypten</i> Glückstadt: Augustin.
		</li>
		<li>
			<b>Ben-Tor, Daphna, et. al.</b>, 1999. Seals and Kings, <abbr title="Bulletin of the American Schools of Oriental Research"><i>BASOR</i></abbr> 315:
			47–74
		</li>
		<li>
			<b>Birch, Samuel.</b>, 1843. Observations upon the hieratical canon of Egyptian kings at Turin. <i
				><abbr title="Transactions of the Royal Society of Literature">TRSL</abbr></i
			>, S.2, Vol. 1: 203-8 <a title="View or download PDF" target="_blank" href="/pdf/Birch1843.pdf"
				><img loading="lazy" class="inline h-4 dark:invert" src="/svg/eye.svg" alt="View PDF" /></a
			>
		</li>
		<li>
			<b>Brugsch, Heinrich.</b>, 1859. <i
				>Histoire d’Égypte des les premiers de son existence jusqu’a not jours. Premi&egrave;re partie, l’Égypte sous les indgigénes.</i
			> Leipzig: Hinrichs.
		</li>
		<li>
			<b>Bunsen, Christian C. J.</b>, 1845. <i>Aegyptens Stelle in der Weltgeschichte</i>. Vol. 1. Hamburg: Perthes. <a
				title="Click to read!"
				href="/pdf/Bunsen1845.pdf"><img loading="lazy" class="inline h-4 dark:invert" src="/svg/eye.svg" alt="View PDF" /></a
			>
		</li>
		<li>
			<b>&Ccaron;ern&yacute;, Jaroslav.</b>, 1952. <i>Paper and books in Ancient Egypt</i>. London: Lewis.
		</li>
		<li>
			<b>Champollion, Jean-François.</b>, 1824. <i>Précis du système hiéroglyphique des anciens Égyptiens</i> Paris: Imprimerie Royale.
		</li>
		<li>
			<b>Champollion, Jean-François.</b>, Canon hiératique des dynasties égyptiennes. <i>Papiers de J.Fr. Champollion</i>, vol. 16. BNF NAF 20318 <a
				href="http://archivesetmanuscrits.bnf.fr/ark:/12148/cc66494/cd0e247"
				rel="noopener nofollow"
				title="External page, follow to visit"
				target="_blank"><img loading="lazy" class="inline h-4 dark:invert" src="/svg/visit.svg" alt="View PDF" /></a
			>
		</li>
		<li>
			<b>Champollion, Jean-François.</b>, 1824. Papyrus Égyptiens. <i>Bulletin des sciences historiques, antiquités, philologie</i> 2: 297–303. <a
				title="Français"
				href="pdf/Champollion1824FR.pdf"><img loading="lazy" class="inline h-4 dark:invert" src="/svg/eye.svg" alt="View PDF" /></a
			>
			<a title="English translation" href="/pdf/Champollion1824EN.pdf"
				><img loading="lazy" class="inline h-4 dark:invert" src="/svg/eye.svg" alt="View PDF" /></a
			>
		</li>
		<li>
			<b>Champollion-Figeac, J. J.</b>, 1851. De la table manuelle des Rois et des dynasties d’Égypte ou papyrus royal de Turin. <i
				>Revue Archéologique</i
			> 7.2: 397–402, 461–472, 589–599, 653–665. <a title="Français" href="/pdf/RAr7-1851FR.pdf"
				><img loading="lazy" class="inline h-4 dark:invert" src="/svg/eye.svg" alt="View PDF" /></a
			>
			<a title="English translation" href="pdf/RAr7-1851EN.pdf"
				><img loading="lazy" class="inline h-4 dark:invert" src="/svg/eye.svg" alt="View PDF" /></a
			>
		</li>
		<li>
			<b>Dawson and Uphill.</b>, 1972. <i>Who was who in Egyptology</i>. London: EES.
		</li>
		<li>
			<b>Depuydt, Leo.</b>, 1996. The Function of the Ebers Calendar Concordance. <i>Orientalia</i>, 65.2: 61-88.
		</li>
		<li>
			<b>Donatelli, Laura.</b>, 2011. <i>Lettere e documenti di Bernardino Drovetti.</i> Turin: Accademia delle Scienze di Torino.
		</li>
		<li>
			<b>Donatelli, Laura.</b>, 2016. La prima proposta d’acquisto da parte dei Savoia della collezione egizia di Bernardino Drovetti. <i
				>Studi Piemontesi</i
			>, 52.2: 494.
		</li>
		<li>
			<b>Edwards, I E. S.</b>, 1971. The early dynastic period in Egypt. in <i>The Cambridge Ancient History.</i> Cambridge: 1-70.
		</li>
		<li>
			<b>Fabretti, Ariodante.</b>, 1872. <i>Il Museo di antichità della R. università di Torino: notizie</i>. Turin: Stamperia reale.
		</li>
		<li>
			<b>Fabretti, Ariodante, et. al.</b>, 1882. <i>Regio Museo di Torino, Catalogo generale dei Musei di Antichità</i>. Turin. <a
				title="Download/View"
				href="/pdf/RCT1881.pdf"><img loading="lazy" class="inline h-4 dark:invert" src="/svg/eye.svg" alt="View PDF" /></a
			>
		</li>
		<li>
			<b>Farina, Giulio,</b>, 1938. <i>Il Papiro dei re, restaurato</i>. Rome: G. Bardi.
		</li>
		<li>
			<b>Franke, Detlef.</b>, 1988. Zur Chronologie des Mittleren Reiches (12.- 18. Dynastie). Teil 1: Die 12. Dynastie. <i>Orientalia</i>, 57:
			113–138.
		</li>
		<li>
			<b>Franke, Detlef.</b>, 1988. Zur Chronologie des Mittleren Reiches Teil II: Die sogenannte ‘Zweite Zwischenzeit’ Altägyptens, <i>Orientalia</i
			>, 57: 245-274.
		</li>
		<li>
			<b>Gardiner, Alan H.</b>, 1959. <i>The Royal Canon of Turin</i>. Oxford: University Press.
		</li>
		<li>
			<b>Goedicke, Hans.</b>, 1956. “King HwDfA?”, <i>JEA</i>, 42: 50–53.
		</li>
		<li>
			<b>Hartleben, Hermine.</b>, 1909. <i>Lettres de Champollion le jeune.</i> Paris.
		</li>
		<li>
			<b>Helck, Wolfgang.</b>, 1956. Untersuchungen zu Manetho und den ägyptischen Königslisten. <abbr
				title="Untersuchungen zur Geschichte und Altertumskunde aegyptens"><i>UGAA</i></abbr
			>, 18. Berlin.
		</li>
		<li>
			<b>Helck, Wolfgang.</b>, 1992. “Anmerkungen zum Turiner K&ouml;nigspapyrus”. <abbr title="Studien zur Altägyptischen Kultur"><i>SAK</i></abbr>,
			19: 151–216.
		</li>
		<li>
			<b>Hincks, Edward.</b>, 1850. On the portion of the Turin book of kings which corresponds to the Sixth and Twelfth Dynasties of Manetho, <i
				>TRSL</i
			>, 3: 128–50
		</li>
		<li>
			<b>Kitchen, Kenneth A.</b>, 1979. <i>Ramesside Inscriptions</i> II. Oxford: 827–844 (§288) <!-- /pdf/KRI2-827-844.pdf -->
		</li>
		<li>
			<b>Krauss, Rolf.</b>, 1992. Das Kalendarium Des Papyrus Ebers und Seine Chronologische Verwertbarkeit. <i>Egypt and the Levant</i>, 3: 75-96.
		</li>
		<li>
			<b>Lauth, Franz J.</b>, 1865. <i>Manetho und der Turiner Königspapyrus</i>. Munich: Wolf.
		</li>
		<li>
			<b>Lepsius, Karl Richard.</b>, 1842. <i>Auswahl der wichtigsten Urkunden des aegyptischen Alterthums</i>. Leipzig.
		</li>
		<li>
			<b>Lepsius, Karl Richard.</b>, 1853. Über die zwölfte Aegyptische Königsdynastie. <i>APAW 1852</i>: 425–453.
		</li>
		<li>
			<b>Lesueur, Jean Baptiste Cicéron.</b>, 1848. <i>Chronologie des Rois d’Égypte</i> Paris: Impremerie Nationale.
		</li>
		<li>
			<b>M&aacute;lek, Jarom&iacute;r.</b>, 1982. The Original Version of the Royal Canon of Turin, <abbr title="Journal of Egyptian Archaeology"
				><i>JEA</i>
			</abbr>, 68: 93-106.
		</li>
		<li>
			<b>Maspero, Gaston.</b>, 1895. <i>Histoire ancienne des peuples de l’orient classique</i>. Paris. <a
				href="/pdf/Maspero1895.pdf"
				aria-label="Download PDF-file of Maspero’s note."><img loading="lazy" class="inline h-4 dark:invert" src="/svg/eye.svg" alt="View PDF" /></a
			>
		</li>
		<li>
			<b>Meyer, Eduard.</b>, 1904. <i>Aegyptische Chronologie</i>. Berlin.
		</li>
		<li>
			<b>Möller, Georg.</b>, 1927. <i>Hieratiche Pal&auml;ographie</i>. Vol. 2. Osnabruck.
		</li>
		<li>
			<b>Orcurti, Pier-Camillo.</b>, 1855. <i>Catalogo illustrato dei monumenti Egizo del R. Museo di Torino</i>. Turin. <a
				title="Download/View"
				href="/pdf/RCT1855.pdf"><img loading="lazy" class="inline h-4 dark:invert" src="/svg/eye.svg" alt="View PDF" /></a
			>
		</li>
		<li>
			<b>Redford, Donald B.</b>, 1986. <i>Pharaonic King-lists, Annals and Day-books</i>. Mississauga.
		</li>
		<li>
			<b>Rougé, Emmanuel de.</b>, 1866. Recherches sur les monuments qu’on peut attribuer aux six premi&egrave;res dynasties de Manéthon. <i
				><abbr title="Mémoires de l’Institut national de France">MIE</abbr></i
			>, 25.2: 225–376, pl. 3.
		</li>
		<li>
			<b>Ryholt, Kim.</b>, 1997. <i>The Political Situation in Egypt during the Second Intermediate Period</i>. Copenhagen.
		</li>
		<li>
			<b>Ryholt, Kim.</b>, 2000. “The Late Old Kingdom in the Turin King-list and the Identity of Nitocris”. <abbr
				title="Zeitschrift für Ägyptische Sprache und Altertumskunde"><i>ZÄS</i></abbr
			>, 127: 87–100.
		</li>
		<li>
			<b>Ryholt, Kim.</b>, 2004. The Turin King-list, <abbr title="Ägypten und Levante"><i>AeUL</i></abbr>, 14: 135–155.
		</li>
		<li>
			<b>Ryholt, Kim.</b>, 2008. King Seneferka in the king-lists and his position in the early dynastic period, <abbr
				title=" Journal of Egyptian History"><i>JEH</i></abbr
			>, 1: 159–73.
		</li>
		<li>
			<b>Schneider, Thomas.</b>, 2006. The Relative Chronology of the Middle Kingdom and the Hyksos Period (Dyns. 12–17). in Ancient Egyptian
			Chronology. <i>Handbook of Oriental Studies</i> 83: 168–196.
		</li>
		<li>
			<b>Seyffarth, Gustav.</b>, 1828. “Remarks upon an Egyptian History, in Egyptian Characters, in the Royal Museum at Turin”, <i
				>The London Literary Gazette</i
			>, No. 600. July 19, 1828: 457–59 <a title="Read now" href="/pdf/Seyffarth1828.pdf"
				><img loading="lazy" class="inline h-4 dark:invert" src="/svg/eye.svg" alt="View PDF" /></a
			>
		</li>
		<li>
			<b>Seyffarth, Gustav.</b>, 1843. <i>Die Grundsätze der Mythologie und der alten Religionsgeschichte</i> Leipzig: Barth.
		</li>
		<li>
			<b>Seyffarth, Gustav.</b> Bibliotheca Aegyptiaca Manuscripta, 1826-1830. Unpublished. <a
				title="New York Art Resources Consortium"
				href="https://library.nyarc.org/permalink/01NYA_INST/18jo0t1/alma991013110899707141"
				target="_blank"><img loading="lazy" class="inline h-4 dark:invert" src="/svg/visit.svg" alt="link to External page" /></a
			> &nbsp;<a
				title="New York Art Resources Consortium blog"
				href="https://nyarc.org/blog/wilbour-library-collection-highlight-gustavus-seyffarth-and-his-obsession-with-hieroglyphs"
				target="_blank"><img loading="lazy" class="inline h-4 dark:invert" src="/svg/visit.svg" alt="link to External page" /></a
			>
		</li>
		<li>
			<b>Seyffarth, Gustav, and Knortz, Karl.</b>, 1886. <i>The literary life of Gustavus Seyffarth</i>. New York: Steiger.
		</li>
		<li>
			<b>Vidua, Carlo.</b>, 1834. <i>Lettere del conte Carlo Vidua pubblicate da Cesare Balbo</i>. Vol. 2. Turin: G. Pomba.
		</li>
		<li>
			<b>Waddell, W. G.</b>, 1940. <i>Manetho</i>. 1964 Edition. Cambridge, Mass.
		</li>
		<li>
			<b>Wiedemann, Alfred.</b>, 1884. <i>Aegyptische Geshichte</i>. Gotha: Perthes.
		</li>
		<li>
			<b>Wilcken, Ulrich.</b>, 1887. Recto oder Verso? <i>Hermes</i>
			, 22: 487–492.
		</li>
		<li>
			<b>Wilkinson, John Gardner.</b>, 1851. <i>The Fragments of the Hieratic Papyrus at Turin</i>. 2 Vols. 10 pl. London: Richards.
		</li>
		<li>
			<b>Winlock, Herbert E.</b>, 1947. <i>The rise and fall of the Middle Kingdom in Thebes</i>. New York: Macmillan.
		</li>
	</ul>
	<p class="text-center py-3">
		<b>Note:</b><br />Many of the referenced books and journal articles above<br />are available <i>for free</i> in the <a
			href="/ancient-egypt/kinglist/turin/library/">Reference Library</a
		>.<br />
	</p>
</Layout>
