---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Turin King List: The Fragments" meta1="" meta2="fragments,turin king list,Egyptian chronology" bild="/images/pharaohse-vorlage.webp">
	<div>
		<div class="py-5">
			<p>
				Gustav Seyffarth’s hand drawn copies, tracings, squeezes and rubbings of hieroglyphics and sketches can be found in volume VII of the
				unpublished <em>Bibliotheca Aegyptiaca Manuscripta</em>, held by the Brooklyn Museum. This volume contain some 1500+ pages from his time in
				Turin (Volume VII, MSS 6283-7828). Gardiner enumerated the relevant pages, but since this volume is not published, it is here purely for the
				sake of completness:
			</p>
			<p class="pl-5">
				<b>S<sup>1</sup>1</b> – No. 6804-6830<br />
				<b>S<sup>1</sup>2</b> – No. 6831-6856<br />
				<b>S<sup>1</sup>3</b> – No. 6857-6935<br />
				<b>S<sup>2</sup></b> – Pasting of the 164 fragments by Seyffarth, as seen by Lepsius and Wilkinson.<br />
				<b>S<sup>3</sup></b> – No. 6413.
			</p>
			<p>
				The numbering scheme of the 164 numbered fragments of the Turin King List derives from Carl Richard Lepsius’ <em>Auswahl</em> in 1842. Giulio Farina
				added a few fragments in his 1938 edition when remounting the papyrus, as noted by Gardiner in <em>The Royal Canon of Turin</em> from 1959. Gardiner
				examined the papyrus in great detail, complete with a concordance of the fragments, but the details lacked in depth. As of 2022, a new editon of
				the king list is in the works, the first preliminary results indicate the addition of a few new fragments, as well as new positions found for some
				of the original fragments. It should be noted that while Lepsius’ preserve the original papyrus, there are several minor discrepancies. Some hieratic
				signs are actually missing in the photos, especially at the edges of the fragments. There are also a few minor discrepancies between the editions
				of Lepsius and Wilkinson.
			</p>
		</div>

		<div class="grid grid-cols-1 md:grid-cols-2 gap-10 text-base py-10">
			<div class="frgm">
				<div class="frno">Fragment 1</div>
				<div class="pb-5 text-center">
					<div>Gardiner: II</div><div>Champollion: Nn</div><div>Column 3.1-13</div>
				</div>
				Farina removed the small top part of fr. 1 from where Seyffarth had originally placed it. There is not enough space at the top for another row,
				so the small fragment was correctly removed, and no new position have been found.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 2</div>
				<div class="pb-5 text-center">
					<div>Gardiner: Unplaced</div><div></div><div>Column 3.8</div>
				</div>
				Gardiner note that it certainly belong to the papyrus, but left it unplaced. Helck (Helck 1992, 160f) proposed that fr. 2 belongs after a small
				gap in 3.2; the top of fr. 1 connects to the end of 3.3. The blank recto fits with this arrangement.<br /><small>2023:</small> A new position of
				fr. 2 has been found, which is confirmed by the writing on the recto and verso, plus the fibres match perfectly. The new position is at the end
				of 3.8, adding the text: <tlit>7 ꜤḥꜤw</tlit>, emending the text to: <i>13427 years, their lifetime...</i>
			</div>
			<div class="frgm">
				<div class="frno">Fragment 3</div>
				<div class="pb-5 text-center">
					<div>Gardiner: II 2</div><div></div><div>Column 3.6-7</div>
				</div>
				Farina moved this fragment up to 3.2 from the original position of Seyffarth 3.6. The writing and fibres of the small fragment Farina added to
				the left side of fragment 3 is a perfect match. Despite Gardiner noting that Seyffarth’s placement was incorrect, Farina’s position is untenable,
				and Seyffarth’s position is corroborated by a clear fibre correspondence as well as the text on both sides of the fragment.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 4</div>

				<div class="pb-5 text-center">
					<div>Gardiner: Unplaced</div><div></div><div>Column 3.9-10</div>
				</div>
				Gardiner recognised that this fragment contains a heading or summary, but couldn't find a place for it. Seyffarth's placement has once again shown
				to be excellent. <br />
				<small>2023:</small> A possible new position of fr. 4 has been found by shifting Seyffarths placement at 3.10-11 up one row to 3.9-10, which seems
				to be confirmed by the writing and matching fibres. The red signs are clearly a heading or summation, and the bracket surrounding the row below
				shows that the end of the previous column is encroaching on the column.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 5</div>
				<div class="pb-5 text-center">
					<div>Gardiner: Doubtful and useless</div><div></div><div>Unplaced</div>
				</div>
				One row with unreadable traces.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 6</div>
				<div class="pb-5 text-center">
					<div>Gardiner: Doubtful and useless</div><div></div><div>Unplaced</div>
				</div>
				One row with unreadable traces.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 7</div>
				<div class="pb-5 text-center">
					<div>Gardiner: I</div><div></div><div>Unplaced</div>
				</div>
				Gardiner noted that the position is doubtful, but it most likely belong somewhere in columns 1&ndash;3. Seyffarth’s placement at the top and left
				of fr. 1 was not mentioned by Gardiner. Farina moved the fragment to column 1 above and to the right of fr. 11.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 8</div>
				<div class="pb-5 text-center">
					<div>Gardiner: I</div><div></div><div>Unplaced</div>
				</div>
				Blank, with writing on the recto that aligns perfectly with fr. 10, as do the fibres.
			</div>

			<div class="frgm">
				<div class="frno">Fragment 9</div>
				<div class="pb-5 text-center">
					<div>Gardiner: I</div><div></div><div>Column 1</div>
				</div>
				The fibres confirms the position of fr. 8, 9, 10, 11, and 51. However, the fibre correspondence between fr. 9 and fr. 51 is somewhat uncertain,
				and the colour of fr. 9 is slightly darker than its neighbours, indicating a possible mismatch.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 10</div>
				<div class="pb-5 text-center">
					<div>Gardiner: I</div><div></div><div>Unplaced</div>
				</div>
				Blank, with writing on the recto that aligns perfectly with fr. 10 and 8, as do the fibres.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 11</div>
				<div class="pb-5 text-center">
					<div>Gardiner: I</div><div></div><div>Column 1</div>
				</div>
				Lepsius depicts this as a single continuous papyrus piece, as do the photo of Faraina, aand Gardiner’s facsimile. However, from the modern photos
				it is clear that handling has frayed some of the edges of the fragment, effectively dividing it into multiple smaller parts.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 12</div>
				<div class="pb-5 text-center">
					<div>Gardiner: I</div><div></div><div>Column 1</div>
				</div>
				This fragment is in fact two fragments, one tall and thin, one more square. There is a horizontal <i>and</i> vertical fibre correspondence of the
				thin fragment with fr. 11. Farina noticed that Seyffarth had incorrectly placed the square part to the left of the first row of the thin fragment,
				clear from there being no fibre match, while there is a horizontal match with fr. 51 to the right, and possibly a vertical match with fr. 11.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 13</div>
				<div class="pb-5 text-center">
					<div>Gardiner: Unplaced</div><div></div><div>Unplaced</div>
				</div>
				One row, likely part of a large number, evident from the sublinear line
			</div>
			<div class="frgm">
				<div class="frno">Fragment 14</div>
				<div class="pb-5 text-center">
					<div>Gardiner: Unplaced</div><div></div><div>Unplaced</div>
				</div>
				Three rows, one likely part of a long row with a large year number and ending with the month ligature <tlit>Ꜣbdw</tlit>.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 15</div>
				<div class="pb-5 text-center">
					<div>Gardiner: Unplaced</div><div></div><div>Unplaced</div>
				</div>
				Two rows, one likely part of a long row with a large number.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 16</div>
				<div class="pb-5 text-center">
					<div>Gardiner: Unplaced</div><div></div><div>Unplaced</div>
				</div>
				Two illegible rows with large space between row, indicating a possible empty row between them.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 17</div>
				<div class="pb-5 text-center">
					<div>Gardiner: III</div><div></div><div>Column 4.8</div>
				</div>
				Moved from Seyffarth’s placement to the right of fr. 18 to the bottom right side of fr. 18.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 18</div>
				<div class="pb-5 text-center">
					<div>Gardiner: III</div><div>Champollion: Ff, Gg, L</div><div>Column 4.1-14</div>
				</div>
				The leftmost part of this fragment was designated 18a by Gardiner, supposedly it had broken off since the remounting by Farina.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 19</div>
				<div class="pb-5 text-center">
					<div>Gardiner: II</div><div></div><div>Column 3.24-25</div>
				</div>
				This fragment was originally placed between fr. 18 and 20 by Seyffarth, but Wilkinson correctly placed it below fr. 20, a placement matched by
				fibres, to which Farina eventually moved it.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 20</div>
				<div class="pb-5 text-center">
					<div>Gardiner: II</div><div>Champollion: Dd, F (part)</div><div>Column 3.15-22</div>
				</div>
				Champollion fr. Dd joins below the two rows of fr. F.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 21</div>
			</div>
			<div class="frgm">
				<div class="frno">Fragment 22</div>
				<div class="pb-5 text-center">
					<div>Gardiner: X</div><div>Champollion: U</div><div>Column 2</div>
				</div>
				Fiber correspondence ensures the horizontal alignment of fr. 22 with fr. X/24-26. The two fragments can be vertically aligned with fr. 11 in col.
				1.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 23</div>
				<div class="pb-5 text-center">
					<div>Gardiner: II</div><div></div><div>Column 3</div>
				</div>
				A join is clearly visible in the middle of the fragment and the placement above fr. 30 is secure. Even though Gardiner considered it as blank,
				Lepsius’ facsimile shows traces of a single sign.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 24</div>Gardiner: Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 25</div>Gardiner: Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 26</div>Gardiner: Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 27</div>Doubtful; only two rows with the year sign (rnpt)
			</div>
			<div class="frgm">
				<div class="frno">Fragment 28</div>Doubtful and useless
			</div>
			<div class="frgm">
				<div class="frno">Fragment 29</div>Gardiner note that the recto has a heading in red and that it probably belongs, but left it unplaced.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 30</div>
				<div class="pb-5 text-center">
					<div>Gardiner: II</div><div></div><div>Column 3.16-23</div>
				</div>
				The left side of the fragment has an obvious join between two papyri sheets.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 31</div>
				<div class="pb-5 text-center">
					<div>Gardiner: III</div><div>Champollion: L</div><div>Column 4.8-9</div>
				</div>
			</div>
			<div class="frgm">
				<div class="frno">Fragment 32</div>
				<div class="pb-5 text-center">
					<div>Gardiner: III</div><div></div><div>Column 4.5-14</div>
				</div>
			</div>
			<div class="frgm">
				<div class="frno">Fragment 33</div>
				<div class="pb-5 text-center">
					<div>Gardiner: III</div><div></div><div>Column 4.12-14</div>
				</div>
			</div>
			<div class="frgm">
				<div class="frno">Fragment 34</div>
				<div class="pb-5">
					<div>Gardiner: III</div><div>Champollion: Qq, Ll, Aa, Hh</div><div>Column 4.1-14</div>
				</div>
				Seyffarth was able to produce fr. 34 from four fragments that Champollion discovered by establishing fibre matches to three fragments that the
				Frenchman had not found.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 35</div>Gardiner: Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 36</div>
				<div class="pb-5 text-center">
					<div>Gardiner: Unplaced</div><div></div><div>Column 5.25-26</div>
				</div>
				This is the sole fragment where Seyffarth mixed up the recto and verso. Despite Wilkinson and Gardiner’s claims, there is a perfect fibre match
				to fr. 48 in col. 5 as suggested by von Beckerath in 1966.
			</div>

			<div class="frgm">
				<div class="frno">Fragment 37</div>Gardiner: Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 38</div>Gardiner did not place the fragment, but his concordance puts it in column III and notes only that the
				verso is blank. Fibre correspondence and writing on the recto indicate that it belongs to the left of fr. 34 and above fr. 46.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 39</div>Gardiner: Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 40</div>
				<div class="pb-5 text-center">
					<div>Gardiner: Unplaced</div><div></div><div>Column 10</div>
				</div>
				Placed left of fr. 108 as suggested by Malek in 1982, but one row further down according to the fibre correspondence.
				<br /><span class="strikethru"
					>Outdated: Ryholt's suggestion to place fr. 40 to the left of fr. 43 is impossible since the writing on the recto does not align, nor does
					the fibres match. Furthermore, the suggested solution by Malek to place it to the left of fr. 108 seem possible because there seems to be a
					fibre correspondence, although most of the fragment does seem to consist of a patch.</span
				>
			</div>
			<div class="frgm">
				<div class="frno">Fragment 41</div>
				<div class="pb-5 text-center">
					<div>Gardiner: IX</div><div></div><div>Column 2.1-6</div>
				</div>
				The fragment is written entirely on a patch. Seyffarth placed the fragment at the top of column V, which Farina moved to the middle of column IX.
				Gardiner indicated that Farina's position cannot be correct. Ryholt suggested that there must have been another column with mythological information,
				making Gardiner’s column II the third column. This column begins with fr. 41 at the top.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 42</div>
				<div class="pb-5 text-center">
					<div>Gardiner: IX</div><div></div><div>Column 2.5-6</div>
				</div>
				The location of the patch on fr. 41 + 42 can be estimated to be 17 cm to the right of the patch on fr. 1.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 43</div>
				<div class="pb-5 text-center">
					<div>Gardiner: IV</div><div></div><div>Column 5.7-10</div>
				</div>
				This fragment has been moved up one row compared to Gardiner, who in turn moved it up two rows compared to Farina, who moved it one row up from
				Seyffarth, which is corroborated by the fibres.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 44</div>
				<div class="pb-5 text-center">
					<div>Gardiner: IV</div><div></div><div>Column 5.14-17</div>
				</div>
				There is a clear fibre correspondence with fragments 61 and 63 to the left.
			</div>
			<div class="frgm"><div class="frno">Fragment 45</div></div>
			<div class="frgm"><div class="frno">Fragment 46</div></div>
			<div class="frgm"><div class="frno">Fragment 47</div></div>
			<div class="frgm">
				<div class="frno">Fragment 48</div>
				<div class="pb-5 text-center">
					<div>Gardiner: Unplaced</div><div></div><div>Column 5.22-26</div>
				</div>
				Despite the fact that Seyffarth correctly put this fragment to the left of fr. 47, Farina erroneously eliminated it even though there is a clear
				fibre correspondence.
			</div>
			<div class="frgm"><div class="frno">Fragment 49</div>Blank</div>
			<div class="frgm">
				<div class="frno">Fragment 50</div>
				<div class="pb-5 text-center">
					<div>Gardiner: Unplaced</div><div></div><div>Column 5 top?</div>
				</div>
				Gardiner note that it is written on a patch, probably from the top of a column, but left it unplaced. Possibly to be placed to the left of fr.
				18 where a patch is missing.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 51</div>
				<div class="pb-5 text-center">
					<div>Gardiner: I</div><div></div><div>Column 1</div>
				</div>
				The fibres confirms the position of fr. 8, 9, 10, 11, and 51. The fibre correspondence between Fr. 51 and fr. 9 is somewhat uncertain.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 52</div>Only traces on verso
			</div>
			<div class="frgm">
				<div class="frno">Fragment 53</div>No writing
			</div>
			<div class="frgm">
				<div class="frno">Fragment 54</div>No writing
			</div>
			<div class="frgm">
				<div class="frno">Fragment 55</div>No writing
			</div>
			<div class="frgm">
				<div class="frno">Fragment 56</div>Verso only a number
			</div>
			<div class="frgm">
				<div class="frno">Fragment 57</div>Verso only a number
			</div>
			<div class="frgm">
				<div class="frno">Fragment 58</div>No writing
			</div>
			<div class="frgm">
				<div class="frno">Fragment 59</div>
				<div class="pb-5 text-center">
					<div>Gardiner: IV-V</div><div>Champollion: Tt</div><div>Column 6</div>
				</div>
				stopped here
			</div>
			<div class="frgm">
				<div class="frno">Fragment 60</div>Only a part of the bee and the start of a cartouche. Not commented on otherwise by Gardiner.
			</div>
			<div class="frgm"><div class="frno">Fragment 61</div></div>
			<div class="frgm"><div class="frno">Fragment 62</div></div>
			<div class="frgm"><div class="frno">Fragment 63</div></div>
			<div class="frgm"><div class="frno">Fragment 64</div></div>
			<div class="frgm"><div class="frno">Fragment 65</div>Blank</div>
			<div class="frgm">
				<div class="frno">Fragment 66</div>
				Left in place by Gardiner, but he notes that it does not belong where Farina placed it. <small>(Gardiner 1959: 17, X 21)</small>
			</div>
			<div class="frgm"><div class="frno">Fragment 67</div></div>
			<div class="frgm"><div class="frno">Fragment 68</div>Blank</div>
			<div class="frgm"><div class="frno">Fragment 69</div></div>
			<div class="frgm"><div class="frno">Fragment 70</div></div>
			<div class="frgm"><div class="frno">Fragment 71</div></div>
			<div class="frgm"><div class="frno">Fragment 72</div></div>
			<div class="frgm"><div class="frno">Fragment 73</div></div>
			<div class="frgm"><div class="frno">Fragment 74</div></div>
			<div class="frgm"><div class="frno">Fragment 75</div></div>
			<div class="frgm"><div class="frno">Fragment 76</div></div>
			<div class="frgm"><div class="frno">Fragment 77</div></div>
			<div class="frgm"><div class="frno">Fragment 78</div></div>
			<div class="frgm">
				<div class="frno">Fragment 79</div>
				This fragment was published in Lepsius where it bridged fr. 78 and 79, but was removed by Farina, as the writing on the recto of the fragment made
				the placement impossible. Ryholt suggested that the removed fragment could be placed in col. 9 or 10, but the position is uncertain with no mention
				of a fibre match with any of the surrounding fragments. <small>(Ryholt 1997: 26)</small>
			</div>
			<div class="frgm"><div class="frno">Fragment 80</div></div>
			<div class="frgm"><div class="frno">Fragment 81</div></div>
			<div class="frgm"><div class="frno">Fragment 82</div></div>
			<div class="frgm"><div class="frno">Fragment 83</div></div>
			<div class="frgm">
				<div class="frno">Fragment 84</div>
				<div class="pb-5 text-center">
					<div>Gardiner: V</div><div></div><div>Column 6.16</div>
				</div>
				Horizontal fibre correspondence and sign matching with fr. 85 to the left.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 85</div>
				<div class="pb-5 text-center">
					<div>Gardiner: V</div><div></div><div>Column 6.14-17</div>
				</div>
				Horizontal fibre correspondence and sign matching with fr. 84 to the right and vertical correspondence with fr. 64 below.
			</div>
			<div class="frgm"><div class="frno">Fragment 86</div></div>
			<div class="frgm"><div class="frno">Fragment 87</div></div>
			<div class="frgm">
				<div class="frno">Fragment 88</div>The vertical position in col. 7 is assured due to matching fibres, however, the position is uncertain, as
				there is no immediate horizontal match. The placement is of little importance as the fragment only contain the royal titles. <small
					>(Ryholt 1997: 23)</small
				>
			</div>
			<div class="frgm"><div class="frno">Fragment 89</div></div>
			<div class="frgm">
				<div class="frno">Fragment 90</div>Unplaced. According to Wilkinson, fr. 90 can be aligned vertically with fr. 87 and 94.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 91</div>Does not belong.
			</div>
			<div class="frgm"><div class="frno">Fragment 92</div>Blank</div>
			<div class="frgm"><div class="frno">Fragment 93</div></div>
			<div class="frgm"><div class="frno">Fragment 94</div></div>
			<div class="frgm"><div class="frno">Fragment 95</div></div>
			<div class="frgm"><div class="frno">Fragment 96</div></div>
			<div class="frgm"><div class="frno">Fragment 97</div></div>
			<div class="frgm"><div class="frno">Fragment 98</div></div>
			<div class="frgm"><div class="frno">Fragment 99</div></div>
			<div class="frgm"><div class="frno">Fragment 100</div></div>
			<div class="frgm"><div class="frno">Fragment 101</div></div>
			<div class="frgm"><div class="frno">Fragment 102</div></div>
			<div class="frgm"><div class="frno">Fragment 103</div></div>
			<div class="frgm"><div class="frno">Fragment 104</div></div>
			<div class="frgm"><div class="frno">Fragment 105</div></div>
			<div class="frgm">
				<div class="frno">Fragment 106</div>Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 107</div>Two rows of the year ligature (rnpt).
			</div>
			<div class="frgm"><div class="frno">Fragment 108</div></div>
			<div class="frgm">
				<div class="frno">Fragment 109</div>Two rows of the year ligature (rnpt).
			</div>
			<div class="frgm">
				<div class="frno">Fragment 110</div>Partial number
			</div>
			<div class="frgm">
				<div class="frno">Fragment 111</div>Three rows with the year ligature (rnpt).
			</div>
			<div class="frgm"><div class="frno">Fragment 112</div></div>
			<div class="frgm">
				<div class="frno">Fragment 113</div>The year ligature only.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 114</div>Traces of numbers
			</div>
			<div class="frgm">
				<div class="frno">Fragment 115</div>Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 116</div>Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 117</div>Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 118</div>Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 119</div>Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 120</div>Doubtful and useless
			</div>
			<div class="frgm">
				<div class="frno">Fragment 121</div>Useless traces only
			</div>
			<div class="frgm">
				<div class="frno">Fragment 122</div>
				Placed in column 10 by Gardiner, it was left unplaced by Ryholt. The placement is of little importance as the fragment only contain the royal titles.
				<small>(Ryholt 1997: 25)</small>
			</div>
			<div class="frgm">
				<div class="frno">Fragment 123</div>
				The small fragment at the top of fr. 123 was not present in Lepsius. It was added by Farina, and is also present in Gardiner. Ryholt joins fr.
				123 with fr. 101 of col. 9, discarding the addition by Farina without comment. Fibre correspondence is unknown, it is unplaced.
				<small>(cf. also Ryholt 1997: 25)</small>
			</div>
			<div class="frgm">
				<div class="frno">Fragment 124</div>Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 125</div>
				After Ibscher and Farina changed the positions of fr. 125 and 127, a small part on the left side of fr. 125 remain. It is only a single vertical
				stroke, but its fate has not been mentioned since.
			</div>
			<div class="frgm"><div class="frno">Fragment 126</div></div>
			<div class="frgm"><div class="frno">Fragment 127</div></div>
			<div class="frgm"><div class="frno">Fragment 128</div>Blank</div>
			<div class="frgm"><div class="frno">Fragment 129</div>Blank</div>
			<div class="frgm"><div class="frno">Fragment 130</div></div>
			<div class="frgm"><div class="frno">Fragment 131</div></div>
			<div class="frgm">
				<div class="frno">Fragment 132</div>Does not belong.
			</div>
			<div class="frgm"><div class="frno">Fragment 133</div></div>
			<div class="frgm"><div class="frno">Fragment 134</div></div>
			<div class="frgm"><div class="frno">Fragment 135</div></div>
			<div class="frgm">
				<div class="frno">Fragment 136</div>Two partial nsw-bit.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 137</div>Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 138</div>Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 139</div>Tiny trace only
			</div>
			<div class="frgm">
				<div class="frno">Fragment 140</div>Doubtful and useless
			</div>
			<div class="frgm">
				<div class="frno">Fragment 141</div>Contain the end of the title, and the opening cartouche and the initial signs of the name Ra...
			</div>
			<div class="frgm"><div class="frno">Fragment 142</div></div>
			<div class="frgm">
				<div class="frno">Fragment 143</div>Months and days belonging to some unknown reign.
			</div>
			<div class="frgm"><div class="frno">Fragment 144</div>Doubtful</div>
			<div class="frgm">
				<div class="frno">Fragment 145</div>Two partial nsw-bit.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 146</div>Doubtful and useless.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 147</div>
				The fragment cannot join with fr. 150 as placed by Farina. <small>(Gardiner 1959: 17, IX 29)</small>
			</div>
			<div class="frgm">
				<div class="frno">Fragment 148</div>Does not belong.
			</div>
			<div class="frgm"><div class="frno">Fragment 149</div>Blank</div>
			<div class="frgm"><div class="frno">Fragment 150</div></div>
			<div class="frgm"><div class="frno">Fragment 151</div></div>
			<div class="frgm"><div class="frno">Fragment 152</div></div>
			<div class="frgm">
				<div class="frno">Fragment 153</div>Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 154</div>Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 155</div>Two rows of the year sign (rnpt).
			</div>
			<div class="frgm">
				<div class="frno">Fragment 156</div>Numbers, might belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 157</div>Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 158</div>Useless, very small
			</div>
			<div class="frgm">
				<div class="frno">Fragment 159</div>Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 160</div>Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 161</div>Does not belong.
			</div>
			<div class="frgm">
				<div class="frno">Fragment 162</div>Does not belong.
			</div>
			<div class="frgm"><div class="frno">Fragment 163</div></div>
			<div class="frgm"><div class="frno">Fragment 164</div></div>
		</div>

		<div class="py-3">
			<p class="s110"><b><u>Special considerations</u></b></p>
			<p>
				fr. <b>59</b> Seyffarth had joined a fragment with a large top margin at the top right side of fr. 59 but it was moved to the left of fr. 59 by
				Farina, despite there being a clear horizontal fibre match. Gardiner left the fragment where Farina placed it, but remarked that the position was
				doubtful.<br /><br />
				fr. <b>71</b> This fragment has no fibre correspondence with the surrounding fragments and Ryholt suggests it may be disregarded, while still placing
				it in col. 7 on his fig. 10. The placement is clearly to be regarded as uncertain.
				<small>(Ryholt 1997: 22)</small>
			</p>
		</div>
	</div>

	<div class="pt-10">
		<h2>Fragments added by Farina</h2>
		<p>
			The following fragments were added at the Ibscher/Farina remounting in the 1930’s. These fragments are not present in the editions of Lepsius or
			Wilkinson. Gardiner marked these fragments with question marks, which is imprecise, so they are designated according to the positions he
			established. The numbering of the fragments is continued from the last fragment (164) of Lepsius. The numbering is not official and only to help
			with referencing the fragments.
		</p>
	</div>

	<div class="grid grid-cols-1 md:grid-cols-2 gap-10 text-base py-10">
		<div class="frgm">
			<div class="frno">Fragment 165</div>
			<div class="pb-5 text-center"><div>Farina: V/7</div></div>
			<b>6.7</b> &ndash; Small fragment, vertical fibre correspondence with fr. 61.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 166</div>
			<div class="pb-5 text-center"><div>Farina: V/8</div></div>
			<b>6.8</b> &ndash; Small fragment, vertical fibre correspondence with fr. 61.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 167</div>
			<div class="pb-5 text-center">
				<div>Farina: V/17-18</div>
			</div>
			<b>6.17-18</b> &ndash; Correctly placed, verifiable by both fibres and writing.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 168</div>
			<div class="pb-5 text-center">
				<div>Farina: VI/13</div>
			</div>
			<b>7.13</b> &ndash; This small fragment was correctly placed, evident by fibre correspondence.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 169</div>
			<div class="pb-5 text-center">
				<div>Farina: VI/16</div>
			</div>
			<b>7.16</b> &ndash; A tiny fragment joined to the right side of fr. 77. The horizontal fibre correspondence is questionable.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 170</div>
			<div class="pb-5 text-center">
				<div>Farina: VII/12</div>
			</div>
			<b>8.21</b> &ndash; Small fragment joined to the top of fr. 94 by Ibscher/Farina. It clearly belong, evident by the perfect matching fibres and writing.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 171</div>
			<div class="pb-5 text-center">
				<div>Farina: VII/20</div>
			</div>
			<b>8.15</b> &ndash; The position indicated by Ryholt left of fr. 93 does not seem to offer up the claimed vertical fibre correspondence with fr.
			81 since the bottom edge of fr. 81 ends in a patch. A visual inspection of fibres on the Museum photos seems to agree with Farina (placed VII/20
			above to the left of fr. 87). There is a horizontal and vertical fibre correspondence with fr. 87, as per Farina.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 172</div>
			<div class="pb-5 text-center">
				<div>Farina: X/13</div>
			</div>
			<b>10.21</b> &ndash; Part of a summation, presumably the Fourteenth Dynasty.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 173</div>
			<div class="pb-5 text-center">
				<div>Farina: X/14-15</div>
			</div>
			<b>Unplaced</b> &ndash; Judging from Farina’s placement, there can be no fibre correspondence to X/16-17, as the two fragments are placed in diagonal
			positions to each other.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 174</div>
			<div class="pb-5 text-center">
				<div>Farina: X/16-17</div>
			</div>
			<b>10.26-27</b> &ndash; Records the incomplete reigns of two kings.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 175</div>
			<div class="pb-5 text-center">
				<div>Farina: X/20-21</div>
			</div>
			<b>10.28-29</b> &ndash; The vertical position of fr. X/20-21 in col. 10 is verified by a horizontal fibre correspondence with fr. 123, but there
			is no conclusive vertical fibre correspondence with fr. 112.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 176</div>
			<div class="pb-5 text-center">
				<div>Farina: X/24-26</div>
			</div>
			<b>2.21-23</b> &ndash; The horizontal alignment of fr. 22 with fr. [Gardiner X/24-26] is assured through fibre correspondence. The two fragments
			can be aligned vertically with fr. 11 in col. I.
		</div>
	</div>

	<div class="py-10">
		<h2>The 2022 reconstruction</h2>
		<p>
			The extensive research of Egyptologist <i>Kim Ryholt</i>, has created a new reconstruction of the document while collaborating closely with
			Egyptologist <i>Rob Demarée</i>, served as the foundation for the restoration. In 2022, one of the foremost experts in papyrus restoration in
			the world, <i>Myriam Krutzsch</i> from the Egyptian Museum in Berlin, worked on the King List for ten weeks in Turin, where she removed all traces
			of the previous glue and fabrics used to join the fragile parts together by Seyffarth in 1826, and by Ibscher and Farina in the 1930s. The cleaning
			process showed that many of the numbered fragments were themselves made up of even smaller fragments, revealing just how impressive and good Seyffarth's
			reconstruction of the fragments was.
		</p>
		<p>
			After this difficult cleaning process, the fragments fibres of the papyrus was meticulously examined before consolidating them. 10 new fragments
			were added to the manuscript's structure, and Kim Ryholt has placed several others in light of his recent research. The numbering of the
			fragments is continued from the last fragment of Farina (176). The numbering is not official and only to help with referencing the fragments.
		</p>
	</div>
	<div class="grid grid-cols-1 md:grid-cols-2 gap-10 text-base py-10">
		<div class="frgm">
			<div class="frno">Fragment 177</div>
			<b>2.16(?)</b> Halfway below fr. 22 and halfway above fr 150.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 178</div>
			<b>3.19a</b> To the left of fr. 20 at the end of row 3.19.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 179</div>
			<b>3.19b</b> To the left of fr. 2022/2 at the end of row 3.19.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 180</div>
			<b>4.5</b> Joins to the left of fr. 32.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 181</div>
			<b>4.8-9</b> Joins in space between fr. 31 and fr. 32.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 182</div>
			<b>5.14</b> Joins to right side of fr. 61 at the end of row 5.14.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 183</div>
			<b>6.15</b> joins to left side of fr. 85. Tiny and blank.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 184</div>
			<b>6.20</b> Left of fr. 64.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 185</div>
			<b>7.8</b> joins left side of fr. 72.
		</div>
		<div class="frgm">
			<div class="frno">Fragment 186</div>
			<b>9.22-24</b> to the left of fr. 103/104 and below fr. 69. Contains figures.
		</div>
	</div>

	<div class="py-5">
		<h2>The columns and their fragments</h2>
		<p>The fragments ordered by their placement in each of the eleven columns.</p>
		<ul class="w-11/12 mx-auto py-10 font-sans">
			<li class="border-y border-zinc-400 dark:border-zinc-700">
				Column <b>1</b> &nbsp; &nbsp; &nbsp; 1, 8, 9, 10, 11, 12, 51
			</li>
			<li class="border-b border-zinc-400 dark:border-zinc-700">
				Column <b>2</b> &nbsp; &nbsp; &nbsp; 89, 41, 42, 150, 151, 152, 22, X/24-26
			</li>
			<li class="border-b border-zinc-400 dark:border-zinc-700">
				Column <b>3</b> &nbsp; &nbsp; &nbsp; 3, 1, 20, 21, 19, (23), 30
			</li>
			<li class="border-b border-zinc-400 dark:border-zinc-700">
				Column <b>4</b> &nbsp; &nbsp; &nbsp; 18, 136, 31, 32, 17, 33, 34, 38, 45
			</li>
			<li class="border-b border-zinc-400 dark:border-zinc-700">
				Column <b>5</b> &nbsp; &nbsp; &nbsp; 59, 133, 135, 43, (40), 61, 63, 44, 46, 47, 48, 36
			</li>
			<li class="border-b border-zinc-400 dark:border-zinc-700">
				Column <b>6</b> &nbsp; &nbsp; &nbsp; 59, V/7, V/8, 61, 62, 84, 85, 63, V/17-18 64, 67
			</li>
			<li class="border-b border-zinc-400 dark:border-zinc-700">
				Column <b>7</b> &nbsp; &nbsp; &nbsp; 72, VI/13, 81, 73, 74, 75, 77, 70, 76, 78, 71, 79, 80
			</li>
			<li class="border-b border-zinc-400 dark:border-zinc-700">
				Column <b>8</b> &nbsp; &nbsp; &nbsp; 81, 97, 86, 83, 87, (90), 88, (82), 93, VII/12, 94, 95, VII/20, 134
			</li>
			<li class="border-b border-zinc-400 dark:border-zinc-700">
				Column <b>9</b> &nbsp; &nbsp; &nbsp; 97, (108), 98, 99, 100, 101, 102, 69, 103, 104, 123
			</li>
			<li class="border-b border-zinc-400 dark:border-zinc-700">
				Column <b>10</b> &nbsp; &nbsp; 105, 108, 112, X/13, X/16-17, X/20-21
			</li>
			<li class="border-b border-zinc-400 dark:border-zinc-700">
				Column <b>11</b> &nbsp; &nbsp; 125, 126, 127, 130, 131, 142, 163, 164
			</li>
		</ul>
		The layout of the columns is rather well documented, but the exact step-by-step reasoning for placing the fragments has not been discussed at any length.
	</div>

	<div class="py-5">
		<h2>The papyri sheets</h2>
		<p>
			The fragments order on each of the seven papyri sheets. The sheets are numbered from the right to the left of the recto (the original papyrus
			roll), meaning the numbering of the canon (also from the right to the left) on the verso goes from 7 to 1.
		</p>
		<ul class="w-11/12 mx-auto py-10 font-sans">
			<li class="border-y border-zinc-400 dark:border-zinc-700">
				Sheet <b>7</b> &nbsp; 8, 9, 10, 11, 12, 51, 89, 41, 42, 150, 151, 152, 22, X/24-26
			</li>
			<li class="border-y border-zinc-400 dark:border-zinc-700">
				Sheet <b>6</b> &nbsp; (?), 3, 1, 20, 21, 19, (23), 30
			</li>
			<li class="border-y border-zinc-400 dark:border-zinc-700">
				Sheet <b>5</b> &nbsp; (23), 30, 18, 136, 31, 32, 17, 33, 34, 38, 45, 133, 135, 43
			</li>
			<li class="border-y border-zinc-400 dark:border-zinc-700">
				Sheet <b>4</b> &nbsp; 59, 133, 135, 43, (40), 61, 63, 44, 46, 47, 48, 36, 59, 61, 62, 84, 85, 63, 64, 67
			</li>
			<li class="border-y border-zinc-400 dark:border-zinc-700">
				Sheet <b>3</b> &nbsp; 72, 81, 73, 74, 75, 77, 70, 76, 78, 71, 79, 80, 97, 98, 80, 86, 83, 87, (90), 88, (82), 93, 94, 95, ?, 134
			</li>
			<li class="border-y border-zinc-400 dark:border-zinc-700">
				Sheet <b>2</b> &nbsp; 97, (108), 98, 99, 100, 101, 102, 69, 103, 104, 123, 105, 108, 112, X/13, X/16-17, X/20-21
			</li>
			<li class="border-y border-zinc-400 dark:border-zinc-700">
				Sheet <b>1</b> &nbsp; 125, 126, 127, 130, 131, 142, 163, 164
			</li>
		</ul>
	</div>

	<div class="py-5">
		<h2>The Champollion fragments</h2>

		<p>
			Champollion copied the fragments he discovered in 1824 into a notebook. However, several of these fragments were not part of Seyffarth’s
			reconstruction in 1826, and their current whereabouts is unclear. The fragments were published by Champollion’s brother in 1851, where he also
			commented on the missing fragments. <i
				>(... there are also eight fragments missing in the lithographs of Lepsius. These fragments, still unpublished, give us four names of kings in
				sets of two)</i
			>.<br /><br />
			These ‘lost’ fragments were marked <b>K, Q, R, Dd, Ii, Mm, Rr</b> and
			<b>Ss</b> by Champollion. Contrary to the claim of Champollion’s brother, most of the lost fragments only show parts of <img
				class="px-2 h-6 dark:invert inline"
				src="/svg/nswbit.svg"
				alt="nsw-bit"
			/> and at most the cartouche open with the almost ubiquitous <tlit>rꜤ</tlit>-sign. Champollion did not preserve the outlines for fragments A to
			G.
		</p>

		<table class="tb my-10 w-full">
			<caption class="text-center pt-5 text-sm">Table 3: The fragments of Champollion</caption>
			<tr class="text-left border-b">
				<th>Ch.</th>
				<th>Fragment</th>
				<th>Ch.</th>
				<th>Fragment</th>
				<th>Ch.</th>
				<th>Fragment</th>
			</tr>
			<tr>
				<td>A</td>
				<td>81 <small>(8.1-8.5)</small></td>
				<td>Q</td>
				<td>&mdash;</td>
				<td>Gg</td>
				<td>18 <small>(4.4-4.6)</small></td>
			</tr>
			<tr>
				<td>B</td>
				<td>97 <small>(9.1-9.6)</small></td>
				<td>Q<small>bis</small></td>
				<td>93 <small>(8.24-8.27)</small></td>
				<td>Hh</td>
				<td>34 <small>(4.23-4.26)</small></td>
			</tr>
			<tr>
				<td>C</td>
				<td>72 <small>(7.7-7.11)</small></td>
				<td>R</td>
				<td>&mdash;</td>
				<td>Ii</td>
				<td>98 <small>(9.11-9.13)</small></td>
			</tr>
			<tr>
				<td>D</td>
				<td>72 <small>(7.1-7.2)</small></td>
				<td>S</td>
				<td>126 <small>(11.5-11.8)</small></td>
				<td>Jj</td>
				<td>98 <small>(9.7-9.11)</small></td>
			</tr>
			<tr>
				<td>E</td>
				<td>101 <small>(9.23-9.27)</small></td>
				<td>T</td>
				<td>98 <small>(9.12-9.14)</small></td>
				<td>Kk</td>
				<td>61 <small>(5.14, 6.13-14)</small></td>
			</tr>
			<tr>
				<td>F</td>
				<td>20 <small>(3.16-3.17)</small></td>
				<td>U</td>
				<td>22 <small>(2.21-2.23)</small></td>
				<td>Ll</td>
				<td>34 <small>(4.17-4.19)</small></td>
			</tr>
			<tr>
				<td>G</td>
				<td>76 <small>(7.19-7.21)</small></td>
				<td>V</td>
				<td>126 <small>(11.3-11.5)</small></td>
				<td>Mm</td>
				<td>&mdash;</td>
			</tr>
			<tr>
				<td>H</td>
				<td>101 <small>(9.20-9.22)</small></td>
				<td>X</td>
				<td>93 <small>(8.22-8.24)</small></td>
				<td>Nn</td>
				<td>1 <small>(3.7-3.12)</small></td>
			</tr>
			<tr>
				<td>I</td>
				<td>108 <small>(8.5-8.10)</small></td>
				<td>Y</td>
				<td>159 <small>(does not belong?)</small></td>
				<td>Oo</td>
				<td>79 <small>(7.23-7.24)</small></td>
			</tr>
			<tr>
				<td>J</td>
				<td>76 <small>(7.19-7.21)</small></td>
				<td>Z</td>
				<td>126 <small>(11.3-11.5)</small></td>
				<td>Pp</td>
				<td>79 <small>(7.25-7.27)</small></td>
			</tr>
			<tr>
				<td>K</td>
				<td>&mdash;</td>
				<td>Aa</td>
				<td>34 <small>(4.23-4.24)</small></td>
				<td>Qq</td>
				<td>34 <small>(4.14-4.16)</small></td>
			</tr>
			<tr>
				<td>L</td>
				<td>31 <small>(4.8-4.9)</small></td>
				<td>Bb</td>
				<td>97 <small>(9.3-9.6)</small></td>
				<td>Rr</td>
				<td>&mdash;</td>
			</tr>
			<tr>
				<td>M</td>
				<td>72 <small>(7.12-7.13)</small></td>
				<td>Cc</td>
				<td>108 <small>(copy of I?)</small></td>
				<td>Ss</td>
				<td>&mdash;</td>
			</tr>
			<tr>
				<td>N</td>
				<td>101 <small>(9.15-9.19)</small></td>
				<td>Dd</td>
				<td>20 <small>(3.18-3.22)</small></td>
				<td>Tt</td>
				<td>59 <small>(5.3-5.4)</small></td>
			</tr>
			<tr>
				<td>O</td>
				<td>79 <small>(7.24-7.27)</small></td>
				<td>Ee</td>
				<td>152 <small>(2.17-2.18)</small></td>
				<td>Uu</td>
				<td>1 rt <small>(recto of Nn)</small></td>
			</tr>
			<tr>
				<td>P</td>
				<td>97 <small>(7.3, 8.1-6)</small></td>
				<td>Ff</td>
				<td>18 <small>(2.17-2.18)</small></td>
				<td>Vv</td>
				<td>72 <small>(7.1-7.3)</small></td>
			</tr>
		</table>

		<table class="tbl my-10 w-full">
			<caption class="text-center pt-5 text-sm">Table 4: Fragment numbers corresponding with Champollion</caption>
			<tr class="text-left border-b">
				<th>Fr.</th>
				<th>Champollion</th>
				<th>Fr.</th>
				<th>Champollion</th>
				<th>Fr.</th>
				<th>Champollion</th>
			</tr>
			<tr>
				<td>1</td>
				<td>Nn [Uu]</td>
				<td>61</td>
				<td>Kk</td>
				<td>97</td>
				<td>B, P, Bb</td>
			</tr>
			<tr>
				<td>18</td>
				<td>Ff, Gg</td>
				<td>72</td>
				<td>C, D, M, Vv</td>
				<td>98</td>
				<td>T, Ii, Jj</td>
			</tr>
			<tr>
				<td>20</td>
				<td>F, Dd</td>
				<td>76</td>
				<td>G, J</td>
				<td>101</td>
				<td>E, H, N</td>
			</tr>
			<tr>
				<td>22</td>
				<td>U</td>
				<td>78</td>
				<td>V</td>
				<td>108</td>
				<td>I, Cc</td>
			</tr>
			<tr>
				<td>31</td>
				<td>L</td>
				<td>79</td>
				<td>O, Oo, Pp</td>
				<td>126</td>
				<td>S, Z</td>
			</tr>
			<tr>
				<td>34</td>
				<td>Aa, Hh, Ll, Qq</td>
				<td>81</td>
				<td>A</td>
				<td>152</td>
				<td>Ee</td>
			</tr>
			<tr>
				<td>59</td>
				<td>Tt</td>
				<td>93</td>
				<td>Q<small>bis</small>, X</td>
				<td>159</td>
				<td>Y <small>(does not belong?)</small></td>
			</tr>
		</table>
	</div>

	<div class="sek">
		<h2>Reconstructing the papyrus.</h2>
		<div>
			<p>
				It might seem natural to start by placing the rightmost fragments, but the obvious place to start is by placing the largest and most complete
				fragments and work backwards from there. When the fragments’ fibres line up vertically (V) and/or horizontally (H), this is known as “fibre
				correspondence,” (marked as <fc>fc</fc> below) which confirms the accurate position of the fragments.
			</p>

			<ul class="py-10">
				<li><b>1</b> &nbsp; Place fr. 81 at the top.</li>
				<li>
					<b>2</b> &nbsp; Place fr. 72 to the right of fr. 81 (H <fc>fc</fc>).
				</li>
				<li>
					<b>3</b> &nbsp; Place fr. 73 (V/H <fc>&fnof;c</fc> with fr. 81).
				</li>
				<li>
					<b>4</b> &nbsp; Place fr. 74 (V/H <fc>&fnof;c</fc> with fr. 81 and V <fc>&fnof;c</fc> with 72).
				</li>
				<li>
					<b>5</b> &nbsp; Place fr. 83 below fr. 81 (V <fc>&fnof;c</fc>).
				</li>
				<li>
					<b>6</b> &nbsp; Place fr. 86 below fr. 81 (V <fc>&fnof;c</fc>).
				</li>
				<li>
					<b>7</b> &nbsp; Place fr. 76 below fr. 72 (V <fc>&fnof;c</fc>).
				</li>
				<li>
					<b>8</b> &nbsp; Place fr. 77 to the left of fr. 72 and 76 (H
					<fc>&fnof;c</fc>).
				</li>
				<li>
					<b>9</b> &nbsp; Place fr. 70 to the left of fr. 77 (H <fc>&fnof;c</fc>).
				</li>
				<li>
					<b>10</b> &nbsp; Place fr. 87 to the left of fr. 70 (H <fc>&fnof;c</fc>).
				</li>
				<li>
					<b>11</b> &nbsp; Place fr. VII/20 to the left of fr. 87. (H/V
					<fc>&fnof;c</fc>).
				</li>
				<li>
					<b>12</b> &nbsp; Place fr. 78 to the left of fr. 76 (H <fc>&fnof;c</fc> with fr. 76, V <fc>&fnof;c</fc> with fr. 77).
				</li>
				<li>
					<b>13</b> &nbsp; Place fr. 80 to the left of fr. 78 (H <fc>&fnof;c</fc>).
				</li>
				<li>
					<b>14</b> &nbsp; Place fr. 79 to the right of fr. 78 (H <fc>&fnof;c</fc>).
				</li>
				<li>
					<b>15</b> &nbsp; Place fr. 93 to the left of fr. 80 (H <fc>&fnof;c</fc>).
				</li>
				<li>
					<b>16</b> &nbsp; Place fr. 94 to the left of fr. 93 (H <fc>&fnof;c</fc>).
				</li>
				<li>
					<b>17</b> &nbsp; Place fr. 95 to the left of fr. 93 (H <fc>&fnof;c</fc>) and below fr. 94 (V <fc>&fnof;c</fc>).
				</li>
				<li>
					<b>18</b> &nbsp; Place fr. 82 to the right of fr. 94 (H <fc>&fnof;c</fc>) and above fr. 93 (V <fc>&fnof;c</fc>).
				</li>
				<li>
					<b>19</b> &nbsp; Place fr. VII/20 at the left top corner of fr. 87 (V/H <fc>&fnof;c</fc>)
				</li>
			</ul>
		</div>
	</div>

	<div class="sek">
		<h2>Unplaced fragments</h2>
		<p>
			There are a number of fragments that cannot be placed with certainty. Evidence is needed to corroborate their correct position, either by fibre
			corroboration, or consideration of the text on the recto. Some have had their position changed over time, as more thorough examinations of the
			papyrus were undertaken, but many still remain unplaced because their position can not be determined conclusively.
		</p>

		<p>
			Giulio Farina, the director of the Turin Museum from 1928, together with papyrus conservation specialist Hugo Ibscher, began restoration of the
			papyrus in July 1930. Ibscher detached the 164 fragments from the blotting paper on which Seyffarth had glued them, and rearranged the fragments
			taking careful note of the fibres. Some fragments that did not belong to the papyrus were naturally removed; and some that had previously been
			impossible to reunite (probably from inv. no. 281), were added as matching fibres were established. The reassembly caused some minor damage
			along the edges and many minute signs or traces of signs were lost on some fragments, making the facsimiles of Lepsius and Wilkinson all that
			more important, as they preserve signs that are now lost.
		</p>

		<p>
			To protect the papyrus, the fragments were placed between two glass panes in three separate frames. Over the next few years, Farina sorted
			through the unpublished fragments held at the museum, tweaking the positions of the fragments, until he was satisfied with the final arrangement
			in October of 1934.
		</p>

		<p>
			Gardiner’s examination discarded 25 fragments as belonging to other papyri, while 15 fragments were classified as useless or doubtful, and
			another twelve as completely blank; they were not commented on further, and supposedly belong to the papyrus. Five fragments only contain
			traces, while another five only hold the sign for year, or part of the king’s title. In all, Gardiner retained 102 numbered fragments[*] on his
			plates, plus ten unnumbered fragments marked by question marks, added to Seyffarth’s original sheets by Ibscher or Farina.[*] These ten
			unnumbered fragments are referenced by Gardiner’s position.
		</p>

		<p>
			The museum have an unknown number of unpublished fragments with parts of royal names of both kings and gods, figures relating to the reigns, and
			parts of headings and summations.
			<br /><br />Determining possible positions for the unplaced fragments require an exhaustive examination looking for any fibre correspondence
			with the already placed fragments. Until a full investigation of the fragments can be undertaken, progress is only possible in small increments.
		</p>

		<div class="py-5">
			<table class="tb my-10">
				<caption class="text-center text-sm pt-5">Table 5. Gardiner’s unplaced fragments</caption>
				<tr>
					<th>Remark</th>
					<th>Fragments</th>
				</tr>
				<tr>
					<td>Unplaced (17)</td>
					<td>1, 2, 4, 7, 29, 40, 36, 48, 50, 75, 90, 133, 135, 141, 145, 147, 30a</td>
				</tr>
				<tr>
					<td>Does not belong (25)</td>
					<td>24, 25, 26, 35, 37, 39, 91, 106, 115, 116, 117, 118, 119, 124, 132, 137, 138, 148, 153, 154, 157, 159, 160, 161, 162</td>
				</tr>
				<tr>
					<td>Doubtful/useless (15)</td>
					<td>5, 6, 13, 14, 15, 16, 27, 28, 107, 120, 121, <span class="strike">134,</span> 140, 144, 146, 158</td>
				</tr>
				<tr>
					<td>Blank on vs (12)</td>
					<td>49, 51, 53, 54, 55, 58, 65, 68, 92, 128, 129, 149</td>
				</tr>
				<tr>
					<td>Traces (5)</td>
					<td>52, 56, 57, 114, 139</td>
				</tr>
				<tr>
					<td>Years/title (5)</td>
					<td>109, 111, 113, 136, 155, 156</td>
				</tr>
			</table>
		</div>

		<div>
			<figure class="py-10">
				<a data-fancybox="Fig1" data-caption="<b>The unplaced fragment</b> of the Turin king list" href="/images/T-2020unplaced.png"
					><img loading="lazy" class="w-2/3 mx-auto dark:invert" src="/images/T-2020unplaced.webp" alt="The unplaced fragments" />
				</a>
				<figcaption class="text-center pt-5 text-sm">Figure 1: The unplaced fragments of the Turin king list.</figcaption>
			</figure>
		</div>
	</div>

	<div class="py-10">
		<h2>Unpublished fragments</h2>
		<p>
			The archives at the Museo Egizio in Turin hold an unspecified number of unpublished fragments collected in four frames. These frames are
			referred to as Cat. 1874/2, 1874/3, 1874/4, and 1874/5. Despite many examinations by Egyptologists, they remain unplaced, as their positions
			cannot be determined as there is apparently no clear fibre or text correspondence with the placed fragments of the papyrus. Most of these
			fragments are expected to be quite small, only holding parts of royal names, figures, and headings and summations.
		</p>
		<p>
			In 2022, a new reconstruction was <i>finally</i> performed, that is, a thorough examination with modern tools and expertise. This ensured that all
			possible fragments showing any correspondence were added to the new reconstruction. Further details may be revealed upon publication of the results
			in 2024, which is also the <u title="It is 200 years since Champollion discovered the king list" class="cursor-help">bicentenary</u> of the discovery
			of the papyrus. Well, that did <i>not</i> come to pass, and we are still waiting for the results. (Updated October 2025)
		</p>
		<p class="glow">
			In early 2024 photos of both sides of four panels with fragments were made available on <i>Turin Papyrus Online Platform</i> at the Museo Egizio
			website. This means that we finally have access to all the fragments. Finally! It only took 200 years...
		</p>
		<ul class="p-3">
			<li><strong>C. 1874 vetro 1 + 4: </strong> 23 (24) fragments</li>
			<li><strong>C. 1874 vetro 2: </strong> 36 (37) fragments</li>
			<li><strong>C. 1874 vetro 3: </strong> 31 fragments</li>
			<li><strong>C. 1874 estratto 2022: </strong> 12 fragments removed 2022</li>
		</ul>
		<p>
			All in all, the four panels hold 101 (103) fragments, many very tiny. Some of the fragments can be seen in the plates of Lepsius, but there are
			a number of new ones.
		</p>
	</div>

	<div class="py-10">
		<h2>Bibliography</h2>

		<ul class="py-5 text-sm leading-loose">
			<li>
				<b>Allen, James P.</b> 1999. ‘The Turin Kinglist’. BASOR 315: 48–53.
			</li>
			<li>
				<b>———.</b> 2010. ‘The Second Intermediate Period in the Turin king-list’, in M. Marée (ed.), The Second Intermediate Period (Thirteenth - Seventeenth
				Dynasties): Current Research, Future Prospects, Orientalia Lovaniensia Analecta 192: 1–10.
			</li>
			<li>
				<b>Barta, Winfried.</b> 1983. ‘Bemerkungen Zur Rekonstruktion Der Vorlage Des Turiner Königspapyrus’. GM 64: 11–13.
			</li>
			<li>
				<b>Beckerath, Jürgen von.</b> 1962. ‘The Date of the End of the Old Kingdom of Egypt’. JNES 21: 140–47.
			</li>
			<li>
				<b>———.</b> 1964. Untersuchungen zur politischen Geschichte der Zweiten Zwischenzeit in Ägypten. Glückstadt: Augustin.
			</li>
			<li>
				<b>———.</b> 1966. ‘Die Dynastie der Herakleopoliten (9./10. Dynastie)’. ZÄS 93: 13–20.
			</li>
			<li>
				<b>———.</b> 1976. ‘Die Chronologie der XII. Dynastie und das Problem der Behandlung gleichzeitiger Regierungen in der agyptischen Überlieferung’.
				SAK 4: 45–57.
			</li>
			<li>
				<b>———.</b> 1984a. ‘Bemerkungen zum Turiner Königspapyrus und zu den Dynastien der ägyptischen Geschichte’. SAK 11: 49–58.
			</li>
			<li>
				<b>———.</b> 1984b. Handbuch der ägyptischen Königsnamen. MÄS 20. München: Deutscher Kunstverlag.
			</li>
			<li>
				<b>———.</b> 1995. ‘Some Remarks on Helck’s “Anmerkungen zum Turiner Königspapyrus”’. JEA 81: 225–27.
			</li>
			<li>
				<b>———.</b> 1999a. ‘Anmerkung zu zwei unbeachteten Fragmenten des Turiner Königspapyrus’. GM 168: 19–21.
			</li>
			<li>
				<b>———.</b> 1999b. Handbuch der Ägyptischen Königsnamen. 2nd ed. MÄS 49. Mainz: P. von Zabern. Birch, Samuel. 1843. ‘Observations upon the Hieratical
				Canon of Egyptian Kings at Turin.’ TRSL 2, 1: 203–8.
			</li>
			<li>
				<b>Brugsch, Heinrich.</b> 1859. Histoire d’Égypte des les premiers temps de son existence jusqu’à nos jours. Leipzig: Hinrichs.
			</li>
			<li>
				<b>Champollion, Jean-François.</b> n.d. Papiers de J.-Fr. Champollion Le Jeune. XVI Canon Hiératique des dynasties Égyptiennes. NAF 20318. Vol.
				16. Bibliothèque nationale de France.
			</li>
			<li>
				<b>Champollion-Figeac, Jacques Joseph.</b> 1851. ‘De la table manuelle des Rois et des dynasties d’Égypte ou papyrus royal de Turin, de ses fragments
				originaux, de ses copies manuscrits ou Imprimées, et de ses intreprétations’. Revue Archéologique 7 (2): 397–402, 461–72, 589–99, 653–65. Plate
				149.
			</li>
			<li>
				<b>Farina, Giulio.</b> 1938. Il Papiro dei re, restaurato. Rome: G. Bardi.
			</li>
			<li>
				<b>Gardiner, Alan Henderson.</b> 1959. The Royal Canon of Turin. Oxford: Griffith Institute.
			</li>
			<li><b>Goedicke, Hans.</b> 1956. ‘King ḤwḏfꜢ?’ JEA 42: 50–53.</li>
			<li>
				<b>Helck, Wolfgang.</b> 1956. ‘Untersuchungen zu Manetho und den ägyptischen Königslisten’. UGAA 18. Berlin: Akademie-Verlag.
			</li>
			<li>
				<b>———.</b> 1992. ‘Anmerkungen zum Turiner Königspapyrus’. SAK 19: 151–216.
			</li>
			<li>
				<b>Kitchen, Kenneth Anderson.</b> 1979. ‘P. Turin N.1874, Vso.’ In Ramesside Inscriptions 2:827–44. Oxford: Blackwell.
			</li>
			<li>
				<b>Lauth, Franz J.</b> 1865. Manetho und der Turiner Königspapyrus. Munich: Wolf.
			</li>
			<li>
				<b>Lepsius, Karl Richard.</b> 1842. Auswahl der Wichtigsten Urkunden des aegyptischen Alterthums. Leipzig: Wigand.
			</li>
			<li>
				<b>Málek, Jaromír.</b> 1982. ‘The Original Version of the Royal Canon of Turin’. JEA 68: 93–106.
			</li>
			<li>
				<b>Meyer, Eduard.</b> 1904. Aegyptische Chronologie. Berlin: Verl. der Königl. Akad. der Wiss.
			</li>
			<li>
				<b>Möller, Georg.</b> 1927. Hieratische Paläographie. Die aegyptische Buchschrift in ihrer Entwicklung von der fünften Dynastie bis zur römischen
				Kaiserzeit. 2nd ed. Vol. 2. Osnabruck: Otto Zeller.
			</li>
			<li>
				<b>Ryholt, Kim.</b> 1997. The Political Situation in Egypt during the Second Intermediate Period, c. 1800-1550 B.C. Copenhagen: Museum Tusculanum
				Press.
			</li>
			<li>
				<b>———.</b> 2000. ‘The Late Old Kingdom in the Turin King-List and the Identity of Nitocris’. ZÄS 127: 87–100.
			</li>
			<li>
				<b>———.</b> 2004. ‘The Turin King-List’. Ägypten Und Levant 14: 135–55.
			</li>
			<li>
				<b>———.</b> 2008. ‘King Seneferka in the king-lists and his position in the early dynastic period’. JEH 1: 159–73.
			</li>
			<li>
				<b>———.</b> 2018. ‘Seals and History of the 14th and 15th Dynasties’. In The Hyksos ruler Khyan and the early second intermediate period in Egypt
				: problems and priorities of current research, ErghÖJh 17: 235–76.
			</li>
			<li>
				<b>Wilkinson, John Gardner.</b> 1851. The Fragments of the Hieratic Papyrus at Turin. 2 vols. London: Richards.
			</li>
		</ul>
	</div>
</Layout>
<style>
	.fr {
		border: 1px solid;
	}
	.fr > div:first-child {
		background: red;
	}
	fc {
		font-style: italic;
	}
	.frgm {
		background-color: light-dark(var(--bg-light), var(--dark-bg-light));
		border-radius: var(--radius-lg);
		padding: calc(var(--spacing) * 4);
		font-feature-settings: "tnum" 1;
	}
	.frno {
		font-size: var(--text-xl);
		font-weight: var(--font-weight-semibold);
		text-align: center;
		border-bottom: 1px solid light-dark(var(--border), var(--dark-border));
		margin-bottom: calc(var(--spacing) * 2);
	}
</style>
