---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Turin King List: The Gallery" meta1="" meta2="gallery,turin king list,Egyptian chronology" bild="/images/pharaohse-vorlage.webp">
	<p class="py-5">
		High Quality photos of the Turin King List were made available for free by the Musum in 2019. Very clear photos of the three panels are available
		on the <a href="https://collezionepapiri.museoegizio.it/en-GB/material/Cat_1874/" target="_blank" rel="noopener nofollow"
			>Museo Egizio papyrus collection</a
		> webpage (TPOP). Surprisingly, newer versions of the photographs are of lesser quality (Fall 2022) but include fragments not present in the first
		images. It should be noted that some of the fragments in these photos are in the positions fixed by Farina in the 1930s, and one fragment has even
		been rotated. The photos below are editied to align with the more current research. The 2022 restoration will be included when time permits.
	</p>
	<div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
		<div class="card">
			<a
				data-fancybox="galleryt"
				data-caption="Column 1 of the Turin king list - (CC BY) <b>PHARAOH.SE</b>"
				href="/images/TurinKinglist-col01-pharaohSE.png"
				><img loading="lazy" class="w-full rounded-t-lg" src="/images/TurinKinglist-col01-pharaohSE.webp" alt="Turin king list papyrus column 1" />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Column 1</p>
				<p class="text-sm mt-0">edited Museo Egizio photo</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="card">
			<a data-fancybox="galleryt" data-caption="Column 2 of the Turin king list" href="/images/TurinKinglist-col02-pharaohSE.png"
				><img loading="lazy" class="w-full rounded-t-lg" src="/images/TurinKinglist-col02-pharaohSE.webp" alt="Turin king list papyrus column 2" />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Column 2</p>
				<p class="text-sm mt-0">edited Museo Egizio photo</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="card">
			<a data-fancybox="galleryt" data-caption="Column 3 of the Turin king list" href="/images/TurinKinglist-col03-pharaohSE.png"
				><img loading="lazy" class="w-full rounded-t-lg" src="/images/TurinKinglist-col03-pharaohSE.webp" alt="Turin king list papyrus column 3" />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Column 3</p>
				<p class="text-sm mt-0">edited Museo Egizio photo</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="card">
			<a data-fancybox="galleryt" data-caption="Column 4 of the Turin king list" href="/images/TurinKinglist-col04-pharaohSE.png"
				><img loading="lazy" class="w-full rounded-t-lg" src="/images/TurinKinglist-col04-pharaohSE.webp" alt="Turin king list papyrus column 4" />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Column 4</p>
				<p class="text-sm mt-0">edited Museo Egizio photo</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="card">
			<a data-fancybox="galleryt" data-caption="Column 5 of the Turin king list" href="/images/TurinKinglist-col05-pharaohSE.png"
				><img loading="lazy" class="w-full rounded-t-lg" src="/images/TurinKinglist-col05-pharaohSE.webp" alt="Turin king list papyrus column 5" />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Column 5</p>
				<p class="text-sm mt-0">edited Museo Egizio photo</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="card">
			<a data-fancybox="galleryt" data-caption="Column 6 of the Turin king list" href="/images/TurinKinglist-col06-pharaohSE.png"
				><img loading="lazy" class="w-full rounded-t-lg" src="/images/TurinKinglist-col06-pharaohSE.webp" alt="Turin king list papyrus column 6" />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Column 6</p>
				<p class="text-sm mt-0">edited Museo Egizio photo</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="card">
			<a data-fancybox="galleryt" data-caption="Column 7 of the Turin king list" href="/images/TurinKinglist-col07-pharaohSE.png"
				><img loading="lazy" class="w-full rounded-t-lg" src="/images/TurinKinglist-col07-pharaohSE.webp" alt="Turin king list papyrus column 7" />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Column 7</p>
				<p class="text-sm mt-0">edited Museo Egizio photo</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="card">
			<a data-fancybox="galleryt" data-caption="Column 8 of the Turin king list" href="/images/TurinKinglist-col08-pharaohSE.png"
				><img loading="lazy" class="w-full rounded-t-lg" src="/images/TurinKinglist-col08-pharaohSE.webp" alt="Turin king list papyrus column 8" />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Column 8</p>
				<p class="text-sm mt-0">edited Museo Egizio photo</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="card">
			<a data-fancybox="galleryt" data-caption="Column 9 of the Turin king list" href="/images/TurinKinglist-col09-pharaohSE.png"
				><img loading="lazy" class="w-full rounded-t-lg" src="/images/TurinKinglist-col09-pharaohSE.webp" alt="Turin king list papyrus column 9" />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Column 9</p>
				<p class="text-sm mt-0">edited Museo Egizio photo</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="card">
			<a data-fancybox="galleryt" data-caption="Column 10 of the Turin king list" href="/images/TurinKinglist-col10-pharaohSE.png"
				><img loading="lazy" class="w-full rounded-t-lg" src="/images/TurinKinglist-col10-pharaohSE.webp" alt="Turin king list papyrus column 10" />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Column 10</p>
				<p class="text-sm mt-0">edited Museo Egizio photo</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="card">
			<a data-fancybox="galleryt" data-caption="Column 11 of the Turin king list" href="/images/TurinKinglist-col11-pharaohSE.png"
				><img loading="lazy" class="w-full rounded-t-lg" src="/images/TurinKinglist-col11-pharaohSE.webp" alt="Turin king list papyrus column 11" />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Column 11</p>
				<p class="text-sm mt-0">edited Museo Egizio photo</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="card">
			<a data-fancybox="galleryt" data-caption="The unplaced fragments of the Turin king list" href="/images/TurinKinglist-unplaced-pharaohSE.jpg"
				><img
					loading="lazy"
					class="w-full rounded-t-lg"
					src="/images/TurinKinglist-unplaced-pharaohSE.webp"
					alt="Turin king list unplaced fragments"
				/>
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Unplaced fragments</p>
				<p class="text-sm mt-0">edited Museo Egizio photos</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2024</p>
			</div>
		</div>
	</div>

	<h2 class="pt-20">Reconstruction Gallery</h2>
	<p class="pb-20 text-center text-base">Various reconstructions and facsimiles of the Turin king list created over the years.</p>

	<div class="grid grid-cols-1 gap-10">
		<div class="col-span-3 card">
			<a data-fancybox="galleryz" data-caption="Facsimile of the Turin king list 2017" href="/images/TP2017.png"
				><img loading="lazy" class="w-full" src="/images/TP2017.webp" alt="Turin king list verso by Peter Lundström 2015-17." />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Turin king list verso</p>
				<p class="text-sm mt-0">Facsimile created from the plates of Lepsius (1842)</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m c. 2015-17</p>
			</div>
		</div>

		<div class="col-span-3 card">
			<a data-fancybox="2020" data-caption="Turin king list 2020 (CC BY) <b>PHARAOH.SE</b>" href="/images/T-2020-Cat1874-VersoV1.jpg"
				><img loading="lazy" class="img-fluid ggg" src="/images/T-2020-Cat1874-VersoV1.webp" alt="Turin king list verso by Peter Lundström 2020." />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Turin king list verso</p>
				<p class="text-sm mt-0">Photo showing the fragment numbers</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="col-span-3 card">
			<a data-fancybox="2020" data-caption="Turin king list 2020 (CC BY) <b>PHARAOH.SE</b>" href="/images/T-2020-Cat1874-VersoV2.jpg"
				><img loading="lazy" class="img-fluid ggg" src="/images/T-2020-Cat1874-VersoV2.webp" alt="Turin king list verso by Peter Lundström 2020." />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Turin king list verso</p>
				<p class="text-sm mt-0">Photo with fragments and sheets marked</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="col-span-3 card">
			<a data-fancybox="2020" data-caption="Turin king list 2020 (CC BY) <b>PHARAOH.SE</b>" href="/images/T-2020-Cat1874-VersoV3.jpg"
				><img loading="lazy" class="img-fluid ggg" src="/images/T-2020-Cat1874-VersoV3.webp" alt="Turin king list verso by Peter Lundström 2020." />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Turin king list verso</p>
				<p class="text-sm mt-0">Photo with the fragment numbers and a grid</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="col-span-3 card">
			<a data-fancybox="2020" data-caption="Turin king list 2020 (CC BY) <b>PHARAOH.SE</b>" href="/images/T-2020-Cat1874-VersoV4.jpg"
				><img loading="lazy" class="img-fluid ggg" src="/images/T-2020-Cat1874-VersoV4.webp" alt="Turin king list verso by Peter Lundström 2020." />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Turin king list verso</p>
				<p class="text-sm mt-0">Photo without the fragment numbers</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="col-span-3 card">
			<a data-fancybox="2020" data-caption="Turin king list 2020 (CC BY) <b>PHARAOH.SE</b>" href="/images/T-2020-Cat1874-VersoV5.jpg"
				><img loading="lazy" class="img-fluid ggg" src="/images/T-2020-Cat1874-VersoV5.webp" alt="Turin king list verso by Peter Lundström 2020." />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Turin king list verso</p>
				<p class="text-sm mt-0">Photo of the fragments only</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="col-span-3 card">
			<a data-fancybox="2020" data-caption="Turin king list 2020 (CC BY) <b>PHARAOH.SE</b>" href="/images/T-2020-Cat1874-VersoV6.jpg"
				><img loading="lazy" class="img-fluid ggg" src="/images/T-2020-Cat1874-VersoV6.webp" alt="Turin king list verso by Peter Lundström 2020." />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Turin king list verso</p>
				<p class="text-sm mt-0">Increased contrast photo</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="col-span-3 card">
			<a data-fancybox="2020" data-caption="Turin king list 2020 (CC BY) <b>PHARAOH.SE</b>" href="/images/T-2020-Cat1874-VersoV7.jpg"
				><img loading="lazy" class="img-fluid ggg" src="/images/T-2020-Cat1874-VersoV7.webp" alt="Turin king list verso by Peter Lundström 2020." />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Turin king list verso</p>
				<p class="text-sm mt-0">Photo of the papyrus only</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
		<div class="col-span-3 card">
			<a data-fancybox="2020" data-caption="<b>The tax-register</b> on the recto of the Turin king list" href="/images/T-2020-Cat1874-rt.jpg"
				><img loading="lazy" class="img-fluid ggg" src="/images/T-2020-Cat1874-rt.webp" alt="The recto" />
			</a>
			<div class="text-center">
				<p class="font-semibold text-xl my-2">Turin king list recto</p>
				<p class="text-sm mt-0">The tax-register on the recto of the Turin king list</p>
				<p class="text-xs py-0">Peter Lundstr&ouml;m 2020</p>
			</div>
		</div>
	</div>

	<p class="text-center py-10">
		Those interested in even better quality (original) images, <br />you might want to <a
			href="https://mega.nz/file/vMYyybSC#Be4pJJvUZW5eyevq4ELJR1oDmr4bFLOttnWhN9LBAvI"
			rel="noopener noreferrer nofollow"
			target="_blank">download this zip file</a
		> (large zip file - 203 MB)
	</p>
</Layout>
