---
import Layout from "@/layouts/Layout.astro";
---

<Layout
	title="Turin King List: The Vorlage"
	meta1=""
	meta2="vorlage,template,turin king list,Egyptian chronology"
	bild="/images/pharaohse-vorlage.webp"
>
	<h2>The template for the king list</h2>

	<p>
		Examining the king list, it quickly becomes obvious that it must be a copy of an older manuscript as first proposed by Helck in 1956, suggesting a
		literatim copy of a smaller papyrus, since transferring a text from a half-size papyrus to a full-size papyrus would require adjustment of the
		headings and ditto marks. A <b>Vorlage</b> is basically an earlier version of a text (from the German for prototype or template). The objective of
		the copyist was clearly not to create a new document, but rather to produce an exact copy of an older original, preserving the text as written. Whether
		or not the intention was to add newer kings not present in the original to the end of the list of kings is irrelevant.
	</p>

	<p>
		It is immediately noticable that the reigns are recorded in different ways, and some kings even have their age recorded, while most only record
		years reigned. The more ancient parts also contain more corrupted names. It all point to that at least five sources were used to create the first
		king list. The details contained in these ancient records are unknown to us, but can be divided into five sections:
	</p>

	<ul class="pl-3 py-6 font-sans">
		<li><b>Source A</b> &mdash; Dynasties 1–2, recording years, months, days and the age of the king.</li>
		<li><b>Source B</b> &mdash; Dynasties 3–6, recording only years.</li>
		<li><b>Source C</b> &mdash; Dynasties 7–10, recording years, months and days.</li>
		<li><b>Source D</b> &mdash; Dynasty 11, only recording years</li>
		<li><b>Source E</b> &mdash; Dynasty 12, recording years, months and days.</li>
	</ul>

	<p>
		The resulting king list was merged from these sources (A to E), and compiled into a single document, that would serve as a prototype, or vorlage
		(from the German for ‘<i>prototype</i> or <i>template</i> of a prior version of a text’). There are several clues found in the text and layout of the
		Turin King List that point to it being a copy of another papyrus.
	</p>

	<div>
		<p class="pt-3">The transmission, or lineage of the descendants to the original manuscript, suggest the following:</p>

		<ol class="list-decimal list-inside py-5 w-10/12 mx-auto text-justify">
			<li class="py-3">
				It is unknown when the ‘first’ list of kings was created, but probably sometime during the New Kingdom. We refer to this as <i>Vorlage A</i>,
				from which all subsequent documents are derived.
			</li>
			<li class="py-3">
				From this original, a direct copy was made, designated <i>Vorlage B</i>. This copy suffered damage, and part of the text was lost, or became
				unreadable.
			</li>
			<li class="py-3">
				This prompted another copy, <i>Vorlage C</i>, with the damaged parts marked with Lacuna notations <img
					loading="lazy"
					class="inline dark:invert h-7"
					src="/svg/wsf.svg"
					alt="Lacuna notation in the Turin King List (G41:G36)"
				/> &ndash; <tlit>wsf</tlit> &ndash; meaning unreadable or lost.
			</li>
			<li class="py-3">
				A diligent scribe noticed that there were chronological gaps, and his copy, <i>Vorlage D</i>, emended the lacuna notations by adding 6 years
				to the gaps.
			</li>
			<li class="py-3">
				<i>Vorlage E</i> was a direct copy of Vorlage D, but on a half-size papyrus. The kingship formula was used for the first king of each dynasty and
				at the top of each column, while repetition marks were used in the entries following below.
			</li>
			<li class="py-3">
				<b>The Turin King List</b> is a literatim copy of Vorlage E, but on a full-size papyrus.
			</li>
		</ol>
	</div>

	<p>
		It is unclear whether any of the vorlages were updated to include any of the New Kingdom pharaohs, depending on whether it was a copy made to
		preserve, or update, the information held on the older papyrus. With both the start and end of the papyrus lost in lacuna, it is impossible to
		tell. However, there isn't enough space in the remaining fragments at the end to hold more names, although it is possible that there was a lost
		twelfth column.
	</p>
	<p>
		The king list was certainly not a formal document, as the scribe copied it unto a previously used, and damaged papyrus roll. This suggest that it
		was not intended to be archived, but perhaps only served as an excercise or intermediary for another document.
	</p>
	<p>The following figure sums up the transmission:</p>

	<div class="text-center">
		<figure class="py-10">
			<figcaption class="text-center mb-5 text-sm">
				Figure 1: Transmission of the Turin King List.<br /><small>After Ryholt, <em>Political Situation</em>, Table 7, p. 32</small>
			</figcaption><img loading="lazy" class="w-full dark:invert" src="/svg/T-Transmission.svg" alt="Figure 1: Transmission of the Turin King List" />
		</figure>
	</div>

	<p>
		The nature of a full-size papyrus means that the lines are naturally longer than in a half-size, as there are more vertical surface to write the
		columns on. Copying a text from a small to a large document requires the adjustment of any ditto-markings to conform to the new and larger
		papyrus. That this was <em>not</em> done in the Turin King List is a clear indication that the scribe copied Vorlage E sign-by-sign, making an exact
		copy, without realigning the content. It also explains why there are ditto-marks in the top rows in columns 4 and 9, and also why the kingship formula
		occur at irregular intervals within the columns.
	</p>

	<p>
		Reconstruction of the papyrus that the king list was copied from, i.e. Vorlage E, the half-size papyrus with the exact same writing, was first
		attempted by Malek in 1982. A couple problems with his reconstruction was rejected by Ryholt, who proposed an improved arrangement.
	</p>

	<p>
		It is well known that writing the same text over and over is tedious and often unnecessary. The scribes of Egypt had long since learned to use
		ditto marks for repeating words or sentences. A hieratic ditto mark simply consist of either a horizontal line or a dot, and were used in the king
		list to replace texts. The name of each king is followed by the text <i>“he acted in kingship”</i> which was only written out at the top of a column.
		Ditto marks were used for the ligatures for <i>months,</i> and <i>days</i>, but not for the <i>years</i> ligature. Numbers were always written out
		in full.
	</p>

	<p>The full formula for an entry reads:<br /></p>
	<p>
		<img
			class="object-contain inline dark:invert h-10 my-5"
			src="/svg/irnfmnswyt1.svg"
			alt="Turin King List: He acted in kingship x years, y months, z days"
		/><br />
		Dual King <b>Name</b>. He acted in kingship <b>x</b> years, <b>y</b> months and <b>z</b> days.<br />
		<tlit>nsw-bit <b>Name</b> ir.n=f m nswyt rnpt <b>x</b> &#42786;bd <b>y</b> hrw <b>z</b></tlit><br /><br />
	</p>
	<p>
		Ditto marks are not used for the kingship formula in the rows below the top row, but instead left blank and tabulated so that the length of reign
		in the next row appear at the same horizontal position as the year ligature above. Using ditto marks, the row looks like this:
	</p>

	<img
		class="object-contain inline dark:invert h-10 my-5"
		src="/svg/irnfmnswyt3.svg"
		alt="Turin King List: [He acted in kingship] x years, y months, z days using ditto-marks"
	/><br />
	Dual King <b>Name</b>. He acted in kingship <b>x</b> years, <b>y</b> months and
	<b>z</b> days.<br />
	<tlit>nsw-bit <b>Name</b> rnpt <b>x</b> [&#42786;bd] <b>y</b> [hrw] <b>z</b></tlit><br /><br />

	<p>
		Though the kingship formula was left blank and not indicated by ditto marks, the structure of the rows certainly suggest its presence.
		Occasionally the reign figures appear directly following the king's cartouche, without any blank gap, presumably to conserve horizontal space. The
		fully written out kingship formula is repeated throughout the king list, but not heading the columns as expected, but at seemingly random places
		in the columns.
	</p>

	<p>
		The formula appearing at regular intervals every 13 to 16 rows is a clear indication that the original papyrus was a half-sized roll. Moreover,
		the distance between the rows with the formula increase slightly in the later columns, indicating that the original columns held more rows as the
		writing progressed, and suggesting that the writing decreased in size as the number of rows in each column increased.
	</p>

	<p>
		Normally a scribe writes the full text at the top of the page, then use ditto marks on the subsequent rows for repeating text, and then only have
		to fill in the differing parts. This obviously have the advantage of being faster to write, being more aesthetically pleasing to the eye, and
		easier to add or update records. The scribe copied the original manuscript without consideration of the text, and did not adjust the ditto marks,
		which is obvious as they appear in the top row of columns 4, 8, and 9. If it was an adjusted manuscript, the top rows would contain the full text,
		and certainly not ditto marks.
	</p>

	<p>
		Generally two types of ditto marks are found in papyri: horizontal lines, and small dots. Both types are found on this papyrus, while the
		tax-register marks are longer, fitting well with an adminstrative papyrus.
	</p>

	<p>
		There are a total of 301 rows accounted for in the king list. Note that 3.14 should be discounted (see below), bringing the number to an even 300.<br
		/>
		Let us take a look at where the kingship formulas appear:
	</p>

	<p>Complete formula:</p>
	<div class="py-5">
		<table class="w-full">
			<tr class="border-y border-stone-400 dark:border-shark-700"
				><td class="px-4">3.2</td><td><tlit>Ꜣḫw ... 10 ir.n f m nswyt sn ... rnpt xxx7 ꜤḥꜤw ...</tlit></td></tr
			>
			<tr class="border-b border-stone-400 dark:border-shark-700"><td class="px-4">4.19</td><td><tlit>nsw-bit ... ir.n f m nswyt ...</tlit></td></tr>
			<tr class="border-b border-stone-400 dark:border-shark-700"
				><td class="px-4">6.20</td><td><small>king after heading</small>&nbsp;<tlit>nsw-bit sḥtp-ib-rꜤ ir.n f m nswyt ...</tlit></td></tr
			>
			<tr class="border-b border-stone-400 dark:border-shark-700"
				><td class="px-4">7.1</td><td><tlit>nsw-bit mꜢꜤ-ḫrw-rꜤ ir.n f m nswyt rnpt 9 Ꜣbd.w 3 hrw 27</tlit></td></tr
			>
			<tr class="border-b border-stone-400 dark:border-shark-700"
				><td class="px-4">8.3</td><td><tlit>nsw-bit mr-nrf-rꜤ ir.n f m nswyt rnpt 23 Ꜣbd 8 hrw 18</tlit></td></tr
			>
			<tr class="border-b border-stone-400 dark:border-shark-700"
				><td class="px-4">9.4</td><td><tlit>nsw-bit s-ḥb-rꜤ ir.n f m nswyt rnpt 3 Ꜣbd x hrw 1</tlit></td></tr
			>
			<tr class="border-b border-stone-400 dark:border-shark-700"
				><td class="px-4">11.27</td><td><tlit>nsw-bit ... ir.n f m nswyt ... 2 ...</tlit></td></tr
			>
		</table>
	</div>

	<p>
		Now for the partial formula, i.e. where the initial <tlit>ir.n</tlit> is preserved, we have:
	</p>

	<p>Partial formula:</p>
	<div class="py-5">
		<table class="w-full">
			<tr class="border-y border-stone-400 dark:border-shark-700"
				><td class="px-4">2.4</td><td><small>unlikely</small>&nbsp;<tlit>nsw-bit šmsw <b>ir.n</b> ...</tlit></td></tr
			>
			<tr class="border-b border-stone-400 dark:border-shark-700"
				><td class="px-4">3.11</td><td><small>king after heading</small>&nbsp;<tlit>nsw-bit mni Ꜥnḫ-ḏꜢ-snb <b>ir.n</b> ...</tlit></td></tr
			>
			<tr class="border-b border-stone-400 dark:border-shark-700"
				><td class="px-4">4.5</td><td><tlit>ḏsr-it ir.n f [m nswyt] rnpt 19 Ꜣbd 1 ꜤḥꜤ=f-m-Ꜥnḫ ...</tlit></td></tr
			>
			<tr class="border-b border-stone-400 dark:border-shark-700"
				><td class="px-4">5.7</td><td
					><small>probable</small>&nbsp;<tlit>sw-bit nt-iḳr-ti zꜢ-ptḥ <b>ir.n</b> ...</tlit>&nbsp;<small>(does fr. 40 belong???)</small></td
				></tr
			>
			<tr class="border-b border-stone-400 dark:border-shark-700"
				><td class="px-4">5.22</td><td><small>unlikely</small>&nbsp;<tlit>nsw-bit s...twt hꜢ ... <b>ir-n.f</b> ...</tlit></td></tr
			>
			<tr class="border-b border-stone-400 dark:border-shark-700"
				><td class="px-4">7.5</td><td><small>king after heading</small>&nbsp;<tlit>nsw-bit ḫw-tꜢwy-rꜤ [ir.n f m] nswyt rnpt 2 Ꜣbdw 3 hrw 24</tlit></td
				></tr
			>
			<tr class="border-b border-stone-400 dark:border-shark-700"
				><td class="px-4">7.16</td><td><small>unlikely</small>&nbsp;<tlit>nsw-bit rn-snb <b>ir.n</b> ... Ꜣbd 4 ...</tlit></td></tr
			>
			<tr class="border-b border-stone-400 dark:border-shark-700"
				><td class="px-4">9.20</td><td><small>unlikely</small>&nbsp;<tlit>nsw-bit sḫm-...-rꜤ <b>ir.n</b> ... ns.t ... Ꜣbd</tlit></td></tr
			>
		</table>
	</div>

	<p>Formula expected, but lost/missing:</p>
	<div class="py-5">
		<table class="w-full">
			<tr class="border-y border-stone-400 dark:border-shark-700"><td class="px-4">1.1</td><td><em>Lacuna</em></td></tr>
			<tr class="border-b border-stone-400 dark:border-shark-700"><td class="px-4">1.14</td><td><tlit>nsw-bit gb ꜤḥꜤ ... 13</tlit></td></tr>
			<tr class="border-b border-stone-400 dark:border-shark-700"><td class="px-4">2.2</td><td><tlit>nsw-bit Ꜣpd ...</tlit></td></tr>
			<tr class="border-b border-stone-400 dark:border-shark-700"><td class="px-4">2.15</td><td><em>unreadable</em></td></tr>
			<tr class="border-b border-stone-400 dark:border-shark-700"><td class="px-4">3.16</td><td><tlit>nsw-bit ḳnty ...</tlit></td></tr>
			<tr class="border-b border-stone-400 dark:border-shark-700"><td class="px-4">8.18</td><td><em>Lacuna</em></td></tr>
			<tr class="border-b border-stone-400 dark:border-shark-700"><td class="px-4">10.6</td><td><tlit>nsw-bit ...rꜤ ...</tlit></td></tr>
			<tr class="border-b border-stone-400 dark:border-shark-700"><td class="px-4">10.22</td><td><em>Lacuna</em></td></tr>
			<tr class="border-b border-stone-400 dark:border-shark-700"
				><td class="px-4">11.8</td><td><tlit>nsw-bit sw-wsr-n-rꜤ ... rnpt 12 wsf hrw ...</tlit></td></tr
			>
		</table>
	</div>

	<p class="py-5">Tablulating the three kingship formulas, presents the following table:</p>
	<!-- KEY 
	vortop = bg-emerald dark:text-black
	vorvor = bg-green dark:text-black
	vorprr = bg-amber-700 dark:text-black
	vorpar = bg-cyan dark:text-black
	-->
	<div class="my-10">
		<div class="text-center">Key</div>
		<table class="w-5/6 mx-auto text-sm font-sans">
			<tr class="border-t dark:border-shark-800">
				<td class="p-1 bg-emerald dark:text-black text-center">7.1</td>
				<td class="p-1 text-left">Full kingship formula</td>
				<td class="p-1 bg-green dark:text-black text-center">7.1</td>
				<td class="p-1 text-left border-r dark:border-shark-800">Partial kingship formula</td>
			</tr>
			<tr>
				<td class="p-1 bg-cyan dark:text-black text-center">7.1</td>
				<td class="p-1 text-left">Lost kingship formula</td>
				<td class="p-1 bg-amber-700 dark:text-black text-center">7.1</td>
				<td class="p-1 text-left border-r dark:border-shark-800">Partial formula for founder of dynasty</td>
			</tr>
		</table>
	</div>

	<div class="pb-10">
		<table class="w-full text-center text-sm" id="table1">
			<caption class="text-center text-sm pt-3">Table 1: Turin King List kingship formulas</caption>
			<tr class="border-b">
				<th>11</th><th>10</th><th>9</th><th>8</th><th>7</th><th>6</th><th>5</th><th>4</th><th>3</th><th>2</th><th>1</th>
			</tr>
			<tr>
				<td>11.1</td><td>10.1</td><td>9.1</td><td>8.1</td><td class="bg-emerald dark:text-black">7.1</td><td>6.1</td><td>5.1</td><td>4.1</td><td
					>3.1</td
				><td>2.1</td><td class="bg-green dark:text-black">1.1</td>
			</tr>
			<tr>
				<td>11.2</td><td>10.2</td><td>9.2</td><td>8.2</td><td>7.2</td><td>6.2</td><td>5.2</td><td>4.2</td><td class="bg-emerald dark:text-black"
					>3.2</td
				><td class="bg-green dark:text-black">2.2</td><td>1.2</td>
			</tr>
			<tr
				><td>11.3</td><td>10.3</td><td>9.3</td><td class="bg-emerald dark:text-black">8.3</td><td>7.3</td><td>6.3</td><td>5.3</td><td>4.3</td><td
					>3.3</td
				><td>2.3</td><td>1.3</td>
			</tr>
			<tr
				><td>11.4</td><td>10.4</td><td class="bg-emerald dark:text-black">9.4</td><td>8.4</td><td>7.4</td><td>6.4</td><td>5.4</td><td>4.4</td><td
					>3.4</td
				><td>2.4</td><td>1.4</td>
			</tr>
			<tr
				><td>11.5</td><td>10.5</td><td>9.5</td><td>8.5</td><td class="bg-amber-700 dark:text-black">7.5</td><td>6.5</td><td>5.5</td><td
					class="bg-cyan dark:text-black">4.5</td
				><td>3.5</td><td>2.5</td><td>1.5</td>
			</tr>
			<tr
				><td>11.6</td><td class="bg-green dark:text-black">10.6</td><td>9.6</td><td>8.6</td><td>7.6</td><td>6.6</td><td>5.6</td><td>4.6</td><td
					>3.6</td
				><td>2.6</td><td>1.6</td>
			</tr>
			<tr
				><td>11.7</td><td>10.7</td><td>9.7</td><td>8.7</td><td>7.7</td><td>6.7</td><td class="bg-cyan dark:text-black">5.7</td><td>4.7</td><td>3.7</td
				><td>2.7</td><td>1.7</td>
			</tr>
			<tr
				><td class="bg-green dark:text-black">11.8</td><td>10.8</td><td>9.8</td><td>8.8</td><td>7.8</td><td>6.8</td><td>5.8</td><td>4.8</td><td
					>3.8</td
				><td>2.8</td><td>1.8</td>
			</tr>
			<tr><td>11.9</td><td>10.9</td><td>9.9</td><td>8.9</td><td>7.9</td><td>6.9</td><td>5.9</td><td>4.9</td><td>3.9</td><td>2.9</td><td>1.9</td> </tr>
			<tr
				><td>11.10</td><td>10.10</td><td>9.10</td><td>8.10</td><td>7.10</td><td>6.10</td><td>5.10</td><td>4.10</td><td>3.10</td><td>2.10</td><td
					>1.10</td
				>
			</tr>
			<tr
				><td>11.11</td><td>10.11</td><td>9.11</td><td>8.11</td><td>7.11</td><td class="bg-emerald dark:text-black">6.11</td><td>5.11</td><td>4.11</td
				><td class="bg-amber-700 dark:text-black">3.11</td><td>2.11</td><td>1.11</td>
			</tr>
			<tr
				><td>11.12</td><td>10.12</td><td>9.12</td><td>8.12</td><td>7.12</td><td>6.12</td><td>5.12</td><td>4.12</td><td>3.12</td><td>2.12</td><td
					>1.12</td
				>
			</tr>
			<tr
				><td>11.13</td><td>10.13</td><td>9.13</td><td>8.13</td><td>7.13</td><td>6.13</td><td>5.13</td><td>4.13</td><td>3.13</td><td>2.13</td><td
					>1.13</td
				>
			</tr>
			<tr
				><td>11.14</td><td>10.14</td><td>9.14</td><td>8.14</td><td>7.14</td><td>6.14</td><td>5.14</td><td>4.14</td><td>3.15</td><td>2.14</td><td
					class="bg-green dark:text-black">1.14</td
				>
			</tr>
			<tr
				><td>11.15</td><td>10.15</td><td>9.15</td><td>8.15</td><td>7.15</td><td>6.15</td><td>5.15</td><td>4.15</td><td
					class="bg-green dark:text-black">3.16</td
				><td class="bg-green dark:text-black">2.15</td><td>1.15</td>
			</tr>
			<tr
				><td>11.16</td><td>10.16</td><td>9.16</td><td>8.16</td><td class="bg-cyan dark:text-black">7.16</td><td>6.16</td><td>5.16</td><td>4.16</td><td
					>3.17</td
				><td>2.16</td><td>1.16</td>
			</tr>
			<tr
				><td>11.17</td><td>10.17</td><td>9.17</td><td>8.17</td><td>7.17</td><td>6.17</td><td>5.17</td><td>4.17</td><td>3.18</td><td>2.17</td><td
					>1.17</td
				>
			</tr>
			<tr
				><td>11.18</td><td>10.18</td><td>9.18</td><td class="bg-green dark:text-black">8.18</td><td>7.18</td><td>6.18</td><td>5.18</td><td>4.18</td
				><td>3.19</td><td>2.18</td><td>1.18</td>
			</tr>
			<tr
				><td>11.19</td><td>10.19</td><td>9.19</td><td>8.19</td><td>7.19</td><td>6.19</td><td>5.19</td><td class="bg-emerald dark:text-black">4.19</td
				><td>3.20</td><td>2.19</td><td>1.19</td>
			</tr>
			<tr
				><td>11.20</td><td>10.20</td><td class="bg-cyan dark:text-black">9.20</td><td>8.20</td><td>7.20</td><td class="bg-amber-700 dark:text-black"
					>6.20</td
				><td>5.20</td><td>4.20</td><td>3.21</td><td>2.20</td><td>1.20</td>
			</tr>
			<tr
				><td>11.21</td><td>10.21</td><td>9.21</td><td>8.21</td><td>7.21</td><td>6.21</td><td>5.21</td><td>4.21</td><td>3.22</td><td>2.21</td><td
					>1.21</td
				>
			</tr>
			<tr
				><td>11.22</td><td class="bg-green dark:text-black">10.22</td><td>9.22</td><td>8.22</td><td>7.22</td><td>6.22</td><td
					class="bg-cyan dark:text-black">5.22</td
				><td>4.22</td><td>3.23</td><td>2.22</td><td>1.22</td>
			</tr>
			<tr
				><td>11.23</td><td>10.23</td><td>9.23</td><td>8.23</td><td>7.23</td><td>6.23</td><td>5.23</td><td>4.23</td><td>3.24</td><td>2.23</td><td
					>1.23</td
				>
			</tr>
			<tr
				><td>11.24</td><td>10.24</td><td>9.24</td><td>8.24</td><td>7.24</td><td>6.24</td><td>5.24</td><td>4.24</td><td>3.25</td><td>2.24</td><td
					>1.24</td
				>
			</tr>
			<tr
				><td>11.25</td><td>10.25</td><td>9.25</td><td>8.25</td><td>7.25</td><td>6.25</td><td>5.25</td><td>4.25</td><td></td><td>2.25</td><td>1.25</td>
			</tr>
			<tr><td>11.26</td><td>10.26</td><td>9.26</td><td>8.26</td><td>7.26</td><td></td><td>5.26</td><td>4.26</td><td></td><td>2.26</td><td></td> </tr>
			<tr><td class="bg-emerald dark:text-black">11.27</td><td>10.27</td><td>9.27</td><td>8.27</td><td>7.27</td><td colspan="6"></td></tr>
			<tr><td>11.28</td><td>10.28</td><td>9.28</td><td>8.28</td><td>7.28</td><td colspan="6"></td></tr>
			<tr><td>11.29</td><td>10.29</td><td>9.29</td><td>8.29</td><td colspan="7"></td></tr>
			<tr><td>11.30</td><td>10.30</td><td>9.30</td><td colspan="8"></td></tr>
			<tr><td>11.31</td><td>10.31</td><td colspan="9"></td></tr>
			<tr class="border-t">
				<th>11</th><th>10</th><th>9</th><th>8</th><th>7</th><th>6</th><th>5</th><th>4</th><th>3</th><th>2</th><th>1</th>
			</tr>
		</table>
	</div>

	<div>
		<p>
			The pattern of the kingship formulas is obvious (especially between 4.5&mdash;9.20), appearing every 14-15 rows, suggesting the column height of
			Vorlage E. The Turin King List is a direct copy of Vorlage E, but on a full-size papyrus. This means that the number of rows in Vorlage E should
			be roughly the half of that of the king list which is a full-size papyrus.
		</p>
		<p>
			From 4.5 to 8.3 there are 8 kingship formulas appearing every 14-15 rows. This means that that the preceding columns in Vorlage E should have a
			maximum of 14 rows per column. Assuming that the top rows of each column in Vorlage E contained the full kingship formula, we can extrapolate
			the number of rows between the known formulas.
		</p>
		<p>
			The number of rows from 1.1 to 4.4, i.e. before the kingship formula in 4.5, is 79 (Column 1: 25, Column 2: 26, Column 3: 24, and Column 4: 4).
			Six columns each with 14 rows yield a total of 84 rows, which is five too many. That means that for the numbers to add up, five columns could
			only have held 13 rows, and one with 14. Note that 3.14 is delineated with a sort of bracket that enclose the end of the row to differentiate
			that it belongs to the entry of previous column. To the right of 3.14 in Vorlage E would have been a long 2.26, which was copied by the scribe
			as it appeared. Starting a new column, the scribe miscalculated the length of Vorlage E row 2.26 by not leaving enough horizontal space, as it
			would intrude on 3.14.
		</p>
		<p>
			When 3.14 was reached, a sort of bracket was written around the end of the intruding row (as can also be seen in 5.16 and 8.3) and the king list
			then continued on the next row. Unlike 5.16 and 8.3, the scribe did not add a king on 3.14, perhaps because he had not yet realized that space
			would be a problem later on in the king list.
		</p>
		<p>Putting it all together:</p>
	</div>

	<div class="py-5">
		<table class="w-2/3 mx-auto text-sm font-sans">
			<!--<caption class="text-center">Table 2: Vorlage E reconstruction</caption>-->
			<tr class="text-left"><th>Column</th><th>Rows/Columns</th><th>Rows</th></tr>
			<tr> <td>1</td> <td>1.1—1.13</td> <td>13</td></tr>
			<tr> <td>2</td> <td>1.14—2.1</td> <td>13</td></tr>
			<tr> <td>3</td> <td>2.2—2.14</td> <td>13</td></tr>
			<tr> <td>4</td> <td>2.15—3.1</td> <td>13</td></tr>
			<tr> <td>5</td> <td>3.2—3.15</td> <td>13</td></tr>
			<tr> <td>6</td> <td>3.16—4.4</td> <td>14</td></tr>
			<tr> <td>7</td> <td>4.5—4.18</td> <td>14</td></tr>
			<tr> <td>8</td> <td>4.19—5.6</td> <td>14</td></tr>
			<tr> <td>9</td> <td>5.7—5.21</td> <td>15</td></tr>
			<tr> <td>10</td> <td>5.22—6.10</td> <td>15</td></tr>
			<tr> <td>11</td> <td>6.11—6.25</td> <td>15</td></tr>
			<tr> <td>12</td> <td>7.1—7.15</td> <td>15</td></tr>
			<tr> <td>13</td> <td>7.16—8.2</td> <td>15</td></tr>
			<tr> <td>14</td> <td>8.3—8.17</td> <td>15</td></tr>
			<tr> <td>15</td> <td>8.18—9.3</td> <td>15</td></tr>
			<tr> <td>16</td> <td>9.4—9.19</td> <td>16</td></tr>
			<tr> <td>17</td> <td>9.20—10.5</td> <td>16</td></tr>
			<tr> <td>18</td> <td>10.6—10.21</td> <td>16</td></tr>
			<tr> <td>19</td> <td>10.22—11.7</td> <td>17</td></tr>
			<tr> <td>20</td> <td>11.8—11.26</td> <td>19</td></tr>
			<tr> <td>21</td> <td>11.27—lost</td> <td>5+x</td></tr>
		</table>
	</div>

	<div>
		<p class="text-justify">Adding the headings, summations and ditto marked rows to the layout, the complete king list looks like this:</p>
	</div>

	<!-- KEY
	vorhed - bg-violet dark:text-black
	vorhuv - bg-red dark:text-black
	vorsum - bg-amber-400 dark:text-black
	vorditto - bg-stone-300 dark:bg-stone-700 dark:text-stone-300
	-->
	<div class="py-10">
		<div class="text-center">Key</div>
		<table class="w-5/6 text-sm font-sans" id="table2">
			<tr class="border-t dark:border-shark-800">
				<td class="p-1 bg-emerald dark:text-black text-center">7.1</td>
				<td class="p-1 text-left">Kingship formula</td>
				<td class="p-1 bg-green dark:text-black text-center">7.1</td>
				<td class="p-1 text-left">Lost kingship formula</td>
				<td class="p-1 bg-cyan dark:text-black text-center">7.1</td>
				<td class="p-1 text-left border-r dark:border-shark-800">Partial kingship formula</td>
			</tr>
			<tr>
				<td class="p-1 bg-violet dark:text-black text-center">7.1</td>
				<td class="p-1 text-left">Heading</td>
				<td class="p-1 bg-red dark:text-black text-center">7.1</td>
				<td class="p-1 text-left">Lost Heading</td>
				<td class="p-1 bg-amber-400 dark:text-black text-center">7.1</td>
				<td class="p-1 text-left border-r dark:border-shark-800">Summation</td>
			</tr>
			<tr>
				<td class="p-1 bg-stone-300 dark:bg-stone-700 dark:text-stone-300 text-center">7.1</td>
				<td class="p-1 text-left">Ditto mark</td>
				<td class="p-1 bg-amber-700 dark:text-black text-center">7.1</td>
				<td colspan="3" class="p-1 text-left border-r dark:border-shark-800">Partial formula for the founder of dynasty</td>
			</tr>
		</table>
	</div>

	<div class="py-10">
		<table class="w-full text-center text-sm font-sans" id="table3">
			<caption class="text-center text-sm pt-3">Table 2: Turin King List headings, summations, and ditto marks</caption>
			<tr class="border-b">
				<th>11</th><th>10</th><th>9</th><th>8</th><th>7</th><th>6</th><th>5</th><th>4</th><th>3</th><th>2</th><th>1</th>
			</tr>
			<tr>
				<td>11.1</td><td>10.1</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.1</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">8.1</td
				><td class="bg-emerald dark:text-black">7.1</td><td>6.1</td><td>5.1</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">4.1</td
				><td class="bg-amber-400 dark:text-black">3.1</td><td>2.1</td><td class="bg-green dark:text-black">1.1</td>
			</tr>
			<tr>
				<td>11.2</td><td>10.2</td><td>9.2</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">8.2</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">7.2</td
				><td>6.2</td><td>5.2</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">4.2</td><td class="bg-emerald dark:text-black">3.2</td
				><td class="bg-green dark:text-black">2.2</td><td>1.2</td>
			</tr>
			<tr
				><td>11.3</td><td>10.3</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.3</td><td class="bg-emerald dark:text-black"
					>8.3</td
				><td class="bg-amber-400 dark:text-black">7.3</td><td>6.3</td><td>5.3</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300"
					>4.3</td
				><td>3.3</td><td>2.3</td><td>1.3</td>
			</tr>
			<tr
				><td>11.4</td><td>10.4</td><td class="bg-emerald dark:text-black">9.4</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300"
					>8.4</td
				><td class="bg-violet dark:text-black">7.4</td><td>6.4</td><td>5.4</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">4.4</td
				><td>3.4</td><td>2.4</td><td>1.4</td>
			</tr>
			<tr
				><td>11.5</td><td>10.5</td><td>9.5</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">8.5</td><td
					class="bg-amber-700 dark:text-black">7.5</td
				><td>6.5</td><td>5.5</td><td class="bg-cyan dark:text-black">4.5</td><td>3.5</td><td>2.5</td><td>1.5</td>
			</tr>
			<tr
				><td>11.6</td><td class="bg-green dark:text-black">10.6</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.6</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">8.6</td
				><td>7.6</td><td>6.6</td><td>5.6</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">4.6</td><td>3.6</td><td>2.6</td><td
					>1.6</td
				>
			</tr>
			<tr
				><td>11.7</td><td>10.7</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.7</td><td>8.7</td><td>7.7</td><td>6.7</td><td
					class="bg-cyan dark:text-black">5.7</td
				><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">4.7</td><td>3.7</td><td>2.7</td><td>1.7</td>
			</tr>
			<tr
				><td class="bg-green dark:text-black">11.8</td><td>10.8</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.8</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">8.8</td
				><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">7.8</td><td>6.8</td><td>5.8</td><td>4.8</td><td>3.8</td><td>2.8</td><td
					>1.8</td
				>
			</tr>
			<tr
				><td>11.9</td><td>10.9</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.9</td><td>8.9</td><td>7.9</td><td>6.9</td><td
					>5.9</td
				><td>4.9</td><td>3.9</td><td>2.9</td><td>1.9</td>
			</tr>
			<tr
				><td>11.10</td><td>10.10</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.10</td><td>8.10</td><td>7.10</td><td
					class="bg-amber-400 dark:text-black">6.10</td
				><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">5.10</td><td>4.10</td><td class="bg-violet dark:text-black">3.10</td><td
					>2.10</td
				><td>1.10</td>
			</tr>
			<tr
				><td>11.11</td><td>10.11</td><td>9.11</td><td>8.11</td><td>7.11</td><td class="bg-emerald dark:text-black">6.11</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">5.11</td
				><td>4.11</td><td class="bg-amber-700 dark:text-black">3.11</td><td>2.11</td><td>1.11</td>
			</tr>
			<tr
				><td>11.12</td><td>10.12</td><td>9.12</td><td>8.12</td><td>7.12</td><td>6.12</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">5.12</td
				><td>4.12</td><td>3.12</td><td>2.12</td><td>1.12</td>
			</tr>
			<tr
				><td>11.13</td><td>10.13</td><td>9.13</td><td>8.13</td><td>7.13</td><td>6.13</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">5.13</td
				><td>4.13</td><td>3.13</td><td>2.13</td><td>1.13</td>
			</tr>
			<tr
				><td>11.14</td><td>10.14</td><td>9.14</td><td>8.14</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">7.14</td><td>6.14</td
				><td class="bg-amber-400 dark:text-black">5.14</td><td>4.14</td><td>3.15</td><td>2.14</td><td class="bg-green dark:text-black">1.14</td>
			</tr>
			<tr
				><td class="bg-amber-400 dark:text-black">11.15</td><td>10.15</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.15</td><td
					>8.15</td
				><td>7.15</td><td>6.15</td><td class="bg-amber-400 dark:text-black">5.15</td><td>4.15</td><td class="bg-green dark:text-black">3.16</td><td
					class="bg-green dark:text-black">2.15</td
				><td>1.15</td>
			</tr>
			<tr
				><td>11.16</td><td>10.16</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.16</td><td>8.16</td><td
					class="bg-cyan dark:text-black">7.16</td
				><td>6.16</td><td class="bg-amber-400 dark:text-black">5.16</td><td>4.16</td><td>3.17</td><td>2.16</td><td>1.16</td>
			</tr>
			<tr
				><td>11.17</td><td>10.17</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.17</td><td>8.17</td><td>7.17</td><td>6.17</td
				><td class="bg-amber-400 dark:text-black">5.17</td><td>4.17</td><td>3.18</td><td>2.17</td><td>1.17</td>
			</tr>
			<tr
				><td>11.18</td><td>10.18</td><td>9.18</td><td class="bg-green dark:text-black">8.18</td><td>7.18</td><td class="bg-amber-400 dark:text-black"
					>6.18</td
				><td>5.18</td><td>4.18</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">3.19</td><td>2.18</td><td>1.18</td>
			</tr>
			<tr
				><td>11.19</td><td>10.19</td><td>9.19</td><td>8.19</td><td>7.19</td><td class="bg-violet dark:text-black">6.19</td><td>5.19</td><td
					class="bg-emerald dark:text-black">4.19</td
				><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">3.20</td><td>2.19</td><td>1.19</td>
			</tr>
			<tr
				><td>11.20</td><td>10.20</td><td class="bg-cyan dark:text-black">9.20</td><td>8.20</td><td>7.20</td><td class="bg-amber-700 dark:text-black"
					>6.20</td
				><td>5.20</td><td>4.20</td><td>3.21</td><td>2.20</td><td>1.20</td>
			</tr>
			<tr
				><td>11.21</td><td class="bg-amber-400 dark:text-black">10.21</td><td>9.21</td><td>8.21</td><td>7.21</td><td>6.21</td><td>5.21</td><td
					>4.21</td
				><td>3.22</td><td>2.21</td><td>1.21</td>
			</tr>
			<tr
				><td>11.22</td><td class="bg-green dark:text-black">10.22</td><td>9.22</td><td>8.22</td><td>7.22</td><td>6.22</td><td
					class="bg-cyan dark:text-black">5.22</td
				><td>4.22</td><td>3.23</td><td>2.22</td><td>1.22</td>
			</tr>
			<tr
				><td>11.23</td><td>10.23</td><td>9.23</td><td>8.23</td><td>7.23</td><td>6.23</td><td>5.23</td><td>4.23</td><td>3.24</td><td>2.23</td><td
					>1.23</td
				>
			</tr>
			<tr
				><td>11.24</td><td>10.24</td><td>9.24</td><td>8.24</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">7.24</td><td>6.24</td
				><td>5.24</td><td>4.24</td><td>3.25</td><td>2.24</td><td>1.24</td>
			</tr>
			<tr
				><td>11.25</td><td>10.25</td><td>9.25</td><td>8.25</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">7.25</td><td>6.25</td
				><td>5.25</td><td>4.25</td><td></td><td>2.25</td><td>1.25</td>
			</tr>
			<tr
				><td>11.26</td><td>10.26</td><td>9.26</td><td>8.26</td><td>7.26</td><td></td><td>5.26</td><td class="bg-amber-400 dark:text-black">4.26</td
				><td></td><td>2.26</td><td></td>
			</tr>
			<tr><td class="bg-emerald dark:text-black">11.27</td><td>10.27</td><td>9.27</td><td>8.27</td><td>7.27</td><td colspan="6"></td></tr>
			<tr><td>11.28</td><td>10.28</td><td>9.28</td><td>8.28</td><td>7.28</td><td colspan="6"></td></tr>
			<tr
				><td>11.29</td><td class="bg-amber-400 dark:text-black">10.29</td><td>9.29</td><td class="bg-amber-400 dark:text-black">8.29</td><td
					colspan="7"></td></tr
			>
			<tr><td>11.30</td><td class="bg-red dark:text-black">10.30</td><td>9.30</td><td colspan="8"></td></tr>
			<tr><td>11.31</td><td>10.31</td><td colspan="9"></td></tr>
			<tr class="border-t">
				<th>11</th><th>10</th><th>9</th><th>8</th><th>7</th><th>6</th><th>5</th><th>4</th><th>3</th><th>2</th><th>1</th>
			</tr>
		</table>
	</div>

	<div>
		<p class="py-10">
			With the marking of the different types of rows complete we now have a visual overview of the king list. Sure, it does not look like much, but
			have patience. When we reorganise the king list into 21 columns as per a half-size Vorlage E, a symmetrical pattern emerges:
		</p>
	</div>

	<!-- KEY -->
	<div class="py-10">
		<div class="text-center mb-2">Key</div>
		<table class="w-5/6 mx-auto text-sm">
			<tr class="border-t dark:border-shark-800">
				<td class="bg-emerald dark:text-black text-center">7.1</td>
				<td class="text-left">Kingship formula</td>
				<td class="bg-green dark:text-black text-center">7.1</td>
				<td class="text-left">Lost kingship formula</td>
				<td class="bg-cyan dark:text-black text-center">7.1</td>
				<td class="text-left border-r dark:border-shark-800">Partial kingship formula</td>
			</tr>
			<tr
				><td class="bg-violet dark:text-black text-center">7.1</td>
				<td class="text-left">Heading</td>
				<td class="bg-red dark:text-black text-center">7.1</td>
				<td class="text-left">Lost Heading</td>
				<td class="bg-amber-400 dark:text-black text-center">7.1</td>
				<td class="text-left border-r dark:border-shark-800">Summation</td>
			</tr>
			<tr>
				<td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300 text-center">7.1</td>
				<td class="text-left">Ditto mark</td>
				<td class="bg-amber-700 dark:text-black text-center">7.1</td>
				<td class="text-left border-r dark:border-shark-800" colspan="3">Partial formula for founder of dynasty</td>
			</tr>
		</table>
	</div>

	<!-- VORLAGE 21 COL -->
	<div>
		<table class="w-full text-center text-xs font-sans">
			<caption class="text-center">Table 3: Vorlage E reconstruction</caption>
			<tr>
				<th rowspan="2">Row<br />&darr;</th><th colspan="21" class="text-center">C O L U M N</th><th rowspan="2">Row<br />&darr;</th>
			</tr>
			<tr class="border-b">
				<th>21</th><th>20</th><th>19</th><th>18</th><th>17</th><th>16</th><th>15</th><th>14</th><th>13</th><th>12</th><th>11</th><th>10</th><th>9</th
				><th>8</th><th>7</th><th>6</th><th>5</th><th>4</th><th>3</th><th>2</th><th>1</th>
			</tr>
			<tr>
				<td><b>1</b></td><td class="bg-emerald dark:text-black">11.27</td><td class="bg-green dark:text-black">11.8</td><td
					class="bg-green dark:text-black">10.22</td
				><td class="bg-green dark:text-black">10.6</td><td class="bg-cyan dark:text-black">9.20</td><td class="bg-emerald dark:text-black">9.4</td><td
					class="bg-green dark:text-black">8.18</td
				><td class="bg-emerald dark:text-black">8.3</td><td class="bg-cyan dark:text-black">7.16</td><td class="bg-emerald dark:text-black">7.1</td
				><td class="bg-emerald dark:text-black">6.11</td><td class="bg-cyan dark:text-black">5.22</td><td class="bg-cyan dark:text-black">5.7</td><td
					class="bg-emerald dark:text-black">4.19</td
				><td class="bg-cyan dark:text-black">4.5</td><td class="bg-green dark:text-black">3.16</td><td class="bg-emerald dark:text-black">3.2</td><td
					class="bg-green dark:text-black">2.15</td
				><td class="bg-green dark:text-black">2.2</td><td class="bg-green dark:text-black">1.14</td><td class="bg-green dark:text-black">1.1</td><td
					><b>1</b></td
				>
			</tr>
			<tr
				><td><b>2</b></td><td>11.28</td><td>11.9</td><td>10.23</td><td>10.7</td><td>9.21</td><td>9.5</td><td>8.19</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">8.4</td
				><td>7.17</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">7.2</td><td>6.12</td><td>5.23</td><td>5.8</td><td>4.20</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">4.6</td
				><td>3.17</td><td>3.3</td><td>2.16</td><td>2.3</td><td>1.15</td><td>1.2</td><td><b>2</b></td>
			</tr>
			<tr
				><td><b>3</b></td><td>11.29</td><td>11.10</td><td>10.24</td><td>10.8</td><td>9.22</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.6</td
				><td>8.20</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">8.5</td><td>7.18</td><td class="bg-amber-400 dark:text-black"
					>7.3</td
				><td>6.13</td><td>5.24</td><td>5.9</td><td>4.21</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">4.7</td><td>3.18</td><td
					>3.4</td
				><td>2.17</td><td>2.4</td><td>1.16</td><td>1.3</td><td><b>3</b></td>
			</tr>
			<tr
				><td><b>4</b></td><td>11.30</td><td>11.11</td><td>10.25</td><td>10.9</td><td>9.23</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.7</td
				><td>8.21</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">8.6</td><td>7.19</td><td class="bg-violet dark:text-black"
					>7.4</td
				><td>6.14</td><td>5.25</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">5.10</td><td>4.22</td><td>4.8</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">3.19</td
				><td>3.5</td><td>2.18</td><td>2.6</td><td>1.17</td><td>1.4</td><td><b>4</b></td>
			</tr>
			<tr
				><td><b>5</b></td><td>11.31</td><td>11.12</td><td>10.26</td><td>10.10</td><td>9.24</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.8</td
				><td>8.22</td><td>8.7</td><td>7.20</td><td class="bg-amber-700 dark:text-black">7.5</td><td>6.15</td><td>5.26</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">5.11</td
				><td>4.23</td><td>4.9</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">3.20</td><td>3.6</td><td>2.19</td><td>2.7</td><td
					>1.18</td
				><td>1.5</td><td><b>5</b></td>
			</tr>
			<tr
				><td><b>6</b></td><td class="vorgry">12.1</td><td>11.13</td><td>10.27</td><td>10.11</td><td>9.25</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.9</td
				><td>8.23</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">8.8</td><td>7.21</td><td>7.6</td><td>6.16</td><td>6.1</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">5.12</td
				><td>4.24</td><td>4.10</td><td>3.21</td><td>3.7</td><td>2.20</td><td>2.7</td><td>1.19</td><td>1.6</td><td><b>6</b> </td>
			</tr>
			<tr
				><td><b>7</b></td><td class="vorgry">12.2</td><td>11.14</td><td>10.28</td><td>10.12</td><td>9.26</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.10</td
				><td>8.24</td><td>8.9</td><td>7.22</td><td>7.7</td><td>6.17</td><td>6.2</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300"
					>5.13</td
				><td>4.25</td><td>4.11</td><td>3.22</td><td>3.8</td><td>2.21</td><td>2.8</td><td>1.20</td><td>1.7</td><td><b>7</b></td>
			</tr>
			<tr
				><td><b>8</b></td><td class="vorgry">12.3</td><td class="bg-amber-400 dark:text-black">11.15</td><td class="bg-amber-400 dark:text-black"
					>10.29</td
				><td>10.13</td><td>9.27</td><td>9.11</td><td>8.25</td><td>8.10</td><td>7.23</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300"
					>7.8</td
				><td class="bg-amber-400 dark:text-black">6.18</td><td>6.3</td><td class="bg-amber-400 dark:text-black">5.14</td><td
					class="bg-amber-400 dark:text-black">4.26</td
				><td>4.12</td><td>3.23</td><td>3.9</td><td>2.22</td><td>2.9</td><td class="bg-amber-400 dark:text-black">1.21</td><td>1.8</td><td><b>8</b></td
				>
			</tr>
			<tr
				><td><b>9</b></td><td class="vorgry">12.4</td><td>11.16</td><td class="bg-red dark:text-black">10.30</td><td>10.14</td><td>9.28</td><td
					>9.12</td
				><td>8.26</td><td>8.11</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">7.24</td><td>7.9</td><td
					class="bg-violet dark:text-black">6.19</td
				><td>6.4</td><td class="bg-amber-400 dark:text-black">5.15</td><td>5.1</td><td>4.13</td><td>3.24</td><td class="bg-violet dark:text-black"
					>3.10</td
				><td>2.23</td><td>2.10</td><td class="bg-amber-400 dark:text-black">1.22</td><td>1.9</td><td><b>9</b></td>
			</tr>
			<tr
				><td><b>10</b></td><td class="vorgry">12.5</td><td>11.17</td><td>10.31</td><td>10.15</td><td>9.29</td><td>9.13</td><td>8.27</td><td>8.12</td
				><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">7.25</td><td>7.10</td><td class="bg-amber-700 dark:text-black">6.20</td><td
					>6.5</td
				><td class="bg-amber-400 dark:text-black">5.16</td><td>5.2</td><td>4.14</td><td>3.25</td><td class="bg-amber-700 dark:text-black">3.11</td><td
					>2.24</td
				><td>2.11</td><td class="bg-amber-400 dark:text-black">1.23</td><td>1.10</td><td><b>10</b></td>
			</tr>
			<tr
				><td><b>11</b></td><td class="vorgry">12.6</td><td>11.18</td><td>11.1</td><td>10.16</td><td>9.30</td><td>9.14</td><td>8.28</td><td>8.13</td
				><td>7.26</td><td>7.11</td><td>6.21</td><td>6.6</td><td class="bg-amber-400 dark:text-black">5.17</td><td>5.3</td><td>4.15</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">4.1</td
				><td>3.12</td><td>2.25</td><td>2.12</td><td class="bg-amber-400 dark:text-black">1.24</td><td>1.11</td><td><b>11</b> </td>
			</tr>
			<tr
				><td><b>12</b></td><td class="vorgry">12.7</td><td>11.19</td><td>11.2</td><td>10.17</td><td>10.1</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.15</td
				><td class="bg-amber-400 dark:text-black">8.29</td><td>8.14</td><td>7.27</td><td>7.12</td><td>6.22</td><td>6.7</td><td>5.18</td><td>5.4</td
				><td>4.16</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">4.2</td><td>3.13</td><td>2.26</td><td>2.13</td><td>1.25</td><td
					>1.12</td
				><td><b>12</b> </td>
			</tr>
			<tr
				><td><b>13</b></td><td class="vorgry">12.8</td><td>11.20</td><td>11.3</td><td>10.18</td><td>10.2</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.16</td
				><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.1</td><td>8.15</td><td>7.28</td><td>7.13</td><td>6.23</td><td>6.8</td><td
					>5.19</td
				><td>5.5</td><td>4.17</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">4.3</td><td>3.15</td><td
					class="bg-amber-400 dark:text-black">3.1</td
				><td>2.14</td><td>2.1</td><td>1.13</td><td><b>13</b></td>
			</tr>
			<tr
				><td><b>14</b></td><td class="vorgry">12.9</td><td>11.21</td><td>11.4</td><td>10.19</td><td>10.3</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.17</td
				><td>9.2</td><td>8.16</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">8.1</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">7.14</td
				><td>6.24</td><td>6.9</td><td>5.20</td><td>5.6</td><td>4.18</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">4.4</td><td
					class="grBG"
					colspan="5"></td><td><b>14</b></td>
			</tr>
			<tr
				><td><b>15</b></td><td class="vorgry">12.10</td><td>11.22</td><td>11.5</td><td>10.20</td><td>10.4</td><td>9.18</td><td
					class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">9.3</td
				><td>8.17</td><td class="bg-stone-300 dark:bg-stone-700 dark:text-stone-300">8.2</td><td>7.15</td><td>6.25</td><td
					class="bg-amber-400 dark:text-black">6.10</td
				><td>5.21</td><td class="grBG" colspan="8"></td><td><b>15</b></td>
			</tr>
			<tr
				><td><b>16</b></td><td class="vorgry">12.11</td><td>11.23</td><td>11.6</td><td class="bg-amber-400 dark:text-black">10.21</td><td>10.5</td><td
					>9.19</td
				><td class="grBG" colspan="15"></td><td><b>16</b></td>
			</tr>
			<tr><td><b>17</b></td><td class="vorgry">12.12</td><td>11.24</td><td>11.7</td><td class="grBG" colspan="18"></td><td><b>17</b> </td> </tr>
			<tr><td><b>18</b></td><td class="vorgry">12.13</td><td>11.25</td><td class="grBG" colspan="19"></td><td><b>18</b></td> </tr>
			<tr><td><b>19</b></td><td class="vorgry">12.14</td><td>11.26</td><td class="grBG" colspan="19"></td><td><b>19</b></td> </tr>
			<tr class="border-t">
				<th rowspan="2">Row</th><th>21</th><th>20</th><th>19</th><th>18</th><th>17</th><th>16</th><th>15</th><th>14</th><th>13</th><th>12</th><th
					>11</th
				><th>10</th><th>9</th><th>8</th><th>7</th><th>6</th><th>5</th><th>4</th><th>3</th><th>2</th><th>1</th><th rowspan="2">Row</th>
			</tr>
			<tr><th colspan="21" class="text-center">C O L U M N</th></tr>
		</table>
	</div>

	<div class="text-center py-5">
		<figure class="py-5">
			<figcaption class="text-center mb-5 text-sm">Figure 2: Rough approximation of the vorlage of the Turin king list</figcaption><a
				data-fancybox="TKLVorlage."
				data-caption="Rough approximation of the <b>vorlage of the Turin king list</b> — ( CC BY ) PHARAOH.SE 2020"
				href="/images/T-2020-Vorlage.jpg"
				><img
					loading="lazy"
					class="w-full"
					src="/images/T-2020-Vorlage.png"
					alt="Figure 2: Rough approximation of the vorlage of the Turin king list"
				/>
			</a>
		</figure>
	</div>

	<div>
		<p class="py-10">
			It appears to be compelling proof, yet it is, as usual, only a theory. You might certainly argue that the evidence was manipulated to meet a
			presupposition. However, in the absence of a better theory...
		</p>
	</div>

	<div>
		<h2>Bibliography</h2>
		<ul class="text-base">
			<li>Helck, Wolfgang. “Untersuchungen zu Manetho und den ägyptischen Königslisten”. <i>UGAA</i> 18 (Berlin: 1956).</li>
			<li>Ryholt, Kim. <i>The Political Situation in Egypt during the Second Intermediate Period.</i> Copenhagen: 1997.</li>
		</ul>
	</div>
</Layout>

<style>
	table.litentext,
	table.mitten {
		margin-left: auto;
		margin-right: auto;
	}
	table.litentext * {
		font-size: 90%;
		padding: var(--size-1) var(--size-1) !important;
	}
	.fR {
		float: right;
		padding-left: var(--size-5);
	}
	.fL {
		float: left;
		padding-right: var(--size-5);
	}
	.fig {
		caption-side: bottom;
	}
	figcaption {
		text-align: center;
		padding-block: var(--size-3);
	}
	.headspace {
		margin-block: var(--size-5) !important;
	}
	.in {
		color: var(--svg);
		filter: var(--invert);
	}

	.svgM {
		height: 40px !important;
		width: auto;
		max-width: 100%;
		object-fit: contain;
	}
	.svgS {
		height: 20px;
		width: auto;
		max-width: 100%;
		object-fit: contain;
	}
	caption {
		font-size: var(--font-size-0);
		margin-block: var(--size-3);
	}
	.tight {
		padding-inline: var(--size-8);
	}
	.tight li {
		line-height: var(--font-lineheight-2);
		padding-bottom: var(--size-3);
	}
	.lh {
		line-height: var(--font-lineheight-4);
	}
	table {
		margin-block: var(--size-8) !important;
	}
	table.fill {
		width: fit-content;
		/* margin-inline: auto; */
	}
	th {
		background-color: transparent !important;
		border-bottom: 1px solid var(--vitsvart);
		text-align: center;
	}

	#table1 td,
	#table2 td,
	#table3 td {
	}
</style>
