---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Turin King List: The Recto" meta1="" meta2="recto,turin king list,Egyptian chronology" bild="/images/pharaohse-recto.webp">
	<p>
		Historically, the tax-register has had little to no significance other than to aid in the verification of fragment position. Egyptologists have
		made little effort to reconstruct the text because it is much sparserly written than the king list on the verso. Because of the fragmentary
		nature, accurate translation and interpretation are extremely difficult. There seems to be only two translation attempts: Helck’s from 1992 and
		Warburton’s from 1997.
	</p>
	<div class="py-3">
		<figure>
			<a data-fancybox="recto" data-caption="<b>The tax-register</b> on the recto of the Turin king list" href="/images/T-2020-Cat1874-rt.jpg"
				><img loading="lazy" class="img-fluid" src="/images/T-2020-Cat1874-rt.webp" alt="The recto" />
			</a>
			<figcaption class="pt-3 text-center s80">
				<b>The tax-register</b> on the recto of the Turin king list
			</figcaption>
		</figure>
	</div>

	<p>
		The original papyrus once recorded a series of tax records, ostensibly for the administration. Unfortunately, the fragmentary records does not
		preserve an administrative region or location, but refer to the handling of many different wares, such as wine, cattle, charcoal, gold etc. Many
		types of profession are listed in a number of locations, especially oases in the Fayuum.
	</p>

	<div class="text-center">
		<p class="p-5"></p><h1>Warburton</h1>David A. Warburton. 1997/ <em>State and Economy in Ancient Egypt: Fiscal Vocabulary of the New Kingdom</em>. <br
		/>The Tax Lists of the Royal Canon of Turin. pp. 159-164
	</div>
	<div class="py-3">
		<blockquote>
			<p class="px-3">
				The papyrus is very fragmentary, and thus a translation does not necessarily throw much light on the subject, but some parts are well enough
				preserved to justify presentation here, and some of the references may be fragmentary and of no value in the context of this papyrus, but can
				be used to elucidate other references.<br />
				It is of course amusing to try and fit some of the missing fragments into positions, but this has been tried many times, and does not necessarily
				demonstrate the hypothesis. As the interpretation of fragmentory texts is highly speculative in any case, the temptation to philological discussion
				has thus been suppressed. A serious attempt at commentary of this particular text would unfortunately lead one immediately into the realm of insubstantial
				fantasy.
			</p>
			<p class="text-right">David A. Warburton</p>
		</blockquote>
	</div>

	<h2>The Tax Lists of the Royal Canon of Turin</h2>
	<div class="pb-5">
		<p class="text-center"><b>KEY:</b></p>
		<table class="fill center">
			<tr><td>. . .</td><td>textual loss (three spaced dots)</td></tr>
			<tr><td>...</td><td>textual omission (three dots)</td></tr>
			<tr><td>&lt;word&gt;</td><td>restoration, uncertain</td></tr>
			<tr><td><small>(word)</small></td><td>logical clarification of text which may have been understood</td> </tr>
			<tr><td><span class="graA">word</span></td><td>suggested restoration, based on signs visible in text.</td> </tr>
			<tr><td>(?)</td><td>doubt about text or meaning of word</td></tr>
			<tr><td><r>word</r></td><td>written in red ink</td></tr>
		</table>
	</div>
	<div class="ms-10">
		<!-- 1 -->
		<table>
			<tr><th colspan="2" class="text-center"><h2>Column 1</h2></th></tr>
			<tr><td><em>Row</em></td><td><em>Translation</em></td></tr>
			<tr>
				<td style="width:5ch;">1</td>
				<td>. . . on their head<sup>1</sup> . . .</td>
			</tr>
			<tr>
				<td>2</td>
				<td>. . . <tlit>tp-&#7695;rt</tlit> of the d<span class="graA">eputy</span> . . .</td>
			</tr>
			<tr><td>3</td><td>. . .</td></tr>
			<tr><td>4</td><td>. . .</td></tr>
			<tr><td>5</td><td>. . . 2 <tlit>mnit</tlit> (?), 5 . . .</td></tr>
			<tr><td>7</td><td>. . . making <tlit>isw</tlit>-reeds (?) . . .</td></tr>
			<tr><td>8</td><td>. . . (?) . . .</td></tr>
			<tr><td>9</td><td>. . . (?) . . .</td></tr>
			<tr><td>10</td><td>. . . (?) . . .</td></tr>
			<tr><td>11</td><td>. . . (full?) . . .</td></tr>
			<tr><td>12</td><td>. . . (?) . . .</td></tr>
			<tr><td>13</td><td>. . . (?) . . .</td></tr>
			<tr><td>14</td><td>. . . <r>100</r> . . .</td></tr>
			<tr><td>15</td><td>. . .</td></tr>
			<tr><td>16</td><td>. . .</td></tr>
			<tr>
				<td>17</td>
				<td>. . . <tlit>&#7717;&#7695; m-i&#42786;&#42788;</tlit> . . . (?) 2000 + . . .</td>
			</tr>
			<tr><td>18</td><td>. . . (?)</td></tr>
			<tr><td>19</td><td>. . . (?) <r>his 2</r> . . .</td></tr>
			<tr><td>20</td><td>. . . (?)</td></tr>
			<tr><td>21</td><td>. . . man(?) . . .</td></tr>
			<tr>
				<td colspan="2" class="px-3 s90">
					<small
						><sup>1</sup> As this can mean anything from obligation to authority or "on behalf of", etc. it would serve no purpose to suggest a translation.<br
						/>
					</small>
				</td>
			</tr>
		</table>

		<!-- 2 -->
		<table>
			<tr><th colspan="2" class="text-center"><h2>Column 2</h2></th></tr>
			<tr><td><em>Row</em></td><td><em>Translation</em></td></tr>
			<tr><td style="width:5ch;">1</td><td>. . . charcoal (?) 10 resin ??? . . . 9 of his orders (?)</td> </tr>
			<tr><td>2</td><td>. . . 1 . . . 20 bring(?) &#7717;wt measure of corn &lt;<r>100</r>&gt;+2? . . .</td> </tr>
			<tr><td>3</td><td>. . . measure of corn live goose 1</td></tr>
			<tr><td>4</td><td>. . . (???) 2 . . . their annual . . . Asiatic <tlit>d&#42786;iw</tlit>-cloth<sup>1</sup> 12</td> </tr>
			<tr>
				<td>5</td>
				<td>. . . <r>his <tlit><r>tp-&#7695;rt</r></tlit></r>, silver kite 2 . . . (?) annual of <tlit>inw</tlit> thrown to 3 . . . his . . .</td>
			</tr>
			<tr>
				<td>6</td>
				<td>. . . 1 Asiatic <tlit>d&#42786;iw</tlit>-garments 6 . . . thrown to them 4 years<sup>2</sup> as . . .</td>
			</tr>
			<tr><td> 7</td><td>. . . of . . . to <em>deben</em> of silver . . .</td> </tr>
			<tr><td> 8</td><td>. . . stripling . . .</td></tr>
			<tr><td> 9</td><td>. . .</td></tr>
			<tr><td>10</td><td>. . . <span class="graA">hun</span>dred</td></tr>
			<tr><td>11</td><td>. . . <span class="graA">hun</span>dred</td></tr>
			<tr><td>12</td><td>. . . <span class="graA">hun</span>dred 30</td></tr>
			<tr><td>13</td><td>. . . 7<span class="graA">00</span> waterfowl 400</td> </tr>
			<tr><td>14</td><td>. . . 85</td></tr>
			<tr><td>15</td><td>. . . 400 measure of corn<sup>3</sup> . . .</td></tr>
			<tr><td>16</td><td>. . . in fish ⟨10000?⟩ . . . <tlit>mnt</tlit>-jars, 1</td> </tr>
			<tr><td>17</td><td>. . . <span class="graA">go</span>ld <em>deben</em> . . .</td> </tr>
			<tr><td>18</td><td>. . . <span class="graA">fi</span>sh ⟨20000 . . .</td> </tr>
			<tr><td>19</td><td>. . . <span class="graA">go</span>ld? <tlit>tp-&#7695;rt</tlit> . . .</td> </tr>
			<tr>
				<td colspan="2" class="px-3 s90">
					<small
						><sup>1</sup> Not foreign or imported, but merely a designation of type.<br />
						<sup>2</sup> This expression (and the same in the preceding line) refers to back obligations "thrown" together.<br />
						<sup>3</sup> This is almost assuredly to be read differently, but cannot be resolved.<br />
					</small>
				</td>
			</tr>
		</table>

		<!-- 3 -->
		<table>
			<tr><th colspan="2" class="text-center"><h2>Column 3</h2></th></tr>
			<tr><td><em>Row</em></td><td><em>Translation</em></td></tr>
			<tr>
				<td style="width:5ch;">1</td>
				<td
					>Guardian of the <tlit>&#42788;&#7723;w</tlit> which is in <tlit>mw-&#7723;&#42786;r-&#42788;&#42786;</tlit>, men 1, <r>his</r> annual <tlit
						><r>b&#42787;kw</r></tlit
					>: fish 5000</td
				>
			</tr>
			<tr>
				<td>2</td>
				<td>Guardian of natron who is in Ramana, <small>(ditto) (ditto) ditto</small> gold <em>deben</em> 1 . . . 1000<sup>1</sup> </td>
			</tr>
			<tr>
				<td>3</td>
				<td
					>Carpet weavers who are in <tlit>mr-wr</tlit>
					<small>(ditto) (ditto) <span class="graA">ditto</span></small> &lt;textiles (?)&gt; 6<span class="graA">0</span> (?)</td
				>
			</tr>
			<tr>
				<td>4</td>
				<td
					>Proper <tlit><r>&scaron;&#42786;y</r>&lt;<r>w</r>&gt;</tlit> of the . . . Guide of the Two Lands silver 1 <small>(ditto)</small><sup>2</sup
					>
					near (?) ... it ... town . . .</td
				>
			</tr>
			<tr>
				<td>5</td>
				<td
					>Proper <tlit>&scaron;dy</tlit> wh<span class="graA">ich</span> it <span class="graA">i</span>s exacted from the fishers, fish, <small
						>(from the)</small
					> Lake of Sobek fish 200000 remainder . . .</td
				>
			</tr>
			<tr>
				<td>6</td>
				<td
					><tlit><r>tp-&#7695;rt</r></tlit>
					<r>of</r> the mayor of Lake of Sobek . . . gold . . . <r>2</r>
					<tlit>wn&#7695;w</tlit><sup>3</sup> bulls . . . live</td
				>
			</tr>
			<tr>
				<td>7</td>
				<td
					><tlit><r>tp-&#7695;rt</r></tlit>
					<r>of</r> the deputy of . . . <r>1</r> . . .</td
				>
			</tr>
			<tr>
				<td>8</td>
				<td>. . .<sup>4</sup> the scribe of . . . <span class="graA">hun</span>dred</td>
			</tr>
			<tr>
				<td>8a</td>
				<td>. . . <span class="graA">hun</span>dred . . . <r>1</r> . . .</td>
			</tr>
			<tr>
				<td>8b<sup>5</sup></td>
				<td>. . . (???) silver <em>kite</em> 40 on . . .</td>
			</tr>
			<tr>
				<td>9</td>
				<td>. . . fish 20000 + ?, fowl <r>30</r></td>
			</tr>
			<tr>
				<td>10</td>
				<td>. . . <span class="graA">pro</span>per <tlit>&#7717;tri</tlit> . . .</td>
			</tr>
			<tr>
				<td>11</td>
				<td>. . . <span class="graA">hun</span>dred . . .</td>
			</tr>
			<tr>
				<td>12</td>
				<td>. . . (???) . . . <span class="graA">hun</span>dred</td>
			</tr>
			<tr>
				<td>13</td>
				<td
					><tlit>tp-&#7695;rt</tlit>
					<span class="graA">of</span> the ma<span class="graA">yor</span> . . . donkey 1</td
				>
			</tr>
			<tr>
				<td>14</td>
				<td>which is upon him for Pharaoh . . . 1 <tlit>&#42786;&#7723;t</tlit> 1 . . . which is on . . . 10 donkey 1 ox <r>1</r> </td>
			</tr>
			<tr>
				<td>15</td>
				<td>gold(?) . . . fish . . . on <tlit>tp-&#7695;rt</tlit> . . .</td>
			</tr>
			<tr>
				<td>16</td>
				<td>. . . (???)</td>
			</tr>
			<tr>
				<td>17</td>
				<td><tlit>wrr</tlit> . . . <tlit>b&#42786;</tlit> . . . <tlit>&#7731;m&#42786;</tlit> . . .</td>
			</tr>
			<tr>
				<td>18</td>
				<td>. . . <tlit>y</tlit> 10 . . . 3 . . . <em>khar</em>(?) 100</td>
			</tr>
			<tr>
				<td>19</td>
				<td
					>. . . <tlit>l prt</tlit> 1 . . . <tlit>&scaron;&#42786;yw</tlit> of <tlit>smdt</tlit> .... <span class="graA"><em>deben (?)</em></span> 6, 1
					each, <em>deben</em>
					<span class="graA">6</span>
				</td>
			</tr>
			<tr>
				<td>20</td>
				<td>. . . <span class="graA">templ</span>e Abydos . . . (???)</td>
			</tr>
			<tr>
				<td>21</td>
				<td>. . . in villa<span class="graA">ge</span> . . .</td>
			</tr>
			<tr>
				<td>22</td>
				<td>. . . all, from southern district . . . all <tlit>smdt</tlit> of the <tlit>mni</tlit> . . . Memphis deben 1 . . .</td>
			</tr>
			<tr>
				<td>23</td>
				<td>. . . nat<span class="graA">ron</span> . . . the s<span class="graA">ilver</span> . . .</td>
			</tr>
			<tr>
				<td>24</td>
				<td>. . . <span class="graA"><em>deben</em>(?)</span> scribe, 50, making <em>deben</em> </td>
			</tr>
			<tr>
				<td>25</td>
				<td>. . . &lt;<tlit>smdt</tlit>&gt;(?) scribe, 10 making <em>deben</em> . . .</td>
			</tr>
			<tr>
				<td>26</td>
				<td>. . . 5 black leather sacks 5</td>
			</tr>
			<tr>
				<td>27</td>
				<td>. . . <span class="graA">5</span>? . . . ore, handfuls (?), each one, 20, making 100. Wooden (?) whips 5</td>
			</tr>
			<tr>
				<td colspan="2" class="px-3 s90">
					<small
						><sup>1</sup> W. Helck (Materialien, p. 958) understood this as meaning "Natronwächter in Ramun liefert 1000 dbn Gold ab." Considering the
						condition of the papyrus this reading is certainly a bit courageous, but even comparing it to other sources indicates that the lacuna here
						must cover something to the effect that so-and-so-much-of-something-else equals the gold-obligation.<br />
						<sup>2</sup> Dot in black, not red.<br />
						<sup>3</sup> Gardiner discards the possibility that this is to be read, but proposes nothing else.<br />
						<sup>4</sup> Gardiner does not make any distinction indicating that there may have been a red "ditto" here, so that the line cannot be used
						to suggest that scribes paid <tlit>tp-&#7695;rt</tlit>.<br />
						<sup>5</sup> Although Gardiner has numbered this line as (3,8), the appearance of the fragments does not support this numbering, and thus the
						deviation.<br />
					</small>
				</td>
			</tr>
		</table>

		<!-- 4 -->
		<table>
			<tr><th colspan="2" class="text-center"><h2>Columns 4-5</h2></th></tr>
			<tr><td><em>Row</em></td><td><em>Translation</em></td></tr>
			<tr>
				<td>x-1</td><td><sup>1</sup> . . . 3000</td>
			</tr>
			<tr>
				<td>1</td><td><tlit>inw</tlit>(?) man 1 . . . bank, all, of the Estate of Amun in the Southern district . . . as ore, ore . . .</td>
			</tr>
			<tr>
				<td>2</td><td>. . . charcoal . . .</td>
			</tr>
			<tr>
				<td>3</td><td>. . . controllers of the (?) . . . his <tlit><span class="graA">tp</span>-&#7695;rt</tlit>, silver <em>deben</em> 2</td>
			</tr>
			<tr>
				<td>4</td><td>. . . gold (???) blank (?) . . .</td>
			</tr>
			<tr>
				<td>5</td><td>steward . . .(?) . . .</td>
			</tr>
			<tr>
				<td>6</td><td><r>tp-&#7695;rt</r> of the overseer . . .</td>
			</tr>
			<tr>
				<td>7</td><td>. . . <span class="graA">gu</span>m . . .</td>
			</tr>
			<tr>
				<td>8</td><td>. . .</td>
			</tr>
			<tr>
				<td>9</td><td>. . .</td>
			</tr>
			<tr>
				<td>10</td><td>. . . 10</td>
			</tr>
			<tr>
				<td>11</td><td>. . . fat. (?) . . .</td>
			</tr>
			<tr>
				<td>12</td><td><r>annual</r> . . . <r>1</r> of man 1</td>
			</tr>
			<tr>
				<td>13</td><td><tlit>tp-&#7695;rt</tlit> of each of them, they . . .</td>
			</tr>
			<tr>
				<td>14</td><td><r>hunters</r> (?) man, 1, half of stripling</td>
			</tr>
			<tr>
				<td>15</td><td>hunters (?) of . . . 2 making . . .</td>
			</tr>
			<tr>
				<td>16</td><td>(?) . . . (?) . . . overseer of fortress of &lt;8 (?) . . .</td>
			</tr>
			<tr>
				<td>17</td><td
					>(?) . . . <tlit>tpyw</tlit>-fish measure of corn 2, <span class="graA">his</span>
					<tlit><r>tp-&#7695;rt</r></tlit>(?) . . .</td
				>
			</tr>
			<tr>
				<td>18</td><td>&lt;<r>Annual</r>&gt; . . . fisherman, fish which are from the water of . . .</td>
			</tr>
			<tr>
				<td>19</td><td
					>. . . (?) <tlit>ps</tlit>-loaves 10 <span class="graA">blank</span> made (?) . . . 8 their annual <tlit>&scaron;mw</tlit> f<span
						class="graA">ish</span
					> . . .</td
				>
			</tr>
			<tr>
				<td>20</td><td
					>. . . 550 total 400+<em>x</em> . . . proper <tlit><r>&scaron;&#42786;yw</r> </tlit> . . . overseer of fortress of . . . 3 making 3 in place
					<span class="graA">of</span> . . .</td
				>
			</tr>
			<tr>
				<td>21</td><td
					><tlit>tp-&#7695;rt</tlit> of each of t<span class="graA">hem</span> . . . granary delivered silver <em>kite</em>
					<span class="graA">2</span> . . .</td
				>
			</tr>
			<tr>
				<td>22</td><td>. . .</td>
			</tr>
			<tr>
				<td>23</td><td> . . . ferry of the riverbank . . . <tlit><span class="graA">&#7717;</span>tri</tlit> which was on them</td>
			</tr>
			<tr>
				<td>24</td><td> . . . making the list of the remainder from them . . . total 3000 . . .</td>
			</tr>
			<tr>
				<td>25</td><td>
					. . . his <tlit><span class="graA">&scaron;&#42786;yw</span></tlit> of Regnal Year 1 bull/ox <r>1</r> &nbsp; 3 &nbsp; 32 . . . 10101</td
				>
			</tr>
			<tr>
				<td>26</td><td> . . . <span class="graA">50(?)</span> &nbsp; <r>2</r> &nbsp; 7 &nbsp; 59 &nbsp; 52</td>
			</tr>
			<tr>
				<td>27</td><td> . . . <r>1</r> &nbsp; 3 &nbsp; 30 &nbsp; 27 &nbsp; 5<span class="graA">2</span>30</td>
			</tr>
			<tr>
				<td>28</td><td> . . . <r>1</r> &nbsp; 4 &nbsp; 36 &nbsp; 3<span class="graA">3</span> &nbsp; 6400</td>
			</tr>
			<tr>
				<td>29</td><td> . . . <r>1</r> &nbsp; <span class="graA">3</span> &nbsp; 27 &nbsp;. . .&nbsp; 4800</td>
			</tr>
			<tr>
				<td colspan="2" class="px-3 s90">
					<small
						><sup>1</sup> The scribe was forming columns for his own purposes, and these seem at times to have made one column of coherent data in lines
						extending from column IV to column V. Although this was not done consistently, and therefore the interpretation is bound to be limited by speculation,
						the reading has been taken in that fashion. Cf. Gardiner’s note to the effect that the columns in the published text are only indicated as
						a reference (Royal Canon, p. 17.)<br />
					</small>
				</td>
			</tr>
		</table>

		<!-- 6 -->
		<table>
			<tr><th colspan="2" class="text-center"><h2>Column 6</h2></th></tr>
			<tr><td><em>Row</em></td><td><em>Translation</em></td></tr>
			<tr>
				<td style="width:6ch;">x+1</td><td>. . . (?) . . .</td>
			</tr>
			<tr>
				<td>x+2</td><td>. . . (?) . . .</td>
			</tr>
			<tr>
				<td>x+3</td><td>. . . (?) . . .</td>
			</tr>
			<tr>
				<td>x+4</td><td>. . . the <tlit>&scaron;&#42786;y</tlit>. . .</td>
			</tr>
			<tr>
				<td>x+5</td><td>. . . Cush . . .</td>
			</tr>
			<tr>
				<td>x+6</td><td>. . . (?) . . .</td>
			</tr>
			<tr>
				<td>x+7</td><td>. . . (?) . . .</td>
			</tr>
			<tr>
				<td>x+8</td><td>. . . gold (?) . . .</td>
			</tr>
			<tr>
				<td>x+9</td><td>. . . (?) . . .</td>
			</tr>
			<tr>
				<td>x+10</td><td>. . . (?) . . .</td>
			</tr>
			<tr>
				<td>x+11</td><td>. . . <tlit><span class="graA">m&#7695;&#42786;</span>iw</tlit>(?) . . .</td>
			</tr>
			<tr>
				<td>x+12</td><td>. . . Overseer, Mayor(?) . . .</td>
			</tr>
			<tr>
				<td>x+13</td><td>. . . of each of the mayors of . . .</td>
			</tr>
			<tr>
				<td>x+14</td><td>. . . <tlit>tp-&#7695;rt</tlit> of the deputy</td>
			</tr>
			<tr>
				<td>x+15</td><td>. . . <tlit>m&#7695;&#42786;iw</tlit> from . . .</td>
			</tr>
			<tr>
				<td>x+16</td><td>. . . <tlit><span class="graA">m&#7695;&#42786;i</span>w</tlit> f<span class="graA">rom</span> . . .</td>
			</tr>
			<tr>
				<td>x+17</td><td>. . . <tlit><span class="graA">m&#7695;</span>&#42786;iw</tlit> f<span class="graA">rom</span> . . .</td>
			</tr>
			<tr>
				<td>x+18</td><td>. . . <tlit><span class="graA">m</span>&#7695;&#42786;iw</tlit> f<span class="graA">rom</span> . . .</td>
			</tr>
			<tr>
				<td>x+19</td><td
					>. . . <tlit><r>tp-&#7695;rt</r></tlit>
					<span class="graA">of</span> the controllers . . .</td
				>
			</tr>
			<tr>
				<td>x+20</td><td>. . . of <tlit>wsr-m&#42786;&#42788;t-r&#42788;</tlit> . . .</td>
			</tr>
		</table>

		<!-- 7 -->
		<table>
			<tr><th colspan="2" class="text-center"><h2>Column 7</h2></th></tr>
			<tr><td><em>Row</em></td><td><em>Translation</em></td></tr>
			<tr>
				<td style="width:5ch;">1</td><td>. . . his <tlit>&scaron;&#42786;yw</tlit> of Regnal Year 1, bull/ ox 1 . . .</td>
			</tr>
			<tr>
				<td>2</td><td>. . . <small>ditto</small> . . .</td>
			</tr>
			<tr>
				<td>3</td><td>. . . <small>ditto</small> . . .</td>
			</tr>
			<tr>
				<td>4</td><td>. . . <small>ditto</small> <r>1</r></td>
			</tr>
			<tr>
				<td>5</td><td>. . . <small>ditto</small> <r>1</r></td>
			</tr>
			<tr>
				<td>6</td><td>. . . <small>ditto</small> <r>1</r> 4</td>
			</tr>
			<tr>
				<td>7</td><td>. . . <small>ditto</small> <r>1</r> 6</td>
			</tr>
			<tr>
				<td>8</td><td>. . . <small>ditto</small> <r>1</r> 2</td>
			</tr>
			<tr>
				<td>9</td><td>. . . <small>ditto</small> <r>1</r> 6</td>
			</tr>
			<tr>
				<td>10</td><td>. . . <small>ditto</small> <r>1</r> 5</td>
			</tr>
			<tr>
				<td>11</td><td>. . . <small>ditto</small> <r>1</r> 3</td>
			</tr>
			<tr>
				<td>12</td><td>. . . <small>ditto</small> <r>1</r> 2</td>
			</tr>
			<tr>
				<td>13</td><td>. . . <small>ditto</small> <r>1</r> 10</td>
			</tr>
			<tr>
				<td>14</td><td>. . . <small>ditto</small> <r>1</r> . . .</td>
			</tr>
			<tr>
				<td>15</td><td>. . . <small>ditto</small> . . .</td>
			</tr>
			<tr>
				<td>16</td><td>. . .</td>
			</tr>
			<tr>
				<td>17</td><td>. . . 3<span class="graA">6</span> . . .</td>
			</tr>
			<tr>
				<td>18</td><td>. . . 20 . . . 10 . . .</td>
			</tr>
			<tr>
				<td>19</td><td>. . . 67 . . .</td>
			</tr>
			<tr>
				<td>20</td><td>. . . 27 . . .</td>
			</tr>
			<tr>
				<td>21</td><td>. . . (?) 7300 . . .</td>
			</tr>
			<tr>
				<td>22</td><td>. . . (?) . . .</td>
			</tr>
			<tr>
				<td>23</td><td>. . . (?) . . .</td>
			</tr>
			<tr>
				<td>24</td><td>. . . <tlit>in<span class="graA">w</span></tlit> (?) . . .</td>
			</tr>
			<tr>
				<td>25</td><td>. . . (?) . . .</td>
			</tr>
			<tr>
				<td>26</td><td>. . . 2 (?) 36 (?). . .</td>
			</tr>
		</table>

		<!-- New col 2 -->
		<table>
			<tr><th colspan="2" class="text-center"><h2>Column 8<sup>*</sup></h2></th> </tr>
			<tr
				><td colspan="2" class="text-center"
					>Recto of fr. 41+42+89, 150, 152+151, 22+X/24-26<br />according to Ryholt’s second column on the verso.</td
				>
			</tr>
			<tr><td><em>Row</em></td><td><em>Translation</em></td></tr>
			<tr>
				<td style="width:5ch;">1</td>
				<td>. . . 400 measure of corn . . .</td>
			</tr>
			<tr>
				<td>2</td>
				<td>. . . in fish ⟨10000?⟩ . . . <tlit>mnt</tlit>-jars, 1</td>
			</tr>
			<tr>
				<td>3</td>
				<td>. . . <span class="graA">go</span>ld <em>deben</em> . . .</td>
			</tr>
			<tr>
				<td>4</td>
				<td>. . . <span class="graA">fi</span>sh ⟨20000 . . .</td>
			</tr>
			<tr>
				<td>5</td>
				<td>. . . <span class="graA">go</span>ld? <tlit>tp-&#7695;rt</tlit> . . .</td>
			</tr>
			<tr>
				<td>6</td>
				<td>. . .</td>
			</tr>
			<tr>
				<td>7</td>
				<td>. . .</td>
			</tr>
			<tr>
				<td>8</td>
				<td>. . .</td>
			</tr>
			<tr>
				<td>9</td>
				<td>. . .</td>
			</tr>

			<tr>
				<td>10</td>
				<td>. . . on their head<sup>1</sup> . . .</td>
			</tr>
			<tr>
				<td>11</td>
				<td>. . . <tlit>tp-&#7695;rt</tlit> of the d<span class="graA">eputy</span> . . .</td>
			</tr>
			<tr>
				<td>12</td>
				<td>. . .</td>
			</tr>
			<tr>
				<td>13</td>
				<td>. . .</td>
			</tr>
			<tr>
				<td>14</td>
				<td>. . . 2 <tlit>mnit</tlit> (?), 5 . . .</td>
			</tr>
			<tr>
				<td>15</td>
				<td>. . . (?) . . .</td>
			</tr>
			<tr>
				<td>16</td>
				<td>. . . making <tlit>isw</tlit>-reeds (?) . . .</td>
			</tr>

			<tr>
				<td colspan="2" class="px-3 s90">
					<small>
						<sup>*</sup> Fr. 41+42 *** TBD *** Same rows as 2.15-19 + 1.1-5 <br />
						<sup>1</sup> As this can mean anything from obligation to authority or "on behalf of", etc. it would serve no purpose to suggest a translation.<br
						/><br />
					</small>
				</td>
			</tr>
		</table>

		<!-- 8 -->
		<table>
			<tr><th colspan="2" class="text-center"><h2>Column 9</h2></th></tr>
			<tr><td><em>Row</em></td><td><em>Translation</em></td></tr>
			<tr>
				<td>8.x+1</td><td>. . . the controller of the w<span class="graA">ell</span>...</td>
			</tr>
			<tr>
				<td>8.x+2</td><td>. . . the controller of the Mig<span class="graA">dol</span><sup>1</sup> . . .</td>
			</tr>
			<tr>
				<td>8.x+3</td><td>. . . the controller of the well &lt;Ramesses II&gt; . . .</td>
			</tr>
			<tr>
				<td>8.x+4</td><td>. . . the controller of the well &lt;Ramesses II&gt; . . .</td>
			</tr>
			<tr>
				<td>8.x+5</td><td>. . . the controller of the well &lt;Ramesses II&gt; which is in the br...<sup>2</sup> </td>
			</tr>
			<tr>
				<td>8.x+6</td><td>. . . the controller of the well &lt;Ramesses II&gt; . . .<sup>3</sup> </td>
			</tr>
			<tr>
				<td>8.x+7</td><td><r>summary of</r> the <tlit>&#7717;tri</tlit> of the southern and northern oases</td>
			</tr>
			<tr>
				<td>8.x+8</td><td><r>oasis</r>, southern</td>
			</tr>
			<tr>
				<td>8.x+9</td><td>. . . man 1, stripling 1 . . .</td>
			</tr>
			<tr>
				<td>8.x+10</td><td>. . . man 1 . . .</td>
			</tr>
			<tr>
				<td>8.x+11</td><td>. . . man 1 . . .</td>
			</tr>
			<tr>
				<td>8.x+12</td><td>. . . man 1 . . .</td>
			</tr>
			<tr>
				<td>8.x+13</td><td>. . . man 1 . . .</td>
			</tr>
			<tr>
				<td>8.x+14</td><td>. . . wine, <tlit>mnt</tlit>-vessels 12</td>
			</tr>
			<tr>
				<td>8.x+15</td><td>. . . measure of corn 22</td>
			</tr>
			<tr>
				<td colspan="2" class="px-3 s90"
					><small>
						<sup>1</sup> Following Gardiner (Royal Canon, p. 17).<br />
						<sup>2</sup> Th1s is probably related to the toponym.<br />
						<sup>3</sup> Helck (Materialien, p. 250) points out that these fortifications and wells were on the desert route between Sile and Raphia.<br
						/>
					</small>
				</td>
			</tr>
		</table>

		<div class="px-5">
			<h3 class="text-center">REMARKS</h3>
			<p>
				This execrably preserved papyrus once recorded a series of records concerning various fiscal activities, naming the term employed along with
				the person upon whom the obligation was put, and the precise objects which were turned over to the administration as a result of this. It must
				be emphasized that it does not appear from the fragmentary remains visible today that the lists recorded to whom the payments were made (with
				the exception of "which is upon him for Pharaoh", 3, 14). Geographically, it certainly referred to oases and the Fayum, administratively, it
				seems to have covered many different types of profession, and the diversity of the objects rendered up includes wine, charcoal, fish, cattle,
				gold, etc. The value of the papyrus being considerably impaired as a result of its fragmentary state, the following conclusions resemble the
				above "translation" in being restrained rather than exuberant, and attempt to summarize the conclusions which can be justifiably drawn from
				the text, without undue exaggeration.
			</p>
			<p>
				It would seem that the words wrilten in red ink had some particular significance, and these include <tlit
					>tp-&#7695;rt, &scaron;&#42786;yw, b&#42786;kw,</tlit
				> but also <tlit>&scaron;dyt</tlit>. This necessarily implies that these terms were in some way significant, and it is evident that the term
				b&#42786;kw and the term &scaron;&#42786;yt are employed in a very similar fashion, not only being written in red, but serving as the basis
				for a series of assessments (<tlit>b&#42786;kw</tlit> in fish and silver;
				<tlit>&scaron;&#42786;yw</tlit> in cattle), underlining that the scribe concerned here was using <tlit>b&#42786;kw</tlit> in a fiscal sense.
			</p>
			<p>
				Aside from the word for annual, certain of the rotes of assessment, and the word for summary, only one title is written is red (if "hunter" is
				the correct rendering), and this only once (and it is assumed here that this is an oversight), so it is assumed that no particular importance
				was associated with the officials, but that these terms of reference (rotes of assessment, etc.) were significant.
			</p>
			<p>
				It is pointless to attempt to use the text statistically, so that the categories alone are worthy of attention. Where preserved, <tlit
					>b&#42786;kw</tlit
				> is never associated with officials, as opposed to workers, while the opposite is true of <tlit>tp-&#7695;rt. &scaron;&#42786;yw</tlit> seems
				to be employed with regard to both classes of people (cf. 3, 19) and institutions (cf. 3, 4), as well as officials and individuals (cf. 4/5, 20ff.;
				col. 7).
			</p>
			<p>
				Conversely, professional administrators (mayors, overseers, deputies, scribes, controllers) outnumber workers (fishermen, fowlers, guardians,
				mat weavers), but they all figure alongside one another, but wherever possible, it would appear that the types of obligations that they owe
				are clearly distinguished, although the jottings physically mix the categories, they are clearly differentiated).
			</p>
			<p class="pb-5">
				In the preserved text, fish and cattle are the most important items listed, but gold and silver figure to a striking extent. It is striking
				that successive lines list alternatively mats, whips, fowl, fish and silver (or gold), and that - seemingly - only cattle were deliberately
				grouped together and kept apart. Although an entire deben of gold is explicitly collected from the natron guardian (3,2), 471 it would appear
				that there is otherwise no evidence of the employment of financial substitutions or equivalencies for exactions intended to be delivered in
				fish, mats, wine, reeds, gum, or geese, etc., and thus it seems fair to conclude that the actual articles listed were assessed, assembled, and
				acquired.
			</p>
		</div>
	</div>

	<div class="text-center mt-60">
		<h1>Helck</h1>
		<p class="p-5">
			Wolfgang Helck. “Anmerkungen zum Turiner Königspapyrus”. <i>SAK</i> 19 (1992)<br />pp. 151-216 (194-201 below)
		</p>
	</div>
	<table>
		<tr><th colspan="2" class="text-center"><h2>Column 1</h2></th></tr>
		<!-- 1 -->
		<tr>
			<td class="align-top p-3">
				x+1 ........ / Thinis (repetition lines) / 2730<br />
				x+2 ..... 300, oipe(?) ..../ bowl 1 (repetition lines) /9590<br />
				x+3 ..... Silver <tlit>dbn</tlit> x / bowl 1 (repetition lines) /300+730<br />
				x+4 ..... Fish 30 000/ ... 1 bowl ...(?) Meaa-canal ... 130<br />
				x+5 ..... Silver (?), poll tax (of) ... (?) (gap) (112)<br />
				x+6 ...................... (Hundreds)<br />
				x+7 ...................... (Hundreds)<br />
				x+8 ...................... (Hundreds) +30<br />
				x+9 ...................... 700, waterfowl 400<br />
				x+10...................... 85<br />
			</td>
		</tr>

		<!-- 2 -->
		<tr><th colspan="2" class="text-center"><h2>Column 2</h2></th></tr>
		<tr>
			<td class="align-top p-3">
				1. [Mayor of] Faiyum, 1 person, his tax : [Silver kite 2] ... 1 Salt (a) 1 Coal 10 Rubber x Shortage (b): 9 additional duties (c) of his staff <br
				/>
				2. [Suchos], 1 (person), (his tax): [Silver kite] 2 ... ... 1 ... 20
				<tlit>jnḥt</tlit>-jug Grain (d) 1 (Shortage: 9 additional duties of his staff) (e)<br />
				3. ............. 1 (person), (his tax): (silver) x(?)
				<tlit>jnḥt</tlit>-jug Grain 1 living <tlit>rꜢ</tlit>-goose 1<br />
				4. [People, their supplies:]... 1 It was issued: [Living Goose] 1 [Asian cloth]ing 2<br />
				Shortage (b) [x additional duties] from their annual supplies: Asian clothing 12 ...<br />
				5. [The leader] of one half of the stonemason [troop], <r>his poll tax</r>: Silver kite 2 ... ... [Salt] 1 for the year of the delivery He was
				issued 4 [years for] his [commission] (f)<br />
				6. [x workers, <r>their delivery</r> (or similar)] [living goose] 1 Asian clothing 6 It ... It was issued to them 4 years [of their] commission.<br
				/>
				7. ... For silver-<tlit>dbn</tlit> ... 8. ... the young worker[s] (gap) x+1 ... on them<br />
				x+2 ... poll tax of the deputy of the ...: ... ... Amphore 1<br />
				x+3 <em>lacuna</em><br />
				x+4 <em>lacuna</em><br />
				x+5 ...: ... 2 pigeons 5 (ditto marks) 10 (workers) (?) (empty)<br />
				x+6 ..... of the reed worker(s) .....<br />

				(a) For the spelling see Wb III 82, 4.<br />
				(b) see. Wb III 213, 12; written in red, probably a term of administrative speech.<br />
				(c) It is probably Wb III 16, 9, but the determinative is unclear.<br />
				(d) see. Wb I 99, 15?<br />
				(e) This repetition is indicated by the vertical bars.<br />
				(f) read sḥn : Wb IV 217, 1.<br />
			</td>
		</tr>

		<!-- 3 -->
		<tr><th colspan="2" class="text-center"><h2>Column 3</h2></th></tr>
		<tr>
			<td class="align-top p-3">
				1. The guardian of the flock of birds, which is at the Ihara(a)-canal: 1 man
				<r>his</r> annual <r>toll</r> fish 5000<br />
				2. The guardian of natron, who is in Ramuna: 1 man (<r>his</r> annual <r>toll</r>) (a) silver (!) <tlit>dbn</tlit> 1, (fish) 1000<br />
				3. The carpet weaver, who is in the town mr-wr: 1 (man) (<r>his</r> annual
				<r>toll</r>) 60 .....<br />
				4. Regular taxes of Suchos, the leader of the Two Lands: Silver 1..... next to the ..... of the port(?) .....<br />
				5. Regular withdrawal received from the fishermen of the lake of Suchos: fish 200,000; balance ...<br />
				6. Mayor’s <r>poll tax</r> from the lake of Suchos ..... Silver x (e) ...-cattle 2 wn&lt;dw&gt;-cattle x, goats x<br />
				7. <u>Poll tax</u> of the deputy of the (mayor of the lake of Suchos) (c) (silver) <tlit>dbn</tlit> 4; ox 1<br />
				8. [Poll tax] of the scribes of the (mayor of the lake of Suchos) (at the "sea" of the "lake" (=Faiyum):<br />
				9. ..... (of) (the Mayor of the lake of Suchos) (c) : Normal [tax:] Silver
				<tlit>dbn</tlit> 1<br />
				10. <r>List</r> [of deliveries] ..... [of the po]rts: ½ where 40 kite silver for [each ship are (?)]<br />
				11. The ..... Normal deliveries ..... : various fish, birds (d) 30<br />
				12. ..... (Normal deliveries) .....<br />
				13. City ferry (Normal delivery) (c)<br />
				14. <r>Poll tax</r> of the mayor of ..... 1 donkey<br />
				15. What is with him for Pharaoh on the first of the third day? What on [him] is on the 10th: <r>1</r> donkey, 1 ox<br />
				16. gold (?) x, fish x ..... as (?) poll tax <br />
				17. .....<br />
				18. (only letter remains)<br />
				19. One ..... for the 10 ..... (?) ..... 100 (baskets?) 100 substances [. . .] 10 ps breads<br />
				20. That which is with him for Pharaoh for] the first of the first prt: ..... Taxes of employees (smdt) ..... 6 [people], each 6 <tlit
					>dbn</tlit
				> ... 450, total 4xx<br />
				21. ....... Elephantine.<br />
				22. ...... in the harbor......<br />
				23. [dues] of all ports in the southern half of the administration .... [Taxes] of all employees of the port of Memphis: 1 <tlit>dbn</tlit> ...
				.harbour ship .<br />
				24. [The..... ] Natron, <tlit>dbn</tlit> 2100 (+x) ....... silver ......<br />
				25. .....; the antelope bringer ..... Scribe 50, makes <tlit>dbn</tlit> x<br />
				26. ...... 10 employees of the ....... (?) of the scribes: makes <tlit>dbn</tlit> x makes <tlit>dbn</tlit> x<br />
				27. ..... ..... 5 black skins 5<br />
				28. ....... [5] Metal hands each 20, makes 100 Wooden whips 5<br />
				29. ......<br />

				(a) Indicated by repetition stroke.<br />
				(b) Indicated by repetition mark.<br />
				(c) Indicated by repetition stroke.<br />
				(d) An inexplicable sign.<br />
				(e) Both lines 2 and 6 contain only the "gold"-sign with a gap in front of it; it is safe to assume that the "font-mono text-sm hidden"-sign" in
				front of it has to be added each time, but this also affects the repetition mark in line 7.<br />
			</td>
		</tr>

		<!-- 4 -->
		<tr><th colspan="2" class="text-center"><h2>Column 4</h2></th></tr>
		<tr>
			<td class="align-top p-3">
				1. Fishhauler, 1 man ....... [fish] 3000<br />
				2. charcoal [.....on] each shore of the temple of Amun in the southern administrative area:<br />
				3. The inspector of the riverside estates<br />
				4. The Great [of the House] .....; his [poll] tax 2 <tlit>dbn</tlit> silver<br />
				5. The manager of the [Gardens?] .....<br />
				6. Poll tax <br />
				7. Rubber ...... 10<br />
				8. .......<br />
				9. ....... 1 for 1 man<br />
				10. ........ (1) man<br />
				11. goat fat .....<br />
				12. <r>This</r> year cattle crossing to ......<br />
				13. Poll tax for each of them by ....<br />
				14. The hunter and ½ boy .....<br />
				15. The hunter of .....<br />
				16. Eye make-up worker ..... (ditto) ....... 2, makes x<br />
				17. Greenstone haulers .... (ditto) greenstone x ..... the commander of the fortress of .....<br />
				18. <r>This year</r>: [Birdcatchers and] Fishermen who live on the water of the [Re] are: ..... <tlit>tpj</tlit>-fish x total 2 bags
				<r>Poll tax</r> .......<br />
				19. makes smashed (?) x8 Their harvest tax for the year: Fish x<br />
				20. Normal <r>tax</r> of the head of the fortress of Semneh ...... ..... the ....., made at the place of the .....<br />
				21. Poll tax of everyone in the ..... The policemen 2 kite silver<br />
				22. ..... (..x silver kite) (a)<br />
				23. ..... x (silver kite) (a)<br />
				24. ..... (to make) a personnel list of the rest of them, by .......<br />
				25. ..... his annual [tax]: bovine (goats?) (b) delivered Debit Balance 1 3 32 [29]<br />
				26. ..... (his annual tax) <r>2</r> Delivered Debit Balance 7 59 52<br />
				27. ..... from ... ata (his annual tax) <r>1</r> 3 30 27<br />
				28. ..... from ... -canal “ “ <r>1</r> 4 36 32<br />
				29. ..... from ... -canal “ “ <r>1</r> 4 27 [23]<br />
				<br />
				(a) Indicated by "ditto" dot.<br />
				(b) The goats are advised because in the first entry indicated only by a vertical "ditto" dash.<br />
			</td>
		</tr>

		<!-- 5 -->
		<tr><th colspan="2" class="text-center"><h2>Column 5</h2></th></tr>
		<tr>
			<td class="align-top p-3">
				1 deliveries that were with them:<br />
				2 [loaves], various 3000<br />
				3 “ 10101<br />
				4 “ 5230<br />
				5 “ 6400<br />
				6 “ 4800<br />
				Nb. This entry is to be separated from that in IV and not, as made in materials 471, to be associated with it!<br />
			</td>
		</tr>

		<!-- 6 -->
		<tr><th colspan="2" class="text-center"><h2>Column 6</h2></th></tr>
		<tr>
			<td class="align-top p-3">
				Cattle (goats?) Delivered (debit) (balance)<br />
				1 ..... his annual tax 1 x (continuously lost)<br />
				2 ..... “ (1) x <br />
				3 ..... “ (1) x <br />
				4 ..... “ 1 x <br />
				5 ..... “ 1 - <br />
				6 ..... “ 1 4 <br />
				7 ..... “ 1 6 19 (frgm. 4)<br />
				8 ..... “ 1 2 <br />
				9 ..... “ 1 6 <br />
				10 ..... “ 1 5 <br />
				11 ..... (God) “ 1 3 <br />
				12 ..... “ 1 2 <br />
				13 Pa[pyrus hauler] “ 1 10 <br />
				14 the elder (?) ..... “ 1 1 <br />
				15 [List (<tlit>tp n</tlit> ?) of] Tax [for Kush:]<br />
				16 [King\'s son of] Kush “ x x <br />
				17 [Deputy of] [Kush] x 36 <br />
				18 [month x] 10 days T[ax] [10] 20 10 (b)<br />
				19 Gold[hauler] .... x 67 x<br />
				20 ...... from Taj[a....] x 27 x<br />
				21 ..... from .....-canal pidgeons 7300<br />
				22 [Senior pol]ice .....<br />
				23 [poll tax of the] Overseer of the estuaries<br />
				24 [poll tax] of each of the mayors of [the southern administrative district?]...<br />
				25 Poll tax of the deputy [the mayor?] ..... (tree product)<br />
				26 [Dispatch of] policemen from ... (to) ... Eye make-up (!) (c) ...<br />
				27 [Dispatch of police]men from ... (to) ...<br />
				28 [Dispatch of po]liceman from ... (to) ... Delivery (?) ....<br />
				29 [Dispatch] of policemen from ... (to) ...<br />
				30 Poll tax of the inspectors .....<br />
				31 [The] inspectors of <tlit>wsr-mꜢꜤt-rꜤ</tlit>-[<tlit>stp.n-rꜤ</tlit> ... 2, gaja-wood 36, eye[make-up] x<br />
			</td>
		</tr>

		<!-- 7 -->
		<tr><th colspan="2" class="text-center"><h2>Column 7</h2></th></tr>
		<tr>
			<td class="align-top p-3">
				x+1 The inspector of wells [of <tlit>rꜤ-ms-mrj-jmn</tlit> which is in <tlit>ḫꜢ-si-n</tlit>] ..... (d)<br />
				x+2 The inspector of Migdol [of <tlit>rꜤ-ms-mrj-jmn</tlit>] .....<br />
				x+3 The inspector of wells [of <tlit>rꜤ-ms-mrj-jmn</tlit> which is in aab-sa-q-bu] .....<br />
				x+4 The inspector of wells [of <tlit>rꜤ-ms-mrj-jmn</tlit> which is in ha-bi-r-ta] .....<br />
				x+5 The inspector the wells of <tlit>rꜤ-ms-mrj-jmn</tlit> which are in bi-r-[bi-r-ta] .....<br />
				x+6 The inspector of the fortress of <tlit>rꜤ-ms-mrj-jmn</tlit> which is in <tlit>ḥa-sa-n</tlit> .....<br />
				x+7 List of deliveries of the southern and northern oases:<br />
				x+8 Oases, southern<br />
				x+9 ...... 1 man, 1 boy ...<br />
				x+10 ...... 1 man, “ ...<br />
				x+11 ...... 1 man, 1 “ ...<br />
				x+12 ...... 1 man, 1 “ ...<br />
				x+13 ...... 1 man, 1 “ ...<br />
				x+14 ...... (1 man, 1 “) “ Wine 12 amphorae<br />
				x+15 ................... “ kuja fruits 22 oipe <tlit>psn</tlit> bread x<br />
				<br />
				(a) "Kush" is indicated by repeating marks.<br />
				(b) Here, apparently, the cattle entries stop and recording of the goats (?) has moved to the beginning of the line; line 19 speaks for the interpretation
				put forward, in which a smaller number stands behind a larger one, to which the received beginning of this calculation is to be compared to Col.
				V.<br />
				(c) Read (<tlit>ms</tlit>)<tlit>dmt</tlit>.<br />
				(d) For the additions to the well names cf. their lists in Pap. Anastasi I 27 as well as in the set of etchings on the northern outer wall of the
				hypostyle room in Karnak, s. Helck, Relations2, 310 ff.<br />
			</td>
		</tr>
	</table>
</Layout>
