---
import Layout from "@layouts/Layout.astro";

const title = "Bibliography";

let meta1 = "Bibliography of Egyptology for pharaoh.se";
let meta2 = "bibliography,egyptian king list,pharaohs,Manetho,Eusebius,Africanus,hieroglyphs,Egyptology bibliography,ancient egypt bibliography";
const bild = "/images/fp-pharaoh.webp";
---

<Layout title={title} meta1={meta1} meta2={meta2} bild={bild}>
	<h2 class="py-5">Chronology</h2>
	<ul id="biblio">
		<li>
			<b>Arnold, Dieter</b>, 2003. <i>The Encyclopedia of Ancient Egyptian Architecture</i>. Princeton: 265-270.
		</li>
		<li>
			<b>Baines and Malek.</b>, 2000. <i>Cultural Atlas of Ancient Egypt</i>. Revised 2 ed. pp. 36-37.
		</li>
		<li>
			<b>Beckerath, Jürgen von.</b>, 1997. Chronologie des pharaonischen Ägypten. <i><abbr title="Münchner Ägyptologische Studien">MÄS</abbr></i> 46. Mainz:
			187-192.
		</li>
		<li>
			<b>Dodson, Aidan.</b>, &amp; <b>Hilton, Dyan</b>, 2004. <i>The complete royal families of Ancient Egypt</i>. London: 287-294.
		</li>
		<li>
			<b>Grimal, Nicolas.</b>, 1994. <i>A History of Ancient Egypt</i>. Oxford.
		</li>
		<li>
			<b>Hornung et. al.</b>, 2006. <i>Ancient Egyptian Chronology</i>. 490-495.
		</li>
		<li>
			<b>Kitchen, Kenneth A.</b>, 1996. <i>The Third Intermediate Period in Egypt (1100-650 BC).</i> Warminster: Aris & Phillips. ISBN 0-85668-298-5.
		</li>
		<li>
			<b>Kitchen, Kenneth A.</b>, 1987. The Basics of Egyptian Chronology in Relation to the Bronze Age, in Astrom (ed), <i>High, Middle or Low</i>.
		</li>
		<li>
			<b>Ryholt, Kim S. B.</b>, 1997. <i>Political Situation in the Second Intermediate Period</i>. Copenhagen.
		</li>
		<li>
			<b>Shaw, Ian.</b>, 2003. <i>The Oxford History of Ancient Egypt</i>. New ed. 481-489.
		</li>
	</ul>
	<h2 class="py-5">General</h2>
	<ul id="biblio">
		<li>
			<b>Adler, William, and Paul Tuffin</b>, 2002. <i>The Chronography of George Synkellos</i>. Oxford: Oxford University Press.
		</li>
		<li>
			<b>Adams, Barbara</b>, 1995. <i>Ancient Nekhen: Garstang in the City of Hierakonpolis</i>. New Malden: SIA Publishing.
		</li>
		<li>
			<b>Allen, James P.</b>, 2014. <i>Middle Egyptian An Introduction to the Language and Culture of Hieroglyphs.</i> Third Edition. Cambridge: Cambridge
			University Press.
		</li>
		<li>
			<b>Baker, Darrell D.</b>, 2008. <i>The Encyclopedia of the Pharaohs: Volume I - Predynastic to the Twentieth Dynasty 3300–1069 BC</i>. London:
			Stacey International.
		</li>
		<li>
			<b>Beckerath, Jürgen von</b>, 1995. Some Remarks on Helck’s ’Anmerkungen zum Turiner Königspapyrus. <i
				><abbr title="Journal of Egyptian Archaeology">JEA</abbr></i
			>, 81: 225-27.
		</li>
		<li>
			<b>Beckerath, Jürgen von</b>, 1999. <i>Handbuch der Ägyptischen Königsnamen</i>, <i><abbr title="Münchner Ägyptologische Studien">MÄS</abbr></i>
			49.
		</li>
		<li>
			<b>Birch, Samuel.</b>, 1868. <i>Inscriptions in the Hieratic and Demotic Character from the Collections of the British Museum</i>. London
		</li>
		<li>
			<b>Birch, Samuel.</b>, 1843. Observations upon the hieratical canon of Egyptian kings at Turin. <i
				><abbr title="Transactions of the Royal Society of London">TRSL</abbr></i
			>, Ser. 2, vol. 1. London: 203-208.
		</li>
		<li>
			<b>Bissing, Friedrich Wilhelm von,</b>, 1922-8. <i>Das Re-Heiligtum des Königs Ne-Woser-Re (Rathures)</i>. 3 vol. Berlin: Duncker
		</li>
		<li>
			<b>Borchardt, Ludwig.</b>, 1910-3. <i>Das Grabdenkmal des Sahu-Re</i>. 2 vol. Leipzig: Hinrichs
		</li>
		<li>
			<b>Borchardt, Ludwig.</b>, 1909. <i>Das Grabdenkmal des Königs Nefer-ir-ka-re</i>. Leipzig: Hinrichs
		</li>
		<li><b>Breasted, James H.</b>, 1906. <i>Ancient Records</i></li>
		<li>
			<b>British Museum.</b>, 1911-22. <i>Hieroglyphic texts from Egyptian stelae etc.</i>. 6 volumes.
		</li>
		<li>
			<b>Bunsen, Christian.</b>, 1848. <i>Egypt's place in universal history: an historical investigation in five books</i>. London
		</li>
		<li>
			<b>Burton, James.</b>, 1825. <i>Excerpta Hieroglyphica</i>. Cairo.
		</li>
		<li>
			<b>Calverley, Amice (Ed.)</b>, 1933-58. <i>The Temple of King Sethos I at Abydos</i>. 4 volumes. London, Chicago.
		</li>
		<li>
			<b>Cerny, Jaroslav.</b>, 1955. <i>The Inscriptions of Sinai</i>, Part 2. London: Egypt Exploration Society.
		</li>
		<li>
			<b>Champollion, Jean-François.</b>, 1824. Papyrus Égyptien. Bulletin des sciences historiques, antiquités, philologie (2): 297-303. <a
				href="/kinglists/turin/library/books/1824-Champollion"
				title="English translation"><img src="/svg/pdf.svg" alt="Visit external link" class="inline h-4" /></a
			>
		</li>
		<li>
			<b>Champollion, Jean-François.</b>, 1824. <i>Pr&eacute;cis du syst&egrave;me hi&eacute;roglyphique des anciens &Eacute;gyptiens</i> Paris: Imprimerie
			Royale.
		</li>
		<li>
			<b>Champollion, Jean-François.</b>, 1826. <i
				>Lettres à M. Le Duc de Blacas d’Aulps, sur le Nouveau Système Hiéroglyphique de MM. Spohn et Seyffarth.</i
			> Florence: G. Piatti.
		</li>
		<li>
			<b>Champollion, Jean-François.</b> Canon hiératique des dynasties égyptiennes.
			<i>Papiers de J.Fr. Champollion</i>, vol. 16. Bibliothèque nationale de France, NAF 20318 <a
				href="http://archivesetmanuscrits.bnf.fr/ark:/12148/cc66494/cd0e247"
				rel="noopener nofollow"
				target="_blank"
				title="External link"
				><img
					src="/svg/visit.svg"
					alt="Visit external link"
					class="inline h-4 opacity-50 transition-opacity duration-300 hover:opacity-100 dark:invert"
				/></a
			>
		</li>
		<li>
			<b>Champollion, Jean-François.</b>, 1835-45. <i>Monuments de l’Égypte et de la Nubie.</i> 4 vols. Paris: Firmin Didot.
		</li>
		<li>
			<b>Champollion-Figeac, Jacques Joseph.</b>, 1851. De la table manuelle des Rois et des dynasties d’Égypte ou papyrus royal de Turin. <i
				>Revue Archéologique</i
			>, 7: 397–402, 461–472, 589–599, 653–665. <a href="/kinglists/turin/library/books/1851-Champollion-Figeac" title="English translation"
				><img src="/svg/pdf.svg" alt="Visit external link" class="inline h-4" /></a
			>
		</li>
		<li><b>Chassinat, E.</b>, 1892-1933. <i>Le Temple d'Edfou</i>. 8 volumes. Paris/Cairo.</li>

		<li><b>Cory, I. P.</b>, 1828. <i>The Ancient Fragments</i>. London</li>
		<li>
			<b>Dindorf, Wilhelm.</b>, 1829 <i>Corpus Scriptorum Historicorum Byzantinorum</i>.
		</li>
		<li>
			<b>Dodson, Aidan.</b>, 2000. <i>Monarchs of the Nile.</i> Cairo: American University in Cairo Press.
		</li>
		<li>
			<b>Dodson, Aidan.</b>, 2004. <i>The Royal Tombs of Ancient Egypt.</i> London: Thames & Hudson.
		</li>
		<li>
			<b>Dodson, Aidan.</b>, 2009. <i>Amarna Sunset: Nefertiti, Tutankhamun, Ay, Horemheb, and the Egyptian Counter-Reformation.</i> Oxford University
			Press.
		</li>
		<li>
			<b>Dodson, Aidan.</b>, 2020. <i>Nefertiti, Queen and Pharaoh of Egypt: Her Life and Afterlife.</i> Cairo: American University in Cairo Press.
		</li>
		<li>
			<b>Donatelli, Laura.</b>, 2011. <i>Lettere e Documenti Di Bernardino Drovetti.</i> Turin: Accademia delle Scienze di Torino.
		</li>
		<li>
			<b>Donatelli, Laura.</b>, 2016. La Prima Proposta d’acquisto Da Parte Dei Savoia Della Collezione Egizia Di Bernardino Drovetti. <i
				>Studi Piemontesi</i
			>, 52 (2): 491–500.
		</li>
		<li>
			<b>Dümichen, Johannes</b>, 1867. <i>Altägyptische Tempelinschriften</i>. 2 vol. Leipzig: Hinrichs
		</li>
		<li>
			<b>Dümichen, Johannes (Ed.)</b>, 1865-85. <i>Geographische Inschriften altägyptischer Denkmäler</i>. 5 vol. Leipzig: Hinrichs
		</li>
		<li>
			<b>Edwards, I. E. S.</b>, 1971. The Early Dynastic Period in Egypt. in <i>The Cambridge Ancient History.</i> Cambridge: 1–70.
		</li>
		<li><b>Emery.</b>, 1961. <i>Archaic Egypt</i></li>
		<li>
			<b>Fabretti, Ariodante, F. Rossi, and R. V. Lanzone.</b>, 1882. Regio Museo di Torino. Catalogo generale dei Musei di Antichità. Vol. 1. Turin:
			239. <a href="/kinglists/turin/library/books/1882-Fabretti" title="English translation"
				><img src="/svg/pdf.svg" alt="Visit external link" class="inline h-4" /></a
			>
		</li>
		<li>
			<b>Farina, Giulio.</b>, 1938. <i>Il Papiro dei re, restaurato</i>. Rome: G. Bardi. <a
				href="/kinglists/turin/library/books/1938-Farina"
				title="English translation"><img src="/svg/pdf.svg" alt="Visit external link" class="inline h-4" /></a
			>
		</li>
		<li>
			<b>Fruin, Robert</b>, 1847. <i>Manethonis Sebennytae Reliquiae</i>. Leiden.
		</li>
		<li><b>Gardiner, A. H.</b>, 1917. <i>The Inscriptions of Sinai</i></li>
		<li>
			<b>Gardiner, A. H.</b>, 1957. <i>Egyptian Grammar: Being an Introduction to the Study of Hieroglyphs</i>. Third ed. Oxford.
		</li>
		<li>
			<b>Gardiner, A. H.</b>, 1959. <i>The Royal Canon of Turin.</i> Oxford: Griffith Institute.
		</li>
		<li><b>Garstang.</b>, 1903. <i>Mahasna and Bet Khallaf</i></li>
		<li>
			<b>Gauthier, Henri.</b>, 1907-17. <i>Le livre des rois d’Égypte</i>. 5 vols. <abbr
				title="Mémoires publiés par les membres de l'Institut Français d'Archéology Orientale du Cairo"><i>MIFAO</i></abbr
			>, 17-21. Cairo.
		</li>
		<li>
			<b>Gonheim, Zachary.</b>, 1957. <i>Horus Sekhem-Khet: The unfinished Step Pyramid at Saqqara</i>. Cairo: IFAO.
		</li>
		<li>
			<b>Gundacker, Roman.</b>, 2015. <i>The Chronology of the Third and Fourth Dynasties according to Manetho’s Aegyptiaca.</i>
			<abbr title="Harvard Egyptological Studies"><i>HES</i></abbr> 1: 76-199.
		</li>
		<li>
			<b>Hassan, Selim.</b>, 1929-39. <i>Excavations at Giza</i>, 10 vols.
		</li>
		<li>
			<b>Hayes, W. C.</b>, 1990. <i>The Scepter of Egypt: From the Earliest Times to the End of the Middle Kingdom</i>. Vol. 1. New York
		</li>
		<li>
			<b>Helck, Wolfgang.</b>, 1992. &quot;Anmerkungen zum Turiner Königspapyrus&quot;. Studien zur Altägyptischen Kultur 19: 151–216.
		</li>
		<li>
			<b>Helck, Wolfgang.</b>, 1956. Untersuchungen zu Manetho und den ägyptischen Königslisten. Berlin: Akademie-Verlag.
		</li>
		<li>
			<b>Jacoby, Felix.</b> 1958. <i>Die Fragmente Der Griechischen Historiker.</i> Vol. 3C. Leiden: Brill. <a
				href="https://archive.org/details/fgrhist-die-fragmente-der-griechischen-historiker-vols-1-8/FGHist%20Part%203c%2C%20vol%201%20nos%20608-708%20%28Ethnography%20Peoples%20-%20Egyptians%20to%20Getians%29/page/15/mode/2up"
				title="Read"
				><img
					src="/svg/visit.svg"
					alt="Visit external link: https://tinyurl.com/FGrHist"
					class="inline h-4 opacity-50 transition-opacity duration-300 hover:opacity-100 dark:invert"
				/></a
			>
		</li>
		<li>
			<b>Jequier, Gustave.</b>, 1933. <i>Les pyramides des reines Neit et Apouit</i>
		</li>
		<li>
			<b>Jequier, Gustave.</b>, 1935. <i>La pyramide d'Aba</i>. Cairo
		</li>
		<li>
			<b>Kamal, Ahmed-Bey</b>
			<i>Fouilles à Dara et à Qoçéîr el-Amarna</i>
		</li>
		<li>
			<b>Kaplony, Peter.</b>, 1968. <i>Steingefäße mit Inschriften der Frühzeit und des Alten Reiches</i>
		</li>
		<li>
			<b>Kaplony, Peter.</b>, 1977. <i>Die Rollsiegel des Alten Reiches</i>
		</li>
		<li>
			<b>Kaplony, Peter.</b>, 1963. <i>Die Inschriften der &auml;gyptischen Fr&uuml;hzeit</i>, &Auml;gyptologische Abhandlungen 8
		</li>
		<li>
			<b>Karst, Josef.</b> 1911. Die Chronik Aus Dem Armenischen Ubersetzt. Eusebius Werke 5. <i>Griechischen Christlichen Schriftsteller</i> 20. Leipzig:
			Hinrichs.
		</li>
		<li>
			<b>Kitchen, Kenneth A.</b>, 1967. Byblos, Egypt, and Mari in the Early Second Millennium B.C. <i>Orientalia</i>, 36: 39-54
		</li>
		<li>
			<b>Kitchen, Kenneth A.</b>, 1975-90. <i>Ramesside Inscriptions: Historical and Biographical</i>. 8 volumes. Oxford: Blackwell.
			<li>
				<b>Krauss, Rolf, and David A. Warburton.</b>, 2009. The Basis for the Egyptian Dates. <abbr
					title="Monographs of the Danish Institute at Athens"><i>MoDIA</i></abbr
				> 10: 125–44.
			</li>
			<li>
				<b>Lauer, Jean-Philippe.</b>, 1936-9. <i>La Pyramide à Degrés</i>. 3 vols. Cairo: <abbr
					title="Imprimerie de l’Institut Français d’Archéologie Orientale">IFAO</abbr
				>
			</li>
			<li>
				<b>Lauth, Franz Joseph.</b>, 1865. <i>Manetho und der Turiner Königs-papyrus</i>. Munich
			</li>
			<li>
				<b>Leprohon, Ronald J.</b>, 2013. <i>The Great Name: Ancient Egyptian Royal Titulary</i>. Atlanta: Society of Biblical Literature
			</li>
			<li>
				<b>Lepsius, Karl Richard.</b>, 1842. <i>Auswahl der wichtigsten Urkunden des aegyptischen Alterthums</i>. Leipzig. <a
					href="/kinglists/turin/library/books/1842-Lepsius"
					title="View plates"><img src="/svg/pdf.svg" alt="Read it" class="inline h-4" /></a
				>
			</li>
			<li>
				<b>Lepsius, Karl Richard.</b>, 1853. Über die zwölfte Aegyptische Königsdynastie. <i
					>Abhandlungen Preussischen Akademie der Wissenschaften 1852</i
				>. Berlin.
			</li>
			<li>
				<b>Lepsius, Karl Richard.</b>, 1858. <i>K&ouml;nigsbuch der alten &Auml;gypter</i>. Berlin.
			</li>
			<li>Naqada Royal Mastaba, Spencer E.D.O.</li>
			<li>
				<b>Mariette, Auguste.</b>, 1869. <i>Abydos</i>, 2 Volumes. Paris.
			</li>
			<li>
				<b>Mariette, Auguste.</b>, 1864. La table de Saqqarah. <i>Revue Archeologique</i>, 10. Paris: Libraire Academique.
			</li>
			<li>
				<b>Marucchi, Orazio.</b>, 1898. <i>Gli obelischi egiziani di Roma</i>
			</li>
			<li>
				<b>Meyer, Eduard.</b>, 1904. <i>Ägyptische Chronologie</i>. Berlin: Verlag der Königl. Akademie der Wissenschaften.
			</li>
			<li>
				<b>M&ouml;ller, Georg.</b>, 1927. <i>Hieratiche Pal&auml;ographie</i>. 3 volumes. Osnabruck.
			</li>
			<li>
				<b>Montet, Pierre.</b>, 1947-60. <i>La Nécropole royale de Tanis</i>, 3 volumes. Paris.
			</li>
			<li>
				<b>Mosshammer, Alden, A.</b>, 1979. <i>The Chronicle of Eusebius and Greek Chronographic Tradition.</i> Lewisburg PA: Bucknell University Press.
			</li>
			<li>
				<b>Mosshammer, Alden, A.</b>, 1984. <i>Georgii Syncelli Ecloga Chronographica.</i> Leipzig.
			</li>
			<li>
				<b>Naville, Edouard.</b>, 1895-1908. <i>The temple of Deir el Bahari</i>, 5 volumes. London.
			</li>
			<li>
				<b>Niebuhr, Carsten.</b>, 1774. <i>Reisebeschreibung von Arabien und anderen umliegenden Ländern</i>, Vol. I. Copenhagen.
			</li>
			<li>
				<b>Norden, Frederic Louis.</b>, 1757. <i>Voyage d'Egypte et de Nubie</i>, 2 volumes <a
					class="nou"
					rel="noopener nofollow"
					title="View book online at New York Public Library Digital Collection"
					target="_blank"
					href="http://digitalcollections.nypl.org/collections/the-antiquities-natural-history-ruins-and-other-curiosities-of-egypt-nubia"
					><img
						src="/svg/visit.svg"
						alt="Visit external link"
						class="inline h-4 opacity-50 transition-opacity duration-300 hover:opacity-100 dark:invert"
					/></a
				> and
				<a
					class="nou"
					rel="noopener nofollow"
					title="View book online at Heidelberg University Library"
					target="_blank"
					href="http://digi.ub.uni-heidelberg.de/diglit/norden1757ga"
					><img
						src="/svg/visit.svg"
						alt="Visit external link"
						class="inline h-4 opacity-50 transition-opacity duration-300 hover:opacity-100 dark:invert"
					/></a
				>
			</li>
			<li>
				<b>Orcurti, Pier-Camillo</b>. 1855. <i>Catalogo illustrato dei monumenti Egizo del R. Museo di Torino</i>. Vol. 2. Turin: G. Biancardi e
				Compagni.
			</li>
			<li>
				<b>Petrie, W. M. Flinders.</b>, 1887. <i>A Season in Egypt</i>. London.
			</li>
			<li>
				<b>Petrie, W. M. Flinders.</b>, 1896. <i>Koptos</i>. London: Bernard Quaritch.
			</li>
			<li>
				<b>Petrie, W. M. Flinders.</b>, 1900-1. <i>The Royal Tombs</i>. 3 vols. London.
			</li>
			<li>
				<b>Petrie, W. M. Flinders.</b>, 1902-4. <i>Abydos</i>, 3 vols. London.
			</li>
			<li>
				<b>Petrie, W. M. Flinders.</b>, 1909-15. <i>Memphis</i>, 6 vols.
			</li>
			<li>
				<b>Petrie, W. M. Flinders.</b>, 1917. <i>Scarabs and cylinders with names</i>
			</li>
			<li>
				<b>Petrie, W. M. Flinders.</b>, 1925. <i>Tombs of the Courtiers and Oxyrhinkhos</i>
			</li>
			<li>
				<b>Porter, Bertha, &amp; Moss, Rosalind</b>. 1927-52. <i
					>Topographical Bibliography of Ancient Egyptian Hieroglyphic Texts, Reliefs and Paintings</i
				>. (2nd Ed.). 7 volumes. Oxford: Clarendon Press.<br />
				<li>
					<b>Quibell, James.</b>, 1900-2. <i>Hierakonpolis</i>. 2 volumes
				</li>
				<li>
					<b>Randall-McIver, David &amp; Woolley, C. Leonard.</b>, 1911. <i>Buhen</i>, 2 volumes
				</li>
				<li>
					<b>Routh, Martin Joseph.</b> 1846. <i
						>Reliquiæ Sacræ Sive Auctorum Fere Jam Perditorum Secundi Tertiique Seculi Post Christum Natum Quæ Supersunt.</i
					> Vol. 2. Second edition. Oxford.
				</li>
				<li>
					<b>Ryholt, Kim S. B.</b>, 1997. <i>The Political Situation in Egypt during the Second Intermediate Period</i>. Copenhagen: Museum Tusculanum
					Press
				</li>
				<li>
					<b>Ryholt, Kim S. B.</b>, 2000. &quot;The Late Old Kingdom in the Turin King-list and the Identity of Nitocris.&quot; ZÄS 127: 87-100.
				</li>
				<li>
					<b>Ryholt, Kim S. B.</b>, 2008. &quot;King Seneferka in the king-lists and his position in the early dynastic period.&quot; Journal of
					Egyptian History 1: 159-173.
				</li>
				<li>
					<b>Scaliger, Joseph Justus.</b>, 1658. <i>Thesaurus temporum: Eusebii Pamphili</i>, Vol II
				</li>
				<li>
					<b>Sch&ouml;ne, A.</b>, 1875. <i>Eusebii chronicorum</i>. Vol. I.
				</li>
				<li>
					<b>Sethe, Kurt</b>. 1903-33. <i>Urkunden des aegyptischen Altertums</i>, 4 volumes
				</li>
				<li>
					<b>Seyffarth, Gustav, and Knortz, Karl.</b>, 1886. The literary life of Gustavus Seyffarth. New York: E. Steiger & Co.
				</li>
				<li>
					<b>Unger, G. F.</b>, 1867. <i>Chronologic des Manetho</i>. Berlin.
				</li>
				<li>
					<b>Waddell, W. G.</b>, 1940, 1964. <i>Manetho</i>. Cambridge, MA: Harvard University Press.
				</li>
				<li>
					<b>Wilkinson, John Gardner.</b>, 1851. <i>The Fragments of the Hieratic Papyrus at Turin</i>. 2 Vols. 10 pl. London: Richards.
				</li>
				<li>
					<b>Winkler, Hans A.</b>, 1939. <i>Rock-drawings of Southern Upper Egypt</i>. (ASE-EEF 26-27.) London.
				</li>
				<li>
					<b>Winlock, Herbert E.</b>, 1947. <i>The rise and fall of the Middle Kingdom in Thebes</i>. New York: Macmillan.
				</li>
				<li>
					<b>Vivant, Dominique. (Baron of Denon).</b>, 1802. <i>Voyage dans la Basse et la Haute-Égypte</i>, 3 vol. London
				</li>
				<li>
					<b>Young, Thomas.</b>, 1823-8. <i>Hieroglyphics</i>. 2 vol. London.
				</li>
			</li>
		</li>

		<h2 class="py-5">Journals</h2>
		<ul>
			<li>
				<em>Aegyptische Inschriften aus den Königlichen Museen zu Berlin</em>
			</li>
			<li>
				<em>Annales du service des anqiuités de l’Egypte</em> (ASAE)
			</li>
			<li>
				<em>Catalogue général des antiquités égyptiennes du Musée du Caire</em> (CG)
			</li>
			<li><em>Journal of Egyptian Archaeology</em> (JEA)</li>
			<li>
				<em>Proceedings of the Society of Biblical Archaeology</em> (PSBA)
			</li>
			<li>
				<em>Zeitschrift für Ägyptische Sprache und altertumskunde</em> (Z&Auml;S)
			</li>
		</ul>

		<h2 class="py-5">Websites</h2>
		<ul class="leading-5">
			<li class="py-1">
				<a rel="noopener nofollow" href="https://jsesh.qenherkhopeshef.org/" target="_blank">JSesh Hieroglyphic Editor</a> Write and create hieroglyphs
				for documents/images by Serge Rosmorduc.
			</li>
			<li class="py-1">
				<a rel="noopener nofollow" href="https://digi.ub.uni-heidelberg.de/de/sammlungen/aegyptologie.html" target="_blank"
					>Heidelberg University digital library</a
				> Many scanned Egyptology books, fully downloadable.
			</li>
			<li class="py-1">
				<a rel="noopener nofollow" href="https://penelope.uchicago.edu/Thayer/E/Roman/home.html" target="_blank">Lacus Curtius</a> Bill Thayer's <i
					>incredible website</i
				> with numerous Latin texts with English translations.
			</li>
			<li class="py-1">
				<a rel="noopener nofollow" href="https://collezionepapiri.museoegizio.it/en-GB/material/Cat_1874/" target="_blank">Museo Egizio, Turin</a> The
				museum papyrus collection was put online in September 2019.
			</li>
			<li class="py-1">
				<a rel="noopener nofollow" href="https://archive.org/" target="_blank">Internet Archive</a> many of the books above can be found online here.
			</li>
			<li class="py-1">
				<a rel="noopener nofollow" href="https://thebanmappingproject.com/" target="_blank">Theban Mapping Project</a> All the details of all the tombs
				in the Valley of the Kings.
			</li>

			<li class="py-1">
				<a rel="noopener nofollow" href="http://biblemyth.com" target="_blank">Gary Greenberg</a> Very helful books and articles about Manetho's chronology.
			</li>
			<li class="py-1">
				<a rel="noopener nofollow" href="http://www.digitalegypt.ucl.ac.uk" target="_blank">Digital Egypt</a> at University College London
			</li>
			<li class="py-1">
				<a href="http://www.obelisks.org/en/index.htm">Obelisks of the world</a> with great information and photos of obelisks by Hiroyuki Nagase.
			</li>
			<li class="py-1">
				<a rel="noopener nofollow" href="https://www.cfeetk.cnrs.fr/" target="_blank">CFEETK</a> scientific literature, articles and monographs relating
				to the temples at Karnak.
			</li>
			<li class="py-1">
				<a rel="noopener nofollow" href="http://www.francescoraffaele.com/egypt/index.htm" target="_blank">Francesco Raffaele</a> mostly archaic period,
				also a bit Old Kingdom
			</li>
			<li class="py-1">
				<a rel="noopener nofollow" href="https://www.wikipedia.org" target="_blank">Wikipedia</a> (mostly <a
					href="https://en.wikipedia.org/wiki/List_of_pharaohs"
					target="_blank">English</a
				> and <a href="https://de.wikipedia.org/wiki/Liste_der_Pharaonen" target="_blank" rel="noopener nofollow">German</a> versions)
			</li>
			<li class="py-1">
				<a rel="noopener nofollow" href="http://www.eglyphica.de/egpharaonen/inhalt/inhalt.html" target="_blank">eGlyphica</a> hieroglyphic names with
				many photos (in German)
			</li>
		</ul>
	</ul>
</Layout>
