---
import Layout from "@/layouts/Layout.astro";
const title = "Egyptology book series";
let meta1 =
	"The most important and influential book series published in Egyptology. Any serious Egyptological research will reference some of these books.";
let meta2 = "hieroglyphic reference books,egyptology reference books,ancient egypt,sources,bibliography";
const bild = "https://pharaoh.se/images/pharaohse-books.webp";
---

<Layout title={title} meta1={meta1} meta2={meta2} bild={bild}>
	<section class="page-content">
		<div class="container">
			<p class="lead">
				This is a brief overview of some significant and influential books in the field of Egyptology. It is important to note that while the
				expeditions were primarily concerned with documenting sites in Egypt, they had little or no concern for their conservation.
			</p>

			<p>
				The plundering of ancient sites, whether sanctioned or not, was the order of the day, which is how many European museums acquired their
				collections. It can be argued that the objects acquired by the museums were saved for posterity, as their fate would probably have been very
				different had they remained in Egypt, especially in the context of religious iconoclasm. Having remained undisturbed for centuries or even
				millennia, many of the sites explored and documented by these expeditions have since been seriously damaged by interaction with the modern
				world. Many historic sites can now only be visited through by way of these books, or <i>time capsules</i> if you will. The beautiful books produced
				by the three expeditions below highlighted the importance of documenting ancient sites in great detail, ultimately giving rise to modern archaeology.
			</p>

			<!-- MARK: Napoleon
			-->
			<div class="py-5" id="napoleon">
				<h2 class="shine">Napoleon’s Expedition (1798–1801)</h2>
				<p>
					<div class="grid w-full grid-cols-2 gap-4 py-3 text-center">
						<figure>
							<a data-fancybox="description" data-caption="First edition of <i>Description</i> 1809." href="/images/Description1809.webp"
								><img
									loading="lazy"
									class="zoomable w-full hover:ring-4 duration-300 ease-in-out transition-all"
									src="/images/Description1809s.webp"
									alt="Description de l’Égypte first edition 1809"
								/>
							</a>
							<figcaption class="py-2 text-center font-sans text-sm">
								First edition of <i>Description</i> 1809
							</figcaption>
						</figure>
						<figure>
							<a data-fancybox="description" data-caption="Second edition of <i>Description</i> 1820." href="/images/Description1820.webp"
								><img
									loading="lazy"
									class="zoomable w-full hover:ring-4 duration-300 ease-in-out transition-all"
									src="/images/Description1820s.webp"
									alt="Description de l’Égypte second edition 1820"
								/>
							</a>
							<figcaption class="py-2 text-center font-sans text-sm">
								Second edition of <i>Description</i> 1820
							</figcaption>
						</figure>
					</div>

					<a href="https://en.wikipedia.org/wiki/Napoleon" target="_blank">Napoleon Bonaparte’s</a> 1798 campaign in the Ottoman territories of Egypt and
					Syria, intended to protect French trade interest and hinder British commerce. An unusual aspect of the Egyptian expedition was the inclusion
					of a contingent of 167 scientists and scholars ("the savants"). This deployment of intellectual resources was a masterstroke of propaganda obfuscating
					and hiding its true motives. The expedition led to the discovery of <a
						href="https://www.britishmuseum.org/collection/object/Y_EA24"
						target="_blank">the Rosetta Stone</a
					> in 1799, which led to the decipherment of the hieroglyphs and was the first step towards the creation of the field of <a
						href="/egyptology">Egyptology</a
					>. After Napoleon's defeat in 1801, the stone, and other antiquities discovered by the French, became British property under the terms of
					the Treaty of Alexandria.
				</p>

				<p class="pt-3">
					Of particular interest are the five volumes of drawings and paintings of the tombs, monuments and artefacts from antiquity, published in
					large folio format in the following decades as part of <em>Description de l’Égypte</em>. The majority of the monuments, temples, and tombs
					had long since fallen into ruin. Many had been buried in sand or mud for centuries or even millennia, which, combined with the arid
					conditions prevalent in the Nile Valley, had helped to preserve the inscriptions and paintings from being weathered. In the early days of
					excavation in Egypt, the work was largely undertaken by adventurers seeking to uncover treasure. Over time, however, archaeology emerged as
					a distinct discipline, with the objective of uncovering artefacts. Hieroglyphs were not copied accurately by the artists because they were
					not yet understood to represent a language. The plates continue to be an important time capsule and, in some cases, the only source because
					of the subsequent deterioration or even destruction that occurred after their discovery.
				</p>
				<p>
					<em>The Description</em> contains more than 20 volumes in total, some dedicated to flora and wildlife, others to modern Egypt, but most importantly,
					five volumes on Ancient Egypt, with detailed maps and rich illustrations of ruins, tombs, monuments, temples and other Egyptian artefacts like
					scarabs, papyri and even mummies.
				</p>

				<div class="pl-5 pt-6">
					<strong class="pb-1">Antiquities</strong>
					<p class="py-3 italic">5 volumes, 423 plates</p>
					<ul class="pl-3 text-base">
						<li class="py-1">Volume 1 — 100 plates.</li>
						<li class="py-1">Volume 2 — 92 plates.</li>
						<li class="py-1">Volume 3 — 69 plates.</li>
						<li class="py-1">Volume 4 — 73 plates.</li>
						<li class="py-1">Volume 5 — 89 plates.</li>
					</ul>
				</div>
			</div>

			<!-- MARK: Tuscan
			-->
			<div class="py-5" id="champollion">
				<h2 class="shine">Franco-Tuscan Expedition (1828-1829)</h2>
				<p>
					<div class="grid w-full grid-cols-2 gap-4 py-3 text-center">
						<figure>
							<a data-fancybox="tuscan" data-caption="Champollion, <i>Monuments</i>, Vol. I, pl. 11." href="/images/ChampollionMon-I-11.webp"
								><img
									loading="lazy"
									class="zoomable w-full hover:ring-4 duration-300 ease-in-out transition-all"
									src="/images/ChampollionMon-I-11t.webp"
									alt="Champollion, Monuments, pl. 11"
								/>
							</a>
							<figcaption class="py-2 text-center font-sans text-sm italic">Monuments de l’Egypte et de la Nubie</figcaption>
						</figure>
						<figure>
							<a data-fancybox="tuscan" data-caption="Rosellini, <i>Monumenti storici</i>, Vol. I, pl 86." href="/images/RoselliniMon-I-86.webp"
								><img
									loading="lazy"
									class="zoomable w-full hover:ring-4 duration-300 ease-in-out transition-all"
									src="/images/RoselliniMon-I-86t.webp"
									alt="Rosellini, Monumenti storici, Vol. I, pl 86"
								/>
							</a>
							<figcaption class="py-2 text-center font-sans text-sm italic">Monumenti dell’Egitto e della Nubia</figcaption>
						</figure>
					</div>
					When examining hieroglyphic and hieratic texts and comparing them with his own eyes to the drawings provided to him, Jean-Francois Champollion
					noted that there were a plethora of errors and omissions in the copies. Celebrated throughout the world for deciphering the hieroglyphs, his
					fame finally afforded him to visit Egypt as part of the Franco-Tuscan Expedition surveying Egypt in 1828-1829. Headed by Champollion and assisted
					by Rosellini, the mission was made possible by the support of the grand-duke of Tuscany, Leopold II, and the French king Charles X. The expedition
					was much smaller then Napoleon's, consisting of a team of eleven Frenchmen and Italians.
				</p>
				<p>
					The notes and drawings of the expedition were collected in <em>Monumenti dell’Egitto e della Nubia</em> by Rosellini and in <em
						>Monuments de l’Egypte et de la Nubie</em
					> by Champollion, published posthumously by his brother, Champollion-Figeac. The accuracy of the hieroglyphics were much improved compared to
					the Napoleonic expedition, though still with many errors.
				</p>

				<div class="flex">
					<div class="w-1/2 pl-5 pt-6">
						<strong class="pb-1">Rosellini 1832-45</strong>
						<p class="py-3 italic">9 volumes of text + 390 plates.</p>
						<ul class="pl-3 text-base">
							<li class="py-2">Volume 4.1 (1832) — 169 plates.</li>
							<li class="py-2">Volume 4.2 (1834) — 135 plates.</li>
							<li class="py-2">Volume 4.3 (1844) — 86 plates.</li>
						</ul>
					</div>
					<div class="w-1/2 pl-5 pt-6">
						<strong class="pb-1">Champollion 1835-45</strong>
						<p class="py-3 italic">2 volumes of notes + 509 plates</p>
						<ul class="pl-3 text-base">
							<li class="py-2">Volume 1 (1835) — 112 plates.</li>
							<li class="py-2">Volume 2 (1845) — 121 plates.</li>
							<li class="py-2">Volume 3 (1845) — 109 plates.</li>
							<li class="py-2">Volume 4 (1845) — 167 plates.</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- MARK: Lepsius
			-->
			<div class="py-5" id="lepsius">
				<h2 class="shine">Prussian Expedition (1842-1845)</h2>
				<p>
					<div class="grid w-full grid-cols-2 gap-4 py-3 text-center">
						<figure>
							<a data-fancybox="denkm" data-caption="<i>Denkmaeler</i>, I, plate 91." href="/images/abth1-2-091.webp"
								><img
									loading="lazy"
									class="zoomable w-full hover:ring-4 duration-300 ease-in-out transition-all"
									src="/images/abth1-2-091t.webp"
									alt="Denkmaeler I, plate 91"
								/>
							</a>
							<figcaption class="py-2 text-center font-sans text-sm">Flooded Colossi of Memnon</figcaption>
						</figure>
						<figure>
							<a data-fancybox="denkm" data-caption="<i>Denkmaeler</i>, III, plate 45." href="/images/abth3-45.webp"
								><img
									loading="lazy"
									class="zoomable w-full hover:ring-4 duration-300 ease-in-out transition-all"
									src="/images/abth3-45t.webp"
									alt="Denkmaeler III, plate 45"
								/>
							</a>
							<figcaption class="py-2 text-center font-sans text-sm"><i>Denkmaeler</i>, III, plate 45</figcaption>
						</figure>
					</div>

					In 1842 Emperor Friederich Wilhelm IV of Prussia commissioned Karl Lepsius to lead a scientific expedition to Egypt to record the monuments.
					The expedition visited sites along the Nile, both known and previously unknown, resulting in the large format <i
						>Denkmaeler aus Aegypten und Aethiopien</i
					> (Monuments from Egypt and Ethiopia), a scientifically based set of volumes containing rubbings and very detailed drawings and maps. Unlike
					most of the previous expeditions, Lepsius had the hierioglyphic contents of the monuments meticulously copied. There are still some errors, but
					mostly minor ones. The drawings made by the expedition are almost invariably superior to those made by others, and they are made with the level
					of detail that modern Egyptologists presume. This is apparent by the fact that they are still relevant almost two centuries later.
				</p>

				<div class="pl-5 pt-6">
					<b>Surprisingly, the expedition consisted of only ten people:</b>
					<ul class="py-5 pl-3">
						<li class="pb-1">
							Richard Lepsius (1810–1884), <i>Egyptologist, leader of the expedition</i>
						</li>
						<li class="pb-1">
							Georg Erbkam (1811–1876), <i>architect</i>
						</li>
						<li class="pb-1">
							Johann Jakob Frey (1813–1865), <i>painter, became too sick to paint</i>
						</li>
						<li class="pb-1">
							Friedrich Otto Georgi (1819–1874), <i>draftsman replacing Frey</i>
						</li>
						<li class="pb-1">
							Ernst Weidenbach (1818–1882), <i>draftsman</i>
						</li>
						<li class="pb-1">
							Joseph Bonomi the Younger (1796–1878), <i>draftsman (English)</i>
						</li>
						<li class="pb-1">
							Maximilian Ferdinand Weidenbach (1823–1890), <i>draftsman</i>
						</li>
						<li class="pb-1">
							James William Wild (1814–1892), <i>architect (English)</i>
						</li>
						<li class="pb-1">Carl Franke, <i>plaster molder</i></li>
						<li class="pb-1">
							Heinrich Abeken (1809–1872), <i>theologian and diplomat</i>
						</li>
					</ul>
				</div>
				<div class="pl-5 pt-6">
					<b>The expedition spent almost three years in Egypt:</b>
					<ul class="py-5 pl-3">
						<li class="pb-1">
							<i>October 1842 to May 1843</i> &ndash; Memphis (Giza, Saqqara, Memphis etc.)
						</li>
						<li class="pb-1">
							<i>Spring 1843</i> &ndash; Fayuum (three months)
						</li>
						<li class="pb-1">
							<i>Summer 1843 to summer 1844</i> &ndash; Middle and Upper Egypt, and Nubia
						</li>
						<li class="pb-1">
							<i>November 1844 to May 1845</i> &ndash; Thebes region
						</li>
						<li class="pb-1">
							<i>Summer 1845</i> &ndash; Sinai peninsula
						</li>
					</ul>
				</div>
				<p>
					The expedition brought back thousands of sketches and drawings of the landscapes, monuments, tombs and much more. The architectural and
					topographical drawings and site plans seriously improved and basically invented the standard for archaeology. As it was ordered by the
					emperor, the publication had to be of the utmost quality, and from the more than 2000 large illustrated sheets, 957 were selected for
					publication in the large-sized atlas folio volumes. The first volume appeared in 1849, and the rest followed over the next decade, though
					none of the volumes are dated.
				</p>

				<div class="pl-5 pt-6">
					<strong class="pb-1">Denkmaeler aus Aegypten und Aethiopien</strong>
					<p class="py-3 italic">12 volumes, 894 plates, + 63 in Supplement</p>
					<ul class="pl-3">
						<li class="pb-1">
							<b>Section I</b> &mdash; 145 plates. Maps, topography, landscapes. <em>(Volumes 1-2)</em>
						</li>
						<li class="pb-1">
							<b>Section II</b> &mdash; 153 plates. Old and Middle Kingdom <em>(Volumes 3-4)</em>
						</li>
						<li class="pb-1">
							<b>Section III</b> &mdash; 304 plates. New Kingdom up to the second Persian conquest. <em>(Volumes 5-8)</em>
						</li>
						<li class="pb-1">
							<b>Section IV</b> &mdash; 90 plates. Persian, Ptolemaic and Roman times. <em>(Volume 9)</em>
						</li>
						<li class="pb-1">
							<b>Section V</b> &mdash; 75 plates. Nubia. <em>(Volume 10)</em>
						</li>
						<li class="pb-1">
							<b>Section VI</b> &mdash; 127 plates. Other inscriptions, i.e. Hieratic, Demotic, etc. <em>(Volumes 11-12)</em>
						</li>
						<li class="pb-1">
							<b>Supplement</b> &mdash; 63 plates. Other inscriptions (Hieratic, Demotic, etc.) This final volume of plates was compiled by Adolf Erman
							in 1913.
						</li>
						<li class="leading-7">
							<b>Text</b> &mdash; 5 volumes. Handwritten text, notes and drawings further describing the visited sites. The five volumes of Lepsius’s texts
							appeared after his death, in 1884, when Edouard Naville, Ludwig Borchardt, and Kurt Sethe compiled his notes for publication.
						</li>
					</ul>
				</div>
			</div>

			<!-- MARK: P & Moss
			-->
			<div class="py-5" id="pm">
				<h2 class="shine">Topographical Bibliography</h2>
				<p class="lh2">
					<div class="grid w-full grid-cols-2 gap-4 py-3 text-center">
						<figure>
							<a data-fancybox="PM" data-caption="Text from <i>Topographical Bibliography</i>" href="/images/PM1.webp"
								><img
									loading="lazy"
									class="zoomable w-full hover:ring-4 duration-300 ease-in-out transition-all"
									src="/images/PM1t.webp"
									alt="Topographical Bibliography texts"
								/>
							</a>
							<figcaption class="py-2 text-center font-sans text-sm">Topographical Bibliography texts</figcaption>
						</figure>
						<figure>
							<a data-fancybox="PM" data-caption="Map from <i>Topographical Bibliography</i>" href="/images/PM2.webp"
								><img
									loading="lazy"
									class="zoomable w-full hover:ring-4 duration-300 ease-in-out transition-all"
									src="/images/PM2t.webp"
									alt="Topographical Bibliography maps"
								/>
							</a>
							<figcaption class="py-2 text-center font-sans text-sm">Topographical Bibliography maps</figcaption>
						</figure>
					</div>

					There is one book series in Egyptology that is essential for everyone studying ancient Egypt: a vast index of ancient Egyptian things simply
					known as <b>Porter &amp; Moss</b>. Bertha Porter and Rosalind Moss' <i
						>Topographical Bibliography of Ancient Egyptian Hieroglyphic Texts, Statues, Reliefs and Paintings</i
					>, is <em>the</em> reference of references in Egyptology. If you are looking for references and/or information about a temple, a site, a monument,
					or an artifact, this is most likely where you will find it.<br />
					The first seven volumes list ancient Egyptian monuments still <i>in situ</i> in Egypt. It includes items found in excavations, and most importantly,
					<i>also lists the exact books where the findings were first published.</i>
					<br /><br />
					Systematic records of excavations in Egypt began in the 1860s, but digging for monuments had been going on for at least half a century before
					that. There are enormous numbers of objects of unknown provenance, including some of great importance found at museums all over the world. These
					can be found in the eighth volume.
				</p>

				<ul class="py-5 pl-5">
					<li class="py-1"><b>I. Theban Necropolis</b></li>
					<li class="py-1">&nbsp; &nbsp; 1. Private Tombs</li>
					<li class="py-1">&nbsp; &nbsp; 2. Royal Tombs and Smaller Cemeteries</li>
					<li class="py-1"><b>II. Theban Temples</b></li>
					<li class="py-1"><b>III. Memphis</b></li>
					<li class="py-1">&nbsp; &nbsp; 1. Abu Rawash to Abusir</li>
					<li class="py-1">&nbsp; &nbsp; 2. Saqqara to Dahshur</li>
					<li class="py-1"><b>IV. Lower and Middle Egypt</b></li>
					<li class="py-1"><b>V. Upper Egypt. Sites</b></li>
					<li class="py-1"><b>VI. Upper Egypt. Chief Temples</b></li>
					<li class="py-1">
						<b>VII. Nubia, The Deserts and Outside Egypt</b>
					</li>
					<li class="py-1">
						<b>VIII. Objects of Provenance Not Known</b>
					</li>
					<li class="py-1">&nbsp; &nbsp; 1. Royal Statues. Private Statues (Predynastic to Dynasty XVII)</li>
					<li class="py-1">&nbsp; &nbsp; 2. Private Statues (Dynasty XVIII to the Roman Period). Statues of Deities</li>
					<li class="py-1">&nbsp; &nbsp; 3 Objects of Provenance Not Known. Part 3. Stelae (Predynastic to Dynasty XVII)</li>
					<li class="py-1">&nbsp; &nbsp; 4 Objects of Provenance Not Known. Part 4. Stelae (Dynasty XVIII to the Roman Period)</li>
					<li class="py-1">
						&nbsp; &nbsp; <i>x</i> Objects of Provenance Not Known. Indices to Parts 1 & 2. Statues
					</li>
				</ul>

				<p>
					All volumes are available online at the <a href="http://topbib.griffith.ox.ac.uk//index.html" target="_blank" title="follow External link"
						>Griffith Institute</a
					>.
				</p>
			</div>

			<!-- MARK: CGC
			-->
			<div class="py-5" id="cg">
				<h2 class="shine">Catalogue Général</h2>
				<p>
					<i>Catalogue général des antiquités égyptiennes du Musée du Caire</i>
				</p>
				<p>
					<small>( General Catalogue of Egyptian Antiquities in the Cairo Museum )</small>
				</p>
				<p>
					The Cairo Museum <i>Journal d'Entrée</i> (abbreviated <b>JE</b> or <b>JdE</b>) describe over 100,000 registered artefacts; in theory, all
					things excavated or discovered were numbered when they first arrived at the Museum. In the late 1850s, Auguste Mariette began maintaining
					these handwritten records to keep track of the inventory at the Museum at Bulaq. The Journal d'Entrée remains the starting point for much
					more elaborate research.
				</p>
				<p>
					The <i>Catalogue Général</i> (abbreviated <b>CG</b>) is a collection of items originating in Ancient Egypt. Several of the Museum's items
					appear in more than one volume of the Catalogue, and in rare circumstances, the same number has even been assigned to different objects. The
					Catalogue provides detailed information about the item and its content, frequently including sketches of the scenes represented on the
					object and transcriptions of the hieroglyphs. These books are now very old and rare.
				</p>
				<p>
					Ancient Egyptian objects registered at the Museum are commonly referred to by one or both designations; for example, the <a
						href="./kinglist/saqqara-canon">Saqqara Canon</a
					> is most commonly referred to as JE 11335, but sometimes as CG 34516.
				</p>
			</div>

			<!-- MARK: URK
			-->
			<div class="py-5" id="urk">
				<h2 class="shine">Urkunden des aegyptischen Altertums</h2>
				<p>German for <em>Documents of Egyptian antiquity</em></p>
				<div class="grid w-full grid-cols-2 gap-4 py-3 text-center">
					<figure>
						<a data-fancybox="Urk" data-caption="Pages from <i>Urkunden</i>" href="/images/UrkIV-335.webp"
							><img
								loading="lazy"
								class="zoomable w-full hover:ring-4 duration-300 ease-in-out transition-all"
								src="/images/UrkIV-335t.webp"
								alt="Pages from Urkunden"
							/>
						</a>
						<figcaption class="py-2 text-center font-sans text-sm">Typical pages from <i>Urkunden</i></figcaption>
					</figure>
					<figure>
						<a data-fancybox="Urk" data-caption="Pages from <i>Urkunden</i>" href="/images/UrkIV-593.webp"
							><img
								loading="lazy"
								class="zoomable w-full hover:ring-4 duration-300 ease-in-out transition-all"
								src="/images/UrkIV-593t.webp"
								alt="Pages from Urkunden"
							/>
						</a>
						<figcaption class="py-2 text-center font-sans text-sm">Typical pages from <i>Urkunden</i></figcaption>
					</figure>
				</div>
				<p>
					<em>Urkunden</em> is a major German collection of mostly handwritten publications in the field of Egyptology, focusing on the documentation and
					publication of transcribed ancient Egyptian royal inscriptions, funerary texts, religious texts, legal documents, and more. It is commonly abbreviated
					simply as <strong>Urk.</strong>, or <b>Urkunden</b>. The inscriptions also include many other archaeological artefacts. This series has
					played a crucial role in making various ancient Egyptian documents and texts available to scholars and researchers.
				</p>
				<p>
					The series includes numerous volumes, each of which is dedicated to a specific set of inscriptions, texts, or documents. These volumes are
					typically authored or edited by Egyptologists and experts in the field. It was published between 1903 and 1961 and is organised into eight
					sections, each with several volumes.
				</p>
				<div class="">
					<ol class="list-inside list-roman py-5 pl-3">
						<li class="pb-1">
							<em>Urkunden des Alten Reichs</em>
							<i>(Old Kingdom)</i>
						</li>
						<li class="pb-1">
							<em>Hieroglyphische Urkunden der Griechisch-Römischen Zeit</em> (Greek and Roman periods)
						</li>
						<li class="pb-1">
							<em>Urkunden der Älteren Athiopenkönige</em> (Nubian Dynasty), ed. Schäfer 1905
						</li>
						<li class="pb-1">
							<em>Urkunden der 18. Dynastie</em> (18th Dynasty), ed. Helck 1955–1958
						</li>
						<li class="pb-1">
							<em>Religiöse Urkunden</em> (religious texts)
						</li>
						<li class="pb-1">
							<em>Urkunden Mythologischen Inhalts</em> (mythological texts)
						</li>
						<li class="pb-1">
							<em>Urkunden des Mittleren Reiches</em> (Middle Kingdom)
						</li>
						<li class="">
							<em>Historisch-biographische Urkunden der Zeit zwischen AR u. MR.</em> (FIP)
						</li>
					</ol>
				</div>
			</div>
			<p>
				Referenceing is made using the following terms: <strong>Urk.</strong>
				<em>&lt;section, page&gt;</em> (Urk. IV, 1369) refers to Section 4, page 1369, which is found in Volume 18 &ndash; the volume number is always
				omitted.
			</p>
		</div>

		<!-- MARK: KRI
			-->
		<div class="py-5" id="kri">
			<h2 class="shine">Ramesside Inscriptions</h2>
			<p>
				The series was written by Kenneth A. Kitchen, a distinguished Egyptologist known for his expertise in the history and hieroglyphics of ancient
				Egypt. This comprehensive and influential series of books compiles, transcribes and translates inscriptions and texts from the later part of
				the New Kingdom period of ancient Egypt, particularly those associated with the <i>Ramesside pharaohs</i> (including Ramesses II and his successors)
				of the <a href="/dynasty/19">Nineteenth</a> and <a href="/dynasty/20">Twentieth</a>
				dynasties. This work is often referenced by the first series as <b>KRI <i>&lt;volume, page&gt;</i></b> (i.e. KRI VII, 363).
			</p>

			<p class="pt-5 text-xl dark:text-shark-200">
				<b>Ramesside Inscriptions : Historical and Biographical</b> [RIHB]:
			</p>
			<ul class="py-5 pl-5">
				<li class="py-1">
					<i>RIHB. Volume I. Ramesses I, Sethos I, and Contemporaries</i>. Oxford, Blackwell, 1975
				</li>
				<li class="py-1">
					<i>RIHB. Volume II. Ramesses II. Royal inscriptions</i>. Oxford, Blackwell, 1979
				</li>
				<li class="py-1">
					<i>RIHB. Volume III. Ramesses II, His Contemporaries</i>. Oxford, Blackwell, 1980
				</li>
				<li class="py-1">
					<i>RIHB. Volume IV. Merenptah and the Late Nineteenth Dynasty</i>. Oxford, Blackwell, 1982
				</li>
				<li class="py-1">
					<i>RIHB. Volume V. Setnakht, Ramesses III and Contemporaries</i>. Oxford, Blackwell, 1983
				</li>
				<li class="py-1">
					<i>RIHB. Volume VI. Ramesses IV to XI and Contemporaries</i>. Oxford, Blackwell, 1983
				</li>
				<li class="py-1">
					<i>RIHB. Volume VII. Addenda and indexes</i>. Oxford, Blackwell, 1989
				</li>
				<li class="py-1">
					<i>RIHB. Volume VIII. Indexes</i>. Oxford, Blackwell, 1990
				</li>
				<li class="py-1">
					<i>RIBH. Volume IX. Documents</i>. Joshua Aaron Roberson. Wallasey, Abercromby Press, 2018
				</li>
			</ul>

			<p class="pt-5 text-xl dark:text-shark-200">
				<b>Ramesside Inscriptions Translated and Annotated</b> [RITA]:
			</p>
			<ul class="s90 py-5 pl-3">
				<li class="py-1">
					<i>RITA: Translations. Volume I. Ramesses I, Sethos I, and Contemporaries</i>. Oxford-Cambridge (MA), Blackwell, 1993
				</li>
				<li class="py-1">
					<i>RITA: Translations. Volume II. Ramesses II. Royal inscriptions</i>. Oxford-Cambridge (MA), Blackwell, 1996
				</li>
				<li class="py-1">
					<i>RITA: Translations. Volume III. Ramesses II, His Contemporaries</i>. Oxford-Malden (MA), Blackwell, 2000
				</li>
				<li class="py-1">
					<i>RITA: Translations. Volume IV. Merenptah and the Late Nineteenth Dynasty</i>. Malden (MA)-Oxford, Blackwell, 2003
				</li>
				<li class="py-1">
					<i>RITA: Translations. Volume V. Setnakht, Ramesses III and Contemporaries</i>. Malden (MA)-Oxford, Blackwell, 2008
				</li>
				<li class="py-1">
					<i>RITA: Translations. Volume VI. Ramesses IV to XI and contemporaries</i>. Chichester - Maldon (MA), Willey-Blackwell, 2012
				</li>
			</ul>

			<p class="pt-5 text-xl dark:text-shark-200">
				<b>Ramesside Inscriptions Translated and Annotated: Notes and Comments</b> [RITANC]:
			</p>
			<ul class="s90 py-5 pl-3">
				<li class="py-1">
					<em>RITANC. Volume I. Ramesses I, Sethos I, and Contemporaries</em>. Oxford-Cambridge (MA), Blackwell Publishers, 1993
				</li>
				<li class="py-1">
					<i>RITANC. Volume II. Ramesses II. Royal inscriptions</i>. Oxford-Cambridge (MA), Blackwell Publishers, 1999
				</li>
			</ul>
		</div>

		<div class="py-10" id="oth">
			<h2>Other</h2>
			<p>
				A number of other series exist, but these are <i>the largest and most significant</i>, but despite being written quite some time ago, they are <b
					>still of use to this day</b
				>.<br />
			</p>
		</div>
	</section>
</Layout>
