---
import Layout from "@/layouts/Layout.astro";

/* Sets the homepage name and meta */
let title = "Homepage";
let meta1 = "Description of the page";
let meta2 = "keywords,comma,separated";
const bild = "assets/";
---

<Layout title={title} meta1={meta1} meta2={meta2} bild={bild}>
	<h1 class="text-4xl">New Astro project</h1>
	<p>Project initiated. Coding starts now.</p>

	<h1>Pharaohs</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, odit enim? Sed!</p>

	<h1 class="text-3xl py-4">Pages</h1>
	<a href="/pharaohs">Pharaohs</a>

	<h2 class="text-2xl font-bold mt-10 mb-4">Summarum</h2>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora voluptates ducimus tempore, explicabo perspiciatis ipsa quo ipsum molestiae cum
		magni et eos dignissimos blanditiis ea sunt, esse quibusdam, animi iste eaque quae aperiam fuga autem vitae similique. Accusamus voluptates
		aspernatur vel repellat ab magnam amet eligendi odio beatae autem nihil, illum ipsa ducimus dolor, iste quod, ipsum minima error dicta esse.
		Eligendi aliquid accusantium maiores illo minus neque rem amet sint tempora praesentium voluptatum ab, natus voluptatem. Ad, earum expedita.
	</p>
</Layout>
