---
import Layout from "@/layouts/Layout.astro";

/* Sets the homepage name and meta */
let title = "Homepage";
let meta1 = "Description of the page";
let meta2 = "keywords,comma,separated";
const bild = "assets/";
---

<Layout title={title} meta1={meta1} meta2={meta2} bild={bild}>
	<h1 class="text-4xl">Pharaohs Project</h1>
	<p>Project initiated September 2025.</p>
	<p>Using Astro 5 with Tailwindcss 4.</p>

	<h2 class="text-2xl font-bold mt-10 mb-4">Pages</h2>

	<ul class="columns-2">
		<li><a href="/pharaohs">Pharaohs</a></li>
		<li><a href="/dynasties">Dynasties</a></li>
		<li><a href="/kinglists">Kinglists</a></li>
		<li><a href="/authors">Authors</a></li>
		<li><a href="/obelisks">Obelisks</a></li>
		<li><a href="/chronology">Chronology</a></li>
		<li><a href="/egyptology">Egyptology</a></li>
		<li><a href="/hieratic">Hieratic</a></li>
		<li><a href="/hieroglyphs">Hieroglyphs</a></li>
		<li><a href="/book-series">book-series</a></li>
		<li><a href="/bibliography">bibliography</a></li>
		<li><a href="/chronology">chronology</a></li>
		<li><a href="/notes">notes</a></li>
		<li><a href="/papyrus">papyrus</a></li>
		<li><a href="/pyramids">pyramids</a></li>
		<li><a href="/temples-and-monuments">temples-and-monuments</a></li>
		<li><a href="/travellers">travellers</a></li>
		<li><a href="/about">about</a></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<h2 class="italic pt-10">Basic pages above</h2>
	<p>See README.md - The structure will change a lot over time.</p>
</Layout>
