---
import Layout from "@layouts/Layout.astro";
const title = "Notes and tidbits";
let meta1 = "Unsorted notes and craps of information. Just a mess of things.";
let meta2 = "research notes,info,potential,unclear,uncertain,egyptology,turin canon,ancient egypt";
const bild = "https://pharaoh.se/images/pharaohse-pharaoh.webp";
---

<Layout title={title} meta1={meta1} meta2={meta2}>
	<section class="page-content">
		<div class="container font-serif">
			<h1 class="pagetitle">{title}</h1>
			<p class="lead">
				Not all information is worthy of a whole page, or the subject is highly speculative, or only tangentially interesting, or the content is very
				uncertain. Interesting and not-so-interesting tidbits and notes – discoveries, or anything that piques my curiosity really. Take it for what
				it is.
			</p>

			<div class="sek py-8">
				<h2>All fragments online</h2>
				<p class="date">March 2024</p>
				<p>
					Just noticed that the Turin King List webpage at Museo Egizio has silently added photos of <u>all the fragments</u>. There are three glass
					panels with fragments, <i>both</i> the verso and recto sides, whose positions cannot be determined. Their position remains unclear and will probably
					remain so. Additionally, there is a new panel with the fragments removed from the papyrus during the 2022 reconstruciton.
				</p>
				<p>
					These fragments have not been published before, and it have always been unknown just how many there are, and their content - or lack of
					content as it is.
				</p>
			</div>

			<div class="sek py-8">
				<h2>2022 reconstruction</h2>
				<p class="date">January 2023</p>
				<p>
					Reconstruction of the papyrus was completed during last summer (June-July 2022) by Dr. Myriam Krutzsch, papyrus restorer at the Ägyptisches
					Museum und Papyrussammlung in Berlin. The papurus was meticulously cleaned of old glue strips from the older reconstructions of Seyffarth,
					Ibscher and Farina. Then the papyrus was reassembled using the latest modern techniques. Several fragments previously part of the
					reconstruction were removed for yet unknown reasons. It will all be revealed when the reconstruction is published, hopefully timed to the
					200-year anniversary of the discovery by Champollion.
				</p>
			</div>

			<div class="sek py-8">
				<h2>The Museum panels</h2>
				<p class="date">February 2021</p>
				<p>
					When first viewing the three panels housing the papyrus, one of the first things that is noticeable is the crookedness of the horizontal
					fibres. One can, probably rightfully so, assume that this is due to the fragile nature of the brittle papyrus fragments allow for almost no
					handling, lest they further deteriorate and fall to pieces. Perhaps the fragments have also shifted a little since Ibscher’s remounting some
					90 years ago. It is very likely that the papyrus would not agree to any form of stretching or skewing of the fragments. The high-quality
					scans that have been made available by the Turin Papyrus Online Platform allow us to virtually manipulate the fragments, thus making it
					possible to straighten the fibres, and see if that might bring to light any new discoveries.
				</p>
				<p>
					It is very noticeable in the first rows of column 8, where it is obvious that the right fragment has slipped down by about 1 mm, evident by
					the broken tails of the bees. Going right from there, the horizontal fibres slant down the further right you go. Straightening the fragment
					would create straight rows in 7.1 through 7.5.
				</p>
			</div>

			<div class="sek py-8">
				<h2>Fragments 40 + 43</h2>
				<p class="date">April 2020</p>
				<p>
					Ryholt proposed joining fr. 40 to fr. 43, and it seems a perfect fit. Since the fibre correspondence cannot be verified we must use other
					criteria to be able to verify the joining of these two fragments. Examination of the recto <i>seems to indicate</i> that they do <u>not</u> fit
					together as proposed by Ryholt.
				</p>

				<div>
					<img class="mx-auto w-fit p-2" src="/images/t40-43b.webp" alt="Fragments 40 and 43" />
					<b>Source material:</b><br />
					<ol class="px-5 py-3">
						<li><b>1</b> Lepsius, <em>Auswahl</em>, pl. IV (fr. 40vs and 43vs)</li>
						<li><b>2</b> Lepsius, <em>Königsbuch</em>, pl. VIII (fr. 43vs)</li>
						<li><b>3</b> Meyer, <em>Aegyptische Chronologie</em>, pl. II (fr. 40vs) [from Wilkinson]</li>
						<li><b>4</b> Meyer, <em>Aegyptische Chronologie</em>, pl. V (fr. 43vs) [from Wilkinson]</li>
						<li><b>5</b> Farina, <em>Papiro</em>, pl. IV (fr. 43vs)</li>
						<li><b>6</b> Gardiner, <em>Royal Canon</em>, pl. IX (transcription of fr. 40vs and 40rt)</li>
						<li><b>7</b> Ryholt, ZÄS 127 (2000), Fig. 1 and 2 (transcription of fr. 40vs and 43vs)</li>
						<li><b>8</b> Turin Papyrus Online Platform, panel 2 (fr. 43vs)</li>
						<li><b>9</b> Turin Papyrus Online Platform, panel 2 reverse (fr. 43rt)</li>
					</ol>
				</div>

				<p class="s90">
					Fr. 40 recto: transcription (<b>6</b>)<br />
					Fr. 40 verso: facsimile (<b>1</b>), transcription (<b>6</b>)<br />
					Fr. 43 recto: photo (<b>9</b>), transcription (<b>6</b>)<br />
					Fr. 43 verso: photo (<b>8</b>), facsimile (<b>1</b>), transcription (<b>6</b>)<br />
				</p>

				<p>
					The transcription of fr. 40 recto is slightly troublesome, as the signs do not seem to align very well with the hieratic of the photo of the
					recto of fr. 43. The misalignment of the lines can be due to Gardiner’s transcription being slightly &quot;off&quot;. A fibre correspondence
					cannot be determined without access to a photo. The second row hieratic of the verso appears slightly differently in (1) and (3)
				</p>
			</div>

			<div class="sek py-8">
				<h2 class="pt-10">Turin King List</h2>
				<p class="date">January 2020</p>
				<p>
					A proper scientific study of the papyrus has never been performed. Gardiner’s examination concentrated on the transcription of <i
						>the hieratic,</i
					> while also <em>attempting</em> to verify the position of the fragments by fibre correspondence etc. His findings are still mostly valid, however,
					there are a number of things that has come to light since its publication in 1959. The advancement of scientific equipment and tools available
					today should be able to provide a much clearer and secure reconstruction than 60 years ago.
				</p>
				<p>
					Lepsius’ Auswahl hold the earliest readily available facsimiles of the verso of the papyrus (i.e., the king list) and are freely available
					online. Unfortunately, Wilkinson’s facsimiles are impossible ti find, despite several versions of the scanned book being available, none
					carry any of the facsimiles. The only sighting can be seen in Meyer, who used parts of Wilkinson’s plates in his book. The photos in Farina
					are of such poor quality that they are almost useless. Gardiner published no photos, only the hieroglyphic transcription.
				</p>

				<p>
					The publication of high-resolution photographs of the papyrus made available by Museo Egizio in 2019 facilitates research from anywhere in
					the world, at any time. This is a great help to professional Egyptologists, as well as us amateurs.
				</p>

				<p>
					For the last decade or so I have been studying various parts of the papyrus, and read everything I could get my hands on that even touch
					upon the Turin king list. This does naturally include trying to find answers to ambiguous and questionable reconstructions etc. etc. It is
					clear that despite many attempts, a fully satisfactory reconstruction of the papyrus has so far eluded Egyptologists. The general layout of
					the papyrus can be verified as secur,.however, some aspects remain that require further analysis. If you study something, you start to find
					things that does not add up, including the Turin king list.
				</p>
			</div>

			<div class="sek py-8">
				<h2>Champollion’s markings</h2>
				<p class="date">December 2019</p>
				<p>
					Some of the fragments hold the modern markings A, B, C and D on the king list, while the tax-register contain E and G. Though not mentioned
					in the published studies, it is clear that the markings were added by Champollion, corresponding to his enumerations of the fragments as <b
						>A-Z</b
					> and <b>Aa-Vv</b>.
				</p>
				<p class="text-lg">
					<b>A</b> &mdash; On fr. 81 <em>recto</em>, above 8.1.<br />
					<b>B</b> &mdash; On fr. 97 <em>recto</em>, above 9.1.<br />
					<b>C</b> &mdash; On fr. 72 <em>recto</em>, between 7.7 and 7.8.<br />
					<b>D</b> &mdash; On fr. 72 <em>recto</em>, above 7.1.<br />
					<b>E</b> &mdash; On fr. 101 <em>verso</em>.<br />
					<b>F</b> &mdash; On fr. 20 <em>verso</em>.<br />
					<b>G</b> &mdash; On fr. 76 <em>verso</em>.<br />
				</p>
			</div>

			<div class="sek py-8">
				<h2>Defining fragments 72 and 81</h2>
				<p class="date">May 2019</p>
				<p>
					Determining the outline of fr. 72 and 81 in the facsimiles of Lepsius and Gardiner is not entirely straightforward. It is presented as one
					large continuous fragment, but examining the photo make it clear that it consists of 3-4 fragments. <img
						class="img-fluid p-2"
						src="/images/fr72-81.webp"
						alt="Fragments 81 and 72"
					/>
					<p class="m-0 pb-3 text-center font-sans text-xs">Gardiner: Black numbers. Lepsius: White numbers</p>
					<p>
						The fibre correspondence is beyond doubt, the fragments are in the correct position. Seyffarth managed to combine the fragments seemlessly
						and they were presented by Lepsius as continuous. While this is technically correct, the subdivisions can be clearly seen in the photo.
					</p>
					<p>
						The remounting by Farina/Ibscher likely frayed the edges of the fragments, creating a more visible separation between the segments that
						make up the fragments. The question is which fragment segments belong to which fragment number, fr. 81 to the left, or fr. 72 to the
						right? Gardiner considered fr. 72 as the large fragment by placing the number centered between the two rightmost fragments, while Lepsius'
						numbering is less explicit.
					</p>
					<p>
						It becomes more clear when you inspect the segments visually. Thanks to the photos, we can see that the two segments on the left are
						slightly darker than the two on the right, suggesting that this is the way to number them.
					</p>
				</p>
			</div>
			<div class="sek py-8">
				<h2>The papyri sheets</h2>
				<p class="date">March 2017</p>
				<p>
					Something that seems to have been neglected in studies, is the positioning of the actual papyri sheets. As we know, the papyrus was damaged
					when rolled up at some unknow time, and the damage can be seen spaced out roughly evenly across the papyrus. This is consistent with the
					roll being rolled up when it suffered the damage. The reconstructions have not ignored the importance of the patches, but certainly not
					examined them closely. There should be 9 or 10 patches, depending on how deep the damage was to the wolled up papyrus.
				</p>
			</div>
		</div>
	</section>
</Layout>
<style>
	h2 {
		font-size: var(--fs-600);
		font-family: var(--font-family);
		font-weight: 700;
	}
	.date {
		font-variant: small-caps;
	}

	em {
		text-shadow: 0 0 2px #c6fd0760;
	}
</style>
