---
import Layout from "@/layouts/Layout.astro";
const title = "Pyramids of Ancient Egypt";
const meta1 = "The enormous pyramids built in ancient Egypt";
const meta2 = "Pyramid,egypt,egyptian pyramid,cheops,khufu,pepi,giza,gizeh";
const bild = "https://pharaoh.se/images/pharaohse-pyramids.webp";
---

<Layout title={title} meta1={meta1} meta2={meta2}>
	<section class="page-content">
		<!-- hyphens-auto -->

		<p class="lead">
			The three impressive and colossal pyramids at Giza are a testament to the enduring presence of ancient Egypt like no other. They have been in
			existence for 5 millennia and are still a source of fascination.
		</p>

		<p>
			There are countless books written about the pyramids of Egypt, most about the three great ones on the Giza plateau in Cairo. Yes, they used to
			be far outside the city, but the seemingly uncontrolled urban sprawl is already starting to envelop the pyramids completely. Give it a decade or
			two and the pyramids will be <i>inside Cairo</i>.
		</p>
		<p>
			There are approximately 120-140 pyramids in Egypt, or rather, that is the number of pyramids built by the ancient Egyptians throughout the
			history of ancient Egypt. Many of these are now just piles of rubble, due to erosion or because the materials were reused by the pharaohs
			themselves for other building projects. The quality of each pyramid also varied greatly, from poorly made mud bricks to perfectly cut granite
			blocks.
		</p>
		<p>
			The most famous pyramids are the three at Giza: the Great Pyramid of Khufu, the Pyramid of Khafra, and the Pyramid of Menkaura. A large number
			of other pyramids can be seen a little further south of Giza, at Saqqara and Dahshur. They vary in size and shape. Some are very small, while
			others are massive structures that can be seen for miles around.
		</p>
		<p>
			The name used by the ancient Egyptians is <tlit>myr</tlit>, written with the <a href="/ancient-egypt/hieroglyphs">hieroglyphs</a>
			<img class="inline h-5 dark:invert hover:scale-[5] cursor-help transition-all duration-700" src="/svg/O24.svg" alt="Gardiner Sign O24, mr" /> of
			a pyramid. The signs used to write the word are &nbsp; <img
				class="inline h-5 dark:invert hover:scale-[5] cursor-help transition-all duration-700"
				src="/svg/pyramid.svg"
				alt="m-r:r-mr"
			/> (<span class="font-mono">mr-m:r-mr</span>).
		</p>
	</section>
</Layout>

<style></style>
