---
import Layout from "@/layouts/base.astro";

const title = "Titles and epithets in Ancient Egypt";
let meta1 = "Titles and Epithets used by the pharaohs";
let meta2 = "Titles,Epithets,pharaohs,hieroglyphic titles,hieroglyphic epithets,hieroglyph epithet";
const bild = "/images/pharaohse-titles.webp";
---

<Layout title={title} meta1={meta1} meta2={meta2} bild={bild}>
	<section class="page-content">
		<p class="lead">
			The most common <a href="/ancient-egypt/hieroglyphs">hieroglyphic</a>
			<b>titles</b> and <b>epithets</b> of the pharaohs.
		</p>

		<p>
			<b>Titles</b> are honourifics or adjectives that denote a characteristic to indicate the importance or position in the kingdom and usually placed
			<i>before</i> the cartouche. The pharaoh's titulary was an essential part of their identity and conveyed various aspects of their authority, divinity,
			and role in society.
		</p>

		<p>
			<b>Epithets</b> are descriptive phrases or adjectives used to supplement the titles or personal name, providing additional context and attributes,
			often of a religious or symbolic nature, and were placed <em>after</em> the cartouche. To link the pharaoh, who was regarded as a divine figure,
			with the people and the gods, unique epithets were coined for him upon his accession to the throne.
		</p>

		<h2 class="py-5">The fivefold titulary</h2>

		<p>
			The standard naming convention by the pharaohs of ancient Egypt is known as the fivefold titulary. We are largely unaware of the details
			involved in selecting the four names announced at the presumed coronation celebration, but it served as a mission statement for the monarch's
			reign, although it sometimes changed during their reign. No king from the Early Dynastic period and just a few from the Old Kingdom used all
			five names, and even the latter group did not always present them in the sequence we expect.
		</p>

		<h3 class="shine border-b pt-8 dark:border-shark-700">The Horus name</h3>
		<p>
			<img class="float-left my-2 h-36 pr-5 dark:invert" src="/svg/hiero/serekh2.svg" loading="lazy" alt="Horus name" />
			The Horus name, the first and oldest of the five titularies, consists of a falcon with a rectangular <i>serekh</i>, representing the god Horus and the royal palace, respectively. <!--<img class="inline my-2 h-8 dark:invert" src="/svg/hiero/t_horus.svg" alt="Horus" /> -->
			<!--<img class="inline my-2 h-8 dark:invert" src="/svg/hiero/serekh.svg" alt="Serekh" /> -->
			<br />
			The symbolism of Horus perched upon the palace establish a close relationship between the divine Horus and the earthly might of the King. The king’s
			name or title was written in the empty space of the serekh to to indicate which king sat on the throne. When part of a longer text, the serekh was
			practically never drawn, probably for aesthetic reasons.
		</p>
		<p class="p-0">Consider these different representations of Ramesses II’s Horus name:</p>
		<div class="mx-auto w-full py-3 text-center">
			A <img class="my-2 inline h-36 pr-10 dark:invert" src="/svg/hiero/ramesses2v1.svg" loading="lazy" alt="Horus name vertical" />
			B <img class="my-2 inline h-36 pr-10 dark:invert" src="/svg/hiero/ramesses2v2.svg" loading="lazy" alt="Horus name vertical without serekh" />
			C <img class="my-2 inline h-10 pr-10 dark:invert" src="/svg/hiero/ramesses2h2.svg" loading="lazy" alt="Horus name horizontal" />
			D <img class="my-2 inline h-10 dark:invert" src="/svg/hiero/ramesses2h1.svg" loading="lazy" alt="Horus name horizontal with serekh" />
		</div>
		<p class="py-3">
			Variants <b>A</b>, <b>B</b>, and <b>C</b> are found in hieroglyphic texts, whereas <b>D</b> is generally only used in modern times to facilitate
			transcription when copying a hieroglyphic text. The Horus Name gradually lost some of its significance compared to the <i>prenomen</i> and <i
				>nomen</i
			> titles, but it remained a component of the formal titulary until the last pharaoh.
		</p>

		<h3 class="shine border-b pt-8 dark:border-shark-700">The Nebty name</h3>
		<p>
			<img class="float-left my-2 h-16 pr-5 dark:invert" loading="lazy" src="/svg/hiero/t_nebty.svg" alt="Nebty name" />
			The cobra-headed goddess Wadjet was the matron and guardian of Lower Egypt in her cobra form. Her Upper Egyptian namesake was the vulture-headed
			Nekhbet. After the unification of Lower and Upper Egypt, they became Egypt’s shared protectors and patrons. The name comes from the goddesses, seated
			on baskets, which read as <tlit>nb.ti</tlit>, meaning the “Two Ladies”, signify unity of the Two Lands.
		</p>

		<h3 class="shine border-b pt-8 dark:border-shark-700">The Golden Horus name</h3>
		<p>
			<img class="float-left my-2 h-16 pr-5 dark:invert" loading="lazy" src="/svg/hiero/t_gold.svg" alt="Golden name" />
			The meaning of this part of the titulary is somewhat uncertain. It has a falcon representing Horus perched on the symbol of ‘gold’, which was strongly
			linked to ‘eternity’. The Golden Falcon name may reflect the same idea of eternity, expressing the king's desire to be an eternal Horus.
			<br />
			Gold was thought to be the flesh of the gods in Ancient Egypt, while silver was their bones. It is possible to see in this title an identification
			of the pharaoh with the divine Horus and of the sustainability of the monarchy.
		</p>

		<h3 class="shine border-b pt-8 dark:border-shark-700">The Throne name</h3>
		<p>
			<img class="float-left my-2 h-16 pr-5 dark:invert" loading="lazy" src="/svg/hiero/t_nesut.svg" alt="Birth name" /> The fourth part of the titulary,
			the <i>Throne name</i>, or <i>Prenomen</i>, was created for the coronation of the new pharaoh. Represented by a papyrus plant and a bee, it read
			as <tlit>nsw-bi.ti</tlit> which translates to ‘King of Upper and Lower Egypt’, or ‘The Dual King’ referencing Egypt’s geographical duality.
		</p>
		<p>
			Royal names were enclosed by an elongated ring
			<img class="my-0 inline h-6 px-1 dark:invert" src="/svg/hiero/cartouche.svg" loading="lazy" alt="Cartouche" /> known as <tlit>šnw</tlit>, a <em
				>Shenu</em
			> in ancient Egyptian, which offered the name eternal protection. The protection was only available to royalty and applied to both the <i
				>prenomen</i
			> and <i>nomen</i>. The modern name is for the ring is <i>cartouche</i>, from early 19th-century French scholars who thought they resembled
			paper gunpowder cartridges.
		</p>

		<h3 class="shine border-b pt-8 dark:border-shark-700">The personal name</h3>
		<p>
			<img class="float-left my-2 h-16 pr-5 dark:invert" loading="lazy" src="/svg/hiero/t_sara.svg" alt="Birth name" />
			This was the personal name given at birth. It was preceded by the title ‘Son of Ra’ and followed by the name itself, protected inside of a cartouche.
			For most of history, the principal name used was the prenomen alone, or accompanied only by the nomen. We commonly call the ancient pharaohs by this
			name and use numbering (like "II" and "III") to tell apart those with identical names. In recent decades, it has become more usual to differentiate
			pharaohs by using their original (non-Hellenistic) prenomen and nomen.
		</p>

		<h2 class="py-5">Epithets</h2>

		<p>To reinforce or emphasise a particular aspect or function of the king, epithets were often added to the royal titles.</p>

		<!-- Office-holding was important in ancient Egypt, as it determined a person's place in society, specifically in relation to the king. There are two categories of titles: administrative titles, and conventional titles related to status and power. Both types were commonly written in abbreviated form. -->

		<div class="flex flex-wrap gap-5 py-10">
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/t_nesu.svg" loading="lazy" alt="King of Upper Egypt" />
				King, King of Upper Egypt<br />
				<i>Nesut</i><br />
				<tlit>nswt</tlit>
				<p class="text-sm">King or ruler of the land</p>
			</div>
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/t_netjernefer.svg" loading="lazy" alt="The Good God" />
				The good god<br />
				<i>Netjer nefer</i><br />
				<tlit>n&#7791;r-nfr</tlit>
				<p class="text-sm">The ‘young god’ might be more accurate meaning than the traditional ‘good god’.</p>
			</div>
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/t_nebtawy.svg" loading="lazy" alt="Lord of the Two Lands" />
				Lord of the Two Lands<br />
				<i>Neb tawy</i><br />
				<tlit>nb-t&#42786;wy</tlit>
				<p class="text-sm">
					Sometimes found after the ‘Dual King’ <img
						class="inline h-4 dark:invert"
						src="/svg/hiero/nbtawy.svg"
						loading="lazy"
						alt="Lord of the Two Lands"
					/> but before the cartouche, further emphasising the duality of the king.
				</p>
			</div>
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/t_nebkhau.svg" loading="lazy" alt="Lord of Apparitions/Crowns" />
				Lord of Apparitions/Crowns<br />
				<i>Neb khau</i><br />
				<tlit>nb-&#7723;&#42786;w</tlit><br />
				<p class="text-sm">
					Sometimes found after the ‘son of Ra’ <img
						class="inline h-4 dark:invert"
						src="/svg/hiero/nbxaw.svg"
						loading="lazy"
						alt="Great Royal Wife hieroglyphs"
					/> but before the cartouche.
				</p>
			</div>
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/t_kanakht.svg" loading="lazy" alt="Strong bull" />
				Strong bull<br />
				<i>Ka nakht</i><br />
				<tlit>k&#42786;-n&#7723;t</tlit>
				<p class="text-sm">Often part of the Horus name</p>
			</div>
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/t_ankhdjeta.svg" loading="lazy" alt="Life everlasting" />
				Life everlasting<br />
				<i>Ankh djeta</i><br />
				<tlit>&#42788;n&#7723;-&#7695;t-t&#42786;</tlit>
				<p class="text-sm">Found after the cartouche.</p>
			</div>
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/t_maakheru.svg" loading="lazy" alt="True of Voice" />
				True of Voice<br />
				<i>Maa kheru</i><br />
				<span class="tlit">m&#42786;&#42788;-&#7723;rw</span>
				<p class="text-sm">Used to indicate that the king had died and become a god. Placed after the cartouche.</p>
			</div>
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/t_lph.svg" loading="lazy" alt="LPH" />
				Life, Prosperity, Health<br />
				<i>Ankh wedja seneb</i><br />
				<span class="tlit">&#42788;nx-w&#7695;&#42786;-snb</span>
				<p class="text-sm">Found after the names of the king, well-wishing phrase meaning ‘stay alive, be strong and healthy’.</p>
			</div>
		</div>

		<h2 class="py-5">The king’s family</h2>
		<p>The most important people at court were often close family members. Some of them even had their own royal titles.</p>
		<div class="flex flex-wrap gap-5">
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/wrt.svg" loading="lazy" alt="Great Royal Wife hieroglyphs" />
				The Great Royal Wife<br />
				<i>Hemet Nesut Weret</i><br />
				<span class="tlit">hmt-nswt-wrt</span>
				<p class="text-sm">Pharaoh’s main wife, as opposed to lesser wives and concubines.</p>
			</div>

			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/t_wife.svg" loading="lazy" alt="The King’s wife hieroglyphs" />
				The King’s wife<br />
				<i>Hemet Nesu</i><br />
				<span class="tlit">hmt-nsw</span>
				<p class="text-sm">Pharaoh’s wives, many of lesser status, but there were often more than one.</p>
			</div>
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/t_mother.svg" loading="lazy" alt="The King’s mother hieroglyphs" />
				The King’s mother<br />
				<i>Mut Nesu</i><br />
				<span class="tlit">mwt-nsw</span>
			</div>
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/t_father.svg" loading="lazy" alt="The King’s father hieroglyphs" />
				The King’s father<br />
				<i>It Nesu</i><br />
				<span class="tlit">it-nsw</span>
			</div>
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/t_son.svg" loading="lazy" alt="The King’s son hieroglyphs" />
				The King’s son<br />
				<i>Sa Nesu</i><br />
				<span class="tlit">s&#42786;-nsw</span>
			</div>
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/t_daughter.svg" loading="lazy" alt="The King’s daugher hieroglyphs" />
				The King’s daughter<br />
				<i>Sat Nesu</i><br />
				<span class="tlit">s&#42786;t-nsw</span>
			</div>
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/t_brother.svg" loading="lazy" alt="The King’s brother hieroglyphs" />
				The King’s brother<br />
				<i>Sen Nesu</i><br />
				<span class="tlit">sn-nsw</span>
			</div>
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/t_sister.svg" loading="lazy" alt="The King’s sister hieroglyphs" />
				The King’s sister<br />
				<i>Senet Nesu</i><br />
				<span class="tlit">snt-nsw</span>
			</div>
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/t_crownprince.svg" loading="lazy" alt="The crown-prince hieroglyphs" />
				The crown-prince<br />
				<i>Inep</i><br />
				<span class="tlit">inp</span>
			</div>
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/t_hereditaryprince.svg" loading="lazy" alt="The hereditary prince hieroglyphs" />
				The hereditary prince<br />
				<i>Repat</i><br />
				<span class="tlit">rp&#42788;t</span>
			</div>
		</div>

		<p class="pt-8">
			In hieroglyphic inscriptions, the associated titles and epithets provide insights into the roles and status of pharaohs, officials, priests, and
			gods and are essential for deciphering and understanding the rich history and culture of ancient Egypt.
		</p>

		<h2 class="py-5">Other</h2>

		<p>There are number of common formulas and expressions, and otherwise well-known words origination in ancient Egypt.</p>

		<div class="flex flex-wrap gap-5 py-10">
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/htpdinsw.svg" loading="lazy" alt="King of Upper Egypt" />
				An offering given by the king<br />
				<i>Hotep di nesut</i><br />
				<tlit>ḥtp ḏi nsw</tlit>
				<p class="text-sm"></p>
			</div>
			<div class="kard">
				<img class="mb-3 h-16 dark:invert" src="/svg/hiero/mummy-sah.svg" loading="lazy" alt="Mummy" />
				Mummy<br />
				<i>Sah</i><br />
				<tlit>sꜤḥ</tlit>
				<p class="text-sm"></p>
			</div>
		</div>
	</section>
</Layout>

<style>
	.bless img {
		height: var(--size-8);
	}
	.bless td,
	.bless thead {
		border-top: 1px solid var(--text4);
		padding-block: var(--size-2);
		text-align: left;
	}
	.kard {
		flex-grow: 1;
		flex-basis: calc(var(--spacing) * 60) /* 15rem = 240px */;
		/* background-color: var(--default-bg-1); */
		background-color: light-dark(var(--color-white),var(--color-shark-900));
		padding: calc(var(--spacing)*4);
		border-radius: var(--radius-lg);
	}
	.wkard {
		flex-basis: 100%;
		border-radius: var(--radius-lg);
		padding: calc(var(--spacing)*4);
		background-color: var(--default-bg-1);
	}
</style>
