---
import "@/styles/fancybox.css";
const nu = new Date().getFullYear();
const v = "v. 5.0";
---

<div class="line h-px"></div>
<footer class="g3 print:hidden bg-dark text-stone-950 dark:text-amber-50">
	<div class="text-center container mx-auto pb-20 sm:pb-0">
		<div class="flex flex-col gap-x-10 sm:flex-row flex-wrap items-center justify-center min-h-60">
			<!-- <a href="/" class=""
				><img
					src="/images/logg.webp"
					class="w-40 h-40 opacity-70 hover:opacity-100 align-middle"
					loading="lazy"
					title="To the start of Pharaoh.SE"
					alt="Pharaoh.SE"
				/></a
			> -->
			<div class="flex-1 max-w-fit text-sm text-softy pt-10">
				<span>&copy; 2011&ndash;{nu} Peter Lundstr&ouml;m | {v} </span><br />
				Website Mirror:<br /><a href="https://pharaohse.netlify.app">pharaohse.netlify.app</a><br />
				<p class="pb-4">
					Creative Commons Attribution 4.0 License <br />
					<a class="text-red-700 dark:text-white" href="/privacy">Privacy policy</a>
				</p>
			</div>
			<!-- <div class="flex-0 w-28 my-5 sm:my-0 shadow-lg text-sm self-center">
				PHARAOH.SE<img src="/svg/qr.svg" class="aspect-square" loading="lazy" alt="QR" />
			</div> -->
		</div>
	</div>
	<script is:inline src="/scripts/fancybox.js"></script>
	<button onclick="topFunction()" id="toppen" title="Go to top" class="print:hidden"
		><svg class="inline print:hidden my-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
			><path d="M17.6569 16.2427L19.0711 14.8285L12.0001 7.75739L4.92896 14.8285L6.34317 16.2427L12.0001 10.5858L17.6569 16.2427Z" fill="currentColor"
			></path></svg
		> Back to top</button
	>
</footer>

<script is:inline>
	let butt = document.getElementById("toppen");
	let header = document.querySelector("header");

	// Debounce function to limit scroll event frequency
	function debounce(func, wait) {
		let timeout;
		return function executedFunction(...args) {
			const later = () => {
				clearTimeout(timeout);
				func(...args);
			};
			clearTimeout(timeout);
			timeout = setTimeout(later, wait);
		};
	}

	// Scroll event handler
	const handleScroll = debounce(() => {
		if (document.body.scrollTop > 600 || document.documentElement.scrollTop > 600) {
			butt.style.display = "block";
		} else {
			butt.style.display = "none";
		}

		if (window.scrollY > 10) {
			header.classList.add("scrolled");
		} else {
			header.classList.remove("scrolled");
		}
	}, 100); // Adjust delay (100ms) as needed

	window.addEventListener("scroll", handleScroll);

	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>

<style>
	.line {
		background: #2a7b9b;
		background: linear-gradient(
			90deg,
			rgba(42, 123, 155, 0) 0%,
			rgba(245, 165, 15, 0.15) 25%,
			rgba(245, 165, 15, 1) 50%,
			rgba(245, 165, 15, 0.15) 75%,
			rgba(237, 221, 83, 0) 100%
		);
	}
</style>
