---
import pharaohs from "@data/pharaohs.json";
import ThemeToggle from "@/components/ThemeToggle.astro";
const sitename = "Egypt";
---

<header class="flex justify-between items-center p-6 border-b border-gray-200 dark:border-gray-700">
	<div class="bg-amber-400 text-2xl"><a href="/">Website Name</a></div>
	<div class="relative">Meny TBD</div>
	<ThemeToggle />
</header>
