---
import pharaohs from "@data/pharaohs.json";
import ThemeToggle from "@/components/ThemeToggle.astro";
const sitename = "Egypt";
---

<header class="flex justify-between items-center p-6 border-b border-gray-200 dark:border-gray-700">
	<h1 class="text-2xl font-bold">Website Name</h1>
	<div class="relative">Meny TBD</div>
	<ThemeToggle />
</header>
