---
import ThemeToggle from "@/components/ThemeToggle.astro";
---

<header
	class="flex justify-between items-center p-6 bg sticky top-0 z-50 border-b-4 border-stone-500 dark:border-neutral-700 shadow-lg shadow-red-500/5 dark:shadow-sky-500/5"
>
	<div><a class="text-3xl font-serif" href="/">Website</a></div>
	<div class="relative">Menu here?</div>
	<ThemeToggle />
</header>
